[2020-05-07 22:15] laemtl opened #6502 "[Core] NDB_Page class addRadio - Rename addRadio for addRadioGroup"
**master branch**
Check if addRadio should be renamed for addRadioGroup and remove the below comment.
[php/libraries/NDB_Page.class.inc](https://github.com/aces/Loris/blob/master/LORIS/php/libraries/NDB_Page.class.inc#L320)

[code]

See #5687 for more details

[2020-05-07 22:20] lingma commented on #6502
Too dangerous to remove a method from this `NDB_Page`

[2020-05-07 22:27] laemtl opened #6503 "[Core] NDB_Page:createLabel() - LorisForm::createElement parameters adjustment"
**master branch**
Check if the usage of LorisForm::createElement() is appropriate and remove the comment below.
[php/libraries/NDB_Page.class.inc:createLabel()](https://github.com/aces/Loris/blob/master/php/libraries/NDB_Page.class.inc#L500)

[code]

See #5687 for more details

[2020-05-07 22:33] lingma commented on #6503
This will be necessary after the acceptance of PR #6457 in 23.0-release.

[2020-05-07 22:51] laemtl opened #6504 "[Core] NDB_Page:createCheckbox() - Unused and undocumented param $closer"
**master branch**
 [php/libraries/NDB_Page.class.inc:createCheckbox()](https://github.com/aces/Loris/blob/master/php/libraries/NDB_Page.class.inc#L590)
Check and remove the below param if it's not necessary.

[code]
See #5687 for more details

[2020-05-07 22:54] lingma commented on #6504
Processed in PR #6396, not necessary now.

[2020-05-07 22:57] lingma commented on #6504
By the way, 23.0-release branch might be more recent than the master branch for the moment. @laemtl

[2020-05-07 23:01] laemtl opened #6505 "[Core] NDB_Page:process() - Page format should be a different endpoint"
**master branch**
 [php/libraries/NDB_Page.class.inc:process()](https://github.com/aces/Loris/blob/master/php/libraries/NDB_Page.class.inc#L686)
Check and remove the below code if it's not necessary.

[code]
See #5687 for more details

[2020-05-07 23:15] laemtl commented on #6504
Thanks lingma, I see that this has been solved in 23.0-release, but the comment has not been removed.

[2020-05-07 23:24] lingma commented on #6504
Oh, sorry. I just removed from PR #6444 pending review, which is blocked by another PR.

[2020-05-07 23:25] lingma commented on #6503
`createLabel` is removed from PR #6444 to be logical, pending PR #6457 review

[2020-05-08 00:01] ridz1208 commented on #6501
@AlexandraLivadas could you clear your database completely, source RB from scratch
and then run the 9999-99-99 and copy/paste here which tables cause an issue ?

[2020-05-08 01:19] lingma commented on #6501
@ridz1208 that 9999-99-99 always has some problem, I had experienced the same problem in 21.0 and 22.0. I just tested, the same problem persists in 23.0. That 9999-99-99 could only work if you have a freshly sourced db without any real data, which is exactly what you just asked @AlexandraLivadas to do. I ignore what the purpose of this 9999-99-99 is.

[2020-05-08 01:25] lingma commented on #6501
Anyway, the constraint problem could be handled outside of this script, so the 9999-99-99 itself has NO problem.

[2020-05-08 02:14] spell00 opened #6507 "[ImagingBrowser] Fix typo in the Selection Filter"
There is a typo in the Filters; 'Vist' should read 'Visit'

**To Reproduce**
1. Go to Imaging/Imaging Browser.
2. See the typo in the Filters and the column names of the table below.

[2020-05-08 02:18] lingma commented on #6507
Similar as #6493, not the same module

[2020-05-08 02:31] lingma commented on #6507
The same problem exists in 21.x and 22.x.

[2020-05-08 14:12] christinerogers commented on #6489
thanks @ridz1208 I'll take you off and re-assign it quickly

[2020-05-08 14:25] christinerogers commented on #6469
Hi @laemtl  - can you take this on, by looking at the comments in #6267 ?
Put any questions in the PR - thanks!

[2020-05-08 14:42] christinerogers opened #6509 "[Changelog] Add note re php-curl dependency now required for dev install"
Given `php7.3-curl` is now required for dev installs since #6187 --
This should be noted in the Changelog so that it makes it into the 23 Release Notes under the `Notes for Existing Projects` section

@laemtl -- we've just started the changelog for this release so let's see how the PR discussion goes with the team for this kind of change...

[2020-05-08 14:50] christinerogers commented on #4471
This will be on Simon Pelletier's plate for June (don't start now)

[2020-05-08 14:54] ridz1208 commented on #6501
@lingma what do you mean any real data ??

The ordering of the drop commands is what matters to not encounter foreign key errors and if 9999 works for a freshly source DB then it should work for any other database IF AND ONLY IF the schema has not been altered which is exactly the purpose here. 9999 is specific to the schema on the branch where it exists and would only work on it, if you have modi

[2020-05-08 15:01] lingma commented on #6501
I use my v23 fake DB, which has only a few PSC added, I should have not modified any structure, at least as I remember, then several tables were left without touching, which proves that the 999 script won't work well. In my experience, it only works well if I have just imported structure via 000?---

[2020-05-08 15:02] lingma commented on #6501
It behaved the same as what I stated in v21 and v22, as least as I remember.

[2020-05-08 15:03] ridz1208 commented on #6501
if the structure is not modified then there is no reason for this to fail unless there is an error in the ordering which needs to be fixed !!

its a bug like any other

please post the error here and we can see the source of it

[2020-05-08 15:10] lingma commented on #6501
The first error happens at line 155, tarchive: (`ERROR 1217 (23000) at line 155: Cannot delete or update a parent row: a foreign key constraint fails`)

Full error, you can count from the bottom to locate:

[code]

[2020-05-08 15:30] christinerogers commented on #5920
@laemtl will contribute this together with Alex's #6475 efforts to put the install guide markdowns on the 23 branch.
Keep in mind that these markdowns are targeted to production installs by default.  Note clearly anything for dev context (and of course don't hesitate to ask for input in your PR)

[2020-05-08 15:47] #6493 closed

[2020-05-08 19:28] ridz1208 commented on #6501
if you run `SHOW ENGINE INNODB STATUS` you canget the exact error under the section "latest foreign key error"

[2020-05-08 19:41] lingma commented on #6501
There is no help, the same as the above I provided:
------------------------
2020-05-08 15:39:37 0x7f65b40b0700  Cannot drop table `subproject`
because it is referenced by `session`

[2020-05-08 19:52] lingma commented on #6501
Oh, except `mri_upload1`, all works fine. I have no idea where comes `mri_upload1`, thanks. @ridz1208

[2020-05-08 20:01] ridz1208 commented on #6501
@lingma exactly...

[2020-05-08 21:52] christinerogers commented on #6374
@johnsaigle Is this something someone like @AlexandraLivadas can help with?

[2020-05-08 21:53] christinerogers commented on #6329
fyi @AlexandraLivadas -- If you can investigate this ReadTheDocs issue, that would be sweet.

[2020-05-08 22:46] h-karim opened #6515 "[RaisinBread] Remove personal emails from raisinbread tables"
**Description**
It seems as one of the maintainers' email (Leigh Evans) is placed as one of the candidates' emails in the raisinbread database:

**To Reproduce**
Steps to reproduce the behavior:
1. From home, navigate to 'Survey Accounts' by clicking on the 'Admin' tab on the top right
2. Observe the following:
![image](https://i.imgur.com/sYf4Pec.png)
One of the emails is not identical to the res

[2020-05-10 19:19] laemtl commented on #6489
Does this error happen only when the second param is false: getSiteList(false, false)?

[2020-05-10 19:42] laemtl commented on #5687
I wrote a small script to automate the creation of the issues.

[2020-05-11 12:06] driusan commented on #5687
TODOs should absolutely *not* be removed from the code. That's like "fixing bugs" by removing assertions. If the author thought it was important enough to note a limitation of the code someone who's reading or debugging it shouldn't need a third party service and access to know what it is.

[2020-05-11 12:16] #6282 closed

[2020-05-11 13:21] christinerogers commented on #6141
@driusan @ridz1208 Any reason this shouldn't be assigned to someone for the 23 release?

[2020-05-11 13:21] #6328 closed

[2020-05-11 13:36] #6507 closed

[2020-05-11 13:40] driusan commented on #6515
For testing purposes all of the emails probably shouldn't be the same, but I'm not sure what value(s) would be appropriate.

[2020-05-11 13:55] driusan commented on #6481
The code block referenced predates me but I'm more confident that we can just remove it now than I was whenever I wrote the comment.

[2020-05-11 14:01] christinerogers commented on #5687
@johnsaigle  - for discussion or close this issue?

[2020-05-11 14:04] driusan commented on #6374
I don't see why not, but it's not a release task and there shouldn't be non-release PRs right now.

[2020-05-11 14:14] johnsaigle commented on #5687
I'll mark it for discussion.

[2020-05-11 14:24] ridz1208 commented on #6489
the error occurs when the first `if` statement is skipped and the second is entered. but for testing, all combinations should be tested

[2020-05-11 14:33] johnsaigle commented on #6473
`curl` is always needed AFAIK. `php7.3-curl` is needed for development environments.

[2020-05-11 14:36] ridz1208 commented on #6473
@johnsaigle so we just don't know why curl is required ?

[2020-05-11 14:37] laemtl commented on #6489
Sure, I tested them all.

[2020-05-11 14:40] johnsaigle commented on #6473
No I don't know the reason. On the other hand I don't know if I could tell you why we need all of the other dependencies either. We could try to set up a prod environment without `curl` and wait to see if it breaks - otherwise I'm not sure how to test this.

[2020-05-11 14:41] driusan commented on #6489
I'd say we should update the unit tests but it looks like the getSiteList unit test works by mocking pselect, so it wouldn't have caught this error even if all possibilities were tested..

[2020-05-11 14:42] ridz1208 commented on #6473
@johnsaigle I think I can justify some of them but curl... never knew why or if it's a new thing or always been like that.

maybe we should run a test if it's a 23 thing. if it was there from before, we can actually see if all existing PRODs have curl

[2020-05-11 14:44] driusan commented on #6473
It's likely that all existing prods have curl even if LORIS doesn't require it because it's such a common tool.

[2020-05-11 14:46] johnsaigle commented on #6473
@ridz1208 It's been there for a very long time. I grabbed it from https://github.com/aces/Loris/wiki/Installing-Loris-in-Depth and I think that section was last edited by Justin Ng. It's possible that Guzzle uses it? But I'm not positive.

As Dave said it's a very common tool, similar to `software-properties-common` or `zip` which we also have as a requirement.

[2020-05-11 14:49] ridz1208 commented on #6473
@driusan @johnsaigle alright then... both it is

[2020-05-11 15:04] johnsaigle commented on #6515
I think the values can just be updated to something like `new.user@example.com`. I agree the current emails should be removed from the DB.

[2020-05-11 15:06] johnsaigle commented on #6501
@AlexandraLivadas could you run the same process and see what table is causing your issue?

[2020-05-11 15:08] johnsaigle commented on #6495
@AlexandraLivadas I would recommend using the script `tools/raisinbread_refresh.php` as it includes functionality to automatically drop all tables as well as sourcing the RB data.

[2020-05-11 15:47] ridz1208 commented on #6515
if we have some sort of a "real" fake gmail address something like `demo@mcin.ca` then we can use the `+` operator to mimic different email addresses

`demo+12345@mcin.ca`

[2020-05-11 15:51] johnsaigle commented on #6515
Maybe we can ask a sysadmin what the best option is? We had #4303 to sort of discuss this already.

[2020-05-11 16:15] driusan commented on #6515
unless I'm mistaken the emails in that table are "placed that email was sent" not "places to send email while testing", so I think `@example.com` is probably suitable for RB.

[2020-05-11 16:20] ridz1208 commented on #6515
@driusan my only concern would be that people testing the module would copy paste one of the emails and then we get in trouble again with IT

[2020-05-11 16:59] christinerogers commented on #6141
@spell00 Can you reproduce this on your sandbox?
If so, try a PR for this to the 23 branch.

[2020-05-11 17:18] driusan commented on #6515
Copy and paste it where?

[2020-05-11 17:38] #6489 closed

[2020-05-11 18:26] spell00 commented on #6141
I was not able to reproduce this issue in my sandbox

[2020-05-11 18:30] christinerogers commented on #6141
closing this.  Neither I nor Simon @spell00 can reproduce on Chrome or Firefox on test-loris-dev

[2020-05-11 18:30] #6141 closed

[2020-05-11 19:04] lingma commented on #6141
I can reproduce this:

![image](https://user-images.githubusercontent.com/5295785/81601331-b2a9b580-9398-11ea-8dec-405c27df4e15.png)

[2020-05-11 20:16] christinerogers opened #6517 "[IssueTracker] ActiveIssues tab displays Status filter: Closed"
In the Issue Tracker `v23` : The `Active Issues` tab displays `Closed` in the Status filter element because the tab automatically filters for all issues *not Closed* (details below).

The actual filtering _logic_ works well & as intended, and the data table filters appropriately for only active issues (*not* Closed). So this is a minor bug but still something users shouldn't be seeing.

* Seems to

[2020-05-11 20:26] HenriRabalais commented on #6517
Yeah, so this was introduced when reactifying the module to deal with the fact that the issue track was filtering based on a "excludes" paradigmn, rather than the "includes" paradigm that (all?) other filters in loris are using.

The  case described in this issue essentially was designed as place holder until a more robust system that allowed users to toggle between "includes", "excludes", "greate

[2020-05-11 20:34] ridz1208 commented on #6515
copy the email from an existing row in the table to create a new survey. in which case it would actually send the email.

[2020-05-11 20:45] christinerogers commented on #6517
Ok thanks @HenriRabalais.
@laemtl is this something you'd like to tackle?

[2020-05-11 20:59] driusan commented on #6515
I don't think that's a problem with most IT departments. The email address entered by the user is used as the "To" for an email, it's not a configuration for the "From".

[2020-05-11 21:22] laemtl opened #6518 "[issue_tracker] Update validation to allow NULL Site"
#6480 suggests this as a feature, which is broken

    Create an issue with no CenterID

In the Issue Tracker, when creating a new issue, the form can't be submitted with a NULL Site field.
Issues without a site assignment are viewable by users with restricted site permission, so we need to allow such issues to be created.

Updating the validation rules should solve the issue.

To reproduce:
 * Op

[2020-05-11 21:53] laemtl commented on #6517
Can we left the status field unpopulated as an alternative solution?

[2020-05-11 21:56] laemtl commented on #6517
Also, noticed that under the module filter, I have an entry [object Object]. I can open a separate issue.

[2020-05-11 22:00] laemtl opened #6519 "[issue_tracker] Module filter has entry [object Object]"
In the Issue Tracker v 23.0, the module filter contains an entry labeled [object Object]

To reproduce:
* Open the Issue Tracker
* Click on the Module filter

[2020-05-12 13:39] christinerogers commented on #6517
Hi, yes the status value field can be unpopulated but the filter has to be applied on the data table -- otherwise there's no difference between the All Issues and Active Issues tabs.
If there's a reasonably easy solution, let's handle this for the 23 release.

If a new operator or React feature is needed to apply this filter, then this should probably be an issue/PR for `master` not the 23 release

[2020-05-12 13:44] christinerogers commented on #6519
Good catch!  This bug doesn't exist on demo so it's likely that it was introduced in this release or (less likely) it's a RaisinBread issue.
  Can you easily find and link in the Issue description the line of code where the problem originates?

[2020-05-12 17:20] laemtl commented on #6518
@christinerogers would you like me to try working on this?

[2020-05-12 18:26] christinerogers commented on #6518
let's chat ...

[2020-05-12 19:00] johnsaigle opened #6524 "Redesign Password class?"
Currently Password.class.inc is designed as a Value Object; this means that its constructor is automatically validating and it will throw an Exception when an invalid value is passed. CandID is another example within LORIS that works this way.

The intention here is to make Password validation easy and keeps it encapsulated within the class. There is no reason to make a Password object that is inv

[2020-05-12 19:08] #6321 closed

[2020-05-12 19:15] #6311 closed

[2020-05-12 19:16] #6470 closed

[2020-05-12 19:21] #6495 closed

[2020-05-12 19:26] #6509 closed

[2020-05-12 19:42] christinerogers commented on #6302
I think this issue can be closed after #6523 is resolved/merged.  Not testable in this round at least.

[2020-05-12 19:48] christinerogers commented on #6515
@h-karim I think the discussion above gives enough guidance to go on.
Can you take this on?
Consider changing emails that are currently distinct to something like person01@example.com,  person02@example.com

@ridz1208 there should be a patch + schema change committed for this right?

[2020-05-12 19:53] christinerogers commented on #6209
cc @AlexandraLivadas @laemtl  for examples of symlinks in the docs

[2020-05-12 20:03] AlexandraLivadas commented on #6501
I have attached a .txt file with the output when I run the command `SOURCE SQL/9999-99-99-drop_tables.sql` in the MySQL command-line. Based on this output, these are the tables affected. I also checked and when I look for these tables in my DB, they do still exist, whereas other tables were properly deleted.

[code]
[drop_tables_output.txt](https://github.com/aces/Loris/files/4618188/drop_tables_o

[2020-05-12 20:08] johnsaigle commented on #6209
specifically that they don't work!

[2020-05-12 20:11] johnsaigle commented on #6501
Can you compare the output you get when running `tools/raisinbread_refresh.php`? That script should run the DROP TABLES script and then display any tables that are leftover.

[2020-05-12 20:12] AlexandraLivadas commented on #6501
@johnsaigle I am assuming I should reset DB with the backup I made before doing this, correct?

[2020-05-12 20:15] johnsaigle commented on #6501
Do you have actual data in the backup? If it's just rainsinbread data either way then it shouldn't matter.

[2020-05-12 20:16] AlexandraLivadas commented on #6501
No but now since all those tables are deleted, running the tool won't show the full picture.

[2020-05-12 20:38] AlexandraLivadas commented on #6501
I have included a .txt file with the
[output](https://github.com/aces/Loris/files/4618328/drop_tables_output.txt) when I ran `./tools/raisinbread_refresh.php`.
The only foreign key constraint "error" listed was for line 37, which is table `permissions`. However, below this error message, there is a long list of untracked tables that still exist in the database that includes all the tables I listed

[2020-05-12 21:30] johnsaigle commented on #6501
That's odd. Do you have any idea which table had a foreign key to `permissions`?

We shoudn't unless someone has a bunch of custom tables. The drop table script will never know about tables that don't exist in the main repo so it will never be able to drop them. It will also fail to drop core tables if custom tables have foreign keys to the core tables.

[2020-05-13 12:41] #6434 closed

[2020-05-13 14:42] johnsaigle commented on #5687
The result of the discussion was to keep the TODOs in the code but to also track them using GitHub Issues. I'll change the issue title to match.

[2020-05-13 15:29] ridz1208 commented on #6515
@h-karim I don't believe any schema changes are necessary but the RB data will need to be updated

[2020-05-13 15:32] ridz1208 commented on #6501
@AlexandraLivadas if you can, can you try it again? this time, when you get the error, could you run in your database `SHOW ENGINE INNODB STATUS` in the output there will be a section `LATEST FOREIGN KEY ERROR` that section will provide much more details on which tables are causing the failures

[2020-05-13 16:09] laemtl opened #6527 "[IssueTracker] Change the Status filter to be multiselect"
In the Issue Tracker v23 : The Active Issues tab displays all issues not Closed.
The actual version displays closed in the status filter once Active Issues is selected, because under the hood, it uses a combo value: closed/opposite: true [see filterPresets](https://github.com/aces/Loris/blob/e8218d14b92bdaf7feb314110956604ae619e3ae/modules/issue_tracker/jsx/issueTrackerIndex.js#L209)

To solve thi

[2020-05-13 16:43] christinerogers opened #6528 "[Documentation] mention RB refresh script in RB readme"
The raisinbread refresh script and its uses should be documented in the Raisinbread readme.
For 23 if possible.  Ideally should have been added in #5260 when the script was committed.

Per [@johnsaigle 's comment in #6495](https://github.com/aces/Loris/issues/6495#issuecomment-626763538) --

Related to #6498

[2020-05-13 16:50] johnsaigle commented on #6528
I don't know if this is a huge priority for 23.0-release because anyone interesting in Raisinbread data will be working on something based off of `master`, not the release branch.

Still a good thing to document though.

[2020-05-13 18:34] christinerogers commented on #6528
Agreed that it should definitely go on master too, and is not the burningest priority. The script was added for the 23 release and is clearly useful, let's try to document it properly in the same release given it seems we have the time.
Moreover I think anyone who installs the release and wants to kick LORIS' tires with raisinbread dataset could find this info useful. (why else release raisinbread

[2020-05-13 19:04] laemtl opened #6530 "[Loris] Horizontal scroll on webpages"
All Loris pages have an horizontal scroll, which is not desirable.
The cause is the use of navbar-right outside a container/container-fluid element.

[2020-05-13 19:07] #6218 closed

[2020-05-13 19:07] #6417 closed

[2020-05-13 19:09] #6436 closed

[2020-05-13 19:11] #6468 closed

[2020-05-13 19:45] #6517 closed

[2020-05-13 19:45] #6527 closed

[2020-05-13 20:16] #6246 closed

[2020-05-13 20:16] #6244 closed

[2020-05-13 20:17] johnsaigle commented on #6219
This seems to be resolved based on the linked PRs

[2020-05-13 20:17] #6219 closed

[2020-05-13 20:22] johnsaigle commented on #5773
@ridz1208 @driusan This might be nice to fix for the release? Surveys seem sort of important.

[2020-05-13 20:28] laemtl opened #6532 "[Issue Tracker] Broken tab UI on page reload"
In Issue Tracker v23, after a filter is selected, if the user reload the page, the filter has no more effect (all results are shown) and no tab is active anymore.

Steps to reproduce the behavior:
1. Go to Issue Tracker
2. Select a tab to filter the results (ex: Closed Issues)
3. Notice how the tab UI looks like: one tab is always active
4. Reload the page
5. No tab is active in the tab UI, and al

[2020-05-13 20:29] laemtl commented on #6532
@HenriRabalais, do you have any suggestion?

[2020-05-13 20:46] laemtl opened #6533 "[Issue Tracker] Filtered results and tab labels can disagree"
In the Issue Tracker v23, it is possible to select the Closed Issues tab, then play with the filters to select issues with other status. The results will be updated under the Closed Issues tab, where active issues can now be listed.

Steps to reproduce the behavior:
1. Go to Issue Tracker
2. Select a tab to filter the results (ex: Closed Issues)
3. Change the status filter for New
5. All new issue

[2020-05-13 20:48] laemtl commented on #6533
@HenriRabalais, do you have any suggestion?

[2020-05-13 21:10] HenriRabalais commented on #6532
It seems that the first issue occurs only applying filters by clicking on the tabs that load preset filters. These filters are applied to the data, but are not updating the URL query params, so when the page is reloaded, there's no way access the previous filters.

My first impression is that this can likely be resolved by introducing some functionality to the `Filter` component which migrates mos

[2020-05-13 21:47] laemtl commented on #6532
@HenriRabalais  Is it something that should be documented as a know issue after reactification?

[2020-05-13 21:51] HenriRabalais commented on #6532
@laemtl Sure! I can send a PR to try and fix this tomorrow.

[2020-05-13 23:16] christinerogers commented on #6475
updating description of this issue to include @johnsaigle 's note re including #6181 changes on 23.

[2020-05-14 02:09] HenriRabalais commented on #6533
I guess this falls under a design decision. Currently, the way the tabs are working are as filter "presets" that will filter the data according to predetermined filter parameters. The user then has the option of altering those parameters as they see fit, independently of what tab they are on.

The solution to this issue could occur in a couple of ways that I can think of:
1. The defined presets ar

[2020-05-14 02:23] laemtl commented on #6533
I like option 1 too! Seems to ba an effective and easy way to avoid the confusion of the tabs.

[2020-05-14 15:35] christinerogers opened #6536 "[docs] Update Unit Testing Guide for 23"
If possible for the 23 release -- if not, for master:
Update the Unit Test Guide for the current version of PHP, update the header of the doc, check that it works, etc...
https://github.com/aces/Loris/blob/23.0-release/test/UnitTestGuide.md

[2020-05-14 15:52] christinerogers commented on #6536
Adding @laemtl 's suggestion for this issue: add an alias for this file from : https://github.com/aces/Loris/tree/23.0-release/docs/wiki/99%20-%20Developers

[2020-05-14 17:00] christinerogers opened #6537 "[docs] Contributing.md - broken link (fix for 23)"
Contributing.md contains a broken link on the 23 branch.

this was fixed on 22 in #5549 but not on master at the time it seems.
This should be fixed on master as well [if that pr exists already, find and link here]

[2020-05-14 17:02] ridz1208 commented on #5773
@johnsaigle this need to be retested. It might have something to do with the RB fixes I made for another issue reported by @driusan https://github.com/aces/Loris/issues/6229

[2020-05-14 18:20] christinerogers commented on #6501
Where are we stuck on this @AlexandraLivadas ?

[2020-05-14 19:09] pn2200 opened #6539 "Unable to configure user and admin on new install"
**Describe the bug**
Cannot create non-administrator user or LORIS admin account on installdb.php page after a brand new installation.

**To Reproduce**
I followed the [installation guide](https://acesloris.readthedocs.io/en/latest/wiki/00%20-%20SERVER%20INSTALL%20AND%20CONFIGURATION/01%20-%20LORIS%20Install/Ubuntu/). I installed on Ubuntu 20.04. After the database setup step, the instructions are

[2020-05-14 20:23] HenriRabalais commented on #6533
I've created a PR that should resolve this issue as well as #6532.

@laemtl @christinerogers Let me know you're thoughts on the design:
<img width="1423" alt="Screen Shot 2020-05-14 at 16 22 06" src="https://user-images.githubusercontent.com/7550451/81981980-1208ff00-95ff-11ea-912b-2b3259a4e80b.png">

[2020-05-14 20:23] lingma commented on #6539
You can create the user `rethinkuser` with your password and check the "Already created" to retry.

[2020-05-14 20:31] lingma commented on #6539
There is a note about possible problem for MySQL 8.0 in the Readme.md: "If you use MySQL 8, please read this link..." Please refer to the Readme.md to check.

[2020-05-14 20:49] laemtl opened #6540 "[Codebase] html lint errors"
After noticing a few html glitches in the source code, I parsed the code base with an html linter ([htmllint-cli](https://github.com/htmllint/htmllint-cli)).

**I suggest to solve all the issues in the category tag is not closed:**

- modules/configuration/templates/form_project.tpl: line 106, col 17, tag is not closed
- modules/dicom_archive/templates/form_viewDetails.tpl: line 14, col 5, tag is

[2020-05-14 21:14] laemtl commented on #6533
I will pull and test shortly.
From the screenshot, I can already tell that this desgn is way clearer to me. I love it!

[2020-05-14 21:15] pn2200 commented on #6539
Unfortunately, checking the box "Already Created" and retrying does not change the result. The page still displays the error "All entries must be provided", the config.xml file is not created and there are no errors in the loris-error.log file.

Perhaps I am not understanding your suggestion. Are you suggesting that I manually create the user in mysql first?

Also, the links regarding MySQL 8 ([th

[2020-05-14 21:28] lingma commented on #6539
I believe that Loris 22.0 is tested based on MySQL 5.7, PHP 7.2 and PHP 7.3. The MySQL 8.0 note was intended for the DB user connection method, I suspect which might be the cause of your problem. I don't believe that PHP7.4 is available when Loris 22.0 was released, so I don't think the Loris 22.0 was tested against PHP 7.4, which usually won't cause much problem with upgrading.

As a result, I su

[2020-05-14 21:34] christinerogers commented on #6532
whoa -- nice idea.  It does look great.  I think we'd rather keep a tabbed design for consistency with the rest of the LORIS modules, no?  (this kind of menu appears so far only for DQT load queries i think) Or perhaps a change in the direction of the new Candidate module's tab/card GUI model might work.

[2020-05-14 21:39] lingma commented on #6539
Yes, I suggested you to create db user manually in MySQL first then come back to the installation interface.

[2020-05-14 22:00] laemtl opened #6543 "[Documentation] markdown broken links"
I run a script to find all broken links in the markdown files of v23.0.

Reading: docs/wiki/00_SERVER_INSTALL_AND_CONFIGURATION/01_LORIS_Install/Ubuntu/README.md
Dead: github.com/aces/loris/releases
Reading: docs/wiki/99_Developers/Automated_Testing.md
Dead: test/UnitTestGuide.md
Reading: modules/behavioural_qc/test/TestPlan.md
Dead: https://github.com/aces/Loris/blob/17.1-dev/modules/behavioural_

[2020-05-14 22:33] pn2200 commented on #6539
The database user `rethinkuser` is actually created on the first attempt of using the installation interface. Creating a new user, manually in mysql with
[code]
doesn't change anything. The same error message occurs in the installation interface and the config file is not created.

If I manually create a user in mysql, without the granting any privileges, the error is "The specified user does not

[2020-05-14 23:12] lingma commented on #6539
I know that the default error message is what you have seen, the message only wanted to say something wrong with "you have to fill all".

I just tried PHP7.4, all works fine. So I suspect that the problem lies in the MySQL 8.0, which I could only try a little later, I am not willing to kill my DB on my workstation to do the test.

[2020-05-14 23:19] lingma commented on #6539
By the way, I have installed on MySQL 8.0 together with PHP7.3 (Ubuntu 18.04), the installation MySQL note in Readme.md was added by me, I am quite confident that the Loris supports MySQL 8.0 + PHP7.4, I don't know what goes wrong now.

[2020-05-15 13:56] christinerogers commented on #6533
I'm fine with adding filter presets -- great idea -- given it makes sense to invest time implementing this across most modules.  I can think of IssueTracker, ConflictResolver, and maybe the Bvl and Img Feedback modules (someday) that would use this, off the top of my head...
It's sort of like saved queries - would also need mechanisms to edit/delete presets, and a button to "save current filter se

[2020-05-15 14:01] AlexandraLivadas commented on #6501
@christinerogers @ridz1208 I am not able to run `SHOW ENGINE INNODB STATUS` as I don't have the proper privileges in my DB. I'm trying to backtrack where the foreign keys are. I think my next step will be to test the `SQL/9999-99-99-drop_tables.sql` without any RB data in my database and see if RB tables are causing any of the errors.

[2020-05-15 14:21] ridz1208 commented on #6501
@AlexandraLivadas technically, the data itself does not cause the issue, schemas do. So it would be highly unlikely that you get an issue with the RB data and no issue without.

We can make a request for IT to grant you temporarily these permissions to run the SQL command.

[2020-05-15 14:21] laemtl commented on #6415
@christinerogers @johnsaigle Is si something we want for v23.0?

[2020-05-15 14:35] christinerogers commented on #6415
it should be resolved for `23`  by #6510 already - please feel free to double-check

[2020-05-15 14:53] laemtl commented on #6415
#6510 specifies it was fixed for docs/wiki only.
Do we need to fix only those markdown files?

[2020-05-15 15:07] christinerogers commented on #6415
Good point. What else is going to be rendered by RTD?

[2020-05-15 15:30] AlexandraLivadas commented on #6501
When I run the command `SHOW ENGINE INNODB STATUS` it gives me the following output under `LATEST FOREIGN KEY ERROR`

`2020-05-15 10:03:42 0x7f9339348700  Cannot drop table alivadas_dev.permissions
because it is referenced by alivadas_dev.LorisMenuPermissions`

I am running this command on a database where I dropped all tables and then sourced everything (including RB) again. However, the table `L

[2020-05-15 16:03] AlexandraLivadas commented on #6501
This issue has been resolved. With a fresh re-source of all schemas and RB data, the `SQL/9999-99-99-drop_tables.sql` schema properly drops all tables.

[2020-05-15 16:03] #6501 closed

[2020-05-15 16:13] laemtl commented on #6415
The only missing section is API. I take care of it.

[2020-05-15 16:21] christinerogers commented on #6415
thank you!  for the API docs -- Could you please make a separate PR (and issue) to update these, and tag / request review Simon @spell00 and Xavier so that they are aware. merci.

[2020-05-15 16:32] laemtl opened #6545 "[Documentation] ReadTheDocs issue with navigation tree"
On [ReadTheDocs](https://acesloris.readthedocs.io/en/latest)

Some section like this one:
[Docs » Study Parameters Setup » Study Variables » Introduction](https://acesloris.readthedocs.io/en/latest/wiki/01%20-%20STUDY%20PARAMETERS%20SETUP/01%20-%20Study%20Variables/00%20-%20Introduction%20to%20Study%20Variables/)

displays the breadcrumb sections out of order:
Docs » Study Variables » Study Parame

[2020-05-15 17:19] christinerogers commented on #6530
Thanks for finding and solving this! could you update the title + PR title to say `[gui]` instead of `[Loris]` -- it will help signal to Dave how to prioritize this

[2020-05-15 18:30] johnsaigle commented on #6501
Just FYI LorisMenuPermissions was removed in #5839. Your DB must have been on a 22.X version of LORIS instead of on `23` or `master`.

In general using the Raisinbread refresh script should solve this for you if you run it after switching branches.

[2020-05-15 20:35] laemtl commented on #6415
@christinerogers No changes required for the API section. Everything is good!

[2020-05-15 20:41] christinerogers commented on #6415
great.  the last point to be verified in this issue is whether section headers need / should be updated. to be continued...

[2020-05-16 03:28] lingma commented on #6539
Hi Paul, I just installed Loris 22.0.1 on a fresh Ubuntu 20.04 + MySQL 8.0 + PHP 7.4 without any difficulty, with/without DB user pre-created. I don't know what caused your difficulty, I believe the problem might have something to do with your file system permission settings, please check. Though there is something to improve in the error message handling, I believe the installation should normall

[2020-05-16 17:16] pn2200 commented on #6539
Okay, thanks for trying to install. I will try again.

Do you have any suggestions what file permissions need modification? The /var/www directory? The MySQL database data directory?

[2020-05-16 18:04] lingma commented on #6539
You are welcome. You can post your question to loris dev team group email if you have detailed further question. I believe that the email address is loris-dev@bic.mni.mcgill.ca. You can check for clarification if the address I just got from web is not reachable.

I believe if you follow the installation guide, the installation should be fine. The installation looks like a general website managemen

[2020-05-16 18:37] lingma commented on #6539
Supposing that you install the loris at `/var/www/loris`, the webserver process need to be able to write to `/var/www/loris/project` to finish the installation with a config file, you will need to make sure that the directory is writable by the web server process, which will depend on your situation, possibly Apache2 default user www-data or other user, but in most cases with Apache2 you don't nee

[2020-05-17 13:22] lingma commented on #6539
I just made a test, even if the /var/www/loris/project` is not writable by the web server process, the installer could still go ahead with further instructions. Currently I have no idea what causes your difficulty, you might need to start over from the beginning and follow the installation guide.

[2020-05-19 13:06] #6515 closed

[2020-05-19 13:08] #6530 closed

[2020-05-19 13:12] #6537 closed

[2020-05-19 13:38] christinerogers opened #6546 "[Docs] Contributing.md : minor link tweak"
Per [Dave's comment on 6542](https://github.com/aces/Loris/pull/6542#pullrequestreview-414429063) --
In `Contributing.md`, a minor clarification would be good on the link to Raisinbread documentation (see #6542 for exact details)

Related to #6542

[2020-05-19 13:59] christinerogers opened #6547 "[docs] Migrate 23 branch edits to master"
Last release, we made some changes on 22 that should also have been applied to `master`
Adding an issue here to explicitly cover this step for the 23 release.
* [example edit to Contributing.md here](https://github.com/aces/Loris/issues/6537#issue-618394933)

For discussion --
Going forward, it would be good to check master _before_ the next release branch is created, so that we don't have to do t

[2020-05-19 14:28] johnsaigle commented on #6545
Possibly related to #6209 as this issue causes the ReadTheDocs build to fail.

[2020-05-19 14:41] laemtl commented on #6545
@johnsaigle Any help I can give on #6209?

[2020-05-19 14:48] johnsaigle commented on #6545
Yes, that would be great if you have some time!

You basically want to revert this PR which introduced the breaking changes:

https://github.com/aces/Loris/pull/6151/files

Specifically you'll move the API documentation somewhere under the the `docs/wiki/` directory. `mkdocs.yml` will need to be updated too.

Also, _ReadTheDocs is only built for `master` at the moment._ Any changes should be sent

[2020-05-19 15:09] christinerogers commented on #6539
Hi @pn2200 --
For install support or questions for a specific instance/use case of LORIS, please contact our community support mailing list at : loris-dev [ at ] bic.mni.mcgill.ca
We'll be happy to go over with you there the troubleshooting you've done so far and what to check next.
Please link to this issue when you write us there.
Thanks!

[2020-05-19 15:17] christinerogers opened #6548 "[meta/docs] Clarify Support in Issues template and Readme"
We've gotten an install support request in the GitHub Issues, so it would be good to clarify our process in a few easy places.
Both the main Loris Readme and the Issues template in our GitHub
could be more explicit in directing users experiencing difficulties with the install :
* (update in both) for any questions, please contact loris-dev mailing list - don't file a github issue.
* (readme only)

[2020-05-19 15:28] ridz1208 commented on #6229
@driusan this is part of the test plan and you won't be the one re-testing it. so closing the issue for now, a new one will be created if the module is still not working

[2020-05-19 15:28] #6229 closed

[2020-05-19 15:31] ridz1208 commented on #6288
linked PR was merged

[2020-05-19 15:31] #6288 closed

[2020-05-19 15:31] ridz1208 commented on #6300
linked PR merged

[2020-05-19 15:31] #6300 closed

[2020-05-19 15:33] ridz1208 commented on #6373
@johnsaigle the PR linked is going to master. I will remove the 23 label from this issue accordingly

[2020-05-19 15:34] ridz1208 commented on #6438
@driusan @cmadjar why wasnt this assigned to anyone ?

[2020-05-19 15:37] ridz1208 commented on #6467
@SantiagoTG @HenriRabalais you are both assigned to the dashboard testing in this round. As part of your testing can you make sure the dashboard test_plan and readme are up to date in reference tot the widgets which were moved to their respective modules ?

[2020-05-19 15:45] johnsaigle commented on #6528
I realized just now that I already have a PR to do this but it's going to master https://github.com/aces/Loris/pull/6153/files

We can probably just go ahead with Alex's though and I'll update mine later.

[2020-05-19 15:53] johnsaigle commented on #6547
(from linked issue)

this was fixed on 22 in #5549 but not on master at the time it seems.
This should be fixed on master as well [if that pr exists already, find and link here]

It looks like there were two different broken links in Contributing based on the discussion you linked to. I don't think there was a `master`/release branch sync issue.

[2020-05-19 15:56] johnsaigle commented on #6548
I think a GitHub Issue is the preferable avenue. Issues are always automatically archived publicly. When working with other open source software I'll often search their old issues before creating a new one because very often the question has been asked and answered already. We lose this if people are directed to the mailing list first.

At the same time, if a bug is reported in the mailing list we

[2020-05-19 16:00] johnsaigle commented on #6539
@christinerogers if this conversation continues on the mailing list then it would be good to post the full conversation and resolution here so that other users can find an answer if they encounter this in the future.

[2020-05-19 16:02] johnsaigle commented on #6536
What needs to be updated? If anything the header containing the date should be deleted. Git tracks the last time the file is modified and we won't be able to maintain it regularly.

This will break ReadTheDocs. See #6209.

[2020-05-19 16:08] johnsaigle commented on #6540
I love linters ❤️ We should consider adding this to our automated test suite at some point.

[2020-05-19 16:50] driusan commented on #6229
@AlexandraLivadas I think the survey_account testing is assigned to you in the latest email, can you make sure you verify this case when testing it?

[2020-05-19 16:56] driusan commented on #6540
Some of those are in the vendor directory and it doesn't say what tags they are. Did you verify that they're tags that are supposed to be closed in HTML5 and that it's not somehow getting confused by smarty directives embedded in the HTML?

[2020-05-19 16:58] driusan commented on #6540
I just looked at the first 3 and all 3 of them are tags which are closed properly

[2020-05-19 16:58] laemtl commented on #6540
@driusan I briefly test a few, and noticed missing / (<p><p> pairs)

[2020-05-19 17:06] driusan commented on #6540
`<p>` tags are self-closing tags in HTML.

[2020-05-19 17:11] AlexandraLivadas commented on #6536
I can make the minor changes to the header and I am currently testing that all the installation steps are still correct. Would there be any value in moving this to a different spot (like under `docs/wiki`) or should it be kept under the `test` directory? I can also make these changes in master instead of 23.0-release if that is the consensus.

[2020-05-19 17:20] laemtl commented on #6540
I see your point. There are some false positives because of smarty tags. I can check if I can find a workaround. Some problems are present though. For example, the first file has an unclosed div.

[2020-05-19 17:41] #6519 closed

[2020-05-19 17:44] johnsaigle commented on #6536
Yeah I think it would be good to move into the `docs/wiki/` section in the same place as the Automated Testing Guide.

[2020-05-19 18:14] #6503 closed

[2020-05-19 18:14] #6504 closed

[2020-05-19 19:25] laemtl opened #6552 "[Issue Tracker] - Error 500"
If a user has a single permission: issue_tracker_reporter, the Issue Tracker listing displays **An error occured while loading the page**.
/issue_tracker/?format=json has the status 500 and the json response is empty.

**Steps to reproduce**
Create a new user, and check: Can add a new issue, edit own issue, comment on all only in the permission section. Let the rest unchecked.
Navigate to /issue_t

[2020-05-19 19:33] #6552 closed

[2020-05-19 19:34] laemtl commented on #6552
Closing as it is related to #6470

[2020-05-20 12:57] CamilleBeau opened #6554 "[Configuration] 'Date display format' input not changing date display"
**Describe the bug**
Changing the settings for `Date display format` on the `Study` page of the configuration module does not change the date display format throughout the site.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to Configuration module
2. Change the date format in the `Date display format` at the bottom of the `Study` page
3. Save the optio

[2020-05-20 13:59] christinerogers commented on #6548
@johnsaigle , do you want to raise your proposal here for re-discussion at the next meeting ?
Agreed, current downfalls still include search, and lack of linkage between the channels (in search as you mention).
And the reasons why we support Instances and particularly Installs through the mailing list still include: the value of a community mailing list, github clutter, our issue response time, an

[2020-05-20 14:02] christinerogers commented on #6547
the intention is to avoid what happened with 22.  this is just a ticket to double-check after 23 is released.

[2020-05-20 17:32] laemtl opened #6556 "[User account] Add/Edit user form - Required fields"
In User account > New User, required fields are not indicated in the form with (*).
The form asks for many pieces of information, such visual help can efficiently improve UX.

[2020-05-20 18:01] h-karim opened #6557 "[Electrophysiology_Browser] 500 error on view session when user only has view own site permission"
**Context**
Fails step A2 of the module test plan.

**Describe the bug**
When the user is granted the _View own site Electrophysiology Browser pages_ only, navigating to an individual session produces a 500 http error.

**To Reproduce**
1. Create a user with the following permission:

2. Make sure user is assigned a site and project which has candidate data. For the test VM specifically user was a

[2020-05-20 18:41] h-karim opened #6558 "[EEG Browser] User can access individual sessions for projects they are not involed in"
**Context**
Fails step A.2 of the test plan. Related to #6618

**Describe the bug**
A user can access individual sessions for a project that the user has not been assigned to if the user has a url from the 'raw' or 'all types' links or logically deduces the url.

**To Reproduce**

Steps to reproduce the behavior on the testing VM:
1. Using an admin user, create a user `foo` with the following perm

[2020-05-20 19:19] johnsaigle commented on #6547
Based on what you linked I don't think anything happened in 22. There were two different instances of broken links in 22. There doesn't seem to have been any branch sync issue.

[2020-05-20 20:14] CamilleBeau opened #6559 "[next_stage] TestPlan not in md format"
**Describe the bug**
The TestPlan file for next_stage module is not a .md file and is missing a header.

[2020-05-20 20:53] johnsaigle commented on #6554
This was added in #5004. The original post may be helpful here:

**This PR only adds two quick examples of using this Config setting; it is by no means comprehensive.**
Also, this will only take place in "PHP contexts" and not within JS date elements as these are OS- and locale-dependent.

So this is happening not because of a bug but because this has not been implemented in all cases.

[2020-05-20 20:56] johnsaigle commented on #6556
Duplicate of #5218.

That said I definitely agree that this would be a great improvement. User Accounts is not dynamic/does not use ReactJS right now and so it doesn't benefit from the UX advantages that other parts of LORIS have right now.

[2020-05-20 20:59] johnsaigle opened #6561 "Use config setting dateDisplayFormat in LORIS"
**Describe the solution you'd like**
https://github.com/aces/Loris/pull/5004/ added a config option allowing projects to change the way dates are displayed on the front-end. (In some specific cases anyway - see OP in the linked PR for more information).

This was added as a proof-of-concept and should now be more widely integrated across LORIS.

**Additional context**
https://github.com/aces/Loris

[2020-05-20 21:00] AlexandraLivadas opened #6562 "Travis failing due to updated Config Setting"
**Describe the bug**
Travis is failing on multiple PRs due to multiple integration test errors:
`ConfigurationException: Config setting url does not exist in database`

This is potentially related to PRs #6019, #6444, #6549, where the BaseURL config setting was removed from the database.

A potential fix will be to change any instances of `$config->getSetting('url');` to `\NDB_Factory::singleton()

[2020-05-20 21:01] #6556 closed

[2020-05-20 21:04] laemtl commented on #5218
Is this something we want to solve before rectification?
It can be easily fixed with label editing.

[2020-05-20 21:09] johnsaigle commented on #5218
If you feel it's an easy fix then I think there's no harm in going for it!

It may get replaced by React code at some point but as far as I know that won't be happening for a while anyway. So it's probably worth fixing in the meantime.

[2020-05-20 21:27] christinerogers commented on #6562
Travis is failing for everyone because an Integration test contains a straggling reference to the 'url' config setting removed in #6019. It was passing before on RaisinBread which was only recently updated in #6549.

[2020-05-20 22:50] laemtl opened #6564 "[Issue Tracker] Add attachment triggers a 500 error"
In Issue tracker, if you try to attach an attachment in Edit/Add issue,
the operation will fail with an error 500.

`ajax/EditIssue.php?action=edit 500 (Internal Server Error)`

Possible permission issue with IssueTrackerDataPath.

[2020-05-21 15:40] christinerogers commented on #6558
Hi @h-karim  : is it fair to summarize this paragraph

as:
UserA does is not affiliated to project `pumpernickel`, but can still see pumpernickel data if they click on "this link" (what's the link?).

[2020-05-21 15:43] christinerogers commented on #6557
relevant details missing here:
What site is your test user affiliated to?
Is there any data for that site in your database, which was expected to be displayed ?

[2020-05-21 15:45] laemtl opened #6565 "[Issue Tracker] Missing Help on Issue Add/Edit"
If you navigate on https://test-loris-dev.loris.ca/issue_tracker/issue/42
And select the help option, it displays:
No help available for issue (/var/www/Loris/modules/issue_tracker/help/issue.md)

The same behaviour occurs if you create a New Issue.

[2020-05-21 16:05] christinerogers commented on #6539
@pn2200 again inviting you to please get in touch through our support channels -- loris-dev [at] bic.mni.mcgill.ca or even loris.info [at] mcin.ca
We'll be very happy to follow up on your stack and the issues you're encountering.  Even if it's working now, your input there to help fix our error messaging would be quite valuable with a few more details.

Closing this issue for now, since we're unab

[2020-05-21 16:05] #6539 closed

[2020-05-21 16:16] h-karim commented on #6558
UserA cannot see pumpernickel data if pumpernickel is not assigned to UserA, however UserA can still access raw/all types URLs for pumpernickel sessions if UserA happens to have one. I am not sure whether the desirable behaviour is for UserA to not be able to access pumpernickel sessions or for userA to be able to view pumpernickel data on the module front page.

[2020-05-21 16:26] christinerogers commented on #6565
great!  was there ever any?  could you check both the 17.1 and 19 branches  It would have been lost somewhere in there.
You can see similar issues we found last fall about missing help text on other sub-modules, documenting how/why it happened.

[2020-05-21 18:26] ejoh1101 opened #6566 "CouchDB_Confirm_Integrity.php not deleting CouchDB docs pertaining to deleted LORIS candidates"
**Describe the bug**
CouchDB_Confirm_Integrity.php does not delete docs related deleted from LORIS DB.

**To Reproduce**
Delete a candidate using delete_candidate.php (or manually delete from candidate table in MySQL DB). Run CouchDB_Confirm_Integrity.php. Note that CouchDB docs related to deleted candidate will appear in log with text "Nothing wrong with <doc_id>". Using DQT still

**What did you

[2020-05-21 18:53] zaliqarosli opened #6567 "[instrument_builder] Unable to remove Date range values once entered"
**Describe the bug**
When adding a 'Date' element, although the 'Start year' and 'End year' fields are not required (you can 'Add Row' if fields are left empty), you cannot fully delete values within the fields once the values are entered. The first digit is not deletable.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to 'Instrument Builder' module and

[2020-05-21 19:04] zaliqarosli opened #6568 "[instrument_builder] Numeric Min/Max fields auto-populated with "0""
**Describe the bug**
While a numeric element can be added without 'Min' and 'Max' values, the default value "0" for both 'Min' and 'Max' fields return 'Max value must be larger than min value' error on clicking 'Add Row'.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):

1. Go to 'Instrument Builder' module and click on the 'Build' tab
2. Click on the 'Select O

[2020-05-21 19:10] CamilleBeau commented on #6554
Thank you @johnsaigle! I can close this issue in favour of your more specific one then?

[2020-05-21 19:13] jesscall opened #6569 "[imaging_uploader] bug with auto-fill visit label"
**Describe the bug**
The auto-fill feature on the imaging_uploader is only populating part of the visit label name.
Ex: Visit label = `Initial_MRI`, auto-fill is only inputing `Initial` and there is no way to correct it since fields are disabled. I presume it's just a regex thing.

<img width="1326" alt="Screen Shot 2020-05-21 at 3 06 44 PM" src="https://user-images.githubusercontent.com/34260251/

[2020-05-21 19:15] zaliqarosli opened #6570 "[API] Dicom and Recording downloads broken"
**Describe the bug**
`GET /candidates/$CandID/$VisitLabel/dicoms/$Tarname` and `GET /candidates/$CandID/$VisitLabel/recordings/$Filename` return 500 error.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to 'https://test-loris-dev.loris.ca/api/v0.0.3/candidates/587630/V1/dicoms/DCM_2018-04-20_ImagingUpload-13-42-zcoZR0.tar'. The tar file does not downloa

[2020-05-21 19:18] christinerogers commented on #6556
I'm pretty sure this used to be a feature and may have been removed at some point, because we wanted all fields filled out as much as possible (institution, address, etc).
I'd start by checking release 16/17 to see if it was removed before or after then.

[2020-05-21 19:24] zaliqarosli opened #6571 "[API] CandID missing from "Meta" object for /recordings"
**Describe the bug**
`GET /candidates/$CandID/$Visit/recordings`,
`GET /candidates/$CandID/$VisitLabel/recordings/$Filename/channels`,
`GET /candidates/$CandID/$VisitLabel/recordings/$Filename/electrodes`,
`GET /candidates/$CandID/$VisitLabel/recordings/$Filename/events`
all return `"CandID":{}` in "Meta" object.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):

[2020-05-21 19:31] zaliqarosli opened #6572 "[API] Project /images endpoint broken"
**Describe the bug**
`GET /projects/$ProjectName/images/` returned `{"Images":[]}` and now, returns 500 error.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to 'https://test-loris-dev.loris.ca/api/v0.0.3/projects/Rye/images'. You get a 500 or empty "Images" array

**What did you expect to happen?**
Non-empty "Images" array with JSON objects of images d

[2020-05-21 19:33] h-karim commented on #6558
@christinerogers I've edited the issue description to better clarify the underlying issue, let me know if there's anything more to tweak.

[2020-05-21 20:15] christinerogers commented on #6558
try getting the title down to one line.  start by shortening to `[EEG Browser]`

[2020-05-21 20:22] racostas opened #6573 "[Statistics / Behavioural Statistics] query by project not working."
**Describe the bug**
In `Reports-> Statistics -> Behavioural Statistics`, query by project seems not to by working.

**To Reproduce**
1. Go to `Reports-> Statistics -> Behavioural Statistics`
2. Choose a project on the project's comboBox.
3. Click on Submit Query
4. **Issue:** The results table is not updated except for "All projects" or "DCP" choices

**What did you expect to happen?**
The result

[2020-05-21 21:22] nicolasbrossard opened #6574 "[MRI Violations] Incorrect permission in test plan"
**Describe the bug**
The test plan still mentions permission `violated_scans_edit`. All occurence should be replaced by `violated_scans_view_ownsites`.

**To Reproduce**
N/A

[2020-05-21 21:27] nicolasbrossard opened #6575 "[MRI Violations] Missing help text for sub-pages"
**Describe the bug**
On the testing VM, I did not see any help for the `Resolved Violations`, `MRI Protocol Check Violations` and `MRI Protocol Violations` pages. The main page had some (little...) help text though.

**To Reproduce**
Access the pages mentioned above in the MRI violations module and check the help text.

[2020-05-21 21:45] nicolasbrossard opened #6576 "[MRI Violations] Standardize contents of Problem drop-down"
**Describe the bug**
Both the 'Not resolved' and 'Resolved' tabs of the MRI violations module have a drop-down in the filter section where you can specify the type of problem you are looking for. I think both drop-downs should be populated similarly, but they are not: the one in the 'Not Resolved' tab is populated by listing all the possible "problems" found in the database, whereas the drop-down

[2020-05-22 01:38] sruthymathew123 opened #6577 "[User Accounts]Test Plan # 36(widget Registration to Dashboard) Failed"
**Describe the bug**
Widget registration on the dashboard page cannot be tested/failed.
The number of pending account approvals that should be displayed in the My Task panel of the dashboard page is not visible/seen even if Pending Approval set to 'Yes' users are there in user accounts

**Steps to reproduce the behavior (attach screenshots if applicable):**
Go to user accounts and Site set to the

[2020-05-22 02:11] pierre-p-s opened #6578 "[document_repository] Delete File permission access to module"
The delete File permission does not let the user view the module as it is explained in the test plan.

Update test plan or update the permission for access to the module.

[2020-05-22 02:14] pierre-p-s opened #6579 "[document_repository] Question"
This is not so much an issue but rather 2 questions about the module:

- Why do we have a global filteringoption since all the files appear in the root directory?
- Why do all thefiles appear in the root directory?

[2020-05-22 02:15] pierre-p-s opened #6580 "[document_repository] Notification emails"
New category and edit file notification (email)do not work

[2020-05-22 02:45] kongtiaowang commented on #6579
Question1: If you are under a sub category and you want to filter other files under another category. You can use it.
Question2: This module was developed mainly for the needs of the IBIS project. We had sevrial meetings to discuss it. All the files appear in the root directory, It could help users quickly browse folders and files.

[2020-05-22 14:08] AlexandraLivadas opened #6582 "[survey_accounts] User can create survey for Project they are not involved in"
**Describe the bug**
A user account is able to create a survey for a candidate on a project that they are not affiliated with and should therefore not have access to. The survey is properly created (visible on Admin account survey list) and can be completed and submitted. The newly created survey does not appear on the list of surveys for the user who is not affiliated with the project (as expecte

[2020-05-22 14:54] laemtl opened #6583 "[DQT] Define field tab - cannot select a Visit in Visits filter"
In DQT > Define field tab, the checkboxes in the menu dropdown are not selectable.
The checkbox reacts to the click so the click event may be fired twice.
Observed in Chrome 75.0.3770.80 and Firefox 76.0.1.

[2020-05-22 15:16] laemtl opened #6584 "[DQT] Field - Some text barely visible"
In DQT > Define field tab, if you click on a field, the text switches to white on a light background.
If you click on the instrument dropdown, the background switches to a dark color (Chrome only).

**To reproduce**
    Go to Reports > Data Query Tool
    Select the Define field tab
    Select an instrument
    Select a field

![Screenshot from 2020-05-22 11-12-23](https://user-images.githubuserco

[2020-05-22 15:29] AlexandraLivadas opened #6585 "[survey_accounts] Test Plan can be updated and added to for clarity"
The [test plan](https://github.com/aces/Loris/blob/23.0-release/modules/survey_accounts/test/TestPlan.md) for survey_accounts can be edited for accuracy and permissions checks. Some extra steps can be added, such as:

1. Once a new survey is created, check that the Survey List is updated.
2. Check that a survey cannot be created for a Project that the user is not involved in.

The formatting of th

[2020-05-22 16:10] laemtl opened #6586 "[DQT] Download Data as ZIP button not working"
In the View Data tab, once the query as run, the Download Data as ZIP button does not have any effect.

**To Reproduce**
In DQT, Define Fields and Filters
Go to View Data
Run the Query
Click Download Data as ZIP

[2020-05-22 16:15] AlexandraLivadas opened #6587 "[survey_accounts] Can't complete surveys in Firefox"
**Describe the bug**
On a **Firefox** browser, once the last page of a survey is completed and the button "Save and Finalize" is pressed, the next page (to submit) does not load. A screenshot is included with the exact error message that appears and the Developer Console message. This error occurs both when the URL is selected from the Survey Accounts page and when the URL is selected from the e-m

[2020-05-22 16:15] laemtl opened #6588 "[DQT] Unexpected results for age query"
Filtering with Candidate Age <= 20 for All Visits
output results with NULL age values and age above 20 (187.9, 33).
If there is a conversion from years (20) to days (7300), should this be clarified?

**To Reproduce**
Define Fields: oasi Data_entry & oasi Candidate_Age
Define Filter: Candidate Age <= 20 for All Visits
Go to View Data
Run the Query

[2020-05-22 16:16] maltheism opened #6589 "[candidate_parameters] candidate_parameter_edit permission bug"
**Describe the bug**
A user with `candidate_parameter_edit` permission and without `access_all_profiles` can still view & modify the fields for sites the user doesn't belong to.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Make a user with access to Montreal with rasinbread dataset.
2. Use the admin account to have a link to the candidate_parameters of a

[2020-05-22 16:22] spell00 opened #6590 "[API] Add an example in TestPlan.md to successfully create a candidate with a POST request"
The command on the last line of the Test Plan, `curl -H "Authorization: Bearer $token" https://<your-hostname>/api/v0.0.3/candidates -d '{see specs for content}'` does not create a candidate.

**To Reproduce**
Open a terminal and send a POST request to login (as described in the TestPlan ):
`curl https://<your-hostname>/api/v0.0.3/login -d '{"username": "<your-username>", "password": "<your-passwo

[2020-05-22 16:26] h-karim opened #6591 "[imaging_qc] module displays data not included in the user's project and site affiliations"
**Describe the bug**
The imaging_qc module displays data which is not included under the user's site and project assignments. If a user is assigned to site Montreal, and project "Challah", data from other sites and projects will still load into the front page. The `site` filter however limits the user's to filter to "Montreal" sites only which leads me to believe that data from other sites should

[2020-05-22 16:32] laemtl opened #6592 "[DQT] Nan values in Statistics"
In DTQ > Statistical Analysis
Some NaN are displayed in statistics values, possibly due to the presence of NULL values in the records, and nothing appears in the plot canvas.

**Cross-sectional**
![Screenshot from 2020-05-22 12-28-10](https://user-images.githubusercontent.com/32041423/82689247-303ab480-9c28-11ea-8764-c9d651f49593.png)

**Longitudinal**
![Screenshot from 2020-05-22 12-26-19](https:

[2020-05-22 16:34] christinerogers commented on #6592
this is normal.  not a issue - can be closed.

[2020-05-22 16:36] christinerogers commented on #6591
missing info: Does the User have or not have the user-permissions ? e.g. `View all-sites Imaging Browser pages` ?

[2020-05-22 16:44] h-karim commented on #6591
The user does not have the mentioned permission @christinerogers . Only the `Quality control access`.

[2020-05-22 16:52] #6592 closed

[2020-05-22 16:54] laemtl opened #6594 "[DQT] Run Query get stuck on loading"
In DQT, if you skip the step Define Fields, Define filters aosi | Candidate_Age <= 20 All Visits, and run the query in View Data,

stays on screen after the ajax query has completed (Response of the ajax query available in the console) and never disappears. This problem occurs on very simple query too (i.e with Candidate_Age = 33 where only 1 result is returned).

**To reproduce**
Do not define an

[2020-05-22 16:56] christinerogers commented on #6591
great. This issue description should have contained that information -- please update it.

[2020-05-22 16:58] christinerogers commented on #6594
this issue needs more information - please update the description above
* What query were you running?  Was it simple or complex?
* does this bug replicate on a very simple query  that is only returning a small dataset?  (e.g. try Dob = a very specific date matching only 1 candidate)

[2020-05-22 17:00] christinerogers commented on #6582
what's "user account survey list" ?

[2020-05-22 17:29] ridz1208 commented on #6588
@laemtl

The fact that it returns NULL values might be a bug.

The reason it outputs some ages > 20 is because for that same candidate other visits have age NULL which means it is returning that candidate because of that and subsequently reporting the age at the visit with a value higher than 20

I realise this is not super intuitive but if you switch from cross sectional to longitudinal view it m

[2020-05-22 17:30] ridz1208 commented on #6594
@laemtl I think @maltheism has already identified this bug.

It will not likely be fixed for this release but will be part of the bigger redesign.

[2020-05-22 17:31] ridz1208 commented on #6586
@laemtl can you open the inspector and see if you get any errors in the console ?

[2020-05-22 17:42] laemtl commented on #6586
@ridz1208 I did and no errors.

[2020-05-22 17:43] ridz1208 commented on #6586
The download data as zip is only useful when the query contains files that need to be downloaded. (imaging, media, ...)

If the results do not contain files, this might be expected

[2020-05-22 17:44] laemtl commented on #6586
How can I get results with such files? I will test for this case and update the test plan.

[2020-05-22 17:51] laemtl opened #6595 "[DQT] JS Error on View Data > Longitudinal view"
**To reproduce**
Define Fields: aosi | Candidate_Age
Define Filters: aosi | Candidate_Age = 33 All Visits
View Data > Run Query
Switch to Longitudinal

[2020-05-22 17:51] ridz1208 commented on #6586
in the define fields try the mri_data category and use "search within instruments" for the key word `selected`

the displayed options should have a dowloadable symbol next to the field name. these are usually files.

keep in mind if your resulting query contains alot of files, the download data as zip button might take a little while to react to the click. it has to compress the files in the query

[2020-05-22 17:52] ridz1208 commented on #6595
@maltheism can you look into a quick fix for this one ?

[2020-05-22 17:54] laemtl opened #6596 "[DQT] Saved query do not display after saving"
In Statistical Analysis > Manage Saved Queries, after saving the current query, it does not display under Your currently saved queries until the page is refreshed.

[2020-05-22 18:13] christinerogers commented on #6584
@3design hey Derek -- see this issue on newly hard to read colour-contrasts in menus
Do you remember what was supposed to happen with the new design scheme ?
 Is this likely a Chrome mis-fire, or maybe just an oversight in this module?

[2020-05-22 18:20] AlexandraLivadas commented on #6229
@driusan I checked (and double-checked) this case and did not run into any problems!

[2020-05-22 18:31] laemtl commented on #6594
Related to PR #6018

[2020-05-22 19:00] maltheism commented on #6594
@laemtl & @ridz1208 the dqt redesign does disable the "Run Query" button unless a field has been selected. So the bug found won't occur on my redesign branch. I'm not sure if that should be fixed for release?

[2020-05-22 19:17] laemtl commented on #6594
Thank you @maltheism! I think @ridz1208 is the best person to take that decision.

[2020-05-22 19:21] laemtl commented on #6586
No MRI data was imported to the DQT module in the test VM. This test is reported,

[2020-05-22 19:24] christinerogers commented on #6594
Issue is closed for now -- @ridz1208 up to you i guess whether we look into fixing the DQT for 23.

cc @cmadjar

[2020-05-22 20:29] laemtl opened #6597 "[Issue Tracker] Test plan update"
Some behaviours described in the test plan seems out of date, and may not be relevant since the reactification of the module.

[2020-05-22 20:42] christinerogers commented on #6597
In that case, other documentation like the module spec and the Help text should also be reviewed/updated.

[2020-05-22 20:43] racostas opened #6598 "[Install Loris on Centos / Wiki] the wiki page that lands to the CentOS install one is out of date."
**Describe the bug**
the wiki page that lands to the CentOS install one is out of date.

**To Reproduce**
1. Go to https://github.com/aces/Loris/wiki/Installing-Loris
2. See the issues in the attached image

![image](https://user-images.githubusercontent.com/37309344/82707938-12cb1200-9c4b-11ea-945f-80c6f20d5178.png)

[2020-05-22 21:29] laemtl commented on #6556
@christinerogers I checked the history of the [template file](https://github.com/aces/Loris/blob/23.0-release/modules/user_accounts/templates/form_edit_user.tpl) and didn't find any trace of previous required annotations.

[2020-05-25 14:10] laemtl commented on #6565
@christinerogers I looked into the history, the file issue.md was never created.
Adding a markdown file with help content in modules/issue_tracker/help/issue.md should solve that issue.

[2020-05-25 14:51] 3design commented on #6584
@christinerogers That's a tough one to answer. I would assume that it's missing a class somewhere to change the text to the contrast colour. Perhaps take a look at other modules with similar functionality.

When I inspect the Access Candidate drop down, the elements in <datalist><options> have a class of .form-control that comes from bootstrap.min.css. When I look a the dqt (on DEMO) this is not t

[2020-05-25 14:53] laemtl commented on #6597
Help texts has been reviewed and no changes are needed.

[2020-05-25 15:01] laemtl commented on #6584
@3design @christinerogers No problem, I can check!

[2020-05-25 15:14] johnsaigle commented on #6598
I don't think we're planning to update this. If you follow the link under the "This Document Is Out Of Date" header, you will find up-to-date instructions.

[2020-05-25 15:16] johnsaigle commented on #6587
Does anything appear in the error log when you try this?

[2020-05-25 15:18] johnsaigle commented on #6580
Can you add some more info about how to reproduce? Was there any message displayed in the error log?

[2020-05-25 15:20] johnsaigle commented on #6578
Duplicate of #6373.

Agreed that we should either fix this or update the test plan.

[2020-05-25 15:21] johnsaigle commented on #6570
@kongtiaowang Can you check whether these files exist in the backend?

[2020-05-25 15:23] johnsaigle commented on #6586
@laemtl Do you mean that this is an issue with the configuration of the VM and not the code?

[2020-05-25 15:26] racostas commented on #6598
Hi @johnsaigle . The CentOS installation do work properly. I already tested it. Is just this part of the documentation what is out of date. @kongtiaowang in this case we cloud pass the corresponding card `[install Loris on Centos] testing` to success.

[2020-05-25 15:26] johnsaigle commented on #6554
Sure that sounds good to me 👍 Thanks for opening this issue - hopefully we can get this fixed by the next release

[2020-05-25 15:27] johnsaigle commented on #6598
Cool, yeah I think we can consider that part of the GitHub wiki as "deprecated" and it should not be updated.

We could optionally deleted the contents under "This document is out of date!" since the CentOS install instructions have now been copied to the release branch.

[2020-05-25 15:33] laemtl commented on #6586
Yes, according to @ridz1208, the download button does not produce any effect if the query does not contains files. I think an improvement to avoid the confusion I had can be to disable/hide the button in such cases.

[2020-05-25 15:39] #6554 closed

[2020-05-25 15:41] racostas commented on #6598
Closed as no longer need. Please refer to comments on this thread.

[2020-05-25 15:41] #6598 closed

[2020-05-25 15:45] #6562 closed

[2020-05-25 15:54] zaliqarosli commented on #6570
@johnsaigle they do exist because you can access them at e.g. `candidates/$CandID/$VisitLabel/recordings/$Filename/$header`

[2020-05-25 15:59] christinerogers commented on #6598
@racostas -- did you actually test based on the CentOS instructions in the markdowns on the release branch?

[2020-05-25 16:06] maltheism commented on #6595
@ridz1208 okay.

[2020-05-25 16:16] AlexandraLivadas commented on #6587
When I run this on my personal VM (with 23.0-release checked out), I get this error in `/var/log/apache2/loris-error.log`:
[code]

This error is printed many times and the error that appears before it is:
[code]
I will continue to look into these errors :)

[2020-05-25 16:55] laemtl commented on #6584
The dropdown issue can be ignored, it seems to occur only on my chrome instance. Can be caused by a module or a change in my configurations.

[2020-05-25 16:58] 3design commented on #6584
@laemtl this is still interesting though. Are you using dark mode or a custom colour theme for your browser?

[2020-05-25 17:27] AlexandraLivadas opened #6603 "[Examiner] Add detail to Test Plan for examiner module"
Some detail can be added to the examiner module to include specific cases.

[2020-05-25 17:48] spell00 opened #6605 "[Examiner] Unexpected behavior of the Save and Reset buttons"
**Describe the bug**
When adding a new _Examiner_, the _Certification Status_ for both instruments (_BMI_ and _Radiology Review_) need to be changed for a valid value (not _N/A_) or the action should fail when the button "_Save_" is clicked. Otherwise, an error is thrown and the _Change Log_ table should remain empty after clicking on "Reset", **but the invalid action updates the value of the _Cha

[2020-05-25 17:51] racostas commented on #6598
@christinerogers I tested based on https://github.com/aces/Loris/tree/master/docs/wiki/00%20-%20SERVER%20INSTALL%20AND%20CONFIGURATION/01%20-%20LORIS%20Install/CentOS which seems to by the same on https://acesloris.readthedocs.io/en/latest/wiki/00%20-%20SERVER%20INSTALL%20AND%20CONFIGURATION/01%20-%20LORIS%20Install/CentOS/

[2020-05-25 18:06] christinerogers commented on #6598
please test on the 23 branch version...

On Mon, May 25, 2020 at 1:51 PM racostas <notifications@github.com> wrote:

--

christine.rogers@mcgill.ca
McGill Centre for Integrative Neuroscience | MCIN.ca
Montreal Neurological Institute
McGill University | Montreal | Canada

[2020-05-25 18:11] christinerogers commented on #6605
Hi Simon,
The first error happens when you hit save on a blank form, right?  This is
ungraceful error handling, but not a release-blocking bug.

The second error (7) seems like you performed a valid user action and got
an error.  --is this accurate?
If so, could you reframe this issue to prioritize the more serious bug,
and update the title to match -- thanks

Was this issue reported previously?

[2020-05-25 19:31] laemtl opened #6606 "[Login] Reset password - validation does not work"
On the reset password screen, the password validation is not working. The confirm password box can be set to any value without preventing the first password to be saved in the database.

**To reproduce**
Change Password_expiry for a given user in the database for a date in the past
Login with that user
Type a new password in the password field, and either nothing/a different password in the confir

[2020-05-25 20:18] christinerogers commented on #6262
@laemtl thanks for tackling this for the 23 release -- your new issue specifically for 23 should reference this Issue and also PR #6263

[2020-05-25 20:47] laemtl opened #6607 "[Login] Password reset - 403 with some passwords"
On the reset password screen, enter an email address in the password field triggers a 403 error

**To reproduce**
Change Password_expiry for a given user in the database for a date in the past
Login with that user
Type laetitia.fesselier@mail.mcgill.ca in the password field.

[2020-05-25 20:52] laemtl opened #6608 "[Issue Tracker] Missing Low value in Priority filter (for 23)"
In Issue tracker, the priority filter is missing the Low value, preventing to filter issues with Low priority. This a duplicate of #6262, but for the 23.0 release.

Related to #6262
May be fixed with PR #6263

[2020-05-26 01:50] laemtl commented on #6584
I had a one year old chrome version (75.x.x). It is  solved with an update to the most recent one.

[2020-05-26 14:34] johnsaigle commented on #6607
Very weird. Is there more detailed information in the 403 response?

[2020-05-26 14:58] laemtl commented on #6607
[Tue May 26 10:56:09.411272 2020] [php7:notice] [pid 27241] [client ::1:51760] PHP Fatal error:  Uncaught InvalidArgumentException: Password cannot be set to email in /var/www/html/loris/php/libraries/User.class.inc:496

It seems to be caused by an uncaught exception.

[2020-05-26 15:01] johnsaigle commented on #6607
Yeah it looks like validation is not being done properly in the login module, so the User class is reporting that something has gone wrong.

[2020-05-26 15:32] johnsaigle commented on #6421
#6607 reports an issue with passwords that seems very simple to have checked with integration tests. The existence of that ticket supports the value of adding the tests here.

[2020-05-26 15:49] johnsaigle opened #6610 "[DQT] Hide ZIP download button when query contains no data"
Yes, according to @ridz1208, the download button does not produce any effect if the query does not contains files. I think a future improvement to avoid the confusion I had might be to disable/hide the button in such cases.

_Originally posted by @laemtl in https://github.com/aces/Loris/issues/6586#issuecomment-633624639_

[2020-05-26 16:57] pierre-p-s opened #6614 "[issue_tracker] Special characters in description"
**Describe the bug**
Special characters appear as &amp;, etc... after saving (See screenshot below)

![Screen Shot 2020-05-26 at 12 55 13 PM](https://user-images.githubusercontent.com/57676906/82928596-63df4c80-9f50-11ea-8905-2e013e752f1f.png)

[2020-05-26 17:44] johnsaigle commented on #6614
@ridz1208 @driusan It seems that this should be fixed by #6158. Have the changes been pushed from the 22 bugfix release to 23.0?

[2020-05-26 18:06] h-karim opened #6616 "[imaging browser] Adding some scan types renders the module unloadable"
**Additional context**
This fails step 7 of the "main page" section of the test plan.

**Describe the bug**
When adding a tabulated scan type, selecting "t1-defaced" or "t2-defaced" and saving makes the module return an error when trying to load it

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to Admin>Configuration>Imaging Modules
2. Click on the "Add field" button under "Imaging

[2020-05-26 18:28] johnsaigle commented on #6616
I was able to confirm this bug. It seems to be triggered by the change introduced by https://github.com/aces/Loris/pull/6089.

The error is:

[Tue May 26 14:28:07.259500 2020] [php7:error] [pid 12987] [client 192.168.122.1:36364] PHP Fatal error:  Uncaught Exception: Invalid SQL statement: SELECT \n              p.Name as Site,\n              c.PSCID as PSCID,\n              c.CandID as DCCID,\n

[2020-05-26 18:43] johnsaigle commented on #4874
This seems to be resolved on v23.

[2020-05-26 18:43] #4874 closed

[2020-05-26 20:40] h-karim opened #6618 "[imaging browser] data from projects the user is not affiliated is viewable"
**Describe the bug**
When viewing individual sessions, the user is able to alter the value of the`sessionID` GET variable  in the URL to view sessions from projects the user is not affiliated with.
related to #6558
**To Reproduce**
Steps to reproduce the behavior:
1. Grant the user "view all sites Imaging browser browser pages" permission
2. Navigate to the imaging browser front page
3. Click on o

[2020-05-26 20:50] h-karim opened #6619 "[imaging browser] Columns not appearing when adding some scan types"
**Additional context**
This fails step 7 of the "main page" section of the test plan.

**Describe the bug**
When adding a scan type via the Config module, new columns don't appear on the front page of the imaging browser for the particular scan

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin>Configuration>Imaging Modules
2. Next to "Imaging Browser Tabulated Scan Types" add a "fl

[2020-05-26 21:29] christinerogers commented on #6618
Same security concern as #6558

[2020-05-26 21:53] johnsaigle commented on #6558
@ridz1208 Can you comment on whether this is expected behaviour?

My assumption is that a user should only see data corresponding to the intersection of sites and projects. So if I am a user with ONLY access to Site `Montreal` and Project `ProjectA`, then I should see ONLY data associated with `Project A` AND Site `Montreal`.

However, another interpretation is that an "access all sites" permissio

[2020-05-26 21:55] johnsaigle commented on #6619
How does this interact with https://github.com/aces/Loris/issues/6616? Were you able to get the module to load with these new scan types?

[2020-05-26 22:00] h-karim commented on #6619
@johnsaigle Yes, the module loads successfully. The only problem is that a new column is not observed (as per the test plan step) on the front page.

[2020-05-26 22:20] h-karim commented on #6558
@johnsaigle I want to note the reason why I mentioned to grant the user "all sites" permission here is because of #6557 , making it impossible for now to test the scenario where the user is granted "view own site" permission and is affiliated with the correct site but not the individual project. However with the imaging module (#6618), the user can still access data from projects the user is not a

[2020-05-27 13:31] nicolasbrossard opened #6620 "[Imaging Uploader] Got HTTP 500 even though upload was valid"
**Describe the bug**
When uploading a file that already exists, I get an HTTP500 error even though I confirmed that I wanted to overwrite the existing file.

**To Reproduce**
Note that this requires the use of two different user accounts (say A & B):
1. Log in as user A and upload a file that has not already been uploaded. The file should upload successfully and should appear in the result table.

[2020-05-27 14:00] nicolasbrossard opened #6621 "[Imaging Uploader] Scan stays in 'Processing' state forever"
**Describe the bug**
With the auto-launch config setting set to yes, I uploaded a scan, which triggered its immediate processing by the MRI pipeline. Unfortunately, the scan stays in 'Processing' state forever even though I can see in the server processes manager that the pipeline exited with error code 6.

**To Reproduce**
In order to reproduce, the database settings of the LORIS-MRI code found i

[2020-05-27 14:19] johnsaigle commented on #6558
Thanks for clarifying, that's helpful. So Project filtering is basically broken for these two modules.

[2020-05-27 14:20] johnsaigle commented on #6619
So is #6616 not a problem anymore? I'm just wondering how you got around that issue when you've enabled the -defaced scans

[2020-05-27 14:20] christinerogers commented on #6618
Should this be tagged critical for release, or addressed in later updates to the Data Framework implementation across modules?   @ridz1208 @driusan @johnsaigle
* Same issue likely in #6558 for the Electrophys Browser

[2020-05-27 14:34] pierre-p-s commented on #6580
Im "My Preferences" I added the email notifications for the "new category" and "file edited" notification email however I did not receive an email when creating a category or deleting a file.
I do not have access to the error log for this test VM.

[2020-05-27 14:36] johnsaigle commented on #6618
I did a bit of digging and I don't think that this is a problem with the Data Framework per se. Its job is to limit the queries for tables, filtering based on Sites and Projects. It is accomplishing this.

The problem is that the individual sessions (in both modules) are not aware of Project permissions: they can be navigated to directly.

Permissions themselves aren't centrally managed. Instead,

[2020-05-27 14:38] johnsaigle commented on #6580
Would you mind trying to replicate this on your own VM? It's possible that the email isn't properly configured on the test VM.

[2020-05-27 14:42] johnsaigle commented on #6621
What does error code 6 mean?

[2020-05-27 14:42] christinerogers commented on #6618
Right -- in both of these modules the main page but not the subpage is appropriately checking project permissions.
 I'll check for other modules whose subpages might be similarly under-updated.

[2020-05-27 14:42] johnsaigle commented on #6620
Were there any more details about the 500 error in the response or in the error log? It's possible that the exception message contains more information.

[2020-05-27 14:44] nicolasbrossard commented on #6621
MRI pipeline error code indicating that it was called with invalid arguments.

[2020-05-27 14:45] nicolasbrossard commented on #6620
Nope, just an HTTP 500 error.

[2020-05-27 14:51] johnsaigle commented on #6620
Even in the back-end? There's usually a message in the error log if PHP crashes

[2020-05-27 14:52] ridz1208 commented on #6564
@kongtiaowang can you make sure the paths are valid ?

[2020-05-27 14:57] nicolasbrossard commented on #6620
In PHP's error log you see that there was an uncaught exception that occurred:

[code]

[2020-05-27 14:57] h-karim commented on #6619
#6616 occurs specifically for the values "t1-defaced" and "t2-defaced", it's still a problem.

On this issue, I haven't added "t1-defaced" and "t2-defaced", just "-defaced" (it's a separate value in the selection menu. "-defaced" (along with the rest of the values mentioned in this issue) doesn't cause a loading issue, it just doesn't display an expected column for it in the front page table. For

[2020-05-27 15:00] laemtl opened #6622 "[RTD] Page broken on 404 errors"
On the ReadTheDocs documentation, the 404 page is broken:
[example](https://acesloris.readthedocs.io/en/latest/fsdf)

[2020-05-27 15:01] ridz1208 commented on #6578
closed for duplication

[2020-05-27 15:01] #6578 closed

[2020-05-27 15:02] ridz1208 commented on #6580
@kongtiaowang can you make sure it's not a test VM environment issue ? and investigate further

[2020-05-27 15:04] laemtl commented on #6564
This bug seems to be specific to the test VM.

[2020-05-27 15:05] pierre-p-s commented on #6580
Also I forgot to mention, I was getting emails when a document was created or deleted.

[2020-05-27 15:13] ridz1208 commented on #6586
closing this issue in favour of #6610

[2020-05-27 15:13] #6586 closed

[2020-05-27 15:23] johnsaigle commented on #6619
Ah OK I didn't know that `-defaced` was its own thing. Thanks for clarifying.

[2020-05-27 15:25] christinerogers commented on #6557
@AlexandraLivadas and @h-karim  - Can you guys look into this together, when you have time later today or tomorrow ?
You can decide which of you should issue the PR to 23, given Alex is also assigned to #6558 on this module.

[2020-05-27 15:25] johnsaigle commented on #6620
OK so based on that message it looks like there's a problem in the SQL query.

Would you mind including the exact values you used to get this error? It'll help with reproducing and fixing the SQL command.

[2020-05-27 15:31] christinerogers commented on #6582
re-assigning to Alex since she's already deep in Surveys @ridz1208

[2020-05-27 15:36] nicolasbrossard commented on #6620
The problem lies with this query
[code]

in `imaging_uploader.class.inc`. It will blow up if there is more than one file with the same base name as the file we are uploading, which is what will happen: an exception will be thrown by `pselectOne` since it found more than one match.

[2020-05-27 15:47] HenriRabalais commented on #6532
#6541 partly addresses this issue - although it now includes other changes that still need to be discussed.

[2020-05-27 16:01] ridz1208 commented on #6580
@kongtiaowang so I don't think its a configuration issue with the mail server. can you try to find if any errors were generated ?

[2020-05-27 17:04] spell00 commented on #6605
The first error seems to be related to #5735, but it was never resolved

[2020-05-27 17:20] spell00 commented on #6605
The second error (7) is an invalid user action, which results in being redirected to an error page. This is the same thing as the first error, an ungraceful error handling. The problem is, despite the action being invalid, the new Certification Status appears in the Change Log but it should not. Both Certification Status need to be change from _N/A_ to another status (Not Certified, In Training or

[2020-05-27 17:35] kongtiaowang commented on #6564
It has been fixed on testing VM.

[2020-05-27 17:35] #6564 closed

[2020-05-27 18:56] johnsaigle opened #6623 "[ReadTheDocs] Bulleted lists in install documentation do not render properly"
Spaces should be added between these lines so that they render in a pretty way.

---
**Screenshots:**

<img width="731" alt="Screen Shot 2020-05-27 at 14 55 20" src="https://user-images.githubusercontent.com/4022790/83060922-323ab400-a02a-11ea-8a49-487727e38b43.png">
<img width="744" alt="Screen Shot 2020-05-27 at 14 55 11" src="https://user-images.githubusercontent.com/4022790/83060926-336be100-a

[2020-05-27 19:08] johnsaigle opened #6625 "[BaseRouter] Remove magic numbers from regular expressions"
**Describe the solution you'd like**
Once upon a time we had no CandID class and every single place in LORIS had to manually check that they were in fact receiving a 6 digit integer/string between 10000 and 999999. Luckily those dark days are gone.

However, trace remains of this bygone age can be detected by the keen student of history who takes the time to study the codebase.

One such example i

[2020-05-27 19:11] johnsaigle opened #6626 "[Core] Make CandID length configurable by projects"
**Describe the solution you'd like**
CandIDs are hard-coded to be exactly 6 digit integers between 10000 and 999999.

There should be a configuration option that allows a project to specify a greater size if they wish.

**Additional context**
This issue arose for the UK Biobank project which imports existing IDs from an external dataset. These IDs are 7 digits in length and therefore incompatible

[2020-05-27 19:14] johnsaigle commented on #4368
This will probably be resolved by #6076

[2020-05-27 19:16] johnsaigle commented on #4211
Hey @AlexandraLivadas this might be good thing to look into after the release if it's of interest to you

[2020-05-27 19:18] johnsaigle opened #6627 "Stale bot broken"
**Describe the bug**
Stale bot doesn't seem to be adding or removing labels anymore.

@driusan @ridz1208 was this disabled manually?

If not it might be the result of the access changes made recently. This should be investigated so that we can make use of it again.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to an Issue or PR labelled Stale
2. Intera

[2020-05-27 19:22] #6220 closed

[2020-05-27 19:23] AlexandraLivadas commented on #4211
Thanks @johnsaigle, this is definitely something I'll look into!

[2020-05-27 19:25] johnsaigle commented on #5297
I think this was more or less implemented in the linked PRs.

[2020-05-27 19:25] #5297 closed

[2020-05-27 19:31] johnsaigle commented on #5114
This can probably be solved using a change similar to #6330. Because this is (hopefully) a one-line HTML fix, I'm adding Beginner Friendly.

[2020-05-27 19:38] christinerogers opened #6628 "[install] Improve BasePath handling of trailing slash"
We should probably add a GitHub Issue for this. It seems like a bit of a silly bug that we should fix.

_Originally posted by @johnsaigle in https://github.com/aces/Loris/pull/6511/files_

[2020-05-27 19:39] johnsaigle commented on #6628
This and related "does this path have a forward slash at the end?" type issues can be more easily resolved if #6035 gets merged.

[2020-05-27 19:41] johnsaigle commented on #4921
This may be a good thing to cover in #6110

[2020-05-27 19:43] johnsaigle commented on #4865
@laemtl You have a working DQT right? Would you be able to verify whether this is still an issue?

[2020-05-27 19:44] johnsaigle commented on #4824
@PapillonMcGill @racostas Was this an issue during CentOS testing for the 23.0 release?

[2020-05-27 19:47] johnsaigle commented on #4558
The crashing should be resolved by #6076 but I have not actually done the verification I said I would earlier... I hope to get to it after the release.

[2020-05-27 19:50] johnsaigle commented on #6579
@pierre-p-s if satisfied would you mind closing the issue?

[2020-05-27 19:51] johnsaigle commented on #6569
It seems like it wants different values in the filename to split on underscores which could cause problems if Visit Labels contain underscores.

[2020-05-27 19:53] #6579 closed

[2020-05-27 19:58] laemtl commented on #4865
Yes sure!

[2020-05-27 20:00] johnsaigle commented on #6548
Summarizing the meeting from memory:

Essentially, having a mailing list be a primary avenue of support allows for greater community management.

* We can reach and be reached by people without GitHub accounts
* Mailing list contents can be analyzed for common troubleshooting issues
* Generally good response time

On the other hand, GitHub Issues has the following advantages:

* Integrates code, r

[2020-05-27 20:00] johnsaigle commented on #4865
Awesome, thank you

[2020-05-27 20:01] laemtl commented on #4865
Works fine on Chrome and Firefox.

[2020-05-27 20:07] johnsaigle commented on #4865
@ridz1208 What do you think? Can this be closed?

[2020-05-27 20:13] johnsaigle opened #6629 "Create script to gather anonymized usage data (on an opt-in basis)"
There could be a lot of value in creating a script that runs periodically that gathers data about a LORIS instance.

Data could include:
* Anything already covered by the Project Statistics script (#5989)
* LORIS version
* Number of overrides
* ...

We have the ability to send emails from LORIS to a centralized location where this could be managed.

[2020-05-27 20:43] h-karim commented on #6619
I think I got it.
https://github.com/aces/Loris/blob/a5304c762454fa8241ce0699af94b2da15f8879d/modules/imaging_browser/php/imagingbrowserrowprovisioner.class.inc#L42-L46
According to the comment on line 45,  `\Utility::getScanTypeList()` was used to get all the different scan types, however in reality, that function was only getting an intersection of all the scan types with some files, which exclu

[2020-05-27 20:51] HenriRabalais opened #6630 "[bvl_feedback] Behaviour Feedback module does not describe or test widgets"
The bvl_feedback module registers widgets to the dashboard, but the README does not describe them and the test plan does not test them.

Related to #6467

[2020-05-27 20:52] HenriRabalais opened #6631 "[document_repo] Document Repo module does not describe or test widgets"
The Document Repo module registers widgets to the dashboard, but the README does not describe them and the test plan does not test them.

Related to #6467

[2020-05-27 20:55] HenriRabalais commented on #6467
Added two new issues relating to adding documentation for the widgets in their respective modules:
#6631
#6630

These issues, along with the ones listed by Rida should cover all modules that have widgets that are used in the dashboard.

For reference, here is the full list of issues still open:
#6438
#6437
#6631
#6630

[2020-05-27 21:11] christinerogers commented on #6619
@h-karim I think the most problematic of these is `dti` and `mrs` -- can you investigate these 2 -- is it the same source problem for these 2?
e.g. just enabling `-defaced` doesn't make sense to me, if I understand you right.

Next step will be i will cecile to weigh in, after you investigate this a little further karim

[2020-05-27 23:20] christinerogers commented on #6566
thanks for reporting this, @ejoh1101

@samirdas @driusan @ridz1208 is this DQT delete-cascade feature something @maltheism might integrate into the next DQT updates / Roadmap ?

[2020-05-27 23:40] christinerogers commented on #6548
@johnsaigleLove the idea of a script to analyze bug reports -- an example of one that goes several days unnoticed in our Issues is #6566
I mostly agree on your notes about how the discussion unfolded, thanks for your efforts here.
The decision to continue with the status quo means directing _installation_ support questions to the mailing list, which means resolving this ticket (not just shelving o

[2020-05-28 13:35] ridz1208 commented on #6626
@johnsaigle is there more than 999999 candidates or is it just for compatibility ?

[2020-05-28 13:36] ridz1208 commented on #6627
@johnsaigle thanks fort he info. I'll add it to the list

[2020-05-28 14:30] christinerogers commented on #6608
This bug duplicates #6262 specifically for the 23 branch.
@laemtl could you add in your Issue description and title `for 23`, for clarity ? that was the intention here, thanks

[2020-05-28 14:37] christinerogers commented on #6629
Redcap does this via a Config setting where admins opt-in to have their instance send metrics silently and periodically to Redcap central org, as I mentioned in my talk last year.
It's a fairly seamless way to handle the consenting/setup, with informed consent on what is/isn't being shared.

[2020-05-28 19:11] laemtl commented on #6577
@sruthymathew123  @ridz1208 @kongtiaowang
Unable to replicate on my dev instance. Everything works well.
I confirm the problem on the test VM.

[2020-05-28 21:20] spell00 commented on #6570
Both links are not working on the test VM, but it is working using my own VM (_e.g._ 'https://\<your-hostname\>.loris.ca/api/v0.0.3/candidates/587630/V1/dicoms/DCM_2018-04-20_ImagingUpload-13-42-zcoZR0.tar' instead of 'https://test-loris-dev.loris.ca/api/v0.0.3/candidates/587630/V1/dicoms/DCM_2018-04-20_ImagingUpload-13-42-zcoZR0.tar')

[2020-05-29 17:35] h-karim commented on #6616
Something seems wrong with the SQL query when "t1-defaced" or "t2-defaced" is introduced, but it doesn't seem to be related to the change in #6089. Reverting the change done to the query isn't getting rid of the error message.

[2020-05-29 17:44] christinerogers commented on #6616
Ok- what's the query you're executing in your sandbox? @h-karim

[2020-05-29 18:13] h-karim commented on #6616
@christinerogers The query, I'm trying to execute is: https://github.com/aces/Loris/blob/a5304c762454fa8241ce0699af94b2da15f8879d/modules/imaging_browser/php/imagingbrowserrowprovisioner.class.inc#L177-L212 I've trying executing it without any of the $subqueries and it works fine:
[code]

[2020-05-29 18:46] christinerogers commented on #4172
This issue is being worked on presently by our GSOC2020 team (led by) @AlexandraLivadas , @h-karim and @spell00 also with @laemtl <br>
This issue will be resolved by a combination of the following PRs: <br>
a. for the Loris 23 release:
* #6510 - install markdowns updated for dev and prod
* #6511 - installation Troubleshooting guide

b. later in summer 2020:
* future PR to flesh out `99_developer_g

[2020-05-29 20:03] ridz1208 commented on #6570
@kongtiaowang is it possible that it is caused by some sort of file permissions on the testing VM ? can you check ?

[2020-05-29 20:04] ridz1208 commented on #6571
@spell00 any progress on this one ?

[2020-05-29 20:04] ridz1208 commented on #6572
@spell00 any progress on this one ?

[2020-05-29 20:05] ridz1208 commented on #6438
@maltheism any progress on this one ?

[2020-05-29 20:10] ridz1208 commented on #6605
@racostas any progress on this one ?

[2020-05-29 20:12] ridz1208 commented on #6621
@jesscall @nicolasbrossard

you guys can decide who can tackle this one based on all other issues assigned to you

[2020-05-29 20:31] spell00 commented on #6572
similarly to #6570 and #6571, I can replicate the issue on the testing VM, but not my personal dev VM

[2020-05-29 20:38] spell00 commented on #6571
similarly to #6570 and #6572, I can replicate the issue on the testing VM, but not my personal dev VM

[2020-05-29 22:27] kongtiaowang commented on #6570
I restarted apache service. I tested it on Chrome with Incognito window. It works for me.

[2020-05-29 23:04] kongtiaowang commented on #6572
[Fri May 29 19:03:22.146493 2020] [php7:error] [pid 8194] [client 192.168.122.1:54994] PHP Fatal error:  Uncaught TypeError: basename() expects parameter 1 to be string, null given in /var/www/Loris/modules/api/php/models/projectimagesrow.class.inc:79\nStack trace:\n#0 /var/www/Loris/modules/api/php/models/projectimagesrow.class.inc(79): basename(NULL)\n#1 /var/www/Loris/src/Data/Table.php(84): LO

[2020-06-01 11:30] ridz1208 commented on #6591
@h-karim this is indeed an issue but I think the best course of action for this module is simply to data frameworkify it and since that's too major of. a change for this release I would simply release 23 with an asterisk on this module saying site and project filters do not apply .

We could discuss it at the loris meeting if need be. @driusan might have some thoughts too

[2020-06-01 12:15] driusan commented on #6591
@ridz1208 That sounds reasonable to me.. I'm surprised it's not already data frameworkified, but you're right, it's not, so that would probably be best.

[2020-06-01 12:19] driusan commented on #6570
@zaliqarosli can you confirm?

[2020-06-01 13:15] driusan commented on #6627
It was disabled

[2020-06-01 13:15] #6627 closed

[2020-06-01 13:36] driusan commented on #6622
Is this a bug with us or with RTD itself?

[2020-06-01 13:56] johnsaigle commented on #6627
Will it be re-enabled?

[2020-06-01 14:08] #5481 closed

[2020-06-01 14:10] #6546 closed

[2020-06-01 14:11] laemtl commented on #6622
It's something we can fix on our side. I'm not sure on the cause yet.

[2020-06-01 14:12] #6559 closed

[2020-06-01 14:18] #6606 closed

[2020-06-01 14:35] h-karim commented on #6619
Following [this comment](https://github.com/aces/Loris/pull/6634#issuecomment-636200304), it seems the issue is with the selection menu displaying unnecessary scan types, rather than the columns not appearing in the module's table. As such, This is a non issue.

[2020-06-01 14:35] #6619 closed

[2020-06-01 14:44] johnsaigle opened #6648 "Refactor codebase to better handle dangerous HTML"
# Goal

LORIS should be safe from [XSS attacks](https://en.wikipedia.org/wiki/Cross-site_scripting). This is a very big topic, but to oversimplify, this means that the codebase should be able to handle cases where a user tries to manipulate LORIS webpages by submitting HTML into input fields (including but not limited to URL params, form fields, cookies and the API).

# Background

Developers are

[2020-06-01 14:46] johnsaigle commented on #6626
Compatibility. The IDs come in as example `4356001` and it's a read-only dataset.

[2020-06-01 14:47] driusan commented on #6626
Then those aren't LORIS CandIDs, those are other types of identifiers.

[2020-06-01 14:51] johnsaigle commented on #6626
I copied this issue from an email with @xlecours and @samirdas. Samir asked that we implement this feature so I volunteered to create an issue, so I'm just the messenger in this case. I do think it's a good idea for this to be flexible though. For most projects they can use the default 6 but as we move into have open datasets, e.g. in PREVENT-AD and UK Biobank, I'm sure this will come up again.

[2020-06-01 15:08] johnsaigle commented on #6548
Resolving and closing are kind of the same thing on GitHub. I'm not really sure what you mean here.

[2020-06-01 15:11] johnsaigle commented on #6558
Fair enough. It's probably more accurate right now to say we have "Project filtering" rather than "Project permissions" in general.

[2020-06-01 15:50] zaliqarosli commented on #6570
downloads work!

[2020-06-01 16:17] johnsaigle commented on #6574
@nicolasbrossard I'll take this one

[2020-06-01 16:25] nicolasbrossard commented on #6574
@johnsaigle Thanks John.

[2020-06-01 16:31] #6570 closed

[2020-06-01 16:36] ridz1208 commented on #6626
@johnsaigle I would say it's optional if # of candidates < 999999 and mandatory otherwise...

So in this case it seems like that number can be either a linked external identifier or even PSCID if the project decides so... I dont think the CandID should be "imported" from another system

[2020-06-01 16:42] johnsaigle commented on #6626
I see your point that it could be just a PSCID or ExternalID generally. I didn't do the overrides but maybe Xavier could comment on why the IDs were used as CandIDs

[2020-06-01 16:45] #6438 closed

[2020-06-01 17:04] johnsaigle opened #6651 "showDatabaseQueries does not always display all queries"
**Describe the bug**

The flag `showDatabaseQueries` can be enabled in `project/config.xml` and is used by developers to print all MySQL queries to the front-end for use in debugging.

In some situations requiring numerous or very long queries, not all of the queries will be displayed. This reduces its effectiveness as a development tool.

[2020-06-01 17:58] #6262 closed

[2020-06-01 17:58] #6608 closed

[2020-06-01 18:05] #6528 closed

[2020-06-01 18:20] #6603 closed

[2020-06-01 19:01] jesscall commented on #6569
I'm not entirely sure how i should implement this fix...
@johnsaigle @nicolasbrossard @cmadjar any suggestions ?

[2020-06-01 19:28] #6584 closed

[2020-06-01 19:28] h-karim opened #6652 "[Imaging browser] 'Human' value being displayed under QC status"
**Describe the bug**
scan QC Status displaying "Human" underneath it instead of "Pass", "Fail" or empty:

![screenshot](https://camo.githubusercontent.com/b0c56ba39a8a27e4399ac8f24e13396ea282e740/68747470733a2f2f692e696d6775722e636f6d2f7a4175314c6c632e706e67)

**To Reproduce**

1. Make sure you have more than scan 2 columns added to the table (can be done via Admin>config>imaging modules>tabulated

[2020-06-01 19:30] xlecours commented on #6626
I think it was because we wanted to avoid the semi-random-colision-free candid generation that would have taken a lot of time to find a suitable CandId for the last participants. We decided to take a "know" value; the UKB id.

[2020-06-01 19:32] johnsaigle commented on #6569
@jesscall If you modify these lines you could issue a quick bug fix

https://github.com/aces/Loris/blob/1f98c1596872adc965d1977f1a2cd23210451363/modules/imaging_uploader/jsx/UploadForm.js#L55-L59

If you remove the second argument to `.split()` on line 56, you should get an array with 4 elements in this case. After assigning CandID and PSCID, you could take any elements at index 2 or higher and gl

[2020-06-01 20:06] driusan commented on #6626
If there's less than a million but close to a million you can use avoid collisions by using an incrementing number and randomizing the order in your importer. It would be much less work than trying to change the behaviour of CandIDs in LORIS, which is used as a foreign key all over the place.

[2020-06-01 20:20] #6585 closed

[2020-06-02 00:49] laemtl opened #6655 "[User Accounts] Typo in permission name user_accounts_multisite"
In [modules/user_accounts/php/user_accounts.class.inc](https://github.com/aces/Loris/blob/23.0-release/modules/user_accounts/php/user_accounts.class.inc#L49) the function allSitePermissionNames() returns user_account_multisite but the permissions DB table contains an entry called user_accounts_multisite.

Accessing /user_accounts/ with a user with permission `user_accounts` and `user_accounts_mult

[2020-06-02 01:34] laemtl opened #6657 "[User Accounts] user_accounts_multisite does not allow module access"
According the the test plan, the User Accounts page should only load if a user has the `user_accounts` or `user_accounts_multisite` permission.

Currently, a user with `user_accounts_multisite` and without `use_accounts` permission gets a `You do not have access to this page` on User Accounts page. This causes users to see the user approval widget on the dashboard, but the widget link redirects to

[2020-06-02 12:21] #6655 closed

[2020-06-02 13:02] cmadjar commented on #6571
@spell00 Can you retest now that Shen reloaded Apache?

[2020-06-02 14:03] cmadjar commented on #6616
https://github.com/aces/Loris/pull/6654

[2020-06-02 14:24] johnsaigle commented on #6626
That's fair. I didn't realize it was locked to 6 integers in the DB too. That would make this a much more serious change.

[2020-06-02 14:31] h-karim commented on #6616
@cmadjar #6654 doesn't resolve this issue unfortunately.

[2020-06-02 14:34] christinerogers opened #6658 "[DicomArchive] Add project permissions to Subpage"
No Project-based data access controls were added to the Subpage in this module during [Data Frameworkization]()
As a result, a user can enter an url to download and see details on scans they should not have access to.

The [ViewDetails:hasAccess()](https://github.com/aces/Loris/blob/23.0-release/modules/dicom_archive/php/viewdetails.class.inc#L47) needs to be updated similar to these PRs :
* #6639

[2020-06-02 14:48] johnsaigle commented on #6657
This came up in https://github.com/aces/Loris/issues/5951 and will be resolved by https://github.com/aces/Loris/pull/5958.

I can rebase this PR onto 23

[2020-06-02 15:24] #6657 closed

[2020-06-02 15:53] johnsaigle commented on #6626
Discussed in the LORIS meeting today - we're going to have a meeting to sort out ID stuff generally in late June:

* DB foreign keys that need to be UUIDs
* Front-end human-friendly IDs
* The "[Open Science Identity](https://github.com/aces/Loris/issues/6626)" used for linking candidates in a de-identified way (aka: "The hash"/"GUID")
* External IDs from other datasets.

[2020-06-02 15:56] driusan commented on #6651
What are "some situations requiring numerous or very long queries"? What queries are not being displayed? showDatabaseQueries doesn't change behaviour based on the query length.

[2020-06-02 16:00] johnsaigle commented on #6651
This came up after a discussion on Slack with @h-karim. He had a case where he was debugging a module and received a MySQL error in his error log but it did not show up on the front-end.

I've had similar issues but I can't remember an example at this point.

Karim would you be able to add what you tried when `showDatabaseQueries` failed to show you the query you wanted?

[2020-06-02 16:10] christinerogers commented on #6651
The example complexity was this query fyi @driusan :
https://github.com/aces/Loris/issues/6616#issuecomment-636112892

@h-karim can you confirm what ShowDatabaseQueries actually shows for this, e.g.?

[2020-06-02 16:23] h-karim commented on #6651
Yes, so the query that I'm trying to catch is located in https://github.com/aces/Loris/blob/23.0-release/modules/imaging_browser/php/imagingbrowserrowprovisioner.class.inc .

When enabling the `showDatabaseQueries`, the output that I'm getting can be found [here](
https://pastebin.com/h8HnuvMw).

I know that none of these are the query I'm looking for because in the error_log, when the ShowDatabas

[2020-06-02 16:42] ridz1208 commented on #6651
@h-karim you've got your error right there.

SQL does not like `-` in field names. you will need to use dbEscape() function around the field names in the query that represent scan types

[2020-06-02 16:57] spell00 commented on #6571
IT is still not working

[2020-06-02 18:16] christinerogers commented on #6616
As @ridz1208 points out in [this 6551 comment ](https://github.com/aces/Loris/issues/6651#issuecomment-637672637)-- the _hyphen_ in `-defaced` is probably causing the error.

@h-karim can you confirm, do all other fields work in the query, excepting only those with hyphens?  (this will pinpoint the strategy for the solution)

[2020-06-02 18:18] #6582 closed

[2020-06-02 19:00] h-karim commented on #6616
@christinerogers  Yes, all other scan type strings work. What's left is escaping table names with hyphens in them. The challenge is that the scan types are used as building blocks for different strings which are then used as part of the SQL query.

## Possible solutions:

There are php functions that can do this for the whole query:
- `mysqli::mysqli_escape_string`
- `PDO::quote`
however these are

[2020-06-02 19:03] AlexandraLivadas commented on #6571
I was able to replicate this both on the testing VM and my own VM (head at 23.0-release) this afternoon.

[2020-06-02 19:04] AlexandraLivadas commented on #6572
I was able to replicate this both on the testing VM and my own VM (head at 23.0-release) this afternoon.

[2020-06-02 19:05] johnsaigle commented on #6616
@h-karim We have a Database->quote() which is a wrapper around PDO->quote(). You can use `\NDB_Factory::singleton()->database()` to access the current database connection within LORIS and from this object use `quote()` to help build your query. Also see `Database::escape()` -- I'm not sure if it applies here but it may help with e.g. problematic characters in column names.

[2020-06-02 20:37] spell00 commented on #6572
I can replicate it on my own VM too now

[2020-06-02 22:52] ridz1208 commented on #6588
@laemtl After a brief discussion with Leigh we have determined that this is currently the expected behaviour. we can revisit this issue more in depth when we get to the revamp of the DQT.

Thanks for reporting it

[2020-06-02 22:52] #6588 closed

[2020-06-03 14:06] johnsaigle opened #6664 "Standardize front-end permission names"
**Is your feature request related to an existing module?**
User Accounts

**Describe the solution you'd like**
It would be good to have a standard format for the names of permissions in the front-end.

Where possible, it would nice to follow the format of e.g. `$modulename: $privilege`, like `Document Repository: Delete`.

This would make it more clear which permissions match which modules. It wou

[2020-06-03 14:24] johnsaigle commented on #6651
It looks like `showDatabaseQueries` depends on the `_printQuery()` function in the database. This is called before each query in the select, insert, replace, and update functions and prints them correctly.

However when some kind of database exception occurs, this does not get printed in the same way. Exceptions are thrown where they may or may not be handled properly by calling code. They will of

[2020-06-03 14:46] johnsaigle commented on #4450
recaptcha is fixed in #6344 but it doesn't not have automated tests to detect whether or not it's working.

Further work here would be to take the code introduced in that PR and create a new React component so that the code can be encapsulated and re-used.

[2020-06-03 14:48] cmadjar commented on #6571
@spell00 are you sure you could not replicate the issue on your VM? Maybe you were not on the right branch? Can you retest and fix the issue? Thanks!

[2020-06-03 14:51] jesscall commented on #6620
Hi @nicolasbrossard, I just tried replicating the issue and I do not get a 500 error. I was able to successfully overwrite the file without errors

[2020-06-03 15:11] jesscall commented on #6620
<img width="1400" alt="Screen Shot 2020-06-03 at 11 07 49 AM" src="https://user-images.githubusercontent.com/34260251/83654345-f7d19980-a58a-11ea-897f-52253af2137b.png">

<img width="1436" alt="Screen Shot 2020-06-03 at 11 10 42 AM" src="https://user-images.githubusercontent.com/34260251/83654349-fa33f380-a58a-11ea-9a12-60f6d109f84b.png">

[2020-06-04 12:34] #6569 closed

[2020-06-04 12:36] #6595 closed

[2020-06-04 12:48] #6589 closed

[2020-06-04 13:00] #6618 closed

[2020-06-04 13:02] #6587 closed

[2020-06-04 13:08] #6565 closed

[2020-06-04 13:11] #6295 closed

[2020-06-04 13:17] #6373 closed

[2020-06-04 14:18] zaliqarosli opened #6669 "[instrument_builder] Loading existing instrument corrupts Date element"
**Describe the bug**
When loading an existing instrument and resaving the linst into a new file, the Date element's status field is lost and "undefined" is concatenated to the end of the date element line

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to 'Instrument Builder module', Build tab and build an instrument with date elements
2. Click on 'Save'

[2020-06-04 15:22] #6572 closed

[2020-06-05 00:40] spell00 commented on #6571
I solved the problems with my VM, I can replicate it now. I'm on it!

[2020-06-05 14:01] nicolasbrossard commented on #6620
Tired to reproduce but couldn't...Had to be some sort of inconsistent/bad state on the test VM that triggered this. Closing.

[2020-06-05 14:01] #6620 closed

[2020-06-05 15:32] #6616 closed

[2020-06-05 18:15] #6652 closed

[2020-06-05 20:41] spell00 commented on #6571
Actually I have some rectifications. I can replicate all errors on Chrome, but on Firefox `GET /candidates/$CandID/$VisitLabel/recordings/$Filename/events` returns the correct string for CandID
( `{"Meta":{"CandID":"300166","Visit":"V1","File":"sub-OTT166_ses-V1_task-faceO_eeg.edf"},...`
, but the expected error is {"Meta":{"CandID":{},"Visit":"V1","File":"sub-OTT166_ses-V1_task-faceO_eeg.edf"},).

[2020-06-08 14:08] driusan commented on #5146
In testing 23.0 I had the opposite problem: the buttons appeared for a user with no permissions at all. I believe this issue is no longer valid.

[2020-06-08 14:08] #5146 closed

[2020-06-08 14:14] driusan opened #6673 "[timepoint_list] Candidate Info and View Imaging Datasets buttons always appear"
While accessing a same-site candidate as a user with no permissions, the  "Candidate Info" and  "View Imaging Datasets" links always appear. They do not require the permissions required in the test plan (though clicking on them gives a permission denied error, so the modules linked to are properly enforcing permissions.)

(ie "Action Buttons" step 2 and 3 of the test plan fail.)

[2020-06-08 14:18] christinerogers commented on #6571
Ok, good to know.  Does the issue replicate in the same way after clearing caches on Firefox ?
Any ideas from the internet as to why Firefox/Chrome could be handling this differently?

[2020-06-08 14:31] #6614 closed

[2020-06-08 14:44] #6280 closed

[2020-06-08 14:46] #6567 closed

[2020-06-08 14:53] #6415 closed

[2020-06-08 14:53] #6475 closed

[2020-06-08 14:53] #6543 closed

[2020-06-08 15:03] kongtiaowang opened #6675 "[Statistics] Imaging Statistics- user has one project's primission can see all project in the dropdown menu"
**Describe the bug**
One user has one project primissions can see all project in the dropdown menu.
**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Create a new user with one project permisson.
2. Go to 'Statistics'
3. Click on 'Imaging Statistics'
4. Scroll down to 'All Projects'
It will show all the projects.

[2020-06-08 15:38] xlecours opened #6676 "[EEG Browser]"
**Describe the bug**
Missing help file
/var/www/Loris/modules/electrophysiology_browser/help/electrophysiology_browser.md

[2020-06-08 15:49] CamilleBeau opened #6677 "[candidate_parameters] Disable fields without edit permission"
**Describe the bug**
With only `candidate_parameter_view` permission on the candidate information tab, if `Caveat Emptor Flag for Candidate` field is set to `true` before hand, you are still able to interact with the following two fields. These fields should be disabled. You are not able to save, so there is still no risk of updating the information.

**To Reproduce**
Steps to reproduce the behavi

[2020-06-08 16:01] CamilleBeau opened #6678 "[candidate_parameters] Date format does not match dates specified in config"
**Describe the bug**
Altering the _DOB format_ or the _DOD format_ fields in the configuration module do not change how the dates are displayed / stored on the front-end or back-end for this module. The TestPlan for this module specifies that it should :

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. From admin user, modify the values for _DOD format_ and

[2020-06-08 16:13] CamilleBeau opened #6679 "[candidate_parameters] Titles cut off in widget for Candidate Info card"
**Describe the bug**
Fields added in the `parameter_type_category` table for Name='Candidate Parameters' show up on the Candidate Info card in the Candidate Profile page, but those with long titles overlap and are legible.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Modify the `parameter_type_category` table so that "Candidate Parameters" is linked to a

[2020-06-08 16:21] CamilleBeau opened #6680 "[candidate_parameters] Consent card visible in candidate_profile"
**Describe the bug**
The consent card appears in the Candidate Profile page even if `Use Consent` setting is set to no in configuration module, contrary to what is specified by the TestPlan.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. From admin, set `Use Consent` to yes in configuration module
2. Navigate to Candidate Profile page from non-admin accoun

[2020-06-08 16:21] johnsaigle opened #6681 "[Acknowledgements] Change Start and End Date filter behaviour"
**Is your feature request related to an existing module?**
Acknowledgements

**Describe the solution you'd like**
Currently the Start Data and End Date filters work on exact matches. So for example if you enter `2016-01-01` as the Start Date, it will only show entries in the table that were started on exactly that date.

I expected the data filters to work as a range. So entering the same value wo

[2020-06-08 17:15] pierre-p-s opened #6682 "[battery_manager] View permission"
**Describe the bug**
When giving only view permission to a user, an error occurs when they try to access the module.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Create a user account
2. Give it view permission for the battery manager module
3. Access the user account
4. The module should be clickable in tools but when you access it, an error should appe

[2020-06-08 17:19] pierre-p-s opened #6683 "[battery_manager] Edit permission"
**Describe the bug**
The edit permission description on the front end is ambiguous in the permission list in user accounts. ‘Add, activate, and deactivate entries in Test Battery’: this description should be changed (confusing for user support) or test plan should be more precise. Still can’t access the module even with the 2 permissions

**To Reproduce**
Steps to reproduce the behavior (attach sc

[2020-06-08 17:23] pierre-p-s opened #6684 "[battery_manager] Tabs"
**Describe the bug**
Not getting 2 tabs on admin account. I can only see the table. Im guessing the add tab is the new test button on the top right of the table but unsure. If the button replaces the tab, the test plan should be updated

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to the battery manager module, there should not be any tabs

[2020-06-08 17:24] pierre-p-s opened #6685 "[battery_manager] Test plan"
**Describe the bug**
In the test plan, Add tab, 2., sites are a dropdown, this testing instruction does not seem necessary as we cannot type a site not in the DB

[2020-06-08 18:10] driusan commented on #6680
The test plan says consents need to be configured (ie. there are entries in the `consent` table), it doesn't say anything about any "Use Consent" configuration.

[2020-06-08 18:15] CamilleBeau commented on #6680
@driusan my mistake! Closing this issue.

[2020-06-08 18:29] driusan commented on #6680
I don't think this should be closed, we should either update the test plan to be more clear pr either update the code to check the config.

Personally, I don't really see the point of the useConsent option. It can be easily derived from whether any consents are configured. If there are none, then it obviously isn't being used.

[2020-06-08 18:34] driusan commented on #6679
Did you add those for testing? It seems weird that "X magically created by Y" entires are in the category which is for things that are automatically editable by users in the frontend.

[2020-06-08 18:44] spell00 commented on #6571
Thank you @christinerogers, clearing caches solves the problem. It is necessary to clear the cache to see the changes made to the code for both Firefox and Chrome. So in conclusion, Firefox/Chrome did not handle the requests differently

[2020-06-08 19:37] johnsaigle opened #6686 "Help content becomes detached after scrolling"
**Describe the bug**
If you open help content in a module and scroll down, the help content scrolls with you and appears to float or become detached from the top of the screen.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to any module
2. Click on help
3. Scroll down

**What did you expect to happen?**
The help should close - or maybe the menu bar cou

[2020-06-08 20:00] johnsaigle opened #6687 "[User Accounts] User with superuser privilege cannot modify permissions for other users or own account"
**Describe the bug**
Even when a user that is not `admin` has `superuser` permission, they are limited in their ability to modify user accounts.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Using `admin`, create a new user `User1` that has only the permission `superuser`.
2. Login as `User1` and go to `user_accounts`
3. You will see that `User1` is not a

[2020-06-08 20:03] CamilleBeau opened #6688 "[document_repository] No e-mail notifications"
**Describe the bug**
No e-mail notifications are sent when a different user makes changes on `document_repository` after having the notifications enables in `My Preferences`.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to `My Preferences`
2. Enable all of the notifications relevant to document repository (make sure to save)
3. Make another user with

[2020-06-08 20:12] johnsaigle commented on #6575
This is still missing in the latest round of testing.

[2020-06-08 20:19] johnsaigle opened #6689 "[MRI Violations] Navigation issue on "/mri_protocol_violations/" page"
**Describe the bug**
The page `whatever.loris.ca/mri_violations/mri_protocol_violations/` contains two tabs under the menu filter.

The second tab appears as active on this page.

Clicking the first tab takes the user to `whatever.loris.ca/mri_violations/` which removes both tabs.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to `mri_violations/mri_pro

[2020-06-08 20:21] CamilleBeau commented on #6679
@driusan The fields were already in the DB and I reassigned them to Candidate Parameters on my VM for step 5 of the TestPlan.

[2020-06-08 20:31] johnsaigle commented on #6688
Is this a duplicate of #6580?

[2020-06-08 20:32] johnsaigle commented on #6678
Maybe related to #6561

[2020-06-08 20:33] AlexandraLivadas commented on #6596
@laemtl I observed the same issue where you must reload the page for the saved query to appear under `Manage Saved Queries`. However, I did not get a 404 Not Found error when selecting a publicly available saved query.

[2020-06-08 20:34] AlexandraLivadas commented on #6583
@laemtl I observed the same issue when testing today. I think that this behavior makes sense and is therefore intended. But I agree with you that there should be a visual indication that the `Visit` checkbox is disabled until you select a field.

[2020-06-08 21:23] christinerogers commented on #6583
let's file this under Improvements/Cleanup --
cc @maltheism can this nicety be added to the DQT renovation roadmap?

[2020-06-08 21:54] CamilleBeau opened #6690 "[document_repository] No error message for uploading large files"
**Describe the bug**
When uploading a file that exceeds the max upload limit, the page remains stagnant and no error message is displayed after waiting. In this case the file was 1.54 GB.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to `document_repository` -> `upload`
2. Attempt to upload a large file.
3. Wait
4. See that no error message is displaye

[2020-06-08 21:57] CamilleBeau commented on #6688
@johnsaigle Yes, sorry about that! I can close it?

[2020-06-08 22:26] christinerogers commented on #6575
@nicolasbrossard @johnsaigle This issue is a duplicate of #5714

It was previously reported for the 22 release.
@ridz1208 let's just close it for the 23release and resolve #5714 instead. (For 23 or master, up to you, i don't think it's urgent now.)
5714 can also be updated with a note about the Resolved violations page missing text.

[2020-06-08 22:29] christinerogers commented on #6686
Only in Firefox, not Chrome right? @johnsaigle

[2020-06-09 00:27] racostas opened #6691 "[Imaging Browser] project filter ComboBox shows all projects (including the ones the user doesn't have permissions to see)"
**Describe the bug**
This seems to be a minor issue.

The `Project filter ComboBox` shows all projects (including the ones the user doesn't have permissions to see). In the other hand the results for querying projects where the user doesn't have permissions are not been shown in the result table which is a good thing.

**To Reproduce**
1. Go to Imaging -> Imaging Browser
2. Click on the `Project C

[2020-06-09 03:46] racostas opened #6692 "[Imaging Browser / View Session ] unstable behaviour when saving the QC status."
**Describe the bug**
An unstable behaviour was observed when saving the` QC status`. For some of the subjects once the button `Save ` is clicked the server gives an ERROR 500 answer, and for others do work fine.

**To Reproduce**
1. Go to Imaging -> Imaging Browser

2. Take the subject `DCCID = 587630 and Visit Label V1`  click on links -> all types.
3. Changes some values on the QC ComboBoxes and

[2020-06-09 10:45] nicolasbrossard opened #6693 "[Candidate List] Filtering with Sex=Other does not show scanners"
**Describe the bug**
When I search for candidates with Sex=Other, I did not see any results on the test VM.

**To Reproduce**
Access the candidate list module and select 'Other' in the Sex drop-down list.

**What did you expect to happen?**
I expected all scanners to be listed in the search result table

[2020-06-09 10:53] nicolasbrossard opened #6694 "[Candidate List] PSCID link clickable even though I don't have access_all_profiles"
**Describe the bug**
I can click on the PSCID link in the search result table even though I do not have the `access_all_profiles` permission.

**To Reproduce**
Access the candidate list with a user that does not have the `access_all_profiles` permission and click on any PSCID link in the search result table.

**What did you expect to happen?**
The PSCIDs should be labels, not links according to it

[2020-06-09 11:15] nicolasbrossard opened #6695 "[Issue Tracker] Incorrect filter content for 'My Issues' and 'Closed Issues' tabs"
**Describe the bug**
In the issue tracker module, tab 'My Issue', there is an assignee drop-down in the filter section. In the 'Closed Issues' tab, there is a status drop-down in the filter section.

**To Reproduce**
Access the issue tracker module and look at the filter contents for tabs 'My Issues' and 'Closed Issues'.

**What did you expect to happen?**
According to item 4 of the test plan ther

[2020-06-09 12:21] nicolasbrossard opened #6696 "[Issue tracker] I do not need permission issue_tracker_reporter to create new issues"
**Describe the bug**
I have access to the 'New Issue' page even though I do not have permission `issue_tracker_reporter`

**To Reproduce**
Log in as a user that has permission `issue_tracker_developer ` but not `issue_tracker_reporter`. The 'New Issue' button is clickable.

**What did you expect to happen?**
According to item 1 of the 'Create New Issue` section, I should not be able to create a ne

[2020-06-09 13:16] ridz1208 opened #6697 "[module_manager] UI carousel scrollers never disappear regardless of zoom level"
**Describe the bug**
When accessing the module_manager with EDIT permission, regardless of the zoom level, the carousel scrollers (left and right) are always displayed even though the is nothing to scroll sideways... they just make the interface glitchy when the mouse accidentally hovers over them. see screenshots

<img width="1680" alt="Screen Shot 2020-06-09 at 9 11 21 AM" src="https://user-imag

[2020-06-09 13:20] ridz1208 opened #6698 "[module_manager] refresh menu bar after enabling/disabling modules"
The module manager allows for enabling/disabling modules directly from the front end. At the moment, if a module is disabled, it is still displayed in the menu until the next refresh.

A more elegant behaviour would probably be to display a swal "To apply changes the interface must be reloaded. proceed ?" and add a button that refreshes the page. That is the behaviour I see in most softwares.

[2020-06-09 13:36] laemtl opened #6699 "[User Accounts] Password can be the username"
In the Password Rules intro text (/user_accounts/edit_user/):
* The password must be at least 8 characters long.
* The password cannot **be your username** or email address.
* No special characters are required but your password must be sufficiently complex to be accepted.

The password validation does not check for the username case. We should edit the intro text or add a validation rule.

[2020-06-09 13:38] nicolasbrossard opened #6700 "[Issue Tracker] Incorrect behaviour of issue tracker dashboard widget"
**Describe the bug**
I log in as a user that has access to the issue tracker module and that currently has issues assigned to him. On the dashboard, I click on the issue tracker widget in the My Task panel. I am redirected to the issue tracker module, but on the 'All Issues' tab.

**To Reproduce**
See above.

**What did you expect to happen?**
I was expecting to be redirected to the issue tracker

[2020-06-09 13:39] laemtl opened #6701 "[User Accounts] Testplan updates"
I suggest some minor changes to the test plan:
* The pwned password: a1b2c3!! triggers an error of type: The password is not complex enough.
It was changed for AKAX89Wn.
* The Display additional information option label is not accurate.

[2020-06-09 13:51] laemtl commented on #4824
I noticed one issue with sudo and the install script during my manual tests, and some inconsistency in the install README.

[2020-06-09 14:02] laemtl opened #6703 "[CentOS Install] Readme and install script minor modifications"
Overall, the CentOs install works relatively well, except for some problems with permissions:
* sudo is required in the [install.sh tool L118](https://github.com/aces/Loris/blob/23.0-release/tools/install.sh#L118)

Some typo were also found in the install README (loris/docs/config/apache-site instead of loris/docs/config/apache2-site) and additional steps need to be added.

Related to  #4824

[2020-06-09 14:17] johnsaigle commented on #6686
I just tested it and it also happens on Chrome.

[2020-06-09 14:19] johnsaigle commented on #6688
No problem! Yes I think that would be a good idea. Your description is much more detailed though so I think the best move would be to paste what you've written here into a comment on that issue.

[2020-06-09 14:24] #6688 closed

[2020-06-09 14:26] #6571 closed

[2020-06-09 14:26] CamilleBeau commented on #6580
Comment from closed duplicate issue #6688:

**Describe the bug**
No e-mail notifications are sent when a different user makes changes on document_repository after having the notifications enables in My Preferences.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):

1. Go to My Preferences
2. Enable all of the notifications relevant to document repository (make s

[2020-06-09 14:31] johnsaigle commented on #6699
Probably adding a rule is good. We don't want to allow this.

[2020-06-09 14:37] johnsaigle commented on #6690
This sound very similar to https://github.com/aces/Loris/issues/6314. Can you look into that thread and see whether you think the same thing is happening?

[2020-06-09 14:38] johnsaigle commented on #6690
Also was this on the test VM or your own set up?

[2020-06-09 15:36] christinerogers commented on #6575
closing this and putting @nicolasbrossard (who volunteered) on #5714

[2020-06-09 15:36] #6575 closed

[2020-06-09 15:37] johnsaigle commented on #5714
This is still a problem as of the 23.0-release testing.

[2020-06-09 15:51] CamilleBeau commented on #6690
@johnsaigle I tried on both. It does look like the same thing is happening to issue #6314, although I am not getting an error in the console.

[2020-06-09 15:52] johnsaigle commented on #6690
Are you getting any response in the Network tab?

[2020-06-09 17:37] christinerogers commented on #6686
nice catch @johnsaigle

[2020-06-09 18:31] driusan commented on #6678
It's unrelated to that, the config for DoB format was added in #2617

[2020-06-09 18:39] driusan commented on #6680
Decision: add the useConsent check in a bugfix release, but not critical for the release. Look into deprecating  "useConsent" as a whole later.

[2020-06-09 18:45] ridz1208 commented on #6682
@pierre-p-s could you add the error log error on this ticket ?

[2020-06-09 18:49] ridz1208 commented on #6692
@racostas could you do it again while talking to @kongtiaowang  so he can copy the error in this ticket

[2020-06-09 18:50] driusan commented on #6692
This might be critical for the release depending on if it turns out to be a raisinbread/test VM issue or if it's a general problem with the code.

[2020-06-09 18:52] driusan commented on #6693
Does the candidate list module show scanners at all?

[2020-06-09 18:53] ridz1208 commented on #6694
@nicolasbrossard test plan should be updated

[2020-06-09 18:53] cmadjar commented on #6694
Test plan should be updated as this is the intended behaviour.

[2020-06-09 19:04] #6701 closed

[2020-06-09 19:05] nicolasbrossard commented on #6693
Yeah, it does. There's even an 'Entity Type' (Human, Scanner) drop-down in the filter.

[2020-06-09 19:07] #6675 closed

[2020-06-09 19:09] #6437 closed

[2020-06-09 19:16] laemtl opened #6707 "[Statistics] Undefined column in General Demographic Statistics"
![Screenshot from 2020-06-09 15-15-58](https://user-images.githubusercontent.com/32041423/84189990-299fa000-aa64-11ea-867f-e791fe61636b.png)

[2020-06-09 19:21] laemtl opened #6708 "[Statistics] Error 500 on project filtering (Behaviour)"
* To reproduce *
* Go to the behavioural Statistics tab
* Select a project and Click Submit Query
* Notice the error 500 in the inspector  Network panel

[2020-06-09 19:25] pierre-p-s commented on #6682
![Screen Shot 2020-06-08 at 12 41 51 PM](https://user-images.githubusercontent.com/57676906/84190736-6750f880-aa65-11ea-924c-d1f32f60a2dc.png)

[2020-06-09 19:41] christinerogers opened #6709 "[docs] Update main Readme for new Install markdowns"
Since #6510 has just been merged for 23 --

Update the 23 Readme to:
* point to the new install guide markdowns for the first steps of the process (it currently points to the wiki)
* last review/update anything else for this release

[2020-06-09 19:46] jesscall commented on #6678
@CamilleBeau The display on front-end isn't supposed to change or anything.

Expected behaviour when DOB / DOD format is 'Ym'
- If user enters `2020-05-24`, what is actually saved is `2020-05-01`. The day of the month gets set to `01`.

[2020-06-09 19:59] racostas commented on #6708
Hi @laemtl  I think to remember I addressed this one. Please if you could take a look to #6649

[2020-06-09 20:07] racostas commented on #6708
Hi @laemtl, It seems #6649 wasn't tested or merged so far. I you could please do the review I will be very glad. Thanks!

[2020-06-09 20:08] CamilleBeau commented on #6678
@jesscall Retested. After saving the configuration settings to Ym format for DoB and DoD, the date format remained the same after refreshing and navigating away in the candidate parameter page, as well as in a query to the database.

These examples show DoB but the same was true for DoD.

![image](https://user-images.githubusercontent.com/51176779/84194567-34116800-aa6b-11ea-893e-ad4ef4514311.png)

[2020-06-09 20:09] ridz1208 commented on #6682
@HenriRabalais when you have a minute can you check it out ?

[2020-06-09 20:12] laemtl commented on #6708
@racostas Sure!

[2020-06-09 20:34] laemtl commented on #6707
Closing as this seems to be the expected behaviour.

[2020-06-09 20:34] #6707 closed

[2020-06-09 20:40] kongtiaowang commented on #6692
It has been fixed by https://github.com/aces/Loris/pull/6520. This PR got merged yesterday. I run the new patch, it solved the issue.

[2020-06-09 20:40] #6692 closed

[2020-06-09 20:44] #6136 closed

[2020-06-09 20:44] christinerogers commented on #6707
lol literally `Undefined`

[2020-06-09 20:57] jesscall commented on #6678
@CamilleBeau querying DB? are you using raisinbread or the CCNA project? if CCNA: likely candidate_parameters override on CCNA is interfering and accounts for the unexpected behaviour. I quickly checked on the test vm and functionality seems to be as expected. Maybe you can confirm?

[2020-06-09 21:01] jesscall commented on #6678
also side note: the date format from your image `Ym` indicates using month names (Jan, Feb, etc). `YM` would be numeric month format.

Not sure if that's the reason for discrepancy in behaviour

[2020-06-09 21:45] ridz1208 commented on #6678
Removing critical to release as this has always been the case.

[2020-06-10 14:52] laemtl opened #6716 "[Statistics] Demographics - Undefined offset/index in the logs"
Over 1500 lines of logs are created each time we navigate on Statistics > Demographics.
The page still works fine, the errors are Notices on Undefined offset/index, but it can be nice to clean that section and solve theses issues.

[2020-06-11 11:56] #6716 closed

[2020-06-11 13:42] #6698 closed

[2020-06-11 15:25] #6577 closed

[2020-06-11 15:42] HenriRabalais commented on #6700
#6541 should address this issue. However, because it introduces a larger design concept of `Filter Presets`, perhaps it should be broken up so that this issue can be addressed right away.

[2020-06-11 16:43] #6699 closed

[2020-06-11 17:21] laemtl commented on #6256
Solved in #6546

[2020-06-11 17:21] #6256 closed

[2020-06-11 17:27] laemtl commented on #6254
Resolved in #6192

[2020-06-11 17:27] #6254 closed

[2020-06-11 18:36] #6631 closed

[2020-06-11 18:39] christinerogers opened #6722 "[docs] Update Readme specs and re-test Install on PHP 7.4"
This should be using PHP 7.4, not 7.3. 7.3 is end of life in 5 months.

_Originally posted by @driusan in https://github.com/aces/Loris/pull/6704_

This update should apply across the board to the 23 release - docs and probably also install testing.

[2020-06-11 18:49] #6630 closed

[2020-06-11 18:57] #6574 closed

[2020-06-11 19:00] driusan opened #6723 "[MRI Violations] violated_scans_edit permission should be removed"
The default schema includes the permission:

    (20,'violated_scans_edit','Violated Scans: Edit MRI protocol table','2'),

This appears to have only one reference in `resolved_violations.class.inc`

[code]

However, the `violated_scans_modifications` template variable is not referenced in any template. The code and permission can be removed.

[2020-06-11 19:03] #6686 closed

[2020-06-12 12:36] #6597 closed

[2020-06-12 12:42] #5920 closed

[2020-06-12 12:43] #6709 closed

[2020-06-12 13:07] #6703 closed

[2020-06-12 13:07] #6722 closed

[2020-06-12 13:58] #6607 closed

[2020-06-12 15:24] #6605 closed

[2020-06-12 15:33] #6590 closed

[2020-06-12 18:09] christinerogers commented on #5714
@nicolasbrossard have you had any time start looking into this?  If not, we could possibly re-assign for Monday.

[2020-06-12 19:00] nicolasbrossard commented on #5714
@christinerogers Unfortunately no...Q1K is keeping me busy these days...

[2020-06-12 20:10] driusan commented on #6700
Seems to be a duplicate of  #6695, just accessed from a different link.

[2020-06-12 23:38] ejoh1101 opened #6726 "22.0_To_23.0_upgrade.sql attempts to insert into modules table before creating the table"
**Describe the bug**
Upgrade script attempts to insert row into `modules` table before creating table. Attempted insert is at line 72, table creation is at line 308.

**To Reproduce**
Upgrade mySQL database from v22 to v23 using SQL/Release_patches/22.0_To_23.0_upgrade.sql

[2020-06-15 13:53] driusan commented on #6726
Hi @ejoh1101, can you verify if #6728 fixes this?

[2020-06-15 16:11] HenriRabalais commented on #6700
@driusan I'm not sure if it's exactly the same issue. The issue you linked #6695 seems to have to do with documentation while this issue has more to do with the needing to pass filter parameters via the url link in the widget to load the module with the proper filter values.

[2020-06-15 16:11] HenriRabalais commented on #6695
PR #6636 appears to be merged!

[2020-06-15 16:16] laemtl commented on #6693
@nicolasbrossard No scanner has data for sex, so I wonder if the observed behavior was expected. Selecting Sex=other displays correctly the Human Entity Type.

[2020-06-15 16:50] driusan commented on #6700
My interpretation was that both issues are basically "the tab in the URL isn't loading properly".. @nicolasbrossard, thoughts? If I'm misinterpreting and you think they're really 2 distinct issues feel free to re-open.

[2020-06-15 17:07] #6694 closed

[2020-06-15 17:21] johnsaigle commented on #6690
Thanks for the screenshot. it looks like the upload is just hanging

[2020-06-15 17:26] laemtl commented on #6695
@HenriRabalais is right, #6636 has been merged since my reply.

[2020-06-15 17:46] driusan commented on #6695
Can this be closed, then?

[2020-06-15 17:47] #6695 closed

[2020-06-15 17:51] #5108 closed

[2020-06-15 18:20] nicolasbrossard commented on #6700
I do not think this is a duplicate of #6695. The filter parameters are actually set properly, it is just that the wrong tab is being shown (`All Issues` instead of `My Issues`).

[2020-06-15 18:27] johnsaigle opened #6734 "Phan issue on main branch: PhanTypeInstantiateAbstract Instantiation of abstract class \Module"
This may only occur with newer versions of phan.

On my VM when I check out `aces/master` and run `make checkstatic` there is a phan issue.

[2020-06-15 19:12] HenriRabalais commented on #6682
@ridz1208 should I be addressing this?

[2020-06-15 19:14] nicolasbrossard commented on #6693
@laemtl Right. It just seems weird to me that if you unite the result set you get when you select `Sex=M`, `Sex=F` and `Sex=O` you do not get the same result that you would get if you did not specify any criteria, since the scanners are listed in that case. But maybe that's not a big deal...I do not know what to do with this...

[2020-06-15 19:40] ejoh1101 commented on #6726
I can confirm that #6728 fixed the issue. It ran without any errors.

[2020-06-15 20:17] laemtl commented on #6693
@driusan @christinerogers Do you have inputs on this?

[2020-06-15 20:30] johnsaigle opened #6736 "RTD Build errors"
Traceback (most recent call last):
  File "/home/docs/.pyenv/versions/3.7.3/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/home/docs/.pyenv/versions/3.7.3/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/home/docs/checkouts/readthedocs.org/user_builds/acesloris/envs/latest/lib/python3.7/site-packages/mkdocs/__main__.p

[2020-06-15 20:48] ridz1208 commented on #6682
@HenriRabalais it doesnt have anyone assigned. if you have time why not

[2020-06-15 20:54] johnsaigle opened #6737 "Duplicated documentation"
There are two folders in `docs/wiki/` since the release: `99_Developers/` and `99 - Developers/`. They probably have mostly similar contents but there is likely synchronization issues because of the decision to change these directories during the release process.

[2020-06-16 12:58] #5056 closed

[2020-06-16 15:25] #6420 closed

[2020-06-16 17:31] driusan opened #6739 "Data Framework should use jsonSerializeable interface, not toJSON"
The interfaces in the `\LORIS\Data` namespace that need to be serialized as JSON should be using the standard php jsonSerializeable interface, not a custom interface with a toJSON function. This would allow us to directly pass objects to json_encode and generally be more interoperable with PHP and potentially efficient.

[2020-06-16 18:32] christinerogers commented on #5687
the next few month could be a good time to really look into these issues and discuss with dave what should be done @laemtl

[2020-06-16 18:49] laemtl commented on #5687
As I said above, I wrote a script which automate the creation of issues. based on keyword found in the codebase. The downside is that more than hundreds of issues will be created.

[2020-06-16 22:55] christinerogers commented on #5687
Right, and it was agreed that a huge influx of these issues wasn't desirable.  So let's find a way to triage this into manageable parts.
One place to start is by really looking into a few of these issues and discussing with Dave what should be done on a few examples, and then extrapolating from there to triage these comments by what should be prioritized for Issue/code cleanup.
For example, maybe

[2020-06-17 12:50] #6481 closed

[2020-06-17 13:35] #5873 closed

[2020-06-17 13:37] #5342 closed

[2020-06-17 14:18] johnsaigle opened #6740 "'log' config setting should be changed to be a web_path in SQL"
We should probably also modify the Log config setting in the SQL table to be a `web_path` since that will allow the Configuration module to validate this when changed on the front-end.

_Originally posted by @johnsaigle in https://github.com/aces/Loris/pull/5968/review_comment/create_

[2020-06-17 15:23] johnsaigle opened #6741 "Integrate LORIS and CBRAIN user acount registration"
**Is your feature request related to an existing module?**
Login (request account)

**Describe the solution you'd like**
It would be useful to create some kind of linking of user accounts between LORIS and CBRAIN.

**Additional context**
This came up in the contest of the UK Biobank where users must register to both systems manually. As this system scales it will become more difficult to automatic

[2020-06-17 15:54] laemtl opened #6742 "[Statistics] Review _hasAccess site permission"
master branch
Review the suggested change and remove the below comments.
modules/statistics/php/statistics_dd_site.class.inc:_hasAccess()

TODO:
There are no means of set permissions per site for a given user right now: (e.g.)
The user X can have the permission data_entry on site Y but not on site Z.
Currently, hasCenterPermission() function checks if the user has a given center AND given permissi

[2020-06-17 16:20] laemtl opened #6743 "[Statistics] Review study statistics _checkCriteria() permission"
**master branch**
Review the suggested change and remove the below TODO/FIXME comments.
modules/statistics/php/statistics_dd_site.class.inc:_checkCriteria()

[code]

[2020-06-17 17:07] laemtl commented on #5687
@christinerogers Good idea. Targetting TODO for the Core output 16 results:

./tools/exporters/dataExtractor.php:        // TODO This should likely be refactored at some point.
./tools/detect_duplicated_commentids.php: * TODO:
./test/unittests/NDB_PageTest.php:     * TODO: Update this test once addCheckbox method is fixed.
./test/unittests/BreadcrumbTrailTest.php:     * TODO: Add potential edge ca

[2020-06-17 22:08] CamilleBeau opened #6746 "Mistaken field created in _nullStatus function of NDB_BVL_Instrument"
**Describe the bug**
The function _nullStatus in NDB_BVL_Instrument class checks for fields ending with _status having set values, and sets their corresponding fields without _status to null. An array of data from flag often includes the field Data_entry_completion_status. When passing this array through _saveValues function to save, this results in a mistake where a new field Data_entry_completio

[2020-06-18 22:57] christinerogers opened #6749 "[docs] Add hardware/software sizing guidance"
[placeholder for Christine]
* Add hardware and software rules of thumb in the `99 developers guide` new markdown content added for 23.

[2020-06-19 13:29] laemtl opened #6750 "[eslint] Fix warnings"
When using eslint with the defined rules to validate the js scripts, many require-jsdoc and max-len warnings are fired. When an error breaks the compilation, it becomes tricky to spot the cause.
I volunteer to gradually fix all those warnings.

[2020-06-19 13:31] laemtl commented on #6750
WARNING in ./jsx/Breadcrumbs.js
    Module Warning (from ./node_modules/eslint-loader/index.js):

    /var/www/html/loris/jsx/Breadcrumbs.js
      21:14  warning  Missing JSDoc comment  require-jsdoc
      31:21  warning  Missing JSDoc comment  require-jsdoc
      38:23  warning  Missing JSDoc comment  require-jsdoc
      44:18  warning  Missing JSDoc comment  require-jsdoc
      67:9   warning  M

[2020-06-19 13:33] driusan commented on #6750
If you're volunteering I recommend starting with the errors that come from the "Core components" in the webpack config. Since they get imported by multiple modules, the errors from them show up multiple times.. especially for anything used by menu filter pages.

It might also be worth making a separate config which can be run on modules which have already been fixed which generates an error instea

[2020-06-19 13:34] laemtl commented on #6750
I was going to suggest the same, turning warning to errors. Great!

[2020-06-19 14:13] driusan opened #6751 "DQT Import script breaks if visit label contains spaces"
After investigating why the DQT demographics import was failing for a project, it was determined to be caused by a test visit where the visit label contained spaces. This should be confirmed and fixed.

[2020-06-19 16:11] AlexandraLivadas opened #6753 "Travis failing due to phpcs errors"
Travis is currently failing on the master branch due to phpcs errors when the command `npm run lint:php` is run.

This is related to merged PRs #6745, #5978, #5985, #5980, and #5976. The errors are occurring because PHPCS now requires "short array syntax", but some scripts under the tools directory do not follow this syntax.

This issue can be resolved by running `npm run lint:php` and resolving a

[2020-06-19 16:13] christinerogers opened #6754 "[docs] Permissions markdown doc"
Spinoff issue from "how to make a module" doc updated in #6048 -
re where to document any exceptional steps needed to implement data access controls on sites/projects:

_Originally posted by @johnsaigle in https://github.com/aces/Loris/pull/6048#issuecomment-645568265_

[2020-06-19 17:22] #6753 closed

[2020-06-19 17:29] ejoh1101 opened #6757 "delete_candidate.php should use CandID class"
**Describe the Problem**
delete_candidate.php tool has not been updated to use CandID class and throws an error in newer versions of LORIS.

**Suggested Action**
Add `use LORIS\StudyEntities\Candidate\CandID;` at the beginning of the file. Replace `$candID = $argv[2];` with `$candID = new CandID($argv[2]);`

[2020-06-19 18:03] #6726 closed

[2020-06-19 19:16] h-karim opened #6759 "[Document_repository] Clicking on a file link returns PHP Exception"
This bug was reproduced on the 23.0 release and the master branch

**Describe the bug**
When clicking on a file link, one of two errors is logged, either:

or

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to the front page of the module
2. Click on one of the files
3. See error

**What did you expect to happen?**
For the file to open or download.

[2020-06-19 19:22] christinerogers commented on #6759
Hi @h-karim  which branch/version of Loris are you on?
e.g. will this be an issue in Loris 23.0.1?

[2020-06-19 19:32] h-karim commented on #6759
@christinerogers I was able to reproduce this bug on the master and the 23.0 release branches (I'll add this to the description)

[2020-06-19 20:44] ejoh1101 opened #6760 "Add ability to view and edit a candidate's EDC in Candidate Parameters"
**Is your feature request related to an existing module?**
Yes, Candidate Parameters

**Describe the solution you'd like**
Add ability to view and edit a candidate's EDC (if useEDC enabled) in a similar manner to how  DOB can be viewed/edited on the Candidate Info/Candidate Parameters page. This could be included on the DOB tab and visible if useEDC enabled for LORIS.

[2020-06-22 19:34] #6079 closed

[2020-06-22 20:57] christinerogers commented on #6759
Thanks @h-karim  for confirming the branches it's on.  Does it occur on Chrome & Firefox both, after clearing cache etc?
What have you found in investigating the source and its recency --
* Was this a bug found in 23 testing?  ([e.g. here](https://github.com/aces/Loris/projects/19#card-21296699)). or in previous issues?
* If yes - was there a fix and did it fail?
* If no, check test plan: should i

[2020-06-22 21:24] h-karim commented on #6759
This issue needs to be further broken down.

1. The first error log message mentioned in the description is because the query here :
https://github.com/aces/Loris/blob/master/modules/document_repository/php/files.class.inc#L116-L120 is returning multiple rows for a single file.
 The possibility of uploading more than one file with the same name is problematic. Currently on my sandbox, I have the f

[2020-06-23 14:37] #6679 closed

[2020-06-23 18:39] h-karim commented on #6759
The duplicate file names are due to the raisinbread install. I'm closing this issue and opening one for raisinbread. I'm also opening one for the invalid file stream exception.

[2020-06-23 18:39] #6759 closed

[2020-06-25 13:53] h-karim opened #6767 "[Raisinbread] Duplicate filenames inserted into the document repository"
One of the raisinbread files is inserting files with identical names into the document repository. This goes against [point 13 of the test plan](https://github.com/aces/Loris/blob/master/modules/document_repository/test/TestPlan.md) and is creating issues when trying to access one of those files via `Database->pSelectOne` because the results return more than one row which throws an exception.

**T

[2020-06-25 14:12] christinerogers commented on #6622
It's rendering now without CSS. @laemtl can you update this issue and advise on the fix?

[2020-06-25 14:17] christinerogers commented on #6687
@laemtl would you have time to verify this today/tomorrow?

[2020-06-25 15:28] laemtl commented on #6622
@christinerogers This has been fixed in PR #6667
https://loris-dev.readthedocs.io/en/latest/

[2020-06-25 16:04] #5324 closed

[2020-06-25 16:20] h-karim commented on #5110
This issue seems to be resolved through #6662 .

[2020-06-25 16:20] #5110 closed

[2020-06-25 21:01] laemtl commented on #6687
The main user, admin, does not have the ability to edit its own permission either. I may be wrong, but it does not seem to be a bug but a design decision.

[2020-06-26 19:33] CamilleBeau opened #6771 "[Statistics] Undefined column displayed when no project is selected"
**Describe the bug**
In the Demographics Statistics tab of the Statistics module, the `Undefined` column is always displayed, including when no project is selected. The column only makes sense in the context that a project is selected, where it will display data that does not fit into the subprojects associated with the selected project.

**To Reproduce**
Steps to reproduce the behavior (attach sc

[2020-06-27 00:11] spell00 opened #6774 "[API] New Project /dicoms endpoint"
**Is your feature request related to an existing module?**
This feature is related to the API

**Describe the solution you'd like**
It would be useful to add the `endpoint /projects/<project>/dicoms` that would give access to a complete list of all DICOM tarfiles contained in all projects. It is similar to all other `Project` endpoints, for example `<host>/api/v0.0.3/projects/rye/images`

[2020-06-29 12:57] #5689 closed

[2020-06-29 13:47] #5941 closed

[2020-06-29 15:47] johnsaigle commented on #6767
@maltheism Were you working on this? I remember we had an extended conversation about handling duplicate filenames and I think it was for this module but I can't remember how it resolved

[2020-06-29 16:04] maltheism commented on #6767
@johnsaigle I worked on preventing duplicate files with the issue_tracker attachment feature. The solution was to use the hash from the file content for preventing duplicate files being stored on the backend but also to allow multiple same files as attachments.

[2020-06-29 16:37] h-karim commented on #6767
@johnsaigle I don't think the problem is in the module (document repository). The module handles duplicate file names well (according to its test plan, duplicate file names are not allowed) when I tried to manually upload several documents with the same name. The problem here is, if you check the SQL file linked in the description, it momentarily disables foreign key constraints, adds the data (wh

[2020-06-29 17:21] spell00 opened #6777 "[API] The endpoint `/candidates/{candid}/{visit}/instruments/{instrument}/flags` needs methods to handle PUT and PATCH requests"
**Is your feature request related to an existing module?**
The feature is related to the API. The endpoint `/candidates/{candid}/{visit}/instruments/{instrument}/flags` allows for `GET`, `PUT` and `PATCH` requests, but the methods to handle `PUT` and `PATCH` requests are not implemented.

**Describe the solution you'd like**
They should be implemented in `modules/api/candidate/visit/instrument/fla

[2020-06-29 19:03] laemtl opened #6778 "[Unit tests] - Could not execute errors in /app/test/unittests/Database_Test.php"
An [error_log](https://github.com/aces/Loris/blob/7f7fe5a8d7581ca84dc2905ee74e89084c06ddee/php/exceptions/DatabaseException.class.inc#L44) in DatabaseException::__construct() causes Travis to prints some `Could not execute [...]` errors when running the tests in /app/test/unittests/Database_Test.php expected to throw exceptions.

This is polluting the output and makes error hunting more difficult.

[2020-06-29 19:03] laemtl commented on #6778
...Could not execute SELECT ID, Name FROM ConfigSettings. Stack trace#0 /app/test/unittests/Database_Test.php(1184): Database->pselectCol('SELECT ID, Name...', Array)
#1 [internal function]: Database_Test->testPselectColThrowsException()
#2 /app/vendor/phpunit/phpunit/src/Framework/TestCase.php(1156): ReflectionMethod->invokeArgs(Object(Database_Test), Array)
#3 /app/vendor/phpunit/phpunit/src/Fra

[2020-06-29 19:07] laemtl commented on #6778
Seems to be related to #6553

[2020-06-29 20:30] laemtl opened #6781 "[Integration tests] Running Integration tests executes the Unit Tests suite"
Since #5635, running `npm run tests:integration` executes the unit tests.
This is fixed by reverting the change made in test/dockerized-integration-tests.sh and adding back --testsuite LorisModuleIntegrationTests $*

[2020-06-29 21:13] spell00 opened #6783 "[API] The endpoint `/candidates/{candid}/{visit}/dicoms` needs methods to handle POST requests"
## Is your feature request related to an existing module?
The feature is related to the API. The endpoint `/candidates/{candid}/{visit}/dicoms` allows for GET requests, but the POST requests should also be allowed and the `handlePOST` method needs to be implemented

### Describe the solution you'd like
The method should be implemented in `modules/api/candidate/visit/dicoms.class.inc`

[2020-06-30 18:48] #6685 closed

[2020-06-30 19:30] #6781 closed

[2020-06-30 19:56] #4208 closed

[2020-06-30 19:56] #4458 closed

[2020-06-30 20:27] ejoh1101 opened #6802 "Error creating LORIS user when generating a password"
**Describe the bug**
When adding a new LORIS user, page returns error "Your password cannot be your email" when both "Make user name match email address" and "Generate new password" are checked.

**To Reproduce**
Create new user from User Accounts module. Check options "Make user name match email address" and "Generate new password". Fill the rest of the candidate information and click "Save".

![

[2020-06-30 21:01] laemtl commented on #6802
This should be fixed with PR #6803

[2020-07-02 13:53] laemtl commented on #6737
Solved in #6667

[2020-07-02 18:22] ridz1208 commented on #6473
changes done

[2020-07-02 18:22] #6473 closed

[2020-07-02 18:24] ridz1208 commented on #6557
closed for duplication #6558

[2020-07-02 18:24] #6557 closed

[2020-07-02 18:26] ridz1208 commented on #6669
@zaliqarosli does the merged PR solve the issue. If yes please close this issue.

[2020-07-02 18:30] ridz1208 commented on #6680
@zaliqarosli can you take this on ?

[2020-07-02 18:32] ridz1208 commented on #6673
@CamilleBeau please fix for 23.0-release

[2020-07-02 19:43] zaliqarosli commented on #6669
no, this issue was discovered while testing the merged PR, the reason for which this issue was mentioned there. this issue still needs a fix

[2020-07-02 22:07] laemtl commented on #6736
Fixed in #6667

[2020-07-02 22:13] laemtl commented on #6734
Cannot reproduce on my system with the last version of Phan (3.0.4)

[2020-07-02 22:17] laemtl commented on #6697
Resolved bt #6717

[2020-07-02 22:17] #6697 closed

[2020-07-06 14:37] #6178 closed

[2020-07-06 14:41] johnsaigle commented on #6734
When I do `make clean; make dev` on master it installs `2.5.0` which is the version creating the notice.

Anyway it doesn't appear to be affecting Travis builds or anything so I don't think this is really a big deal.

[2020-07-06 14:41] #6734 closed

[2020-07-06 14:45] laemtl commented on #6734
@johnsaigle I also was unable to reproduce with 2.5.0.

[2020-07-06 15:06] CamilleBeau commented on #6673
From what I understand in the test plan, only "Candidate Info" and "Create time point" require the data entry permission to appear, but not "View Imaging datasets". What permissions are required for the "View Imaging Datasets" button to show?

[2020-07-06 16:38] zaliqarosli opened #6806 "[candidate_profile] Card collapse UI bug"
**Describe the bug**
In New Access Profile module, if you uncollapse a card, the contents of the card hides but the card itself remains collapsed.

Furthermore, in the 'Behavioural Data' card, if you collapse a timepoint panel (which works - the overflow is scrollable within the card), then uncollapse the Behavioural Data card, then collapse the card again, the contents of the card overflows outsi

[2020-07-06 16:44] #6767 closed

[2020-07-06 17:54] driusan opened #6808 "Fix "doubleDataEntryDiffIgnoreColumns" class variable reference"
A reference to `_doubleDataEntryDiffIgnoreColumns` variable was incorrectly renamed in #6179. (See comment from @lingma). It should be fixed.

[2020-07-06 17:56] lingma commented on #6808
#6809 will fix this issue

[2020-07-06 18:56] #6802 closed

[2020-07-06 20:36] johnsaigle opened #6811 "OutputWrapper will always throw an exception when checking the Log config setting"
The code should check the full path, not the partial path.

[2020-07-06 20:53] johnsaigle commented on #6751
Might be a good idea to create a value object for Visit Labels. We've also had issues when they contain underscores. Restricting them to alphanumeric would probably save a lot of headaches.

[2020-07-07 13:17] driusan commented on #6811
what do you mean "full path" and "partial path"?

[2020-07-07 14:12] johnsaigle commented on #6811
Right now it's checking if the config setting `Log` is a dir. It never will be because `Log` is meant to be a partial path e.g. `tools/logs/`. In the linked PR the check is changed to check `base` concatenated to `Log` which should fix the issue.

[2020-07-07 15:02] #6162 closed

[2020-07-07 15:09] johnsaigle opened #6813 "Refactor all modules with download functionality to use FilesDownloadHandler"
See #6182 for background and an example implementation

Modules:
- [x] Document Repository
- [ ] Media
- [ ] Imaging Browser
- [ ] Data Release
- [ ] DICOM Archive
- [ ] Instrument Builder
- [ ] Genomic Browser
- [ ] Issue Tracker
- [ ] Survey Module (?)
- [ ] others?

[2020-07-07 15:46] christinerogers commented on #6533
@pierre-p-s this is the Issue Tracker bug you just raised -
It was found for 23 and this basically stalled on a re-design question :
When the Module was updated for the DataFramework in 2019 the filter logic couldn't select for "_not Closed_" issues.

[2020-07-07 15:50] zaliqarosli opened #6814 "[Core] Replace display of visit values with visit labels"
In the config.xml file, you are able to provide both a value and a label for timepoints. However, in LORIS, mostly always the value is displayed, whilst the label seems to only be rendered in create timepoint. Ideally, the value only appears in the back-end, and the label on the front-end

[2020-07-07 19:36] #4368 closed

[2020-07-08 00:21] spell00 opened #6816 "[Integration Test] Unknown column 'PasswordChangeRequired' during login test"
**Describe the bug**
Running the integration tests `bash dockerized-integration-tests.sh` in `/var/www/loris/test` in a VM results in 2 errors, which are:
[code]

**What did you expect to happen?**
All the tests should pass.

[2020-07-08 01:57] spell00 commented on #6816
No problem after all, looks like I did not update my docker environment since 'PasswordChangeRequired' was introduced

[2020-07-08 01:57] #6816 closed

[2020-07-08 12:32] #4854 closed

[2020-07-08 13:48] driusan opened #6818 "GUI switches to tablet mode at reasonable desktop resolutions"
On my laptop, at window sizes that are perfectly reasonable desktop window sizes, the LORIS GUI switches to the mobile UI. (From trial and error, GitHub seems to change to the mobile view around a width of 763px, while LORIS does somewhere around 990px.)

[2020-07-08 16:49] #5021 closed

[2020-07-08 16:49] #6811 closed

[2020-07-08 17:13] #4428 closed

[2020-07-08 18:17] #5718 closed

[2020-07-08 18:17] #5834 closed

[2020-07-08 19:18] laemtl opened #6821 "[New Access Profile] - error 500 on New Candidate submission"
On submission, /new_profile/ triggers an error 500:

[Wed Jul 08 15:10:10.731402 2020] [php7:notice] [pid 26102] [client 127.0.0.1:39828] PHP Fatal error: Uncaught TypeError: Argument 1 passed to LORIS\Http\Response\JSON\Created::__construct() must be of the type array, string given, called in /var/www/html/loris/modules/new_profile/php/new_profile.class.inc on line 113 and defined in /var/www/htm

[2020-07-08 20:57] christinerogers commented on #6742
Can we make this issue and #6743 clearer, since "Review" is vague
- Given this issue is a placeholder to remind us that the feature should be implemented when we're ready - the title could just be e.g. "[Stats:Bvl] Implement data access control per site"
- Mention as much as you can about why this is waiting/not done.
- Add an URL to the location of code/comment, will be more durable than quote bl

[2020-07-09 14:57] #6676 closed

[2020-07-09 17:36] laemtl opened #6826 "[Tools/Test] Add support for PHPCBF with the defined set of rules"
PHPCBF can auto fix minor PHPCS lint issues (trailing spaces, indent spaces, short arrays notation),
which can be convenient when static test fails with a significant number of issues.

run-php-linter.sh can be extended to add support for PHPCBF, to implement a script similar to es-lint auto fixer (npm lintfix:javascript).

[2020-07-09 19:39] spell00 opened #6827 "[API] 500 error when invalid MINCToolsPath configuration at endpoint {image}/format/raw"
**Describe the bug**
500 error for endpoint `GET /candidates//587630/V1/images/demo_587630_V1_t1_001.mnc/format/raw` when `MINCToolsPath` configuration is invalid.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to `<hostname>/api/v0.0.3/candidates//587630/V1/images/demo_587630_V1_t1_001.mnc/format/raw`
2. The page isn't working (HTTP ERROR 500)

**What

[2020-07-09 20:35] laemtl opened #6829 "[Permissions] Update project filter based on user access"
The way the project filter is populated should be modified accross all modules, to display project in the filter only if the current user has access to it (See #6729 for an example).

[2020-07-09 21:21] laemtl commented on #6829
./tools/CouchDB_Import_Demographics.php:        $projects = \Utility::getProjectList();
./modules/electrophysiology_browser/php/electrophysiology_browser.class.inc:        $projectList      = \Utility::getProjectList();
./modules/api/php/endpoints/projects.class.inc:                \Utility::getProjectList()
./modules/media/php/media.class.inc:            'projects'      => \Utility::getProjectLis

[2020-07-09 21:36] laemtl commented on #6829
@christinerogers It seems like Utility::getProjectList(); is used  to get a list of all the project.
What about an optional parameter \User user, which, if provided, filter projects the user has permission to?

[2020-07-09 23:48] laemtl opened #6830 "[permission] Fatal error when user is missing some permissions"
TODO: find which missing permission causes the problem

[Thu Jul 09 19:46:16.914426 2020] [php7:notice] [pid 12719] [client 127.0.0.1:44886] PHP Fatal error:  Uncaught TypeError: Argument 1 passed to LORIS\\Middleware\\PageDecorationMiddleware::__construct() must be an instance of User, null given, called in /var/www/html/loris/src/Middleware/ExceptionHandlingMiddleware.php on line 47 and defined

[2020-07-13 12:52] driusan commented on #6830
How did you determine this is caused by permissions?

[2020-07-13 17:13] laemtl commented on #6830
Because it happened after editing permissions. It 'ssolved, I was missing new permssions in my DB.

[2020-07-13 17:13] #6830 closed

[2020-07-14 01:19] christinerogers opened #6835 "[ImgUploader] Link broken in Markdown"
On the 23 branch --
in file (https://github.com/aces/Loris/blob/23.0-release/modules/imaging_uploader/README.md)
The following sentence contains a broken link, probably because underscores were removed from markdown filenames for release 23.

`To enable the Imaging Uploader to handle large files, please follow the instructons for [Handling Large File Uploads](../../docs/wiki/00 - SERVER INSTALL AN

[2020-07-15 15:03] cmadjar commented on #6669
@maltheism Can you fix this issue?

[2020-07-15 15:20] #6568 closed

[2020-07-15 17:43] #6689 closed

[2020-07-15 17:56] nicolasbrossard opened #6839 "[MRI Violations] Improve look and feel"
1. The 'MRI Protocol Violations' page should not contain any tab. It should only report the violations of type 'Could not identify scan type' that match the sub-page's filter criteria. The result table for this sub-page should have a new column 'Resolution Status' (non-editable) that indicates whether the violation was resolved or not.

2. The 'MRI Protocol Checks Violations' page should not conta

[2020-07-15 17:58] nicolasbrossard commented on #6689
The issue does not describe the intended behaviour. Closing and opening new issue #6839.

[2020-07-15 19:46] christinerogers opened #6841 "[docs] Proposal for aces.github.io/loris"
The URL aces.github.io/loris is currently 404 but is ours to use, and we could do something with it --
options i can think of:
a. redirect it to loris.ca
b. Make it the main URL for our ReadTheDocs, instead of https://acesloris.readthedocs.io/... Because it looks tidy when you see other repos doing it e.g.:  https://wonambi-python.github.io/
If we go with b, the landing page should probably be the

[2020-07-15 20:11] christinerogers opened #6843 "[UserAccounts] auto-generated password is way too long"
Found on an instance running LORIS 23.
The password sent to users when an account-request is granted,  is... exceptionally long.

To reproduce:
* Request an account, wait for an admin to approve it, get the auto-generated credential in the welcome email (below).

Probably also reproducible by trying:
- create a new user account and send their auto-generated password by email
- auto-update a user's

[2020-07-15 20:13] ridz1208 commented on #6843
16 chars or 100 chars... I doubt anyone is typing it !

[2020-07-15 20:26] maltheism commented on #6594
@ridz1208 it seems this is a different bug that needs to be fixed. I'll look into fixing it but I'm going to keep it separate from the redesign PR.

[2020-07-15 20:41] #6594 closed

[2020-07-15 20:44] laemtl opened #6844 "[DQT] Define Fields Search results not match"
What fields are searchable with "Search Within Fields"?
Searching 'validity' displays other_comments, other_comments_status
(Same behaviour in DQT v1 and DQT beta)

* Related to #6837

[2020-07-15 20:46] laemtl opened #6845 "[DQT] Visualization plot and memory issue"
Visualized Data plot not visible and triggers Uncaught out of memory (Same behaviour in DQT v1 and DQT beta)

## To reproduce
* Define Fields: aosi, Candidate_Age
* Define Filters: aosi, Candidate_Age = 30, all Visits

* Related to #6837

[2020-07-16 12:13] #6771 closed

[2020-07-16 14:05] driusan opened #6846 "LORIS Returns a 404 error when a class is not defined"
**Describe the bug**
When a class is referenced but not defined, LORIS incorrectly converts it to a 404 error page.

**To Reproduce**
On a LORIS page, instantiate a class that doesn't exist such as `new asdfasdf()` (or alternatively, forget to `use` the the namespace containing a real class.)

**What did you expect to happen?**
There would be an indication of a server error and a way to debug it.

[2020-07-16 21:10] lingma opened #6848 "Installer doesn't work now at master branch"
**Describe the bug**
The installer final page submit will stay on the same page without going ahead

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Install a site with master branch
2. MySQL DB created and sourced the schema, but the second page "Submit Query" will stay there.

**What did you expect to happen?**
This is clearly a bug

**Browser Environment

[2020-07-16 21:33] lingma opened #6850 "router doesn't work well in master branch"
**Describe the bug**
When I tried to access any link when I worked on some code in the master branch, the site will report the URL not found. I ever tried to reinstall the site, but then the installer failed. I fixed the installer, still no access to pages except the base url.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to any link from menu, like ca

[2020-07-16 23:52] driusan commented on #6850
Might be related to #6846 .. did you run make to ensure the autoloader is up to date with any classes that need to be found?

[2020-07-17 00:02] lingma commented on #6850
Yes, make was run every time.

[2020-07-17 17:21] #6558 closed

[2020-07-17 17:58] lingma commented on #6850
Found the problem, the config file has missed item.

[2020-07-17 17:58] #6850 closed

[2020-07-17 18:14] lingma opened #6851 "New profile "create" button will never go ahead with 500 error reported"
**Describe the bug**
Create a new profile, then the "Create" button will stay there, with 500 error reported in fact.

PHP Fatal error:  Uncaught TypeError: Argument 1 passed to LORIS\\Http\\Response\\JSON\\Created::__construct() must be of the type array, string given, called in modules/new_profile/php/new_profile.class.inc on line 111 and defined in src/Http/Response/JSON/Created.php:42

**What

[2020-07-17 20:10] lingma commented on #6851
PR created

[2020-07-20 19:12] #6821 closed

[2020-07-20 19:21] driusan commented on #6851
Duplicate of #6821

[2020-07-20 19:21] #6851 closed

[2020-07-20 19:22] #6848 closed

[2020-07-20 20:46] #5683 closed

[2020-07-21 15:48] #5943 closed

[2020-07-21 19:08] #6757 closed

[2020-07-22 14:34] #5103 closed

[2020-07-22 16:04] #6739 closed

[2020-07-22 16:26] #6533 closed

[2020-07-22 16:26] #6532 closed

[2020-07-22 16:26] #6700 closed

[2020-07-23 14:43] laemtl commented on #4138
Replaced by #6750

[2020-07-23 14:43] #4138 closed

[2020-07-23 14:44] laemtl commented on #5973
Replaced by #6750

[2020-07-23 14:44] #5973 closed

[2020-07-23 17:02] driusan opened #6864 "Design interface for representing a candidate"
The existing Candidate class is very heavy weight, and aggressively loads data that is often unused. We should have an interface to describe the actions that can be performed on a candidate and use that as the type for our signatures, rather than directly using `Candidate::singleton` instantiations all over the place.

Some preliminary work on this was done on #5369, but the design was never final

[2020-07-23 18:41] driusan opened #6866 "NDB_BVL_Instrument::factory does too much"
The doc comment for `NDB_BVL_Instrument::factory` currently reads:

However, it does much more than that, with many assumptions about the fact that the only way
an instrument might be used is in the frontend (and not, say, to work with the instrument data in a script.)

It:
1. Includes php files dynamically to load the instrument. (This should be replaced with a standard PHP class autoloader)
2. C

[2020-07-27 18:42] driusan opened #6872 "Project check in imaging_browser uses wrong project"
The hasAccess check for viewSession in the imaging_browser added a check in LORIS 23 for the project matching. However, it's checking the candidate's RegistrationProjectID instead of the ProjectID of the session being accessed. This should be fixed to use the correct ProjectID in cases where they don't match.

The test plan also says nothing about permissions on that page (so I can't verify if the

[2020-07-27 21:15] nicolasbrossard opened #6873 "[Imaging Uploader] Handle form upload errors"
**Is your feature request related to an existing module?**
The imaging uploader should handle the errors produced when scan archives cannot be transferred/written on the server. It should provide the user with appropriate messages indicating what went wrong. This should be done in the `isValid` method of class ``modules/imaging_uploader/php/imaging_uploader.class.inc`.

Useful references:

https:/

[2020-07-28 21:19] laemtl opened #6874 "Missing NOT NULL constraint on session.Current_stage"
[ TimePoint.class.inc::getCurrentStage()](https://github.com/aces/Loris/blob/main/php/libraries/TimePoint.class.inc#L622) is expected to return a string. As a result, when timePointInfo["Current_stage"] is NULL, a 500 error is thrown (Candidate detail page with a session having Current_stage = NULL).

 To avoid such scenario, session.Current_stage in the DB should be updated to have the NOT NULL c

[2020-07-29 12:00] nicolasbrossard opened #6875 "[Imaging Browser] Log context information when user is denied access"
This feature request originates from a user that wrote us saying that he did not have access to the imaging browser module despite the fact that he was super user with all permissions. He reported not seeing anything useful in the Apache error logs.

I think it would be a good idea to log each denied access to a module. The log message should give as much context as possible to help give a clue as

[2020-08-03 14:16] #4369 closed

[2020-08-03 21:31] laemtl opened #6880 "[Candidate] Permission issues"
Users can have access to candidates information they don't have permission to access to, if they have access to the direct link.

**To reproduce**
* Login with the admin user, go to Reports > Statistics > Behavioural
* Click `Click here for breakdown per participant ` or `Click here for breakdown per participant `
* Click on a candidate from a particular site and save the url (ex: /instruments/aos

[2020-08-05 13:37] #6467 closed

[2020-08-05 14:05] #6469 closed

[2020-08-05 15:35] christinerogers commented on #6596
@ridz1208 is this a Raisinbread issue that @AlexandraLivadas can take care of this week?

[2020-08-05 15:38] christinerogers commented on #6302
splitting off issue C for @AlexandraLivadas

[2020-08-05 15:41] christinerogers opened #6881 "[RB/GenomicBrowser] : Add basic CNP/CPG records"
This issue was reported as **c* in #6302 by henri during 23 testing.
to do:
* Add 3 records in raisin bread for each type of data for candidates that *already have* SNP data.
i.e. write a simple mysql patch and I'll help refine it. Might involve multiple tables.

The goal to just have a few records so that they display as having data.

[2020-08-05 15:53] christinerogers commented on #5818
Raisinbread looks like it uses V1... V6 - this is encoded in the imaging files too.
For a quick sanity check -
 @AlexandraLivadas ensure that all the visit labels in teh session table are represented in Visit_Windows.
No values need to be associated with the min/max/optimum window/days columns -- they can stay Null for now. .

[2020-08-05 16:00] christinerogers commented on #5793
@AlexandraLivadas Give this a shot and message me/rida/cecile if/when you get stuck.
1. Highlight here exactly which columns are causing the issue for the imaging_qc module and statistics.
2. suggest here what the code fix options are, and which might make more sense, (a) a tweak in Stats? (b)  imaging_qc module, or if the change would be (c) on the mri_parameter_form mri_scan_type table side (les

[2020-08-05 16:06] christinerogers commented on #5715
@ridz1208 is the issue here that candidates with imaging data don't have bvl data?
If there's any easy way to generate commentIDs alex could copy/populate instrument/flag table values for some of these candidates.  otherwise this seems like a bigger task.

[2020-08-05 16:08] christinerogers commented on #5180
Will be covered in part by @AlexandraLivadas  in #6881

[2020-08-05 16:10] christinerogers commented on #4303
@ridz1208 should this be raised at the Loris meeting again in case @AlexandraLivadas can resolve it - or shall we keep this stale/close it?

[2020-08-05 16:13] christinerogers commented on #5691
@ridz1208 I dont' see a fix @AlexandraLivadas  can implement here, to help with testing next round.  shall we close this, while the future of the module is hanging in the balance?

[2020-08-05 16:26] ridz1208 commented on #6596
@driusan where are saved queries stored ? can they somehow be added to raisinbread ?

[2020-08-05 16:27] maltheism commented on #6596
@laemtl did this error happen with the redesign?

[2020-08-05 16:32] ridz1208 commented on #5715
yeah its a big task. very manual

[2020-08-05 16:35] ridz1208 commented on #4303
I think the resolution is in the ticket itself. defualt should be changed to  no-reply@loris.ca

[2020-08-05 16:36] ridz1208 commented on #5691
i think we could add a help document for the BMI ? then we put this to rest once and for all

[2020-08-05 16:38] ridz1208 commented on #6596
@maltheism its most likely instance dependent

[2020-08-05 16:39] laemtl commented on #6596
I didn't encounter this issue when testing the redesign.

[2020-08-05 17:02] driusan commented on #4303
No, the default should be blank. See the thread. We should be setting a default to a real email address that goes to our domain.

[2020-08-05 17:04] driusan commented on #6596
I believe saved queries are currently stored in CouchDB, unfortunately, so I don't think it can be solved with raisinbread.

[2020-08-05 17:07] christinerogers commented on #5691
ok that sounds worth a shot.
@AlexandraLivadas let's give this a try --
Take a few minutes to draft some general "How to fill out the BMI" instructions, make a PR to add them in the right place, also post a screenshot here of how it renders in the dropdown Help when you're looking at the BMI data entry form. We'll refine it from there.

[2020-08-05 17:50] driusan opened #6883 "Create acquisition date field in files table"
The imaging_browser needs a modality independent (and efficient) way of determining the acquisition date to show in the table in the imaging browser. Joining the parameter_file table is not as reliable as expected, because there are anonymized or non-minc files that might be inserted into LORIS. There is no longer any places to store this since the mri_acquisition_dates table (which was session ba

[2020-08-06 14:18] driusan commented on #6680
The PR for this was merged, not sure why the issue wasn't autoclosed..

[2020-08-06 14:18] #6680 closed

[2020-08-06 14:19] driusan commented on #6518
The PR for this was merged

[2020-08-06 14:19] #6518 closed

[2020-08-06 14:19] driusan commented on #6573
the PR for this was merged

[2020-08-06 14:19] #6573 closed

[2020-08-06 14:20] driusan commented on #6673
The PR was merged

[2020-08-06 14:20] #6673 closed

[2020-08-06 14:57] #6209 closed

[2020-08-06 14:57] #6329 closed

[2020-08-06 14:57] #6545 closed

[2020-08-06 14:57] #6622 closed

[2020-08-06 14:57] #6623 closed

[2020-08-06 14:57] #6736 closed

[2020-08-06 14:57] #6737 closed

[2020-08-06 15:03] driusan opened #6886 "Make React components for icons"
We use font awesome around LORIS for various icons and actions. Right now, they're directly incorporated into the React code or smarty templates. It would be a good idea to encapsulate them into simple React components (ie. EditIcon, DeleteIcon, etc) so that we can be sure that they're used consistently, have more semantic meaning, and have a single place to update them if we ever need (or want) t

[2020-08-06 19:46] driusan commented on #6682
resolved by #6858 above

[2020-08-06 19:46] #6682 closed

[2020-08-06 20:01] #5486 closed

[2020-08-11 03:30] spell00 opened #6893 "[user_accounts] Can't access the module user_accounts"
**Describe the bug**
The User Accounts module in Admin -> User Accounts can't be accessed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://<your-hostname>/user_accounts`
2. The page doesn't load and display the message `"An error occured while loading the page."`

![user_accounts_error](https://user-images.githubusercontent.com/32504294/89852479-ed201b80-db5c-11ea-9467-9e9c9a5

[2020-08-11 04:37] ridz1208 commented on #6893
@spell00 could you give more details on the error ? what do you see in the inspector of the browser? what do you see in the apache error_log?

[2020-08-11 12:47] #6872 closed

[2020-08-11 16:53] ridz1208 opened #6894 "Adapt libraries to allow for NULL date of birth"
PR #5758 removed the soft validation making date of birth always required when creating a candidate. That change was approved by the LORIS group. Even though the changes to the new_profile module were made, other libraries and modules might still expect DOB to be a date rather than NULL.

Someone should investigate all the usages of the Date Of Birth and make sure that no errors get thrown when it

[2020-08-11 16:53] ridz1208 commented on #6894
@pierre-p-s why don't you take a stab at this

[2020-08-11 17:09] spell00 commented on #6893
I found the error, I had to refresh raisinbread. It seems I had to refresh raisinbread because of #6191.
Closing the issue.

[2020-08-11 17:09] #6893 closed

[2020-08-11 18:51] #5218 closed

[2020-08-11 19:01] #6683 closed

[2020-08-11 19:04] #6580 closed

[2020-08-11 19:29] #6678 closed

[2020-08-12 13:26] #5684 closed

[2020-08-12 15:36] AlexandraLivadas opened #6897 "[Raisinbread] SQL patch for HRRT not applied to Raisinbread"
The patch `2020-03-09-SQL_patch_for_HRRT_PET_images_insertion.sql` from PR #6142 was not applied to Raisinbread. It should be applied and added to the migration file.

Related to PR #6142

[2020-08-12 17:00] #5876 closed

[2020-08-12 21:19] spell00 opened #6904 "[API] Incorrect or absent File name in endpoints `/projects/{project}/images` and `/projects/{project}/recordings`"
**Describe the bug**
The File's name is incorrect in endpoint `/projects/{project}/images` and absent in `/projects/{project}/recordings`.

**To Reproduce**
1. Go to `<hostname>/api/v0.0.3/projects/pumpernickel/recordings`.
![recordings_correct_filename](https://user-images.githubusercontent.com/32504294/90068265-5e2b1480-dcbe-11ea-875f-c6b02ef25da0.png)

`File` is actually the path. The first ite

[2020-08-12 22:03] AlexandraLivadas opened #6906 "[Help Doc] No help document for the instruments module"
There is no help document for the instruments module.

When you navigate to a data entry page for a specific timepoint's instrument and click on the `?` button, there is a `No help available for instruments` message:
<img width="1434" alt="Screen Shot 2020-08-12 at 6 00 57 PM" src="https://user-images.githubusercontent.com/35467361/90072843-1dcf9480-dcc6-11ea-8c14-955227318d39.png">

[2020-08-13 17:29] #6883 closed

[2020-08-13 18:57] spell00 opened #6909 "[API] Many endpoints can't be tested because of missing raisinbread data in Docker environment"
**Describe the bug**
Will be completed as soon as possible.

**To Reproduce**
https://github.com/aces/Loris/blob/c7f9b74f0ae5ef325b0f05094f23b1a772e1c862/modules/api/test/LorisApiVisitsTest.php#L135
Will be completed as soon as possible.

**What did you expect to happen?**
Will be completed as soon as possible.

[2020-08-13 23:07] AlexandraLivadas opened #6911 "[Testing] changeProject helper function for LorisIntegrationTest.class.inc"
In order to test project permissions across modules, there needs to be a helper function in `LorisIntegrationTest.class.inc` to change the project of a user. This should be similar to the [changeStudySite](https://github.com/aces/Loris/blob/75c98246c5c01897ad7393c13b5db7b40c8b46a3/test/integrationtests/LorisIntegrationTest.class.inc#L324) method.

[2020-08-14 15:39] christinerogers commented on #6909
@spell00 - can you put some time into this today? What's the minimum data we need to add to Raisinbread to solve this issue for the API testing?
cc @AlexandraLivadas could you please connect with @spell00 to fully flesh this issue out together (don't solve it yet, just clarify it really well)

i.e. Add some bullets to this issue to define what's the gap we need to close here -- so that anyone can

[2020-08-17 13:32] driusan commented on #6906
The instruments module is just a module that delegates to the instrument, the help on it should be using the help from the help module. Is it working correctly when there's help content added in the help editor?

[2020-08-17 13:43] #6897 closed

[2020-08-17 15:24] AlexandraLivadas commented on #6906
@driusan My other PR #6907 adds data to the help editor for the BMI instrument. However, when I go to data entry for a BMI instrument even with data in the help editor, the same "No help available for instruments" message appears here.

[2020-08-17 16:58] laemtl opened #6913 "[Tools] No SessionID exists for CommentID when running tools/CouchDB_Import_Instruments.php"
PHP Fatal error:  Uncaught NotFound: No SessionID exists for CommentID: `` in /var/www/html/loris/php/libraries/NDB_BVL_Instrument.class.inc:1460
Stack trace:
#0 /var/www/html/loris/php/libraries/NDB_BVL_Instrument.class.inc(971): NDB_BVL_Instrument->getSessionID()
#1 /var/www/html/loris/php/libraries/NDB_BVL_Instrument.class.inc(869): NDB_BVL_Instrument->_getExaminerNames()
#2 /var/www/html/loris

[2020-08-17 18:42] christinerogers opened #6914 "[docs:UserAccts] Password rules as displayed in the front end for users need updating"
Passwords are required to be significantly longer since the 23 release, and the Password rules displayed in User Accounts for the (Admin)user haven't been updated.

The poor admin who tries to follow the rules printed in User Accounts Add/Edit User page will not successfully be able to save a password.

Haven't checked but I would also suspect the password rules printed in the Reset Password featu

[2020-08-18 12:54] CamilleBeau opened #6920 "[Raisinbread] Add tables to 9999-99-99-drop_tables"
**Describe the bug**
There is an error when sourcing rb because of tables that are not dropped.
![image](https://user-images.githubusercontent.com/51176779/90515111-2691f180-e130-11ea-987d-6a7a327df5f0.png)

Tables that remain after running the drop tables script are:
- consent_group
- hrrt_archive
- hrrt_archive_files
- mri_upload_rel

**To Reproduce**
Steps to reproduce the behavior (attach scre

[2020-08-19 15:39] #5380 closed

[2020-08-19 15:42] #5935 closed

[2020-08-19 17:38] laemtl commented on #6610
@maltheism I think this is something you addressed?

[2020-08-19 19:14] #6881 closed

[2020-08-19 19:15] driusan commented on #6302
The referenced PR says it only partially resolves this.

[2020-08-20 00:38] #6610 closed

[2020-08-20 23:27] lingma opened #6928 "Candidate_list & instrument_list project filter problem"
**Describe the bug**
candidate_list `Project` filter option is useless since the candidate_list is filtered by project, the option is redundant.
instrument_list is not filtered by project, I don't know whether this is on purpose or not

**What did you expect to happen?**
As the above description

**Server Environment (if known):**
- LORIS Version: main

**Additional context**
originally reported b

[2020-08-25 13:45] #6911 closed

[2020-08-25 15:00] xlecours opened #6931 "[API] Add UserProjectMatch to /candidates"
**Describe the bug**
The list of candidates returned by the `/candidates` endpoint is not filtered for projects that the user has access to.

See candidate_list for example
https://github.com/aces/Loris/blob/main/modules/candidate_list/php/candidate_list.class.inc#L59-L62
https://github.com/aces/Loris/blob/main/php/libraries/DataFrameworkMenu.class.inc#L119-L123