[2020-01-07 19:43] johnsaigle commented on #4390
I added

to the description which it counts as activity.

[2020-01-07 19:45] johnsaigle commented on #4989
I think this is another one that we can add to the "Code Review Checklist" document rather than keep as an open-ended issue.

[2020-01-07 19:45] #4989 closed

[2020-01-07 19:47] johnsaigle commented on #4037
I think this has been addressed at some point. #4099

It's not showing up anymore in `make checkstatic` reports, anyway.

[2020-01-07 19:47] #4037 closed

[2020-01-07 19:48] driusan commented on #4138
Sure. I think we should definitely keep the issue, because all those warnings are really annoying and should be fixed.

[2020-01-07 19:49] johnsaigle commented on #5003
This would be better as a code review rule, not an open-ended issue.

[2020-01-07 19:49] #5003 closed

[2020-01-07 19:51] johnsaigle commented on #5083
Closing this due to lack of feedback and because I wasn't able to reproduce it.

[2020-01-07 19:51] #5083 closed

[2020-01-07 20:10] johnsaigle commented on #5342
Blocked by #5396 which adds the Slevomat dependency and also handles many typing issue that will make the strict types sniff much more feasible to implement.

[2020-01-07 20:11] johnsaigle commented on #4303
@ridz1208 Can you look into fixing this?

[2020-01-07 20:12] johnsaigle commented on #4042
There's no doubt that this is coming to LORIS soon so I don't think an issue for this is necessary.

[2020-01-07 20:12] #4042 closed

[2020-01-07 20:13] johnsaigle commented on #5358
I'm adding Bug to this because I feel that this is important and don't want to fight Stale bot.

[2020-01-07 20:28] johnsaigle commented on #4063
I'm going to close this because we don't know exactly what it refers to and no one else seems to have run into it for over a year

[2020-01-07 20:28] #4063 closed

[2020-01-07 20:31] johnsaigle commented on #5032
Copying Cecile's reply from the other PR:

[2020-01-07 20:40] zaliqarosli commented on #5070
this still needs to be implemented

[2020-01-07 20:41] johnsaigle commented on #5346
This was resolved at some point during the 22.0 release testing.

[2020-01-07 20:41] #5346 closed

[2020-01-07 20:41] zaliqarosli commented on #4891
i think we might have said that the table not being there is no longer an issue and that it was in fact intentionally left out?

[2020-01-07 20:55] johnsaigle commented on #4891
Yeah I'm not sure. We could bring it up in a meeting or just close the ticket. Up to you

[2020-01-07 21:15] driusan commented on #5217
I think this should be closed, the menu is just part of the main.tpl and there's not really much reason it should be done in react.

[2020-01-07 21:15] #5217 closed

[2020-01-07 21:27] driusan commented on #5358
I agree that this shouldn't be closed, but I don't think the "Bug" label is appropriate here.. and at any rate, the worst case scenerio is that it gets a "stale" tag with the current configuration if there's no activity (which is probably an accurate description of the issue's state)

[2020-01-08 13:48] driusan commented on #4249
I don't think this issue is worth keeping around,  I'm not sure why I made it..

[2020-01-08 13:48] #4249 closed

[2020-01-08 13:50] driusan commented on #4210
This is probably too vague to be an issue, and it should just be something we look out for in code review

[2020-01-08 13:50] #4210 closed

[2020-01-08 15:10] driusan commented on #5105
I'm unable to reproduce this, can someone else try to confirm it's been fixed?

[2020-01-08 15:14] #4704 closed

[2020-01-08 15:18] xlecours commented on #5232
The toArray function has been replaced by handleGET (which calls toArray on an object) to create a ResponseInterface
Closing

[2020-01-08 15:18] #5232 closed

[2020-01-08 15:20] johnsaigle commented on #4441
@kchatpar Can this be closed?

[2020-01-08 15:22] johnsaigle commented on #5046
List of file uploaders:

 Instrument Manager
 Media
 Document Repository
 Genomic Browser
 Imaging Uploader
 Data Release
 Instrument Builder
 Biobank (when merged)
Publications

An example of how to do this can be found in this PR: https://github.com/aces/Loris/pull/5224

[2020-01-08 15:26] cmadjar commented on #4190
Closing the issue since the PR associated to it has been merged in 2018 :).

[2020-01-08 15:26] #4190 closed

[2020-01-08 15:29] cmadjar commented on #3920
It was discussed multiple times during the imaging meeting that the protocol identification will be done in the backend LORIS-MRI scripts. However, there is a plan to use the API to query the database by the LORIS-MRI scripts instead of using SQL directly. There is a github project created for that in LORIS-MRI repo to start this process: https://github.com/aces/Loris-MRI/projects/1. Closing the i

[2020-01-08 15:29] #3920 closed

[2020-01-08 15:32] driusan commented on #3920
You can't really discuss on a project, so I think it would be a good idea to keep this open as a place to work through the details

[2020-01-08 15:34] xlecours commented on #4948
Adding a check in the handle function of `modules/api/php/endpoints/candidate/visit/dicoms.class.inc` would cover restrictions on the API.
If this feature is implemented as a permission, add a _hasAccess function in the endpoint (see `modules/api/php/endpoints/candidates.class.inc` for an example)
If it is a configuration, then we still have to make a static call to `\NDB_Factory::singleton()->con

[2020-01-08 15:37] johnsaigle commented on #4948
That's a good idea. I was thinking about a config setting but it would be much better to use a permission so that it could be tied to specific users.

[2020-01-08 15:45] cmadjar commented on #5043
PR got merged so closing the issue.

[2020-01-08 15:45] #5043 closed

[2020-01-08 15:47] cmadjar commented on #5061
PR still in review phase but getting closer than ever to be merged :).

[2020-01-08 15:51] #5063 closed

[2020-01-08 16:01] cmadjar commented on #5705
PR merged.

[2020-01-08 16:01] #5705 closed

[2020-01-08 16:03] cmadjar commented on #5031
The PR associated to this issue is in active review phase.

[2020-01-08 16:15] johnsaigle commented on #4352
I'm not able to reproduce this. I'm going to close it for now since it's an old issue and there hasn't been any feedback.

If this is still an issue, please feel free to re-open it

[2020-01-08 16:15] #4352 closed

[2020-01-08 16:18] johnsaigle opened #5901 "Remove "System Requirements" folder from ReadTheDocs"
**Describe the solution you'd like**
As discussed with @ridz1208 in #5253, this folder isn't needed as System Requirements are outlined in detail in the "Install section".

**Describe alternatives you've considered**
We agree that it's preferable to have one detailed install document (per supported OS) rather than separate the system prerequisites from the other install instructions

**Additional

[2020-01-08 16:18] kchatpar commented on #4441
Done in biobank repo

[2020-01-08 16:18] #4441 closed

[2020-01-08 16:30] ridz1208 commented on #5901
@johnsaigle i dont mind doing it if you havent done it yet

[2020-01-08 16:55] johnsaigle commented on #5901
Works for me

[2020-01-08 18:09] HenriRabalais commented on #5100
@johnsaigle This isn't exactly the functionality I have. It's specifically relating to leaving an open modal window. This seems to be something that would need to be tied to the browser when trying to navigate away from a given page.

[2020-01-08 18:12] HenriRabalais commented on #4150
Do all this issues still need addressing? Are there any that have been resolved through reactification?

[2020-01-08 18:12] johnsaigle commented on #4150
@maltheism Can you address Henri's comment since you have done some work on this?

[2020-01-08 18:25] zaliqarosli commented on #4149
i believe this is still pertinent

[2020-01-08 18:26] zaliqarosli commented on #4214
still important

[2020-01-08 18:28] zaliqarosli commented on #4457
i think this, along with documentation on how to use all our jsx components, would be invaluable

[2020-01-09 04:30] maltheism opened #5903 "[installDB.php] Broken on master"
**Describe the bug**
Tested the installDB.php on master and the installation seems to end with pointing to url/installDB.php

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. LORIS_URL/installDB.php
2. Install LORIS
3. After installation the link pointing to LORIS is wrong and includes installDB.php
4. Also LORIS is broken in general after going to the homepa

[2020-01-09 16:53] kongtiaowang commented on #5903
I can't reproduce this bug, It works for me on master branch. Could you send more details?

[2020-01-09 17:24] maltheism commented on #5903
I tested it again on my VM and seems to be working.

[2020-01-09 17:24] #5903 closed

[2020-01-09 18:00] kongtiaowang commented on #5751
https://github.com/aces/Loris/tree/master/modules/publication
## Configurations

- `publication_uploads`: This configuration determines the directory where file uploads
 get stored. By default, this directory will be `/data/publication_uploads/` **but
  it is not automatically created.**

[2020-01-10 17:36] driusan commented on #5574
stalebot :(

[2020-01-10 18:32] #4754 closed

[2020-01-11 20:02] ridz1208 commented on #5613
Not sure if we keep this alive or make individual issues for each parameter

[2020-01-13 15:40] #5856 closed

[2020-01-13 16:28] johnsaigle opened #5919 "Create Wiki document for MySQL user policy"
**Describe the solution you'd like**
Creation of a very concise Wiki page that explains for MySQL user policy.

Essentially we have two users, an everyday user with few permissions and an "admin" (formerly known as "quatUser") user that has GRANT and DROP table permissions. The latter should only be used by the install script and (temporarily) the instrument manager.

**Additional context**
Discus

[2020-01-13 16:34] johnsaigle opened #5920 "Create Wiki document providing troubleshooting help for the most common install issues"
**Describe the solution you'd like**

front end doesn't load -> check/fix config paths via the mysql back-end
css looks busted (if that is still happening) -> check/fix config paths via the mysql back-end
you need to reset your admin password -> run the tools script

-- @christinerogers in #5253

Instead of adding troubleshooting instructions to the end of the Ubuntu install instructions, we shoul

[2020-01-13 18:43] driusan commented on #5641
There doesn't seem to be much discussion or passionate advocacy one way or the other, can we close this? (I vote for keeping it because otherwise it'll be very hard to keep the submodule in sync with PRs that require changes.)

[2020-01-13 18:47] #5819 closed

[2020-01-13 19:46] johnsaigle commented on #5641
Sure. If my passion rises again I'll re-open

[2020-01-13 19:46] #5641 closed

[2020-01-13 20:14] driusan commented on #5656
I don't know where "Everywhere else" is, but I believe this should be resolved now that we have the Module->getLongName() function which is used to get module names?

[2020-01-13 20:29] johnsaigle commented on #5656
Yeah I think you're right and without more detail about specific occurrences I think we can close this.

[2020-01-13 20:29] #5656 closed

[2020-01-14 16:08] cmadjar commented on #5032
Actually, when reuploading a scan, a new UploadID (hence a new row) is created even though we select to overwrite the upload. Not sure why this ticket was opened in the end ;). Closing the issue.

[2020-01-14 16:08] #5032 closed

[2020-01-14 17:23] johnsaigle opened #5926 "Create PSCID class"
We should create a value object for PSCIDs, similar to how we have one for CandIDs.

This will require some discussion about the structure of what a PSCID can be in LORIS.

Steps:
1. Create PSCID interface
2. Create PSCID and ExternalID class fulfilling the interface

[2020-01-14 17:25] johnsaigle commented on #5292
After discussing with Rida, I'm closing this PR for now. We should create a clear concept of what a PSCID can be and create an interface and class for this. At that time, we can decide whether it makes sense to configure the values from the config file or in the Configuration module. #5926

[2020-01-14 17:25] #5292 closed

[2020-01-14 17:49] driusan commented on #5926
I don't like the idea of a PSCID class. We should instead have a concept of a generic candidate identifier.. why are PSCIDs more important than any of the other candidate identifiers that various projects store/use?

[2020-01-14 18:00] johnsaigle commented on #5926
Well we have ValidateableIdentifier if that's what you mean? That's generic enough, could be a parent class.

Are PSCIDs less important than CandIDs?

[2020-01-14 18:27] driusan commented on #5926
Yes. CandIDs are primary keys. PSCIDs are just identifiers.

[2020-01-14 18:30] johnsaigle commented on #5926
So far we have

* CandID
* SessionID

And we should also have CommentID (I think).

Are these also primary keys? I'm just trying to identify why some IDs get classes and others don't.

[2020-01-14 18:35] driusan commented on #5926
1. Yes, those are primary keys
2. The criteria shouldn't be "is it a primary key?" it should be "is it an instance of a thing or a class of things?" We should make a class to denote the class of things (identifiers) not the special cases. Why are PSCIDs more important than ExternalIDs, or GUIDs, or any of the other various customizable identifiers that exists in different projects? CandIDs are dif

[2020-01-14 18:40] johnsaigle commented on #5926
The motivation was to be able to validate the structure of a PSCID (or ExternalID; they're basically the same).

For example if there are 3 subprojects in a LORIS instance, they may want to generate IDs in different ways: one may want to use the short name for the Project, another might want to use the short name for a Site, another might want a fixed value like `MNI_CRU`. One might want alphanume

[2020-01-15 15:27] ridz1208 commented on #5926
@driusan @johnsaigle

I agree that we should have a concept of a generic candidate identifier. I don't see how a PSCID class gets in the way of that.

I think having created the CandiD class but not creating the PSCID one is kind of confusing, yes we pass around the candId all over the code but the PSCID has so much more structure and complexity that in my opinion warrants a class more than the ca

[2020-01-15 17:46] johnsaigle opened #5931 "Rename the "project/" directory (containing config.xml, overrides, etc.)"
**Is your feature request related to an existing module?**
No

**Describe the solution you'd like**
As discussed in the LORIS meeting, it would be good to disambiguate the word "project". Currently we have a Project class which represents the idea of a study project that is being managed by LORIS. At the same time we have the `project/` directory which contains configuration files and custom modul

[2020-01-16 14:28] christinerogers opened #5935 "[login / UserAccts] Toggle password visibility - Add clickable eye icon to un/mask input"
Allow the user to unmask their password input by giving them a clickable icon in/near the password input box.
Why?
* increasingly common/standard in websites to help users spot their own typos when inputting complex passwords.
* Avoids user lockout and saves both admin time and user frustration spent on password reset requests.

[Here's what it looks like](https://www.google.com/search?q=toggle+pa

[2020-01-16 15:52] #5259 closed

[2020-01-16 19:08] maltheism opened #5938 "[issue_tracker] error when editing issue"
**Describe the bug**
The module issue_tracker is broken when editing an issue on master branch.

See https://github.com/aces/Loris/pull/5394#issuecomment-575281470

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to issue_tracker
2. Click on an issue to edit.
3. See error

[2020-01-17 17:05] lingma opened #5940 "[Module] lorisform_parser is no longer working in v22 master branch after recent commits"
**Describe the bug**
With new update to Module or some related modules, the lorisform_parser is no longer working.

**To Reproduce**
Go to tools/, `ls` any instrument to feed `lorisform_parser`, the system will report

PHP Fatal error:  Uncaught Error: Cannot instantiate abstract class Module in tools/lorisform_parser.php:57

**What did you expect to happen?**

There should be no problem like this

[2020-01-17 17:43] maltheism opened #5941 "[vendor/js/react] Outdated react & react-dom being used"
**Describe the bug**
The browser is being sent either (development or production) version of react.js & react-dom.js from the server and found inside the htdocs/vendor/js/react directory. This happens inside the php/libraries/NDB_Page.class.inc on line 815-820.

The react dependency in package.json is a newer version than the one found in htdocs/vendor/js/react and the package.json react is basica

[2020-01-18 19:09] ridz1208 commented on #5684
Thank you stalebot

I think we should maybe start that up

[2020-01-20 16:28] #5424 closed

[2020-01-20 16:29] johnsaigle commented on #5684
@ridz1208 #5689 is a ticket I created for this specifically just FYI

[2020-01-20 16:31] johnsaigle commented on #5480
@cmadjar I think this was assigned to me during release testing but I must have missed it. I'm not sure if I know how to do that but I can take a look if it's still a priority. Let me know.

[2020-01-20 18:00] johnsaigle commented on #5410
Imaging browser got cleaned up at some point. #5942 removes the final leftover occurrence of Show Data.

[2020-01-20 18:02] johnsaigle commented on #5935
Related #3314

[2020-01-21 16:21] christinerogers commented on #5689
quick notes:
* (As john saigle mentioned ^^)  #1053 is important
* Date of birth should make sense, should not
* check for duplicates - 1 participant with same instrument populated twice for 1 visit label (it happens)
* DDE - over/under population

[2020-01-21 16:22] johnsaigle opened #5943 "Send email to administrator when a user requests an account"
**Is your feature request related to an existing module?**
Login module, request account page.

**Describe the solution you'd like**
A feature was requested in today's LORIS meeting to send an email to a coordinator when a user requests an account. Currently, when a user requests an account a coordinator receives a dashboard notification. However, they won't see this until they login to LORIS.

**

[2020-01-21 16:58] johnsaigle commented on #5689
I don't remember mentioning this. What about this PR is important?

[2020-01-21 18:43] johnsaigle commented on #5751
Can this ticket be closed? It sounds like this was caused by an set up problem on the test VM and doesn't have anything to do with the core repo.

[2020-01-21 18:45] johnsaigle commented on #5391
Related #5880

[2020-01-22 03:23] christinerogers commented on #5920
These are currently in the Wiki setup guide (the actual wiki).  let's ensure we keep them in the new set of docs.

[2020-01-22 16:35] lingma opened #5948 "[user_accounts] new user"
**Describe the bug**
User accounts add new user error message is confusing in some case. If you don't enter password, but click "Generate new password", without any email address, the system will say:  "Your password cannot be your email."

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to 'Admin/User Account'
2. Click on 'Add user'
3. enter a user, clic

[2020-01-23 20:19] lingma opened #5951 "[user_accounts] admin created account information not precise"
**Describe the bug**
An administrator created an account, then user received an email saying that
"Account **Changes** - Example Study"
...
Your account details have **changed**:
password: IPsCkodaKT6z9z7ll7mcSSeXCyO4UEJcJDYeV59c2hycK9VRQbUsy4awil7ZxnQt

After login, the site has a `Admin` and a drop down half showing, strange to see, check the attached image.

**To Reproduce**
Steps to reproduce

[2020-01-23 20:20] lingma commented on #5951
![image](https://user-images.githubusercontent.com/5295785/73020537-d2ba6680-3df3-11ea-8da2-36affad757d8.png)

[2020-01-27 15:19] #3127 closed

[2020-01-27 15:53] johnsaigle commented on #5951
What permissions does the user have?

[2020-01-27 15:56] lingma commented on #5951
No much permission, just data entry or a few, so there is no permission of Admin. In this case, I think the Admin drop down or Admin itself should not show up to confuse people.

[2020-01-27 15:58] johnsaigle commented on #5951
I think it show sup depending on the permissions the user has. Can you take a screenshot of the permissions that user has assigned to them? It might help in figuring out the bug.

[2020-01-27 15:59] lingma commented on #5951
I also wanted to say that "Account Changes - Example Study" ...Your account details have changed:" whch is not true. This is a new account, and the password is way too long.

[2020-01-27 16:01] johnsaigle commented on #5951
You're right this is not precise and should be fixed.

It's a one-time password so the idea is just to copy and paste it. If I remember correctly the user is forced to change their password when they login anyway.

[2020-01-27 16:06] ridz1208 commented on #4327
adding to next loris meeting

[2020-01-27 16:09] lingma commented on #5951
permID | code                        | description                                          | categoryID |
+--------+-----------------------------+------------------------------------------------------+------------+
|      3 | user_accounts_multisite     | Across all sites create and edit users               |          2 |
|      5 | bvl_feedback                | Behavioural QC

[2020-01-27 16:11] johnsaigle commented on #5951
This is an admin permission (under Admin > User Accounts) so the dropdown should be there and should contain 'User Accounts'.

I'll try testing on my VM and figure out why `User Accounts` doesn't show up in that menu.

[2020-01-27 16:12] driusan commented on #5951
What branch is this on? (ie. is it on master with the modules taking care of the menus or a branch with the LorisMenus table?)

[2020-01-27 16:12] lingma commented on #5951
22.0 master branch

[2020-01-27 16:19] driusan commented on #5951
Can you test #5955? It seems to be because of the hack to make 'Admin' the last category not considering the possibility of it being empty..

[2020-01-27 16:22] lingma commented on #5951
OK, later when I got time. By the way, just mention that the error message for my user accounts page not showing anything is
`Undefined index: filter in /php/libraries/NDB_Menu_Filter.class.inc on line 598, referer: https:/user_accounts/`

I have not checked yet.

[2020-01-27 16:24] johnsaigle commented on #5951
The Admin empty being hidden seems like a different bug. From the permissions posted above it looks like the correct behaviour here should be that the Admin menu does appear with User Accounts as the only option.

[2020-01-27 16:41] ridz1208 commented on #4848
closing since 21 testing round seems stale

[2020-01-27 16:41] #4848 closed

[2020-01-27 16:45] johnsaigle commented on #5951
I've found a fix ⬆️ Issuing a PR in a second

[2020-01-27 16:48] driusan commented on #5773
Where did you do this and was email configured properly on the VM that was used?

[2020-01-27 16:51] driusan commented on #4100
There are PR/other issues for the things listed and the remaining "?" isn't really actionable, so I think it's worth closing this.

[2020-01-27 16:51] #4100 closed

[2020-01-27 16:52] driusan commented on #5733
Doesn't seem to be an open issue based on @zaliqarosli's comment?

[2020-01-27 16:52] #5733 closed

[2020-01-27 17:08] ridz1208 commented on #4836
seems to have been fixed

[2020-01-27 17:08] #4836 closed

[2020-01-27 17:19] driusan commented on #5940
the line mentioned needs to be updated to use `new NullModule()` instead of `new Module("", "")`

[2020-01-27 18:21] #5951 closed

[2020-01-27 18:50] johnsaigle commented on #5938
I believe this error is occurring because the module's queries are hard-coded to refer to the `LorisMenu` table which was deleted by #5839

[2020-01-27 19:02] driusan commented on #5938
@johnsaigle yes, EditIssue seems to still have a reference to it.

[2020-01-27 19:13] driusan opened #5959 "[Issue Tracker] Write upgrade script for module column"
The issue tracker has a column called "module". This was an integer which was referencing the LorisMenu table (without a foreign key). The table was dropped and the column became a foreign key to the modules table, which makes more sense for a column called "module"..

We need to:
1. Declare the new foreign key properly, now that the column is referencing something that makes sense.
2. Write a scr

[2020-01-27 19:35] thomasbeaudry opened #5962 "Password rules are incorrect"
On the Edit User's page, the password rules are outlined as:

    The password must be at least 8 characters long.
    The password cannot be your username or email address.

This is not in fact true, since the password that you choose has to also contain a special character or else you get the error message:   The password is not complex enough.  For example,  If you try the password:  **iamsosmr

[2020-01-27 20:56] driusan commented on #5938
@maltheism can you test that #5963 fixes this?

[2020-01-27 21:05] maltheism commented on #5938
@driusan it fixes it.

[2020-01-27 21:19] thomasbeaudry commented on #5962
oops sorry @cmadjar, i didn't realize i was on LORIS-MRI repo

[2020-01-27 21:23] driusan commented on #5885
PR merged

[2020-01-27 21:23] #5885 closed

[2020-01-28 01:33] gdevenyi commented on #5962
I reported issues with the password rules here:
https://github.com/aces/Loris/issues/3314

Which resulted in a PR here:
https://github.com/aces/Loris/pull/3962

Eventually changes were merged:
https://github.com/aces/Loris/pull/4411

But this issue indicates the password rules do not yet follow NIST standards?

[2020-01-28 01:33] gdevenyi commented on #5962
Possibly waiting on this https://github.com/aces/Loris/issues/5761

[2020-01-28 17:56] zaliqarosli commented on #5380
@ridz1208 do you remember the decision made post discussion on this? i can go ahead and make the changes if it is good to be implemented

[2020-01-28 18:00] johnsaigle commented on #5962
The password rules aren't incorrect. The error message generated for that input is `The password is not complex enough.`, which is true. We use [Zxcvbn](https://github.com/dropbox/zxcvbn) to evaluate password strength according to NIST standards (see [this post](https://github.com/aces/Loris/issues/3314#issuecomment-534233065)).

A special character isn't required; a sufficiently complex password

[2020-01-28 18:00] #5962 closed

[2020-01-28 18:22] ridz1208 commented on #5380
@zaliqarosli the decision was to go ahead with this !

[2020-01-28 21:47] #5410 closed

[2020-01-28 22:17] ridz1208 opened #5969 "[22.0.0 - new profile] Empty drop down with only 1 site affiliation"
**Describe the bug**
When a user entering a new candidate is only affiliated with 1 site, the site dropdown on the user profile page is empty

this bug was found by @thomasbeaudry

[2020-01-29 17:05] johnsaigle opened #5973 "Change eslint rule for requiring JS docs to error from warning"
**Is your feature request related to an existing module?**
React/JS in general

**Describe the solution you'd like**
I think it would be a good idea to require JS code going forward to add annotations. We do this for PHP and as JS is becoming a bigger and bigger part of LORIS, it would be good to tighten up the code standards here as we're doing on the PHP side.

**Describe alternatives you've con

[2020-01-29 17:21] driusan commented on #5973
I think everything that's currently a warning from eslint should be an error, but there's a lot of cleanup to do of existing code before that's even theoretically possible to enable in Travis.

[2020-01-29 17:34] thomasbeaudry commented on #5962
I still think the rules could be written clearer.  For instance   iamsosmrt1  is rejected, but iamsosmrt!  passes the test (which is why i assumed it needed a special character).  Both passwords are the same length.  I have no desire in using a password manager.

[2020-01-29 17:41] johnsaigle commented on #5962
@thomasbeaudry I just issued #5974. Do you mind reviewing to let me know if my changes are more clear?

[2020-01-29 18:47] #5919 closed

[2020-01-29 18:47] #5893 closed

[2020-01-29 18:53] driusan commented on #5962
I agree with @gdevenyi .. this suggests that the NIST standards aren't being followed and that ticket should be re-opened. There shouldn't be complexity requirements.

[2020-01-29 18:56] driusan commented on #5962
Actually wait, I reread the thread and now I no longer think that. The entropy requirements fall under the part of the document I quoted in the other ticket.

The problem is that the reason isn't sufficiently clear.

[2020-01-29 18:58] johnsaigle commented on #5962
I agree. https://github.com/aces/Loris/issues/5761 should fix that which is held up by #5214

[2020-01-29 21:06] johnsaigle commented on #5843
@cmadjar Do you know whether #5061 fixes this?

[2020-01-29 21:18] #5948 closed

[2020-01-29 21:23] johnsaigle commented on #5687
FILE: /var/www/loris/php/libraries/File_Upload.class.inc
-----------------------------------------------------------------------------------------------------
FOUND 0 ERRORS AND 2 WARNINGS AFFECTING 2 LINES
-----------------------------------------------------------------------------------------------------
 346 | WARNING | Comment refers to a FIXME task "This should be investigated further but fo

[2020-01-29 21:29] johnsaigle commented on #5940
I think this is resolved by the linked PR

[2020-01-29 21:29] #5940 closed

[2020-01-29 21:31] johnsaigle opened #6004 "Enable PHPStan checks for `modules/*/ajax/*` and `modules/*/test/*`"
**Additional context**
These directories were originally ignored to facilitate the tool getting merged into LORIS. #5356

[2020-01-29 21:57] lingma commented on #5969
This issue has already been addressed in PR #5892

[2020-01-29 23:04] ridz1208 commented on #5969
closing because fix is in the wrong place, new PR will be issued soon. the error is in the JS not hiding the site field

[2020-01-29 23:04] #5969 closed

[2020-01-30 02:48] ridz1208 commented on #5507
PR created

[2020-01-30 02:48] #5507 closed

[2020-01-30 02:51] ridz1208 commented on #5703
This issue will be resolved by module redesign

[2020-01-30 02:51] #5703 closed

[2020-01-30 16:36] cmadjar commented on #5843
PR #5224 fixes the issue

[2020-01-31 16:22] lingma opened #6007 "[Installdb] hostname as a choice to be entered, the default as the visiting hostname"
**Is your feature request related to an existing module?**

It would be nice that the installdb have a hostname field, default to be the current visiting hostname, editable to be any other hostname.

**Describe the solution you'd like**

Add a text field, copy the current hostname as the default value. Make the field editable, then insert the value from this field instead of only the installer's h

[2020-01-31 19:51] lingma opened #6009 "[bug] pageclass object null warning"
**Describe the bug**
Each page loading of timepoint list, instrument list and instrument will trigger a warning "PHP Notice: Trying to get property 'page' of non-object in UserPageDecorationMiddleware.php", which is not pleasant to see when you are working with them every day.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):

Load a timepoint list, instrument l

[2020-02-03 16:35] cmadjar commented on #5235
PR still in review...

[2020-02-03 17:19] PapillonMcGill opened #6010 "modifying a date portion clear others field in Firefox"
**Describe the bug**
When trying to modify a date (at least in DoB module, see https://github.com/aces/Loris/pull/4915) , when entering a new year, month of day, other parts of the date reset to default
i.e. trying to change 2020-05-01 to 2020-01-01 by replacing the 5 with a 1, will change to yyyy-01-dd.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Use F

[2020-02-03 17:40] PapillonMcGill opened #6012 "[user account] can't change self data"
**Describe the bug**
A user trying to modify it's own personnal data will fail with the message ` Please set pending approval Yes or No`

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Log in as a user with modify user_account permission
2. Change some setting
3. Click on save
4. See error

**What did you expect to happen?**
That the modification is accepte

[2020-02-03 20:23] maltheism opened #6014 "the "UserProjectMatch filter" possibly broke things"
I believe the PR https://github.com/aces/Loris/pull/5398 possibly broke the logic of handling "genomic_browser_view_site" & "genomic_browser_view_allsites" permissions when accessing the genomic_browser for my PR https://github.com/aces/Loris/pull/5835 (as a regular user with the foregoing permissions).

The genomic_browser module works when just having "genomic_browser_view_allsites" permission w

[2020-02-03 20:27] ridz1208 commented on #6014
@maltheism just to be clear.

You created this issue about a change from one PR that affected another PR ? what about the current code ? is it also broken ? is this issue on master ?

[2020-02-03 20:30] maltheism commented on #6014
@ridz1208 the current code of the genomic_browser seems to not throw the error because the UserSiteMatch class with the filter function doesn't get called. My PR does have that class get called because it's using the new dataframework (I believe).

[2020-02-03 20:31] ridz1208 commented on #6014
Unless you can find somewhere on master where this error is thrown you can keep the discussion on the PR i think.

[2020-02-03 20:33] maltheism commented on #6014
@ridz1208 I don't necessarily think it's an issue with my PR but instead with the UserSiteMatch class filter function. That's why I think it should be a separate issue. The old genomic_browser module doesn't use the class. The class introduces a bug with the permissions of the genomic_browser module.

[2020-02-03 20:35] ridz1208 commented on #6014
`UserSiteMatch` or `UserProjectMatch` ?

[2020-02-03 20:38] maltheism commented on #6014
@ridz1208 `UserSiteMatch` and in my PR it gets called in this section of the code.
https://github.com/aces/Loris/blob/f1164e2b9ef8bddd2e7b3a65c5837cdc59ed8c15/modules/genomic_browser/php/provisioners/cnvprovisioner.class.inc#L106

[2020-02-03 20:39] ridz1208 commented on #6014
@driusan any thoughts ?

[2020-02-03 20:40] maltheism commented on #6014
@ridz1208 see the edit i made in last comment.

[2020-02-03 20:47] driusan commented on #6014
The class linked to doesn't have any of the methods that `UserSiteMatch` uses to determine whether the site matches. How would the filter work?

[2020-02-03 20:51] maltheism commented on #6014
@driusan that makes sense. I'm not sure what's supposed to be supplied in that class with the DataFramework for making just genomic_browser_view_site permission function correctly.

[2020-02-03 20:54] driusan commented on #6014
What do the lines above line 64 in UserSiteMatch say?

[2020-02-03 21:02] maltheism commented on #6014
@driusan I see that the code is checking if the user has CenterID permission but that seems to override the genomic_browser_view_allsites? Such as the case of providing both permissions and the user doesn't have any sites.

[2020-02-03 21:04] maltheism commented on #6014
I think I'm suppose to use the `HasAnyPermissionOrUserSiteMatch` that @xlecours mentioned in another PR.

[2020-02-03 21:07] driusan commented on #6014
It doesn't do anything with permissions, it tries various methods on the `\Loris\Data\DataInstance` to get a list of centerIDs that the data belongs to before throwing the exception about the resource not having sites.

[2020-02-03 21:31] #6014 closed

[2020-02-04 17:03] #5864 closed

[2020-02-05 20:14] driusan opened #6021 "Create callback function variations in Database"
The database class has helper functions for selecting from a query and using a column as an index or returning the results in different shapes, but does not have any way to map the results to a complex object. It would be nice to have variations of them that can be used to map a database row to, for instance, a complex object using an arbitrary callback.

[2020-02-05 20:19] driusan opened #6022 "Create object to represent a LORIS Instance"
There is currently no concept of an installed LORIS instance for LORIS. Things that would logically belong in such a class tend to be scattered across the codebase in static functions or pseudo-globals (ie. the utility class, singletons, various factories) or be hardcoded with no canonical source of truth (ie. the `project/` directory.)

We should create a class to represent the installed LORIS in

[2020-02-05 20:20] ridz1208 commented on #6022
:+1:

[2020-02-05 20:25] #5938 closed

[2020-02-05 20:40] #5395 closed

[2020-02-05 20:41] driusan commented on #6007
The setting no longer exists as of #6019

[2020-02-05 20:41] #6007 closed

[2020-02-06 17:33] johnsaigle commented on #6009
Is this fixed by https://github.com/aces/Loris/pull/6013?

[2020-02-06 17:41] johnsaigle commented on #6012
I'm not able to reproduce this:

1. On `aces/master`, create new user `john` with "User Management" permission
2. As `john`, go to `User Accounts` (Edit User) module
3. Change name to `a brand new name`
4. Changes saved successfully, no error.

[2020-02-06 17:42] #6009 closed

[2020-02-06 17:43] lingma commented on #6009
I think so

[2020-02-06 18:12] xlecours opened #6026 "ORCID Authentication support"
**Is your feature request related to an existing module?**
Login

**Describe the solution you'd like**
Be able to login to an instance of LORIS using ORCID
see: https://members.orcid.org/api/integrate/orcid-sign-in

**Additional context**
Following the adoption of https://github.com/CONP-PCNO/conp-portal/wiki/Authentication-and-Authorization-Policies#authentication , any _registered_ access level

[2020-02-06 18:16] driusan commented on #6026
It would be a good idea to extend the usage of `\LORIS\Middleware\AuthMiddleware` to allow configuration of arbitrary authentication mechanisms and not do this in a service provider-centric way.

[2020-02-06 22:35] johnsaigle commented on #4172
I've changed #5253 to focus on production. A new document will be needed for modifications needed for a development installation.

[2020-02-07 16:27] johnsaigle commented on #6026
It would be useful to prioritize #5828 as well so that we can make use of React/more modern design in our authentication flow.

[2020-02-07 16:41] driusan commented on #6026
I don't see why that would help. Authentication needs to be done by the backend, the javascript used in the front end should have no impact on it.

[2020-02-07 16:42] johnsaigle commented on #6026
From my very basic understanding of ORCID it asks for us to provide a single sign on button and some error handling and it would be nice to do that with SWALs etc. rather than working it into Smarty and then reworking it.

[2020-02-07 16:42] johnsaigle commented on #6026
But you're right it's mostly a back-end task

[2020-02-07 16:54] johnsaigle commented on #6026
Beyond authentication it looks like there's a lot of things ORCID can do. This is an overview of their workflow and features for "repository systems":

https://members.orcid.org/api/workflow/repository

[2020-02-07 16:56] #5255 closed

[2020-02-07 19:06] #5849 closed

[2020-02-10 14:06] PapillonMcGill commented on #6012
Just confirmed that the bug is still there using current aces/master.
Tried on Firefox 68.4.1 on Debian and 72.0.2 on MacOS

[2020-02-10 14:15] PapillonMcGill commented on #6012
More info:
This bug is present only when the user as the `Across all sites add and certify examiners` permission.
As user can't certify themself, the `pending approval` box is not displayed. It should then use the current value in the DB to pass in the POST.

[2020-02-10 15:01] johnsaigle commented on #5337
Resolved by #5870

[2020-02-10 15:14] johnsaigle commented on #6012
Hmmm should a user be able to change their own Examiner status? Probably not, I would think?

[2020-02-10 15:14] johnsaigle commented on #6012
Maybe we should fix that bug and then this one disappears.

[2020-02-10 15:51] johnsaigle commented on #4150
@maltheism ping

[2020-02-10 17:03] maltheism commented on #4150
@HenriRabalais @johnsaigle Seems like the `alphabetize the ‘assigned to’. Can we react-ify this?` has been completed.

The attach file or screenshot is almost complete with https://github.com/aces/Loris/pull/5394. I still have to add @johnsaigle's upload file class to that PR.

The other feature requests still haven't been added from the reactification. I think the first task should be making sure

[2020-02-10 17:05] johnsaigle commented on #4150
Cool, thanks for the update

[2020-02-10 21:27] johnsaigle opened #6040 "A user should always have access to My Preferences"
**Describe the bug**
A "user management" permission is needed to edit one's preferences on LORIS since it is the same module as edit_user.

This is silly because it means a user can't update their own password, username, etc. easily.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Create a user with no permissions
2. On the top right, above logout, click My

[2020-02-10 21:35] driusan commented on #6040
Do you know when this started happening?

[2020-02-10 21:45] johnsaigle commented on #6040
Maybe around when the Module class was added? Or it could be due to the LorisMenu changes.

[2020-02-10 21:46] #5356 closed

[2020-02-10 21:53] johnsaigle commented on #5842
Seems to be fixed on master.

[2020-02-10 21:53] #5842 closed

[2020-02-10 21:54] #5751 closed

[2020-02-10 21:57] johnsaigle commented on #5599
I think this will be resolved by #5945

[2020-02-10 22:00] johnsaigle commented on #5668
@maltheism Do you think you could incorporate these changes into #5394? It would be good to explain which permissions interface with adding attachments also.

[2020-02-12 18:22] ridz1208 opened #6054 "Couch_MRI_Importer script broken"
**Describe the bug**
Somewhere in LORIS 17.0 branch maintenance the query on the selected flag in the MRI Couchdb importer was removed. this is a critical part of the script.

**Additional context**
PR #5933 was created to fix the issue but required more work to be done.

Someone on the imaging team should take charge of this

[2020-02-12 18:54] cmadjar opened #6055 "[data_release] refactor module to use the data framework"
once #5224 is merged, work on refactoring the module to use the data framework

[2020-02-12 18:58] cmadjar opened #6056 "[data_release] manage permission modal window modification"
**Is your feature request related to an existing module?**
data_release

**Describe the solution you'd like**
Display the data release versions in columns in the manage permission modal window instead of having one version per line, as shown in the image below:
![image](https://user-images.githubusercontent.com/1402456/74367222-7f5a8900-4d9f-11ea-8e03-3c2e913aaeb6.png)

[2020-02-13 14:24] #5061 closed

[2020-02-13 14:24] #5843 closed

[2020-02-13 16:43] driusan opened #6058 "[API] Can not access visit through v0.0.2 of API"
When attempting to access the URL http://localhost:8000/api/v0.0.2/candidates/965327/V06 on my sandbox I get an error "Unsupported Version".

The URL  http://localhost:8000/api/v0.0.3-dev/candidates/965327/V06 works properly.

However, the documentation for v0.0.2 says that the endpoint should be available in version 2 of the API, so both the released and development version of the API should be e

[2020-02-13 17:01] PapillonMcGill opened #6059 "[CORE] Can't generate a new candidate"
**Describe the bug**
get `Uncaught DomainException: Values not configured properly for PSCIDGenerator. Please correct your configuration file.Length: `4`\nAlphabet: `0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ`\nMin: ``\nMax: `9999`\nLength: `CHA`\nGeneration: `sequential`\n in `

error reported on PSCID generation.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1.

[2020-02-13 17:09] PapillonMcGill opened #6060 "[tools] raininbread_refresh try to use unix user for BD access"
**Describe the bug**
running raisinbread_refresh script try to use local unix user to connect to BD instead of the user in config.xml
[code]
the script was able to complete.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. run `php raisinbread_refresh.php`

**What did you expect to happen?**
script run flalessly

**Server Environment (if known):**
- LORIS Ve

[2020-02-13 17:15] PapillonMcGill commented on #6060
Message from exception displayed on the screen.  Script work around this.

Not a bug

[2020-02-13 17:33] PapillonMcGill commented on #6060
Redirection problem.

[2020-02-13 18:08] johnsaigle commented on #6059
I think this is the bad value

[2020-02-13 18:14] PapillonMcGill commented on #6059
@johnsaigle This `CHA` is not from the config.xml file. I come from somewhere else.

[2020-02-13 18:19] PapillonMcGill commented on #6059
@ridz1208 @johnsaigle `CHA` in the bug description is coming from to project. I tried with another project (DCP from raisinbread) and `DCP` was in the length fields.

[2020-02-13 18:40] johnsaigle commented on #6059
@PapillonMcGill This problem seems to be fixed in another PR I have open, #6036. Could you test it and verify?

[2020-02-13 18:45] johnsaigle commented on #6060
Yep I think it should be fixed by the above PR. It's trying to connect via a DB configuration file and the error message should be hidden if it doesn't exist.

[2020-02-13 21:18] johnsaigle opened #6066 "[Document Repository] Module broken, does not load"
**Describe the bug**
When loading the module, the table and filters load briefly then disappear, leaving a blank page.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to aces/master
2. Go to the Document Repository

**What did you expect to happen?**
The module should load.

**Browser Environment (please complete the following information):**
- OS: macOS

[2020-02-17 14:37] johnsaigle commented on #5103
Some of these are covered by #6048. I'll add the missing points.

[2020-02-17 14:46] johnsaigle commented on #4196
I'm going to close this issue because it lacks precision. This project is well underway and we aren't likely to forget about it. There is also a Project associated with this so we will have a record.

[2020-02-17 14:46] #4196 closed

[2020-02-17 14:59] johnsaigle commented on #4995
@christinerogers I think this is resolved except for the RegistrationCenterID references in the (deprecated) wiki.

Are you in favour of closing this and creating a separate ticket for this final update?

[2020-02-17 15:13] driusan commented on #4284
They shouldn't return false, they should all be either `?array` or `?string`, I think.

[2020-02-17 15:16] johnsaigle commented on #4284
Agreed I think some of them have strange error handling though.

This issue is somewhat addressed by https://github.com/aces/Loris/pull/6039 because it makes the array formats more clear. When that is merged we can take a look at making the functions more consistent.

[2020-02-17 19:05] johnsaigle opened #6074 "[Statistics] Demographic table column 2 is "Undefined""
**Describe the bug**
The second column header on the Demographic Statistics table is "Undefined".

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to 'Statistics', navigate to Demographics Statistics tab
<img width="508" alt="Screen Shot 2020-02-17 at 14 04 20" src="https://user-images.githubusercontent.com/4022790/74680382-6e8a8880-518e-11ea-94de-84f6dfc

[2020-02-17 19:28] johnsaigle opened #6075 "[Statistics/Dashboard] Demographic counts are inconsistent"
**Describe the bug**
The count for Female and Male participants do not match. The dashboard demographic numbers are different from the Demographic Statistics tab.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to demo.loris.ca and compare the counts.

**What did you expect to happen?**
The numbers should be the same.

[2020-02-17 19:52] johnsaigle commented on #6075
The two locations in the code use different queries:

e.g.

https://github.com/aces/Loris/blob/6190c99098bd2b40892b8f72bfd85606ed381264/modules/statistics/php/module.class.inc#L268-L277

https://github.com/aces/Loris/blob/6190c99098bd2b40892b8f72bfd85606ed381264/modules/statistics/php/stats_demographic.class.inc#L347-L367

I'm not sure which one should be adjusted but to me the Widget code looks m

[2020-02-17 21:51] johnsaigle commented on #6040
We should add an integration test for this in the same bug fix PR.

[2020-02-17 23:03] johnsaigle commented on #4368
This can be tested on Raisinbread by clicking the link in my bug report and replacing the base URL with your own VM.

[2020-02-18 16:48] johnsaigle commented on #6040
I traced some of the execution for this. The issue is coming from

https://github.com/aces/Loris/blob/d8855fcb919b17672929c44115090f5b2cab42cd/modules/user_accounts/php/module.class.inc#L36-L39

Without `user_accounts`, a user cannot access either the My Preferences or Edit User endpoints.

This public Module::hasAccess() function call gets handled before the private `my_preferences->_hasAccess()`

[2020-02-18 19:33] johnsaigle opened #6079 "My Preferences module should not email your password to you"
**Describe the bug**
Upon editing your password, my preferences will email it to you in plaintext.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Change your password using My Preferences using a valid email.

**What did you expect to happen?**
The password should change but no email should be sent. We only want to email passwords to people on a one-time b

[2020-02-18 19:57] johnsaigle commented on #5282
#6036 should be merged first because it fixes existing bugs in candidate creation.

[2020-02-18 20:09] johnsaigle commented on #5574
Do you mean the `php/libraries/NDB_BVL_Battery.class.inc` class?

[2020-02-18 21:01] johnsaigle commented on #5145
It is still a problem

[2020-02-18 21:09] johnsaigle commented on #4558
This should be addressed by #6076

[2020-02-18 21:19] johnsaigle commented on #4406
What do you mean by XIN Rules exactly? Which class?

[2020-02-20 15:02] johnsaigle commented on #5931
Blocked by #6022 by Dave's request.

[2020-02-20 15:06] johnsaigle commented on #4061
We can also now remove the file doc comments from most PHP files in LORIS> As of now, only class comments are required.

"Standalone" scripts, such as tools/ and ajax/ scripts, should still contain a file comment if they do not have a class.

[2020-02-20 15:26] lingma opened #6086 "User password modification problem"
**Describe the bug**
On V21.05, if a user is expired, the system will ask to change password. I have tried no less than 10 times, no matter what kind of strong password you entered, the system will say that the password is not strong enough or the password does not match. This kind of user experience is quite crazy at least for me. This behavior has impact to the existing users of v21, which will

[2020-02-20 16:31] driusan commented on #6022
Blocked by #6023

[2020-02-20 19:51] lingma opened #6088 "Image browser module problem"
**Describe the bug**
With a fresh new installation, the imaging browser module will show an error page "An error occured while loading the page.".

Reason is `$modalities_subquery` related problem, since this variable might be empty, so the concatenated SQL become "SELECT ,, FROM", this will pose a problem to be valid SQL.

Location: line 192 of ImagingBrowserRowProvisioner.class.inc

**To Reprodu

[2020-02-21 20:10] #5109 closed

[2020-02-21 20:11] #6060 closed

[2020-02-24 16:02] johnsaigle commented on #6086
Possible duplicate of #4208

Do you know what the cause of the issue is? Is it the password expiry, password complexity, or passwords not matching?

[2020-02-24 16:05] lingma commented on #6086
I will check if necessary. I feel that this is not password complexity or not matching, not urgent, since only 21 has this problem, I tested, 22 is fine

[2020-02-24 16:13] johnsaigle commented on #6086
Since this isn't an issue on 21 I think we'll likely close this issue as "won't fix" since we don't tend to support old versions of LORIS.

@driusan @ridz1208 Let me know if this should be closed.

[2020-02-24 16:16] lingma commented on #6086
Right, v22 is correct. This is not a password complexity issue, because my password is complicate enough to pass v22. The same or even more complicate won't work on v21. I did not further check because I was busy with other issues

[2020-02-24 16:18] johnsaigle commented on #6086
Version 22 isn't exactly "more complicated" than version 21. They have different rule sets. It's possible that a valid password in 22 would be invalid in 21 since 21 requires special characters.

[2020-02-24 16:18] #6012 closed

[2020-02-24 16:19] lingma commented on #6086
Well, of course I should have provided special characters as the rules asked.

[2020-02-24 16:20] johnsaigle commented on #5427
Instead I've taken the approach of separating My Preferences into its own module. #6078

If that PR is merged, this issue can be closed.

[2020-02-24 16:21] johnsaigle commented on #6086
OK, just double checking.

[2020-02-24 16:21] lingma commented on #6086
Let me check if I can find something in 21, if not, I will just give up.

[2020-02-24 16:58] lingma commented on #6086
I am sorry for having mixed up, in fact the reason is that `?` is not recognized as a special character, which I happened to have used. Effectively, V22 doesn't check in this way, so the password modification could go ahead.

[2020-02-24 16:59] #6086 closed

[2020-02-24 17:06] lingma commented on #6086
I saw that the code supports \ and & but those won't show up as the allowed characters.

[2020-02-24 18:10] #6088 closed

[2020-02-24 19:18] johnsaigle commented on #5720
@maltheism Do you know whether this is still a bug in your PR #5835 ?

[2020-02-24 20:08] maltheism commented on #5720
@johnsaigle should be resolved.

[2020-02-25 19:50] zaliqarosli opened #6102 "[Consent] Validate DateWithdrawn later than DateGiven"
**Describe the bug**
This is not necessarily a bug, but a request to strengthen the validation of the `candidate_consent_rel` data. Currently, a user is able to withdraw consent with a date that is earlier than the date of given consent. Theoretically, the date of withdrawal should always be later than the date of given consent.

**To Reproduce**
1. Go to candidate_parameters module
2. Click on Co

[2020-02-25 21:06] johnsaigle commented on #4390
#6105 has revised the Code Review Checklist but I think many of these points would be better served by a "PHP Style Guide" similar to what we use for React and SQL.

This should make a passing reference to the Automated Testing guide but in general should avoid being an explainer of phpcs, phan etc. Instead it should cover things that are not validated by automated testing, such as DateTimes, magi

[2020-02-26 16:56] johnsaigle commented on #5096
Pasting @christinerogers comment from #5689 so that all of the desired DB checks can exist in one place

~~(As john saigle mentioned ^^) #1053 is important~~ [_I do not remember saying this or know why it's relevant - JS_]
Date of birth should make sense, should not
check for duplicates - 1 participant with same instrument populated twice for 1 visit label (it happens)
DDE - over/under population

[2020-02-26 16:57] johnsaigle commented on #5689
Feature requests for this script should be added to #5096 instead of this issue.

[2020-02-26 18:10] #5057 closed

[2020-02-26 18:45] #6059 closed

[2020-02-26 19:23] #5338 closed

[2020-02-26 21:02] #5563 closed

[2020-02-26 21:40] driusan opened #6114 "Remove SWAL from htdocs/vendor"
We currently have 2 versions of swal used in LORIS: sweetalert2, managed by npm, and sweetalert, which is placed in the htdocs/vendor/js/sweetalert directory. We should migrate all usage to be the sweetalert2 version and remove the old vendored code.

[2020-02-28 21:00] driusan commented on #6066
PR merged

[2020-02-28 21:00] #6066 closed

[2020-03-02 20:34] johnsaigle commented on #6079
Marking this as Blocked by #6078. We can make this change afterward.

[2020-03-03 15:04] #6022 closed

[2020-03-03 16:07] #5565 closed

[2020-03-03 22:01] johnsaigle commented on #5773
I'm able to replicate this on Raisinbread with the following POST body:

CandID: 587630
PSCID: DCC090
VL: V2
Test_name: medical_history
Email: `$myemail`
Email2: `$myemail`
email_dialog: ggg
send_email: true

The module can return silently when an instrument exists for the given session:

https://github.com/aces/Loris/blob/553165cb2c737d20f1fa4a074691767f5081726d/modules/survey_accounts/php/addsur

[2020-03-03 22:04] johnsaigle commented on #5296
Closing this because it's not very important. This will be better handled by #5965 instead of the install script anyway.

[2020-03-03 22:04] #5296 closed

[2020-03-04 19:26] jesscall opened #6136 "[media] Downloading file with special characters in name leads to error: Failed - no file"
**Describe the bug**
There is an error when downloading files from media module that contain special characters in its name (ex: '&').  Error message that appears says "Failed - No File". This is likely occurring because SQL changes such characters to their html encoding.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to media module.
2. If no file with

[2020-03-05 16:47] #5001 closed

[2020-03-05 17:36] #4390 closed

[2020-03-09 14:44] #5034 closed

[2020-03-09 15:15] johnsaigle commented on #6136
There's a chance that this affects other modules with file download capabilities too.

[2020-03-09 15:17] driusan commented on #5508
There is no more data_team_helper.

[2020-03-09 15:17] #5508 closed

[2020-03-09 15:30] lingma opened #6141 "[Issue Tracker] filter issue"
**Describe the bug**
issue_tracker#Active Issues

will show issues with status "New" and at the same time filter will be changed to "Closed", the issue is not "closed" in fact.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to 'issue tracker'
2. Click on 'new issue'
3. click the "Active Issues" tab, you will see that the filter status changes to "Closed

[2020-03-09 15:31] lingma commented on #6141
Possibly the same issue exists on other versions, I did not check.

[2020-03-09 17:58] driusan commented on #5223
We have no plans to add this dependency, but languages are slowly being implemented as of #4976

[2020-03-09 17:58] #5223 closed

[2020-03-09 17:59] driusan commented on #5105
Version of LORIS reported with isn't supported, and this doesn't seem to be reproducible with the latest version.

[2020-03-09 17:59] #5105 closed

[2020-03-10 16:30] #4891 closed

[2020-03-10 17:37] johnsaigle commented on #5880
Duplicate of #5391

[2020-03-10 17:37] #5880 closed

[2020-03-10 21:07] johnsaigle commented on #5120
Can you review #5989 and see whether it looks like what you want?

I did not add the project name to the CSV output file because it could cause issues with special characters. Raisinbread for instance has the project title "LORIS Demonstration Database" and the spaces will cause an issue in the filename.

[2020-03-11 20:26] driusan opened #6155 "imaging_qc module missing test plan"
**Describe the bug**
The `imaging_qc` module has some automated tests (that's good) but no human readable test plan (that's bad).

Someone familiar with the module should write a test plan for it so that it can be tested.

[2020-03-11 23:19] zaliqarosli commented on #5380
@ridz1208 this PR does what you mentioned above

[2020-03-13 19:07] driusan commented on #6040
fixed by above PR

[2020-03-13 19:07] #6040 closed

[2020-03-13 19:07] driusan commented on #5959
fixed by above PR

[2020-03-13 19:07] #5959 closed

[2020-03-17 15:06] johnsaigle commented on #6155
Duplicate of #5481

[2020-03-17 15:15] driusan commented on #6155
duplicate ticket

[2020-03-17 15:15] #6155 closed

[2020-03-17 15:18] johnsaigle commented on #5427
My Preferences now has its own module so these classes should not be modified to have a common parent class.

[2020-03-17 15:18] #5427 closed

[2020-03-17 15:20] johnsaigle commented on #5031
@cmadjar Can this be closed now that the module is merged? Or is this issue still present?

[2020-03-17 15:48] johnsaigle opened #6162 "Forbid special characters in uploaded filenames"
**Is your feature request related to an existing module?**
Yes, all modules with file uploading capabilties.

**Describe the solution you'd like**
Special characters should not be allowed for filenames. This includes characters that do special things in UNIX, like `$`, `<`, `&`, etc.

These should be validated on the back-end in `FilesUploadHandler` and issue a 400 response.

**Describe alternativ

[2020-03-17 16:07] lingma opened #6163 "electrophysiology_browser SQL table not installed automatically"
new installation won't have access to `electrophysiology_browser` because the installer doesn't include the SQL of `electrophysiology_browser`

[2020-03-17 16:44] cmadjar commented on #6163
What installer?

[2020-03-17 16:45] cmadjar commented on #5031
Indeed.

[2020-03-17 16:45] #5031 closed

[2020-03-17 16:48] johnsaigle commented on #4284
I think for the most part they return `?array` now. Only `pselectOne()` needs a return type. Adding it causes phan errors for downstream functions that use it though, so it will require a slightly larger cleanup PR.

[2020-03-17 17:02] lingma commented on #6163
The Loris installer. I checked, nothing mentioned, I will create a PR soon.

[2020-03-17 17:34] johnsaigle opened #6167 "Add screenshot prompts for UI changes"
**Describe the solution you'd like**
It would be good that when changes are made to the LORIS UI that the author includes screenshots showing the interface before and after.

I'd like to add a note to this effect in CONTRIBUTING as well as a checkbox prompt to the PR template like we have for documentation changes.

**Describe alternatives you've considered**
The alternative is what we've got now.

[2020-03-23 14:09] cmadjar commented on #5235
Yahoooo! Tigidoooo!! It's merged!!! :-D

[2020-03-23 14:09] #5235 closed

[2020-03-23 16:27] lingma opened #6178 "NDB_BVL_Instrument variable declarations not clear or wrong"
In the declartion of NDB_BVL_Instrument, we have
   /**
     * Array of required fields to check
     *
     * @access private
     */
    var $_requiredElements = array();
@access private should be wrong, in fact $_requiredElements is public as declared, it could be protected. In both case, _ is not necessary. There are other variables with the similar issues in the same file.

The description sh

[2020-03-23 18:44] johnsaigle commented on #6178
This is required by PHPCS for variables declared as `private`.

[2020-03-23 18:55] lingma commented on #6178
They should in fact "protected", declared as "public", documented and declared as "private"

[2020-03-24 14:21] johnsaigle commented on #6178
I'm confused by this. If something is declared public, it's public, not protected.

[2020-03-24 14:30] lingma commented on #6178
If it is public, then say it public in the document zone, instead it is said to be "private"

It is OK to be public, but better to be protected

[2020-03-24 14:57] johnsaigle commented on #6163
Resolved by linked PR

[2020-03-24 14:57] #6163 closed

[2020-03-24 16:21] johnsaigle commented on #5040
I looked quickly and the subprojectID at least it still hard-coded in the script.

[2020-03-25 16:28] johnsaigle commented on #5113
I've added #6182 to serve as a generic way to handle file downloads.

I did some research yesterday and it seems that there is an Apache module that we could install that may help with large file downloads. It involves sending a special Response header `X-Sendfile` that should improve download performance for servers configured with the Apache module.

I'll look into this further and extend the cl

[2020-03-25 16:41] johnsaigle opened #6184 "Remove "Welcome" page from statistics module"
**Is your feature request related to an existing module?**
Statistics

**Describe the solution you'd like**
Remove the "General Description" tab from statistics and display another tab when the module loads.

**Additional context**
The statistics module is organized into 4 separate tabs. The first is a sort of landing page giving an overview of the other 3 tabs.

This is unusual for LORIS - other

[2020-03-25 16:41] johnsaigle commented on #6184
Related: #5106

[2020-03-25 18:21] maltheism opened #6185 "[tools/install.sh] Error in install process on CentOS: "projectname: unbound variable""
**Describe the bug**
On CentOS i'm trying to run the install.sh script in tools and it fails because of the error:
[code]

Also worth noting that the `composer update` command gives this output:
[code]

[2020-03-25 18:30] johnsaigle commented on #6185
This happens when you run `./install.sh`? I'm confused because the script doesn't use composer so it shouldn't have anything to do with `vendor/`.

[2020-03-25 18:39] johnsaigle commented on #6185
Diactoros was removed in #5894. Are you using the latest version of the code? Neither the latest `23.0-release` nor `master` contain diactoros.

[2020-03-25 19:04] johnsaigle commented on #6185
I think the linked PR should fix this issue.

[2020-03-25 20:17] maltheism commented on #6185
@johnsaigle I believe I was on minor by mistake. I'm getting another error on major.
[code]

Anyway I'm going to try manually doing what the install.sh script does in the meantime. Thanks for the help!

[2020-03-25 20:31] johnsaigle commented on #6185
I think that has to do with some fuzzy bash code in install. `shellcheck` may be able to help.

[2020-03-26 22:12] laemtl commented on #5687
Hello, new contributor here! I will be happy to lend a hand to solve this task, as it will give me a good overview of the project.

[2020-03-26 22:24] laemtl commented on #5015
I can help on this!

[2020-03-30 15:07] johnsaigle commented on #5687
Hey, that's great! We appreciate your contribution. let us know if you have any questions. :)

[2020-03-31 14:42] johnsaigle commented on #4428
#6173 and #6205 have both been issued to do Utility cleanup. Only one of them should be merged as they will likely conflict.

[2020-03-31 14:59] johnsaigle commented on #5863
I think this is a good idea but I'm going to close it for now because it doesn't seem like we have the bandwidth to properly support this initiative at this time. We should revisit this when more resources are available.

[2020-03-31 14:59] #5863 closed

[2020-03-31 15:41] johnsaigle opened #6206 "Candidate Profile [Beta] does not have help text"

[2020-03-31 15:42] johnsaigle opened #6207 "Candidate Profile [Beta] does not have a test plan"

[2020-03-31 15:42] #6185 closed

[2020-03-31 15:42] johnsaigle commented on #6185
Resolved by #6196

[2020-03-31 15:59] johnsaigle commented on #5021
This could be addressed by the linked script instead of the installer.

[2020-03-31 17:05] johnsaigle commented on #4995
I'm going to close this for now. The remaining items exist in the GitHub Wiki which is in the process of being deprecated. As we rewrite these pages for the new ReadTheDocs wiki we should be able to catch outdated sections during code review.

[2020-03-31 17:05] #4995 closed

[2020-03-31 18:37] johnsaigle opened #6209 "ReadTheDocs build failure on LORIS API symlinks"
**Describe the bug**
ReadTheDocs is failing because it's unable to resolve the following symlinks:

docs/wiki/99\ -\ Developers/LORIS-REST-API-0.0.2.md
docs/wiki/99\ -\ Developers/LORIS-REST-API-0.0.3-dev.md

These were added in https://github.com/aces/Loris/pull/6151

**What did you expect to happen?**
ReadTheDocs and mkdocs should resolve the symlinks and render the documentation.

We may need t

[2020-04-01 13:54] driusan opened #6212 "[electrophysiology_browser] Breadcrumbs Broken in EEG Browser"
After clicking on a link to a session in the EEG browser, the URL is `$LORIS/electrophysiology_browser/sessions/$sessionID`. The breadcrumb for the word "Sessions" on the Page goes to `$LORIS/electrophysiology_browser/sessions`. However, the latter URL is a 404 page with the error "Invalid session".

[2020-04-01 15:04] ridz1208 opened #6213 "Add testplan for DOB and DOD tabs of candidate params"
**Describe the bug**
Missing test plan sections for new feature

[2020-04-01 15:13] ridz1208 opened #6214 "[issue tracker] Add testing attachment instructions to test plan"
**Describe the bug**
Test plan does not describe how to test adding attachments to issues

[2020-04-01 15:15] ridz1208 opened #6215 "[issue tracker] Add raisinbread data for issue tracker attachments"
**Describe the bug**
the attachments should have mock data to be easily testable

[2020-04-01 15:23] driusan commented on #6215
Can't you just upload an attachment? The uploading needs to be tested too..

[2020-04-01 15:30] maltheism commented on #6215
I think this would require a place to store the mock files from rasinbread on the development system. Where would be the best place to store besides making a folder in the root directory of loris?

[2020-04-01 15:36] ridz1208 commented on #6215
fine by me... i tried

[2020-04-01 15:36] #6215 closed

[2020-04-01 15:50] lingma opened #6218 "[Instrument List] Mysterious checkboxes require documentation"
**Describe the bug**
See the image attached:
![image](https://user-images.githubusercontent.com/5295785/78158254-feb72100-740e-11ea-8d2a-6780d830b40c.png)

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to instrument list of any candidate
2. Click on "double data entry"
3. Look at the left top corner

**What did you expect to happen?**
There should be a

[2020-04-01 16:25] lingma opened #6219 "[instrument battery] imaging data button"
**Describe the bug**
See the image:
![image](https://user-images.githubusercontent.com/5295785/78161656-ccf48900-7413-11ea-850d-16b561f7cce1.png)

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. click on the candID 587630, V2
![image](https://user-images.githubusercontent.com/5295785/78161551-9f0f4480-7413-11ea-9ccc-e8f4b369bdd7.png)

2. Click on 'View Imagi

[2020-04-01 16:37] lingma commented on #6219
This behavior comes probably from the fact that some instruments are not in the list, this behaviour could probably be fixed in the imaging browser module

[2020-04-01 16:48] lingma opened #6220 "facebook module version in composer.json"
**Describe the bug**
If you do `composer install` then `make`, you will have
![image](https://user-images.githubusercontent.com/5295785/78163749-cb789000-7416-11ea-8085-7d7fec06c3d7.png)

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Do `make dev` or `composer install`
2. Do `make` you will have an error

**What did you expect to happen?**
A clear and conc

[2020-04-01 17:59] maltheism commented on #6220
I believe @johnsaigle has fixed this in one of his PRs I reviewed.

[2020-04-01 18:59] #4440 closed

[2020-04-01 21:04] johnsaigle commented on #6220
This should be resolved by #6187.

[2020-04-01 21:51] maltheism opened #6224 "[new_profile] create a new profile Argument 1 passed must be of the type array, string given"
**Describe the bug**
Trying to create a new profile is throwing this error:

[code]

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to new_profile
2. Click to create new profile
3. See error in logs

[2020-04-02 12:56] driusan opened #6226 "[electrophysiology_browser] Can not load session page (test VM)"
**Describe the bug**
When accessing the EEG browser on the test VM, the page doesn't load after clicking on "all types" or "raw" and gets stuck on a "Loading" spinner.

The javascript console says:

[code]

I don't have any access to the apache logs to see what the cause of the internal server error is.

**To Reproduce**
Log in and visit a URL such as: https://test-loris-dev.loris.ca/electrophysio

[2020-04-02 13:09] driusan opened #6227 "[test VM] candidate_profile module not installed on VM"
In the `module_manager` module there is no `candidate_profile` on the test VM. As a result, the candidate info card doesn't show up when choosing `New Access Profile (beta)` from the menu on the test VM (other module's cards do, but there's no way to access a visit from the candidate info card, since it's part of the `candidate_profile` module.)

[2020-04-02 13:15] driusan opened #6228 "[test VM/survey accounts] Can not access surveys."
Item 5 of the test plan for `survey_accounts` reads:

[code]

However, on the test VM all links that I've tried just give an error page that reads ` Failed to retrieve data for timepoint -1`. (I can not create a new survey to try because of another bug..)

[2020-04-02 13:18] driusan opened #6229 "[survey_accounts] Can not create survey"
When clicking "Add Survey" in `survey_accounts`, filling out all the fields except email address, and clicking the "Create survey" button the page reloads with all data except the instrument (which was previously selected) filled out. There is no error message and the survey is not created.

I don't have an address to use to try the "Email survey" option..

[2020-04-02 13:21] driusan opened #6230 "[survey_accounts] Insufficient data in RB/test VM for test plan"
Item 2 of test plan:

[code]

There is only one instrument configured, so the instrument filter can not be tested. Whether filtering for that instrument or all instruments gives the same result..

[2020-04-02 13:35] driusan opened #6231 "[acknowledgements] "Present" option in module unclear"
There is a column "Present" in the acknowledgement table. It's a boolean. Neither the help text nor test plan describe what it is supposed to mean. It doesn't appear to be used for anything other than displaying "Present: Yes/No" in the table.

It works properly (in that it saves), but it's confusing. Can it just be removed?

[2020-04-02 13:37] ridz1208 commented on #6230
@driusan for testing purposes you can just enable any other istrument (set as directentry) and remove it after

[2020-04-02 13:38] driusan commented on #6230
@ridz1208 As far as I know it's not possible to do that without backend access.

[2020-04-02 13:44] ridz1208 commented on #6230
true

[2020-04-02 13:55] driusan opened #6232 "[instrument_manager] Add ability to toggle IsDirectEntry flag"
Currently, setting an instrument to be a survey instrument or "normal" instrument requires backend access. It would be a good idea to provide a front end way for an admin to modify this.

The instrument_manager module seems like a reasonable place to add such a feature.

[2020-04-02 15:57] ridz1208 opened #6233 "[Login] request account does not request an account"
**Describe the bug**
When requesting a new account, the account does not show in the list of the admin user accounts.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to login -> request account
2. Fill all the fields and submit
3. Login as admin
4. The newly requested account does not appear in the list of user-accounts

I have a suspicion that it might

[2020-04-02 16:06] ridz1208 commented on #6233
If the suspected issue is correct.

- Admin account should be able to view all users regardless of permissions
- request account should get a mandatory project field

[2020-04-02 16:19] kongtiaowang commented on #6227
@driusan It works now.

[2020-04-02 16:25] kongtiaowang commented on #6226
I think this is a bug.
[client 192.168.122.1:46552] PHP Fatal error:  Uncaught NotFound: Could not load module `electrophysiology_browser`: file `/var/www/Loris/modules/electrophysiology_browser/php/models/electrophysiofile.class.inc` does not exist in /var/www/Loris/php/libraries/Module.class.inc:141\nStack trace:\n#0 [internal function]: Module::{closure}('LORIS\\\\electroph...')\n#1 /var/www/Lo

[2020-04-02 17:14] ridz1208 opened #6235 "[UI] on mobile devices once a menu tab is open it cannot be closed"
**Describe the bug**
When one opens any of the menus, there is no way to re-close it to select another menu item.

![Screenshot_20200402-130930_Chrome](https://user-images.githubusercontent.com/15268287/78278056-7a829d80-74e3-11ea-8759-321c6fc0a094.jpg)

[2020-04-02 17:16] #6227 closed

[2020-04-02 17:22] ridz1208 opened #6236 "[Data release] manage permission UI confusing"
**Describe the bug**
The user interface of the manage permission form should display grouped version lists for each user rather then the current one row per user/version (see image)

![SmartSelect_20200402-131650_Chrome](https://user-images.githubusercontent.com/15268287/78279074-fd582800-74e4-11ea-908d-e5cc17a22932.jpg)

[2020-04-02 17:26] ridz1208 opened #6237 "[Data release] should a user ever lose acces to his own upload ?"
**Describe the bug**
When a user uploads a file, they associate it with a version. An administrator can then grant access to files based on their versions to different users. Which means an admin can lock a user out of their own upload...

Should that be the case?

[2020-04-02 18:57] kongtiaowang opened #6239 "[statistics] user has one project's permission still can see other projects in the drop-down menu"
**Describe the bug**
This is a minor issue.
In Demographic, Behavioural Statistics
and Imaging Statistics tab, although the user has only one project's permission, the use still can see other projects in the project drop-down menu.
**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. assign a user with one project premisson.
2. go to statistics/Demographic Statis

[2020-04-02 20:12] cmadjar commented on #6231
A little background about that confusing column. This is a field to mention whether the person to acknowledge is still actively working on the project.

The naming could be changed to something clearer, I agree, but I would not remove this option.

[2020-04-02 21:05] ridz1208 opened #6240 "[Data release] manage permission form is limited to 20 entries"
**Describe the bug**
The manage permission form has one line per user/version to grant or remove permission for that version.

the form however is limited to 20 lines and thus only displays the 20 first user/version combinations

[2020-04-02 21:08] ridz1208 opened #6241 "[Data release] Downloaded csv has #### instead of dates"
**Describe the bug**
when you download the CSV representing the release list, all upload dates show up as `####` in the downloaded file

![SmartSelect_20200402-165743_Excel](https://user-images.githubusercontent.com/15268287/78299976-bbd77500-7504-11ea-86c7-0e15df4ca513.jpg)

[2020-04-02 21:18] ridz1208 opened #6242 "[Data release] Manage permission form persistence issues"
**Describe the bug**
when assigning version permissions to users from the manage permissions form, after checking boxes, saving and reloading the form, the checked boxes are back empty

**To Reproduce**
Steps to reproduce the behaviour (attach screenshots if applicable):
1. go to data release -> manage permissions
2. Check some boxes
3. save
4. reload form

Step 2
![Screenshot_20200402-171442_Chro

[2020-04-02 21:24] ridz1208 opened #6243 "[Data release] Versions with same name but different casing are considered different"
**Describe the bug**
When uploading a file, you can create a version name for the file. If the version name is the same as another but have different casing, the version will be considered different (see screenshot). that should not be the cases, versions should be case independent

![SmartSelect_20200402-131650_Chrome](https://user-images.githubusercontent.com/15268287/78301344-ec201300-7506-11ea

[2020-04-02 21:31] ridz1208 opened #6244 "[login] Recaptcha not displaying"
**Describe the bug**
The RECAPTCHA used to be available in a previous version when a user was requesting an account or even resetting a password.

I think the functionality should be restored

[2020-04-02 21:36] ridz1208 opened #6245 "[dashboard] Pending approval link error page"
**Describe the bug**
When some user accounts are still pending approval, an entry in the `My Tasks` panel on the dashboard appears "X Pending account approval"

clicking on that link leads to a loris error page

<img width="1680" alt="Screen Shot 2020-04-02 at 5 36 29 PM" src="https://user-images.githubusercontent.com/15268287/78302343-95b3d400-7508-11ea-8fc8-be3e0df4cbb6.png">
<img width="516" al

[2020-04-02 21:42] ridz1208 opened #6246 "[login] Reset Password testplan needs updating"
**Describe the bug**
the test plan still mentiones the old password rules. The document should not mention any password rules... the Front end should have all the necessary instructions for a user to be able to reset their password

[2020-04-02 21:50] ridz1208 opened #6247 "[dataquery] incorrect pagination after search"
**Describe the bug**
In the dataquery tool, whensearching WITHIN an instrument, under the search result the pagination is incorrect. It does not get updated after the search results are returned.

In the image below, I search for `q9` which returns 3 search results but the pages under go up to 8

<img width="1680" alt="Screen Shot 2020-04-02 at 5 47 38 PM" src="https://user-images.githubuserconten

[2020-04-02 22:16] maltheism opened #6248 "[dicom_archive] Archive Location broken?"
**Describe the bug**
Visiting the dicom_archive module and clicking on links in the table of the "Archive Location" will not do anything. I'm not sure if this is a bug or files don't exist on the testing VM.

[2020-04-03 12:45] atspahr opened #6249 "Make "Error running scoring algorithm" on instrument more detailed."
"Error running scoring algorithm" displays when there is a discrepancy between the LINST and SCORE files. However, there is no detail on what is happening or what is wrong.

It would be nice to see some of the error log from the back-end here in the front-end. It would make troubleshooting the scoring and sql queries much faster.

[2020-04-03 18:42] CamilleBeau opened #6251 "[imaging_qc] needs Test Plan"
No test plan is available in test folder for imaging_qc module. https://github.com/aces/Loris/tree/master/modules/imaging_qc/test

[2020-04-03 19:03] maltheism commented on #6235
@ridz1208 Although I assume this css behaviour is from bootstraps. I think this can be fixed. We just should disable the onclick css styling for the row and have onhover handle the styling change. I'm curious if the menu even works on mobile devices because the menu isn't staying open onclick.

[2020-04-03 20:40] zaliqarosli commented on #5486
@johnsaigle any reason you removed the PR sent tag? The PR is still open

[2020-04-03 23:20] johnsaigle commented on #5486
That tag doesn't exist anymore. When you delete a tag GitHub displays it the same as when you remove an existing tag.

[2020-04-04 19:04] ridhishjain opened #6254 "Broken Links in documentation"
**Describe the bug**
The link for the unit testing guide in [testing guide](https://github.com/aces/Loris/blob/master/docs/wiki/99%20-%20Developers/Automated%20Testing.md) is broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `CONTRIBUTING.md`
2. Click on testing guide link given in section **Some things to keep in mind**
3. See error

**What did you expect to happen?**
Unit testin

[2020-04-04 19:14] ridhishjain opened #6256 "Broken Links in documentation"
**Describe the bug**
The link for raisinbread readme is broken in contributing.md

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to `CONTRIBUTING.md`
2. Click on detailed steps link given under **Some things to keep in mind** (fifth part under the first point)
3. See error

**What did you expect to happen?**
RsaisinBread readme was supposed to open

**A

[2020-04-04 23:02] SantiagoTG opened #6258 "[Dashboard] 'Incomplete Forms' link leads to error page"
Clicking on the 'Incomplete Forms' link found in the 'My Tasks' menu leads to a non existent page and thus gives you an error.

Link is: https://test-loris-dev.loris.ca/statistics/statistics_site/

![Screen Shot 2020-04-04 at 6 57 18 PM](https://user-images.githubusercontent.com/54332302/78463051-88cce700-76a6-11ea-8fed-6f1c51cbcbca.png)

![Screen Shot 2020-04-04 at 6 57 44 PM](https://user-images

[2020-04-04 23:11] SantiagoTG commented on #5289
This issue is still relevant for v23.0 release.
Dashboard MRI Violated Scans Count = 198
MRI Violated Scans Module Count = 206

[2020-04-05 00:03] #5786 closed

[2020-04-05 00:04] #5468 closed

[2020-04-05 00:09] SantiagoTG opened #6259 "[BVL Feedback] No BVL Feedback link at the instrument level"
There is no way to access the Behavioral Feedback when accessing an instrument. It is only available at the Candidate and Visit level.

![Screen Shot 2020-04-04 at 8 07 23 PM](https://user-images.githubusercontent.com/54332302/78463871-2678e400-76b0-11ea-9bc5-80f460434d24.png)

[2020-04-05 00:21] SantiagoTG opened #6260 "[Data Dictionary] Empty field in 'Source From' dropbox"
When opening the 'Source From' dropbox to filter results by source, the second option is an empty field. If you click on it it leads to no results. The first field could include the 'All' text to indicate it shows all entries.

![Screen Shot 2020-04-04 at 8 17 55 PM](https://user-images.githubusercontent.com/54332302/78463976-b3706d00-76b1-11ea-99e1-b7688066cb16.png)

[2020-04-05 01:24] ShubhamDhingra96 opened #6261 "Data Dictionary Page not Working"
When opening a Data dictionary page in order to fill the credentials It is not working.

![Untitled (2)](https://user-images.githubusercontent.com/54913662/78464645-cedf7600-76b9-11ea-9e42-c2ce92de8553.png)

[2020-04-05 02:58] ShubhamDhingra96 opened #6262 ""Issue Tracker" Priority Dropdown Issue"
On the Issue tracker page while sorting the issue on the basis of priority, The dropdown doesn't have field "Low"  while in the displayed issues The priority column has value Low.

![Issue](https://user-images.githubusercontent.com/54913662/78465717-289a6d00-76c7-11ea-9661-e5cce649ef30.png)

[2020-04-05 20:59] ShubhamDhingra96 opened #6265 ""MRI Violation" In Selection Filter the Series UID Box"
In MRI Violation Page the selection filter contains the Series UID filter but there is no column releated to Series UID in the displayed data from which we can filter the data. I just want to know is this a required filter or it will be used in future scenarios or it's not required.

![MRI (2)](https://user-images.githubusercontent.com/54913662/78509746-5b437480-775e-11ea-9f07-7f1829c3c3f6.png)

[2020-04-06 12:15] driusan commented on #6231
What's the difference between "Present" and "today's date is between start date and end date"?

[2020-04-06 12:31] driusan commented on #5486
What? Why doesn't the tag exist anymore? The tag should not have been deleted.

[2020-04-06 13:44] johnsaigle commented on #5486
We talked about it in the LORIS meeting on Feb 18th and I removed it after that. The idea is to use GitHub's Linked PRs feature instead.

[2020-04-06 13:45] lingma opened #6266 "[instrument list] imaging browser link showing without permission"
**Describe the bug**
A clear and concise description of what the bug is

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to 'instrument_list' of a candidate
2. Click on 'View Imaging data'
3. The system says "no permission" and a return button to the home page.

**What did you expect to happen?**
If I don't have permission, is it a good practice to not sh

[2020-04-06 13:50] maltheism commented on #5486
I'm not sure what to do with this issue if the PR I made would alter the linst spec. Is there another way of going about it? I would be happy to trying whatever would fix this issue but I cannot think of anything besides the existing PR.

[2020-04-06 14:03] johnsaigle commented on #6251
Duplicate of #6155

[2020-04-06 14:05] johnsaigle commented on #6244
This should be solved by #5214. @maltheism may be able to provide details about why reCAPTCHA hasn't been working for a while.

[2020-04-06 14:05] lingma opened #6268 "[loris form] not answered date is not showing as empty but "dd/mm/yyyy""
**Describe the bug**
A not answered date field is presented as "dd/mm/yyyy" instead of "empty", of course as a placeholder "dd/mm/yyyy" is ok, what if the user says the field is empty? This is not a big problem.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to 'instrument list'
2. Click on 'Radiology Review' or any similar instrument
3. See the date in

[2020-04-06 14:07] johnsaigle commented on #6233
Request account displays a Success message even when account creation fails. It's possible that there was another processing error that you can view in the error log.

[2020-04-06 14:07] johnsaigle commented on #6237
It's a little strange in this case but in general I think it makes sense that the admin can restrict user permissions if necessary.

[2020-04-06 14:09] maltheism commented on #6244
Hey @ridz1208 I believe if my memory serves me correctly. The backend validation of answer from the frontend recaptcha isn't implemented last time I looked. I tested it awhile back with a recaptcha key and came to that conclusion. The login react PR will implement it for security because it keeps a lot of spam accounts being made.

[2020-04-06 14:14] lingma opened #6269 "[instrument] AOSI"
**Describe the bug**
The instrument itself is not clear, as an example this is not a problem but not optimised.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to 'profile'
2. Click on 'AOSI on any V2 timepoint'
3. See the screenshot.
![image](https://user-images.githubusercontent.com/5295785/78567778-30553100-77ef-11ea-9374-e46cb20a078f.png)

**What did

[2020-04-06 14:16] maltheism commented on #6237
Why would the same file that was uploaded require a new version if nothing has been changed in the file content? I'm wondering how this would ever happen.

[2020-04-06 14:23] ShubhamDhingra96 opened #6270 "[Media] File Upload Page not getting refreshed"
**Describe the bug**
While uploading a file on the media page, The site field is not getting refreshed when we change the "PSCID"

 For Example: When I select OTT186 as my PSCID, and for the site Ottawa will come as a option in dropdown on the basis of my PSCID But when I re-select my PSCID as ROM230 it is still showing me Ottawa in the site box, The page is not getting refreshed.

**What did you

[2020-04-06 14:32] lingma opened #6271 "[candidate_parameters] link problem on the timepoint list"
**Describe the bug**
Candidate Info link on the time point list page has an extra "/"

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to 'candidate profile'
2. Click on any profile
3. Click on 'Candidate Info' button in the Actions zone
4. See the link itself, "v.loris.ca//candidate_parameters/...."

![image](https://user-images.githubusercontent.com/529

[2020-04-06 14:33] driusan commented on #6237
I think I agree with @johnsaigle .. if an admin wants to restrict access, why not?

[2020-04-06 14:34] driusan commented on #6244
Wasn't it removed after it was discovered that there was a bug for numerous releases where it wasn't being validated, proving it was useless?

[2020-04-06 14:37] lingma opened #6272 "[create_timepoint] link problem on time point list"
**Describe the bug**
Create timepoint link on the time point list page has an extra "/"

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to 'candidate profile'
2. Click on any profile
3. Click on 'Create time point' button in the Actions zone
4. See the link itself, "v.loris.ca//create_timepoint..."

![image](https://user-images.githubusercontent.com/5295

[2020-04-06 14:38] johnsaigle commented on #6244
I don't remember it being removed. I think we just didn't fix it.

[2020-04-06 14:38] maltheism commented on #6244
Yes I remember that happened. I don't believe there could have ever been a LORIS successfully using RECAPTCHA when it wasn't validated or otherwise the RECAPTCHA process was completely useless because it was just continuing passed it.

[2020-04-06 14:38] driusan commented on #5486
@johnsaigle it was talked about, but there was never any decision/agreement to remove it that I recall.

@maltheism it works in the instrument builder the first time it's clicked as per the thread above. The bug is just that the frontend stops working after that.

[2020-04-06 14:40] driusan commented on #6244
@maltheism yes, that's my recollection.. and that's why it was removed.

[2020-04-06 14:41] johnsaigle commented on #5486
@driusan We remember it differently. Are you opposed to using Linked PRs instead? If so maybe it would be good to create an agenda item and discuss it tomorrow

[2020-04-06 14:42] driusan commented on #6268
I believe the browser fills that in because the input field is an `<input type='date'>` element.. can you confirm? If so, I don't think there's anything we can do about this.

[2020-04-06 14:42] maltheism opened #6273 "[candidate_parameters] extra slash after clicking Candidate Info"
**Describe the bug**

Clicking on the "Candidate Info" button while viewing a PSCID from access profile.

Will result in `https://test-loris-dev.loris.ca//candidate_parameters/?candID=115788&identifier=115788`

[2020-04-06 14:45] lingma commented on #6273
this should be the same as #6271

[2020-04-06 14:46] lingma commented on #6272
The similar is the #6271

[2020-04-06 14:48] maltheism commented on #5486
@driusan last time I looked at the code the empty line wasn't doing anything. Whomever takes the linst file and attempts to load the instrument won't have an empty line between other elements. I'm wondering if there is any purpose of the empty line if it cannot be added to the linst file. I might be confused by your other comment but my impression is if I fix the frontend for still working after w

[2020-04-06 14:50] maltheism commented on #6273
Sorry @lingma I didn't see. I'll update the Testing 23.0 card.

[2020-04-06 14:50] #6273 closed

[2020-04-06 14:56] lingma commented on #6273
Oh, maybe I tested your part, I just saw that on timepoint list, then reported it.

[2020-04-06 15:01] maltheism commented on #6273
@lingma thanks for testing it anyways. More eyes on the module is better than just mine!

[2020-04-06 15:06] lingma commented on #6219
I copied the following text from PR#6221:

The Imaging Browser is set to be anywhere at instrument list, at the same time if some instruments are not present, then the Imaging Browser module will report that fact as an exception, clearly the overall design logic is not correct somewhere.

[2020-04-06 15:07] ridz1208 commented on #6237
Okai, just checking

[2020-04-06 15:07] #6237 closed

[2020-04-06 15:10] maltheism commented on #6268
Usually inputs allow a placeholder but like @driusan assumes that outcome of showing dd/mm/yyyy instead of empty is from the browser. I just tried placeholder set as empty string and I didn't have success. I think it can maybe be done with javascript but might be best to not mess with how the browser handles it.

[2020-04-06 15:13] johnsaigle opened #6274 "[User Accounts] Module Manager permissions do not appear when editing user"
**Describe the bug**
There doesn't seem to be a way to edit a user's permissions for Module Manager from the front-end.

**To Reproduce**
Steps to reproduce the behaviour (attach screenshots if applicable):
1. Edit a user in `user_accounts`. The Module Manager permissions do not appear.

The permissions are sorted alphabetically by description, so the Module Manager should appear here.

### Screen

[2020-04-06 15:18] johnsaigle commented on #6274
https://github.com/aces/Loris/blob/ce4ee70d87e5f6adff71b48a8ca1ecd6c886ec59/raisinbread/RB_files/RB_permissions.sql#L64-L65

https://github.com/aces/Loris/blob/ce4ee70d87e5f6adff71b48a8ca1ecd6c886ec59/raisinbread/RB_files/RB_user_perm_rel.sql#L64-L65

@ridz1208 I think you're right. It looks like `user_perm_rel` is missing some entries.

[2020-04-06 15:19] ridz1208 commented on #6274
Indeed

[2020-04-06 15:37] lingma commented on #6268
Right, just leave it as is

[2020-04-06 15:37] #6268 closed

[2020-04-06 15:42] maltheism opened #6275 "[canidate_parameters] testing plan unclear"
**Describe the bug**
Testing plan states:
[code]
I made an account with permission "View Candidate Parameters" and I'm unable to view "Candidate Info" button to view the parameters. Similar when "Edit Candidate Parameters" is enabled and even when "Across all sites access candidate profiles" is enabled.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Make a

[2020-04-06 15:43] maltheism commented on #6275
@ridz1208 or @jesscall do you happen to know if I'm not doing a necessary step for making a user account with these permissions. Does the account need a role or other permissions for it to work?

[2020-04-06 15:44] johnsaigle opened #6277 "[Imaging Browser] Add phantom imaging data"
**Is your feature request related to an existing module?**
Imaging Browser.

**Describe the solution you'd like**
Phantom data should be added to the data set.

**Additional context**
When testing for the 23.0 release, I followed the Imaging Browser test plan. This module has permissions that restrict a user's access to imaging data based on whether it is phantom data via the `imaging_browser_phan

[2020-04-06 15:49] maltheism opened #6278 "[breadcrumbs] hidden breadcrumbs when browser width resized"
**Describe the bug**
Breadcrumbs becomes hidden under the menu and when browser width is resized as the image illustrates:

![breadcrumbs_missing](https://user-images.githubusercontent.com/16293415/78577798-9dbb8e80-77fc-11ea-9f88-d03663448ab2.png)

[2020-04-06 15:50] zaliqarosli commented on #5486
@driusan adding the blank line doesn't work at all when I tested, not even the first time. if there's no such blank line option in linst, could the solution to fix the bug be just to remove the blank line option?

[2020-04-06 15:58] nicolasbrossard opened #6279 "[MRI violations] Result set incorrect when user is associated to a single site"
**Describe the bug**
I logged in as a user that only has the "Edit MRI protocol" permission, that is associated to one site (Montreal) and that does not have the `access_all_profiles` permission. When I access the MRI violations module, I see MRI violations that are associated to sites other than Montreal.

**To Reproduce**
Access the MRI violations module with the pre-conditions listed above and

[2020-04-06 16:05] johnsaigle opened #6280 "[Imaging Browser] No Caveat List Link"
**Describe the bug**

-- Test Plan

When testing the module, I couldn't find anything that was labelled "Caveat List" with any permission.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to Imaging Browser and try to follow this item in the test plan.

**What did you expect to happen?**
I think there's supposed to be some link labelled Caveat Link but I

[2020-04-06 16:32] jesscall commented on #6275
You should have 'Data Entry' and 'View Candidate Parameters' in order to view the button

[2020-04-06 16:47] xlecours opened #6282 "[issue_tracker] Can access issues that are not shown in the datatable"
**Describe the bug**
As a user with Montreal as his unique site, I can access issues from an other site (ex: /issue_tracker/issue/25 ). This is either a bug or the datatable should display those issues. The permission description says: "Can add a new issue, edit own issue, **comment on all**"

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. With a user that

[2020-04-06 17:49] racostas opened #6284 "[Configuration Module] Usability: Every time a change is submitted the browser send the user to the Study tab."
**Is your feature request related to an existing module?**
Configuration Module.

**Describe the solution you'd like**
Every time a change is submitted no matter what tab you were editing the page reload and send the user to the Study tab.

**Describe alternatives you've considered**
After saving (submitting the changes) the user should remain in the same tab she/he edited allowing to review the c

[2020-04-06 17:52] lingma commented on #6219
A new commit has been submitted, this will solve the link status 500 error.

[2020-04-06 17:55] zaliqarosli opened #6285 "[imaging_uploader] Uploading phantom scan unsuccessful"
**Describe the bug**
On trying to upload a phantom scan (no requirements for file name), the progress bar goes to 100%, but nothing happens (success swal doesn't pop up, page not redirected). In console log, we get a 500 error and a JS uncaught type error:

<img width="1190" alt="Screenshot 2020-04-06 13 32 52" src="https://user-images.githubusercontent.com/17415878/78588450-a6b45c00-780c-11ea-8c8

[2020-04-06 17:59] ShubhamDhingra96 opened #6286 ""Dicom Archive" Sex Filter doesn't have Dropdown."
**Describe the bug**
In Dicom Archive page, the sex field doesn't contain any dropdown which will contain the values Male and Female it is just having normal text field in which a user can type anything

For Example, You can see in the screenshot that in the displayed data the sex entered is O which is a duplicate value.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if appl

[2020-04-06 18:05] racostas opened #6287 "[Configuration Module] Usability: error could be more specific and the field with the error is not highlighted."
**Is your feature request related to an existing module?**
Configuration Module.

**Describe the solution you'd like**
When having a duplicate entry the error shown is always "ERROR: Duplicate Value In The Instrument Form". The specific field with the issue  is not highlighted making a bit harder to the user to find were the error is.

**Describe alternatives you've considered**
To clarify the err

[2020-04-06 18:07] zaliqarosli opened #6288 "[imaging_uploader] Test plan #5 fails"
**Describe the bug**
Test plan #5:
`Ensure that the 'Upload' tab has the CandID, PSCID, and Visit Label greyed out. These greyed out fields remain empty if the 'Phantom Scans' is set to Yes, and are properly filled based on the uploaded filename if 'Phantom Scans' is set to No.
[Manual Testing]`

The bug: The greyed out fields do not remain empty if the 'Phantom Scans' is set to Yes. On uploading

[2020-04-06 18:17] racostas opened #6290 "[Configuration/Subproject] Wrong error message."
**Describe the bug**
When Editing / Crating a new sub-project if the field "Recruitment Target" is filled with a non numerical value the error issued is bit confusing: "Failed to save, same title already exist!"  In place the error should be Failed to save, value not integer.

**To Reproduce**
Steps to reproduce the behaviour (attach screenshots if applicable):
1. Go to Configuration -> Subproject

[2020-04-06 18:23] racostas opened #6291 "[Configuration/ Projects and subprojects] Usability: Every time a project/subproject is edited/created the browser send the user to the first project/subproject."
**Is your feature request related to an existing module?**
Configuration Module --> projects and subprojects

**Describe the solution you'd like**
Every time a project/subproject is edited/created the browser send the user to the first project/subproject.

**Describe alternatives you've considered**
After saving (submitting the changes) the user should remain in the same project/subproject she/he

[2020-04-06 18:38] xlecours opened #6293 "[instruments] There is no test plan"
**Describe the bug**
There is no test directory, TestPlan.md of instruments_Test.php for the instruments module

[2020-04-06 18:38] sruthymathew123 opened #6294 "[User Accounts] Test Plan #5 Failed"
**Describe the bug**
`Verify that if the editor does not have permission 'Across all sites add and edit users' then the site drop-down list is populated with the editor's associated sites, otherwise all sites are displayed.`
This is failing

**To Reproduce**
1. Create a user with one site affiliation '...'
2. Make sure the created user has 'User Management' Permission
3. Verify that the created us

[2020-04-06 18:38] HenriRabalais opened #6295 "[Genomic Browser] Subproject Column displayed as Integer instead of Label"
**Describe the bug**
A. In the Profiles tab of the Genomic Browser, when downloading the Table as a CSV, the SubProject is displayed as an integer instead of a string label.

B. In the SNP tab of the Genomic Browser, the SubProject is displayed as an integer in the table instead of a string label

Test Plan Reference: https://github.com/aces/Loris/blob/master/modules/genomic_browser/test/TestPlan.

[2020-04-06 18:46] HenriRabalais opened #6297 "[Genomic Browser] Instructions unclear regarding requirements for file upload."
**Describe the bug**
The requirements that need to be met for the file to uploaded in the Files Tab of the Genomic Broswer are unclear. For this reason, it is difficult to successfully upload a file.

Test Plan Reference: https://github.com/aces/Loris/blob/master/modules/genomic_browser/test/TestPlan.md#data-upload

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable

[2020-04-06 18:50] HenriRabalais opened #6298 "[Genomic Browser] No Raisinbread Data for GWAS, CNV and Methylation Tabs"
**Describe the bug**
There is no raisinbread Data for the GWAS, CNV and Methylation Tabs of the Genomic Browser module, which makes it in impossible to test the module's filters according to the Test Plan.

Test Plan Reference: https://github.com/aces/Loris/blob/master/modules/genomic_browser/test/TestPlan.md#data-filtering

[2020-04-06 18:51] ShubhamDhingra96 opened #6299 """"
**Describe the bug**
A clear and concise description of what the bug is

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**What did you expect to happen?**
A clear and concise description of what you expected to happen.

**Browser Environment (please complete the following information):**

[2020-04-06 18:52] nicolasbrossard opened #6300 "[MRI violations] MRI Protocol Checks Violations filter not completely filled out"
**Describe the bug**
I access the MRI violations module and search for violations of type "Protocol Violations". In the search result table, I click on the "Protocol Violations" link (`Problem` column) and this takes me to the MRI Protocol Check Violations page. The filter is not completely filled out but it should be according to the test plan: only fields `Patient Name` and `Series UID` are set.

[2020-04-06 18:53] HenriRabalais opened #6301 "[Genomic Browser] Instructions in Test Plan do not match Module."
**Describe the bug**
In the SNP tab of the Genomic browser, the columns of the datatable do not match the columns in Testing Plan for both "Summary Fields" and "All Fields".

Test Plan Reference: https://github.com/aces/Loris/blob/master/modules/genomic_browser/test/TestPlan.md#snp-tab

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to Test Plan for the

[2020-04-06 18:57] HenriRabalais opened #6302 "[Genomic Browser] Issues with the Profiles Tab Datatable."
**Describe the bug**
A. Since there are no files uploaded in raisinbread for the Genomic Browser, clicking on a file value is not possible. Therefore, the "viewGenomicFile" file view cannot be tested as outlined by the test plan.

B. When there is a SNP for a candidate, the "Y" can be clicked to go to the SNP for that candidate, but the link is not obvious since it is presented as regular text. (P

[2020-04-06 18:57] driusan commented on #6293
I believe raisinbread and the `$LORIS/test` directory has some tests for instruments, they might be able to be repurposed for the instruments module.

[2020-04-06 18:58] charliehenrib opened #6303 "[Candidate_profile] - No test plan"
There is currently no test plan for the candidate profile module.

[2020-04-06 18:58] johnsaigle commented on #6294
I'm not able to reproduce this on my VM.

1. On Raisinbread, 23.0-release:
* Create a user `john` with permission "User Management", site "Ottawa", Project "Rye" and no other permissions, sites, or projects
2. As `john`, go to User Accounts > Add User
3. On the `edit_user` page, this is displayed as Site and Project options for a new user:

#### Screenshot 1 - Add User from point of view of `john`

[2020-04-06 19:00] johnsaigle commented on #6294
I did notice that the Site filter from the `user_accounts` page displays all users across sites, however. Is that what you meant?

[2020-04-06 19:01] sruthymathew123 commented on #6294
@johnsaigle Yes, that is what I meant.

[2020-04-06 19:01] pierre-p-s opened #6304 "[Document Repository] Download issue"
Test plan: 6

After uploading a file from a user account, I cannot download it from admin but admin can download it without problems. Same issue vice versa.

[2020-04-06 19:05] charliehenrib opened #6305 "[Candidate Profile] Breadcrumbs link to old 'Access Profile', not Candidate Profile"
When testing the new beta version of the candidate profile, the "Access profile" and "candidate dashboard" buttons bring you back to the older version of candidate profile instead of the new beta version. (not sure if this is normal or not).

[2020-04-06 19:06] pierre-p-s opened #6306 "[Document Repository] Non Global Filtering"
Test Plan: 10

From the test plan, I understand that for example when I search for pdf files, I should only get categories that contain one or more pdf files. However it is not the case. The non global filter only filters the files that are on the working directory.

[2020-04-06 19:10] pierre-p-s opened #6307 "[Document Rpository] Notifications"
Test Plan: 15

Cannot find: "Receive Document Repository Notifications". It is not in user account permissions nor on the module itself.

[2020-04-06 19:12] pierre-p-s opened #6308 "[Publications] File upload"
Test Plan : 11

File upload goes through but when I try to download the file afterwards, it is not there, there is only an arrow to delete the file

[2020-04-06 19:14] ShubhamDhingra96 opened #6309 "[Media] File Upload Issue"
**Describe the bug**
On the media page, When I am uploading the file by filling out the required credentials It is showing me a pop-up of File uploaded succesfully but when I am browsing that the particular file through my details it is not showing me any file in the records.

**To Reproduce**
![image](https://user-images.githubusercontent.com/54913662/78595586-3ca1b400-7818-11ea-9c4c-dd55dba65516

[2020-04-06 19:19] johnsaigle commented on #6294
It looks like this line should be deleted from the test plan.

It was added here https://github.com/aces/Loris/pull/4786/files to fix this issue https://github.com/aces/Loris/issues/4741. However, the issue doesn't mention anything about the Site field being pre-populated with the user's sites and I'm not sure this was ever a feature.

I also don't know if this is possible to do given the way the

[2020-04-06 19:22] johnsaigle commented on #6303
duplicate of #6207

[2020-04-06 19:24] johnsaigle commented on #6301
Related to #4753

[2020-04-06 19:25] johnsaigle commented on #6307
I think it's under My Preferences. The Test Plan should probably be updated to make this clear.

[2020-04-06 19:26] johnsaigle commented on #6309
@ridz1208 @kongtiaowang Are file uploads and downloads configured on the VM? See also #6308 and #6304

[2020-04-06 19:26] johnsaigle commented on #6299
I'm closing this because the ticket hasn't been filled out

[2020-04-06 19:26] #6299 closed

[2020-04-06 19:36] nicolasbrossard opened #6310 "[MRI Violations] Modifications to mri_protocol table are not saved"
**Describe the bug**
I access the MRI violations module as a user that has the permission to edit the MRI protocol. I make a valid edit of the MRI protocol table and the system asks if I am sure I want to proceed. I confirm that I want to and my modification seems to be saved but if I access another page (say, Access Profile) and go back to the MRI protocol edit page afterwards I see that it was n

[2020-04-06 19:39] christinerogers opened #6311 "[Documentation] Update Contributing.md to mention ChangeLog"
`Contributing.md` file should be updated include a mention like `For feature changes that would be included in the Release notes, be sure to modify the ChangeLog.md file`
--? if we are still doing this for 23 release

[2020-04-06 19:39] racostas opened #6312 "[Media Edit] The Language field is not been retrieved at editing time"
**Describe the bug**
The Language field applied when creating a new media file is not retrieved when trying to edit the same file.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Crate a new media and set a language in the language field.
2. Save the media.
3. Edit the same media
4. The language field will appear as blank (not remembering it previous stage)

[2020-04-06 19:42] maltheism commented on #6275
@ridz1208 I believe the test plan should be modified to include the above role 'Data Entry' that's missing from the test plan.

[2020-04-06 19:47] johnsaigle commented on #6311
We're for sure using it. Last updated 5 days ago.https://github.com/aces/Loris/blob/master/CHANGELOG.md#loris-230-release-date-

[2020-04-06 19:50] christinerogers opened #6313 "[Electrophysiology Browser] Make a test plan"
this module is missing a manual testing plan

[2020-04-06 19:55] sruthymathew123 commented on #6294
@johnsaigle In that case, as you mentioned the line should be deleted from test plan. Otherwise it will be confusing.

[2020-04-06 20:05] zaliqarosli opened #6314 "[Imaging_uploader] Uploading file bigger than 1024MB doesn't throw error swal"
**Describe the bug**
Test plan item 7: 'A file that exceeds the max upload size' fails for both 'Phantom Scans' Yes and No, giving different errors

Phantom Scans No:
<img width="1194" alt="Screenshot 2020-04-06 15 49 52" src="https://user-images.githubusercontent.com/17415878/78599870-e20c5600-781f-11ea-8121-90379b149204.png">

Phantom Scans Yes:
<img width="1193" alt="Screenshot 2020-04-06 15 51

[2020-04-06 20:07] johnsaigle commented on #6294
I can remove it now

[2020-04-06 20:10] johnsaigle opened #6316 "[user_accounts] Remove line 5 from User Accounts Test plan"
**Describe the bug**

This line is out of date and doesn't reflect the functionality of the module. it should be deleted from the test plan.

**TODO**

Edit the file `modules/user_accounts/test/TestPlan.md` and remove step 5.
Update the line numbers of the remaining steps accordingly.

**Additional context**
See discussion in #6294.

[2020-04-06 20:33] HenriRabalais opened #6317 "[LORIS Install] Several Issues while trying to install LORIS"
**Describe the bug**
I followed these instructions to install LORIS and ran into the following issues (https://github.com/aces/Loris/wiki/Installing-Loris-in-Brief#installing-the-database---1-of-2):

1. Testing says to `cd var/www/` but that directory hasn't been created yet in the instructions. https://github.com/aces/Loris/wiki/Installing-Loris-in-Brief#downloading-loris
2. Running the command `

[2020-04-06 20:44] nicolasbrossard opened #6318 "[MRI violations] Link to DICOM archive broken on MRI Protocol Checks Violations page"
**Describe the bug**
I access the MRI violations module as a user with the permission to view anything in the DICOM archive module. I search for violations of type `Protocol Violations`. Once the results show up, I click on the `Protocol Violations` link (column `Problem`) of any record. This takes me to the MRI Protocol Checks Violations page. On this page I click `Clear Filter` to see all the MR

[2020-04-06 20:57] racostas opened #6319 "[User accounts] Usability: Proposal, not to force to change passwords every time a user info is edited."
**Is your feature request related to an existing module?**
User accounts

**Description of the issue**

It seems that every time a profile for a given user is updated (permission added/deleted, etc) the module user_accounts force the editing admin to change the password for a the edited user.

While I'm not sure if forcing this password change have some advantage from the security perspective, it

[2020-04-06 23:50] zaliqarosli opened #6321 "[api] Discrepancies from API doc spec"
**Describe the bug**
The following unexpected results were returned on the testing VM:

1. `GET /projects/$ProjectName/images/` returns "File" key (not in spec)
2. `GET /candidates/$CandID/$VisitLabel` returns value {} for 'Project' key
3. `https://test-loris-dev.loris.ca/api/v0.0.3/projects/Pumpernickel/instruments/radiology_review` returns null
4. `GET /candidates/$CandID/$VisitLabel/images/$Fil

[2020-04-06 23:51] zaliqarosli opened #6322 "[api] Module needs TestPlan.md"

[2020-04-07 00:16] ridz1208 commented on #6304
Not sure i understand this sentence

[2020-04-07 00:20] ridz1208 commented on #6275
@maltheism probably the readme too

[2020-04-07 01:02] ridz1208 commented on #6303
duplication

[2020-04-07 01:02] #6303 closed

[2020-04-07 01:10] #6213 closed

[2020-04-07 01:17] ridz1208 commented on #6317
I think the most recent install instructions for ubuntu are the ones on the branch it self

here is a link. https://github.com/aces/Loris/tree/master/docs/wiki/00%20-%20SERVER%20INSTALL%20AND%20CONFIGURATION/01%20-%20LORIS%20Install/Ubuntu

can you start from a fresh VM and try them out ?

[2020-04-07 01:23] lingma opened #6323 "[instrument list] 2 parameter mode doesn't work in the timepoint list"
**Describe the bug**
If you read the code, you can see that the program seems to support 2 parameter mode in timepoint list, but in fact this doesn't work. I am not sure whether this feature is necessary to check.

![image](https://user-images.githubusercontent.com/5295785/78621412-84443200-7850-11ea-89a4-dc466b939cc6.png)

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if ap

[2020-04-07 01:49] ridz1208 commented on #6236
https://github.com/aces/Loris/issues/6056

[2020-04-07 01:49] #6236 closed

[2020-04-07 01:54] ridz1208 commented on #6308
@pierre-p-s  can you append a screenshot please

[2020-04-07 01:56] ridz1208 commented on #6309
@ShubhamDhingra96 are you using your own VM ?

did you try refreshing the page ? I dont believe media auto refreshes after upload

[2020-04-07 01:57] ridz1208 commented on #6308
<img width="1676" alt="Screen Shot 2020-04-06 at 9 57 22 PM" src="https://user-images.githubusercontent.com/15268287/78621891-ab4f3380-7851-11ea-8f93-92a06b1f8ce7.png">

[2020-04-07 02:26] ShubhamDhingra96 commented on #6309
Heyy

Yes I tried using my own VM, The issue is basically when I upload the file it upload it successfully and when I go to browse tab in order to view the file which I uploaded,  It doesn't show me the uploaded file in the displayed data When I try to find through selection filter using my details which I used during the upload of file as shown in the screenshot.

[2020-04-07 03:14] lingma opened #6325 "[instrument list] 2 parameter mode 500 status issue"
**Describe the bug**
If the candidate id or the session id doesn't exist, then the system will return 500 error.

This was considered to be part of the PR #6324, but since I have removed the direct access function, the linked PR is no longer related.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to `timepoint list`
2. Change the session id in the URL t

[2020-04-07 03:35] ridz1208 commented on #6309
Dis you try refreshing the module after the upload ?

[2020-04-07 03:59] ShubhamDhingra96 commented on #6309
Yeahh It works when I refresh the page,

 I think it should not work like that without refreshing also the details has to be shown in the displayed data

[2020-04-07 08:33] PapillonMcGill opened #6326 "[Candidate list] Subproject header in candidate list sorts by ID instead of subproject"
**Describe the bug**
clicking on the Subproject header in candidate list sort by ID instead of subproject

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to 'Candidate -> Access profile'
2. Click on 'Subproject' header
3. Candidate are sorted by ID (first column) not Subproject

**What did you expect to happen?**
According to Test-plan should be sorted b

[2020-04-07 14:28] johnsaigle commented on #6319
There is no password change enforced when you change a user's account details.

What might happen is that your saved password gets auto-filled in the password input field. Then, when you submit, the system believes you are trying to create a new password. When it sees your input, it correctly says that your submitted password is identical to your own password.

If I'm right then I believe this is

[2020-04-07 14:32] johnsaigle commented on #6317
Rida is right. The "in brief" instructions on the Wiki are out of date. I'll edit the page to indicate that it's deprecated.

In addition to the README instructions, check out this Ubuntu install document from the new wiki that I wrote. https://acesloris.readthedocs.io/en/latest/wiki/00%20-%20SERVER%20INSTALL%20AND%20CONFIGURATION/01%20-%20LORIS%20Install/Ubuntu/

It has a lot more information and

[2020-04-07 14:36] christinerogers commented on #6270
Possibly a bug for 23 release, ?

not found during our loris team testing, but found by this GSOC applicant.

[2020-04-07 14:39] christinerogers commented on #6261
Thanks, which version?   Is this on the master branch or the 23 release branch ?

[2020-04-07 14:40] pierre-p-s commented on #6304
My issue is: if admin uploads a file, then admin can retrieve this file downloading it from Loris. However if another user tries to download it, it gives an error.

[2020-04-07 14:41] christinerogers commented on #6286
Thanks for spotting this.  @ShubhamDhingra96 Was this on the master branch or on the 23.0-release branch?

[2020-04-07 14:52] johnsaigle commented on #6286
@christinerogers I checked it out after the issue was reported and it's on both. It should be fixed by #6292

[2020-04-07 14:58] christinerogers opened #6328 "[Issue Tracker] Dropdown options display order is alpha, not array-defined"
The `Priority` selection filter in the Issue Tracker presents dropdown options in alphabetical order, but should display them in the same order [defined in the php array](https://github.com/aces/Loris/blob/master/modules/issue_tracker/php/issue_tracker.class.inc#L122) - the order of priority.  See code snippet below

I suspect this is a known issue **_in multiple modules_** with an easy fix.

Is t

[2020-04-07 15:02] ridz1208 commented on #6270
https://github.com/aces/Loris/issues/6309
https://github.com/aces/Loris/issues/5055

multiple duplications

[2020-04-07 15:02] johnsaigle commented on #6328
As you said this should probably be case-by-case. Maybe there is a generic way to specify sorting for dropdown elements within React? @HenriRabalais @maltheism @zaliqarosli maybe one of you would know?

[2020-04-07 15:03] ridz1208 commented on #6309
multiple duplications

https://github.com/aces/Loris/issues/6270
#5055

[2020-04-07 15:09] HenriRabalais commented on #6328
IIRC, @ridz1208 had made a PR to enforce alphabetical ordering. I'm not sure if there's a way to override this at the moment.

[2020-04-07 15:11] johnsaigle opened #6329 "Move ReadTheDocs root to be the same as the LORIS root"
**Describe the bug**
ReadTheDocs has issues accessing files outside of `docs/` as that is where it is served from. This causes problems if we want to, for example, serve a module README in the wiki, because that file will be under `modules/` which RTD can't access.

**To Reproduce**
e.g. #6209

**Additional context**
There might be a problem with doing this. I remember when initializing this that

[2020-04-07 15:12] johnsaigle commented on #6328
Is there a way to extend/modify a component so that a sort ordering can be specified?

[2020-04-07 15:15] ridz1208 commented on #6328
@HenriRabalais yeah I had but I forgot how to use it. I do remember adding that though

[2020-04-07 15:15] johnsaigle commented on #6317
I updated the Wiki page you referenced to say that it's out of date.

[2020-04-07 15:16] HenriRabalais commented on #6328
Looks like there might be - it's not commented in the code, but I think the props `sortByValue` determines if the drop down values are sorted alphabetically. The value defaults to `true`, so a value of `false` would have to be passed to the `SelectElement` for the prop `sortByValue`.

https://github.com/aces/Loris/blob/master/jsx/Form.js#L309

[2020-04-07 15:18] johnsaigle commented on #6328
OK so it sounds like we can make a PR to fix the issue tracker without much trouble in this case and that we have a lot of flexibility in general.

@christinerogers do you have any other examples of this?

[2020-04-07 15:19] ridz1208 commented on #6317
@johnsaigle the only problem is that that file is merged on master not in 23-release

[2020-04-07 15:21] johnsaigle commented on #6317
@johnsaigle The (old) Wiki isn't tied to the release either. Both are served online apart from the versioned code. Might as well use the newest and most accurate version.

[2020-04-07 15:22] johnsaigle commented on #6294
This can be closed when #6320 is merged.

[2020-04-07 15:51] #6317 closed

[2020-04-07 15:52] HenriRabalais commented on #6317
Closing because the issue was made for deprecated instructions.

[2020-04-07 15:56] ShubhamDhingra96 commented on #6286
@christinerogers  I have checked it was in 23.0 release

[2020-04-07 15:58] johnsaigle commented on #6233
I got this error when trying to load user_accounts after using request_account:

`PHP Fatal error:  Uncaught TypeError: explode() expects parameter 2 to be string, null given in /var/www/loris/modules/user_accounts/php/useraccountrowprovisioner.class.inc:48`

[2020-04-07 16:25] johnsaigle commented on #6319
This should be resolved by the linked PR (if I understood the issue correctly).

[2020-04-07 16:26] johnsaigle commented on #6308
@ridz1208 what are you trying to show with that screenshot?

[2020-04-07 16:36] pierre-p-s commented on #6308
I had this issue while testing. Do you see the arrow on the right to "Other"? It should be the file uploaded by Rida however the file does not appear and if you click on the arrow, you can delete it but never download it.

[2020-04-07 16:59] johnsaigle commented on #5668
Resolved by #5394

[2020-04-07 16:59] #5668 closed

[2020-04-07 18:20] kongtiaowang commented on #6306
<img width="523" alt="屏幕快照 2020-04-07 14 18 47" src="https://user-images.githubusercontent.com/9876007/78704983-c31eca00-78da-11ea-878a-c157f0f1c72f.png">
The flobal filter is below the browser tab.

[2020-04-07 18:22] cmadjar commented on #6226
@kongtiaowang could you bring that up to testing, retest and close the issue if resolved.

[2020-04-07 18:38] ridz1208 commented on #6245
Most probably related to #6233

[2020-04-07 18:44] christinerogers commented on #6311
Today's LORIS meeting: @ridz1208 clarified what code changes should go in the Changelog-
* Any non-insignificant change goes in.  (many PRs currently need remedial Changelog entries)
* Bug fixes iff they apply to a prior release, but not bugs introduced+fixed in same release.

We may eventually have another logging file for “Notes for Existing Projects”, but not yet.

[2020-04-07 18:45] christinerogers commented on #6249
Thanks for the feature suggestion @atspahr
We'll keep this in mind for advanced administrator/dev features for a future roadmap.

[2020-04-07 18:52] ridz1208 commented on #6275
To whomever is fixing this. Remove requirement for data entry permission

[2020-04-07 18:56] christinerogers commented on #6226
@cmadjar this issue resolved  by #6238 (they should have been linked before)

I asked @kongtiaowang this morning to pull this PR/branch onto the test-dev VM (it's there now) -- I tested it and it's resolved.
Sorry for not keeping you in the loop.

[2020-04-07 18:58] christinerogers commented on #6226
Resolved by #6238 - closing this issue.

[2020-04-07 18:58] #6226 closed

[2020-04-07 19:00] ridz1208 commented on #6285
You can contact @cmadjar

[2020-04-07 19:02] johnsaigle commented on #6311
I think CHANGELOG is a superset of whatever would go into 'Add To Release Notes' and 'Notes For Existing Projects'. If anything is important enough that it would be included in those, it should also be in the CHANGELOG.

I see the changelog as being a bulleted record of notable changes to the code. It can also serve as an outline when drafting the official release notes. It wouldn't, for example,

[2020-04-07 19:04] johnsaigle commented on #6282
@jesscall @sruthymathew123 @maltheism What would be the preferred behaviour? Should a user have all of these issues displayed in the datatable or should we disable a user commenting on issues associated with a site to which the user does not belong?

[2020-04-07 19:17] maltheism commented on #6282
Hi @johnsaigle I think @LeighMac would likely know. I don't believe the issue_tracker has site permissions. I'm not sure what the intended behaviour is in that case.

[2020-04-07 19:20] cmadjar commented on #6309
Closing the issue as this is a duplicated issue. #6270 and #5055

[2020-04-07 19:20] #6309 closed

[2020-04-07 19:26] cmadjar commented on #6316
Duplicate issue with #6294

[2020-04-07 19:26] pierre-p-s commented on #6306
Yes that is what I used but I was still not getting the results expected from the test plan.

[2020-04-07 19:28] #6294 closed

[2020-04-07 19:28] johnsaigle commented on #6316
@cmadjar I'm re-opening this one and closing the other one because this is more accurate.

[2020-04-07 19:31] driusan commented on #6322
I don't know if we need to spend time writing a test plan for this.. the spec is basically the test plan. It tells you each route and what the expected return value is.

[2020-04-07 19:32] driusan commented on #6323
Is this linked to from anywhere? If not maybe we should just remove the feature.

[2020-04-07 19:40] lingma commented on #6323
This one is not working at least from 20.0, it is supposed to be to support .htaccess url rewrite, do we still need this feature? My fix could make it work, but if this feature is not necessary, we don't need further spend time to create test case

[2020-04-07 19:40] lingma commented on #6323
I don't think this feature is used any where, otherwise someone should have reported as a bug

[2020-04-07 19:41] sruthymathew123 commented on #6282
@SantiagoTG I know you are one of the person who is mostly using issue tracker on the IBIS side. Can you answer the above concern?

[2020-04-07 19:51] kongtiaowang commented on #6248
@maltheism
Base on the test plan : "Ensure that clicking on any row in the 'Archive Location' column triggers a download of the corresponding archived DICOM study. Make sure that the copy of the file downloaded to your system is prepended with the Patient Name field. "
I have tested it, the download function works. I don't think this is a bug.

[2020-04-07 19:56] maltheism commented on #6248
Thanks @kongtiaowang, I'm closing this issue then.

[2020-04-07 19:56] #6248 closed

[2020-04-07 20:01] zaliqarosli commented on #6322
@driusan ^ if that's the case, then it should be stated instead of implied. i was assigned the module and it wasn't clear to me how i should be testing it until i asked someone. and even then, i wasn't sure if i was testing the calls correctly when looking at the API spec. for example, none of my POST calls were successful. and it's difficult to know whether that was because of me or because of a

[2020-04-07 20:16] racostas commented on #6319
solved by #6330

[2020-04-07 20:19] christinerogers commented on #6328
@johnsaigle : sure, more examples --
* issue tracker: Status: New, Assigned, Closed
I also scanned a few modules and easily turned up:
* [ all modules? ] Subproject -- probably better to group at least by project than list in alpha order.
* [imaging modules] Scan type (t1, t2, fMRI, DTI)
* [ Genomic browser subtabs ] “SNPs found”: current order is “Yes”, “No”
And more generically, dropdown option

[2020-04-07 20:31] kongtiaowang commented on #6306
I know your point, don't use filter under root folder, there is no file under Root folder. Please try to choose one category (for example: PDF) then use the filter again. It will works for you.

[2020-04-07 20:39] johnsaigle commented on #6319
I'm going to reopen this for now but we can close it when the PR gets merged.

[2020-04-07 20:39] johnsaigle commented on #6328
thanks!

[2020-04-07 20:40] ShubhamDhingra96 commented on #6261
Yes it was previously on the 23 release but now it's working fine. Thanks

[2020-04-07 20:48] ShubhamDhingra96 commented on #6270
Yes It was indeed in that version

[2020-04-07 21:07] pierre-p-s commented on #6306
My issue is that in the test plan, for test number 10, it says: "Check that when performing a search without global filtering, the categories containing the resulting files (and only those) are shown in a list format.". From this I understood that for example if there is a pdf file call test.pdf in the category: 'Test Category', when searching for 'test.pdf', only the category 'Test Category shoul

[2020-04-08 03:29] kongtiaowang commented on #6258
When I tested the instrument_manager, I uploaded a file named "test.linst.linst" by accident. It created a wrong table named "test.linst" into database. It works fine after I removed the wrong table.

[2020-04-08 12:48] lingma commented on #6323
I have removed this two parameter access from the router. I checked, found that the program was not correct to process 2 parameter mode since the version V20.1, while the V20.0 should be correct.

We can use the .htaccess to rewrite URL instead of processing by ourselves. I don't see the necessity and the test will be simple without this two parameter access mode support.

I did not close this iss

[2020-04-08 13:54] ridz1208 opened #6336 "[media] Update test plan to remove mention of "site" field"
**Describe the bug**
The site selection has been removed in https://github.com/aces/Loris/pull/5577 but the test plan was never updated.

[2020-04-08 13:54] ridz1208 commented on #6270
@ShubhamDhingra96 According to #5577 The site field no longer exists in the media upload form as of LORIS version 22.

as you can see on our instance of LORIS (see image) that field does not appear. It seems like you might be on an older version of LORIS or have dated compile JS files. try recompiling your files or re-installing a more up to date version.

<img width="1131" alt="Screen Shot 2020-0

[2020-04-08 13:54] #6270 closed

[2020-04-08 13:55] ridz1208 commented on #6336
@racostas this should have been caught during testing

[2020-04-08 13:59] ridz1208 commented on #6298
@xlecours I could use your help with this one. Not sure how to populate that data

[2020-04-08 14:04] lingma commented on #6271
This is similar as the issue #6272, the origin is in the timepoint_list, don't need to be open now

[2020-04-08 14:04] #6271 closed

[2020-04-08 14:05] racostas commented on #6336
@ridz1208 yes, at the time of testing I wasn't aware the update plan should be updated as well. Noted, thanks.

[2020-04-08 14:13] lingma commented on #6218
It is better to have a help text which could popup when putting the mouse over there.

Another way to do is that the concept of the 2 checkbox has to be modified to be simple.

[2020-04-08 14:14] racostas commented on #6336
@ridz1208, I also noted the instrument field was not mandatory during the "media creation" and at the time of edition it appears as "gray not editable" with makes that this field will not be filled if not done at the creation time. At the same time the when uploading a media it says the name of the file should have the instrument name. But if the field is leaved in blank and try to upload a media,

[2020-04-08 14:41] ridz1208 commented on #6336
@racostas thats intended behaviour

[2020-04-08 15:14] #6272 closed

[2020-04-08 15:15] johnsaigle commented on #6323
Can this be closed now that https://github.com/aces/Loris/pull/6324 is merged?

[2020-04-08 15:17] #6323 closed

[2020-04-08 15:37] johnsaigle commented on #6207
@driusan I removed your assignment since I took care of this already.

[2020-04-08 15:54] driusan commented on #6207
I already wrote a test plan since it was assigned to me.

[2020-04-08 16:28] johnsaigle commented on #6314
I wasn't able to reproduce this.

Steps on my VM:
1. `git fetch aces`, `git checkout aces/23.0-release`, `make dev`
2. Created a file `MTL007_300007_V1.tar.gz` that is 100 MB.
3. My VM server upload limit is set to 2M(B).
4. Using both Phantom scans yes and no, the swal appeared saying the file was too big.

Where is the value `1024MB` coming from? That's a GB which is pretty large for a front-end

[2020-04-08 16:36] ShubhamDhingra96 commented on #6270
Okay I will check it once  Thanks for the update

[2020-04-08 16:59] johnsaigle commented on #6314
I couldn't duplicate the error. When I change my limit to 1024 M, or higher, the SWAL blocks me when my file is over the limit or allows it as long as it's under the limit, even for large files.

Which VM did you test on? What was the size of the file you uploaded?

<img width="870" alt="Screen Shot 2020-04-08 at 12 57 58" src="https://user-images.githubusercontent.com/4022790/78811957-a5b03580-79

[2020-04-08 17:22] maltheism commented on #5382
@johnsaigle do you know if this is still an issue. I don't believe it is and I'm wondering if I should close.

[2020-04-08 17:40] johnsaigle commented on #5382
We can probably close it. The check is probably unnecessary but it's not doing any harm either.

[2020-04-08 17:40] #5382 closed

[2020-04-08 17:55] maltheism commented on #6214
PR was merged

[2020-04-08 17:55] #6214 closed

[2020-04-08 19:04] johnsaigle commented on #6261
The data dictionary seems to be loading fine on `master` and `23.0-release`. This is probably an issue of the JS not being compiled, especially if ti started working soon after.

@christinerogers I'm going to close this for now but feel free to re-open it if you test this and the module appears broken.

[2020-04-08 19:04] #6261 closed

[2020-04-08 19:20] ShubhamDhingra96 commented on #6261
Yes john I have checked it it's working fine now.

[2020-04-08 19:47] ridz1208 commented on #6260
@SantiagoTG issue was only on test VM due to an instrument with no name in the table.

it's solved now

[2020-04-08 19:47] #6260 closed

[2020-04-08 20:13] maltheism opened #6343 "[user_accounts] expects parameter 2 to be string, null given"
**Describe the bug**
Visiting user_accounts on clean install of LORIS will return this error output in error_log:
[code]

I'm using Rasinbread data and logged-in as admin. It seems like Admin doesn't have any projectIds associated to the account.

[2020-04-08 20:18] maltheism commented on #6343
Note: I'm using Rasinbread data and logged-in as admin.

[2020-04-08 20:36] maltheism commented on #6343
Issue seems to be resolved after resourcing rasinbread. So closing.

[2020-04-08 20:36] #6343 closed

[2020-04-08 21:52] ridz1208 commented on #5715
The issue here seems to be a lack of data that's it. I don't have a good way to randomly generate instrument data right now so I won't be doing this anytime soon.

[2020-04-08 21:56] ridz1208 commented on #5901
closing because that directory is no longer there

[2020-04-08 21:56] #5901 closed

[2020-04-09 14:17] SantiagoTG commented on #6282
I can't remember of an instance where this has been an issue. Though seldom used, we may still want to allow users from other sites to see/comment on all issues. In this manner we may avoid having duplicate tickets (if the user searches for the issue, similar to Github), so I don't see why we would want to restrict access to a given issue only to site users. Further discussion required on this one

[2020-04-09 14:22] ridz1208 commented on #6282
@SantiagoTG I see your point but I also see cases where some sensitive data might be in the issue and might not be okai to share amongst other sites/projects.

I think the ideal solution is to flag the issue itself with "restrict on site" and "restrict on project" flags that would dictate who can see the issues

[2020-04-09 14:24] SantiagoTG commented on #6282
I see your point, and that can be a neat, straightforward alternative solution. No objections on this.

[2020-04-09 14:54] driusan commented on #6282
I think if an issue has a site set it should only be viewable by:

1. The person who created the issue
2. People at that site and
3. Watchers of the issue

[2020-04-09 15:34] jesscall opened #6350 "[DataFramework Filters] Filtering for userSiteMatch is bypassing 'across all sites' types of permissions"
**Describe the bug**
Noticed this bug in the user_accounts module. Only rows of users that have a matching site are displayed despite having the `Across all sites create and edit users` permission.
**[NOTE]** make sure you **do not** have `Across all sites access candidate profiles` permission

**To Reproduce**
Steps to reproduce the behaviour (attach screenshots if applicable):
1. Create a new us

[2020-04-09 15:59] maltheism opened #6353 "[user_accounts] error_log pollution when removing pending approval"
**Describe the bug**

I receive the following errors in error_log when the admin is removing `pending approval` from a request account.

`Notice: Undefined index: permID in /Users/alizee/Development/GitHub/McGill/Loris/modules/user_accounts/php/edit_user.class.inc on line 216`

`Warning: array_keys() expects parameter 1 to be array, null given in /Users/alizee/Development/GitHub/McGill/Loris/modul

[2020-04-09 19:51] lingma opened #6355 "[user_account] Permission control problem"
**Describe the bug**
I created one user with the following permission,
![image](https://user-images.githubusercontent.com/5295785/78934537-1b8bce00-7a79-11ea-924e-45bf12549319.png)

The permission list in text is:
+--------+-----------------------------+-------------------------------------------------------+
| permid | code                        | description

[2020-04-09 19:59] sruthymathew123 commented on #6308
PR merged; so closing

[2020-04-09 19:59] #6308 closed

[2020-04-09 20:21] lingma commented on #6355
Is this because of the "There can be only one Highlander"? I don't know what this phrase means, but it seems that the problem is due to the `superuser`

[2020-04-09 21:14] ridz1208 commented on #6355
The admin user can create other admin users

the "There can be only one Highlander" is a quote from a movie... its not literal.

This is normal behaviour

[2020-04-09 21:19] lingma commented on #6355
But still, the Configuration setting is not chosen, as you can see from my screenshot, the Configuration  setting page is opened without problem

[2020-04-09 21:20] lingma commented on #6355
Does admin user have all the other permission? I feel this is a little confusing. If yes, then that highlander should be distinguished out.

[2020-04-09 21:23] ridz1208 commented on #6355
@lingma yes, admin has all access

[2020-04-09 21:24] ridz1208 commented on #6355
@maltheism please... too easy

[2020-04-09 21:24] maltheism commented on #6355
@ridz1208 I already lost to the little dog in tug a war.

[2020-04-09 23:17] ridz1208 commented on #6206
duplicate https://github.com/aces/Loris/issues/6207

[2020-04-09 23:17] #6206 closed

[2020-04-09 23:22] ridz1208 commented on #6229
@driusan I could not reproduce the error. can you reproduce it and give me exactly what was entered in each field ?

- I have tried causing errors by choosing non-exiting visits, got the proper error in red
- I have tried choosing a visit which already has the instrument, got the proper error in red
- i have tried a valid addition. survey was created successfully

[2020-04-09 23:30] lingma opened #6360 "[module manager] Features doesn't meet the name"
**Describe the bug**
The Module manager doesn't do what a module manager should do, it is actually a menu manager as I can conclude.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Disable any modules, the module will disappear from the menu,
2. Access that module with the original link, all works fine just as before

**What did you expect to happen?**
The

[2020-04-10 18:56] nicolasbrossard commented on #6280
The caveat link is only displayed if you set the Caveat status of a specific image to 'True':

![image](https://user-images.githubusercontent.com/6844033/79015726-6241fc80-7b3b-11ea-811c-ca0671391fd9.png)

[2020-04-10 20:24] kongtiaowang commented on #6304
This is a major bug in this module. Even admin user can only download his own files.

[2020-04-11 00:41] lingma commented on #6360
We can see what to do depending on the feedback on the PR #6365 or other propositions.

[2020-04-11 14:25] nicolasbrossard opened #6366 "[MRI Violations] Newlines in Reason column of MRICandidateErrors"
**Describe the bug**
Using the raisin bread data set, access the MRI module and select 'PSCID and CandID of the image mismatch' in the filter's 'Type of Problem' section: the search returns no result, even though there are. The problem lies with the newlines that appear in certain records of the MRICandidateErrors table. Newlines should be stripped when building the list of possible problems to se

[2020-04-13 22:34] racostas commented on #6229
@driusan I have the same situation as @ridz1208 . I tried to reproduce the issue but it seem to be OK in my test. The survey is created successfully and the validation seem to work.

[2020-04-14 13:50] nicolasbrossard commented on #6310
After discussion, it was decided that the `mri_protocol` table should be displayed in read-only mode in the MRI violations module. The set up/edition of the MRI protocols should be done elsewhere (new module maybe?). Opening another ticket for this feature.

[2020-04-14 14:37] johnsaigle opened #6373 "[Doc Repo] Can't access the module with only the "Doc Repo delete" permission"
These lines in the module need to be updated to also grant access to a user with the delete permission.

https://github.com/aces/Loris/blob/dde77f89cf3683955f0193265ed67aa02fa40b31/modules/document_repository/php/module.class.inc#L36-L40

I tested this and just having the "Delete files in Document Repository" does not seem to grant access to the module.

_Originally posted by @pierre-p-s in https:

[2020-04-14 14:40] johnsaigle commented on #6360
@driusan Can you comment on this since you created the module?

[2020-04-14 14:45] lingma commented on #6360
The module manager itself looks OK for the general users as long as there is no link to other modules since the module does disappear from the menu, currently there is no way to stop those modules to be available even if the module is disabled. PR #6365 method could be a way but this might slow down the page rendering.

[2020-04-14 14:49] christinerogers commented on #6218
Update: To be resolved in a new PR by @pierre-p-s

in order to implement the solution discussed in #6225 by @driusan and @pierre-p-s

-- including [this update for swal2](https://github.com/aces/Loris/pull/6225#issuecomment-613476175) suggested by @haoweiqiu (Thanks Haowei!) :

[code]

[2020-04-14 15:00] johnsaigle commented on #6280
Thanks, I'll try that. I'll also update the test plan to make that more clear.

[2020-04-14 15:32] johnsaigle commented on #6355
@lingma I agree that the super user permission should come with an extra "warning" or info of some kind ideally.

[2020-04-14 16:34] johnsaigle opened #6374 "Rainsinbread refresh should preserve "API Keys" - JWT and reCAPTCHA"
**Describe the solution you'd like**
The script should preserve these settings for developers. There's no reason to overwrite these with default (non-functional) values from Raisinbread.

[2020-04-14 16:42] johnsaigle commented on #6353
I'm not able to test this properly right now because request accounts is buggy. I will look into fixing this after #6233 is resolved.

[2020-04-14 19:14] HenriRabalais commented on #6056
PR Issued #6375

[2020-04-14 19:14] HenriRabalais commented on #6240
PR Issued #6375

[2020-04-14 19:15] HenriRabalais commented on #6242
PR Issued #6375

[2020-04-14 19:19] HenriRabalais commented on #6241
Cannot Replicate Issue.

<img width="386" alt="Screen Shot 2020-04-14 at 15 19 21" src="https://user-images.githubusercontent.com/7550451/79264936-53bd5300-7e63-11ea-9036-17f00fdd1199.png">

[2020-04-14 19:37] ridz1208 commented on #6241
I just tried it again and you are correct.

[2020-04-14 19:37] #6241 closed

[2020-04-14 19:51] lingma commented on #6241
Oh, you can replicate the issue for sure. But the issue is not Loris problem. You can just move that Upload Date column small to replicate

[2020-04-15 11:51] driusan commented on #6360
This ticket doesn't make any sense. The module manager manages lists modules that are installed and let's you set them to active or inactive. It doesn't do any managing of menus at all and the only connection to menus is that LORIS doesn't display inactive modules in the menu.

[2020-04-15 12:25] driusan commented on #6229
My steps were (and I just tried again and had the same behaviour..):

1. Log in to https://test-loris-dev.loris.ca/ and go to survey module.
2. In the form enter the data:

- DCCID: 587630
- PSCID: DCC090
- Visit: V2
- Instrument: Medical History

3. Click "Create Survey"

[2020-04-15 14:27] ridz1208 commented on #4753
@christinerogers will you be able to fix this ?

[2020-04-15 14:34] christinerogers commented on #4753
Xavier has the most knowledge of these but yes, I'll be able to take a stab.

[2020-04-15 14:36] ridz1208 commented on #6229
@driusan I managed to reproduce it on the test VM but not on any other (tried it on my local install and my VM)

will wait for the next round of testing and see if it happens again after latest code is pulled

[2020-04-15 14:44] johnsaigle commented on #6360
That is my understanding also but I didn't have time to look at the code or try to reproduce.

[2020-04-15 14:48] #6251 closed

[2020-04-15 14:49] #6258 closed

[2020-04-15 14:51] lingma commented on #6360
The menu calls the module manager's method to get the active module list, and the menu might be the only item to do so. Other modules are all available no matter the module is active or not. The only difference is that they disappear from the menu since this might be the only implementation.

[2020-04-15 15:01] johnsaigle commented on #6360
@driusan This sounds like it might be a bug

[2020-04-15 15:07] ridz1208 commented on #6280
@johnsaigle was the testplan update done ?

[2020-04-15 15:07] ridz1208 commented on #6282
@johnsaigle can you issue the fix ?

[2020-04-15 15:12] ridz1208 commented on #6293
@PapillonMcGill will you be able to address this ?

[2020-04-15 15:12] ridz1208 commented on #6295
@xlecours will you be able to address this ?

[2020-04-15 15:13] ridz1208 commented on #6297
@christinerogers will you be able to address this ?

[2020-04-15 15:14] ridz1208 commented on #4753
@christine please do and take a stab at the linked issue #6301

[2020-04-15 15:15] ridz1208 commented on #6301
@christinerogers will you be able to address this ?

[2020-04-15 15:15] ridz1208 commented on #6302
@xlecours will you be able to address this ?

[2020-04-15 15:17] #6305 closed

[2020-04-15 15:19] ridz1208 commented on #6306
@johnsaigle can you investigate that and determine if the testplan needs fixing or there is an issue in the code ?

[2020-04-15 15:22] racostas commented on #6229
@driusan,@ridz1208. Yes, the issue is a bit funny. Not sure if data related.

The test I performed also in the official test VM.

![image](https://user-images.githubusercontent.com/37309344/79354354-4d35e680-7f0a-11ea-84cc-23e8bef1a6ec.png)

After this one I selected the Medical History instrument.

![image](https://user-images.githubusercontent.com/37309344/79354855-f250bf00-7f0a-11ea-8460-27cc31

[2020-04-15 15:23] ridz1208 commented on #6311
@johnsaigle I agree with your statement. I think we should still have somewhere else to build migration instructions as well but I'll leave that for another issue/PR.

will you be adding the Changelog note to the contributing document ?

[2020-04-15 15:24] ridz1208 commented on #6313
@christinerogers will you be addressing this ?

[2020-04-15 15:25] ridz1208 commented on #6314
@zaliqarosli could you take a couple minutes and give more details to john please ?

[2020-04-15 15:26] ridz1208 commented on #6316
PR merged

[2020-04-15 15:26] #6316 closed

[2020-04-15 15:27] ridz1208 commented on #6321
@xlecours will you be able to address this ?

[2020-04-15 15:30] #6325 closed

[2020-04-15 15:30] xlecours commented on #6290
Fixes #4770

[2020-04-15 15:37] ridz1208 commented on #6290
@xlecours this issue does not resolve the other issue you linked...

PR 6335 resolves this issue

[2020-04-15 15:39] #6319 closed

[2020-04-15 15:42] driusan commented on #6360
Off the top of my head the menus only display items from active modules, the dashboard only displays widgets from active modules, and the candidate_profile only displays widgets from active modules. Both the candidate_profile and dashboard have subwidgets which only display information from active modules.. but even if the menus were the only place currently using it, the module still does nothing

[2020-04-15 15:42] #6360 closed

[2020-04-15 15:54] jesscall commented on #6293
Reminder to @PapillonMcGill to add the following in the instrument test plan:

[2020-04-15 16:35] maltheism opened #6379 "[candidate_list] console error messages"
**Describe the bug**
The browser console is populated with errors when visiting the candidate_list module.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to candidate_list
2. See error

[code]

**What did you expect to happen?**
No errors in console

[2020-04-15 16:38] maltheism opened #6380 "[Candidate Profile] console error messages"
**Describe the bug**
The browser console is populated with errors when visiting the candidate_profile module.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to the candidate profile
2. See error

[code]

**What did you expect to happen?**
No errors in browser console.

[2020-04-15 16:40] maltheism opened #6381 "[instrument_list] browser console errors"
**Describe the bug**
The browser console is populated with errors when visiting the instrument_list module.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to instrument_list
2. See error

[code]

**What did you expect to happen?**
No browser console errors.

[2020-04-15 16:42] maltheism opened #6382 "[imaging_browser] browser console error messages"
**Describe the bug**
The browser console is populated with errors when visiting the imaging_browser module.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to imaging_browser module
2. See error

[code]

**What did you expect to happen?**
No browser error messages.

[2020-04-15 16:54] johnsaigle commented on #6311
I think it could be better as a quick GSOC ticket. I'm happy to leave it as an entry-level task for the time being.

[2020-04-15 16:56] johnsaigle commented on #6282
It doesn't seem to me like we've landed on a desired result. This also seems more like a feature/enhancement than a bug fix.

[2020-04-15 16:57] johnsaigle commented on #6280
Nope I haven't been able to do this task yet. It'll won't be done until Monday at the earliest.

[2020-04-15 17:21] ridz1208 commented on #6322
TODO: add a test plan simply stating something like
`The API should be tested by following the API specs and making sure every command works`

[2020-04-15 17:25] kongtiaowang commented on #6306
@ridz1208 @johnsaigle It is not the error of test plan. I have fixed it.

[2020-04-15 17:30] ridz1208 commented on #6355
TODO: rename description to `Superuser`

[2020-04-15 17:30] kongtiaowang commented on #6306
compare it with https://demo.loris.ca/document_repository/

[2020-04-15 19:49] johnsaigle opened #6388 "Extend Email class with an addAttachment() method"
**Is your feature request related to an existing module?**
php/libraries/Email.class.inc

**Describe the solution you'd like**
In some cases we may want LORIS to be able to send Emails with attachments. This came up for the UK Biobank, for example.

**Additional context**
This project may be a good option. https://github.com/PHPMailer/PHPMailer

[2020-04-15 19:57] johnsaigle commented on #6355
@ridz1208 Maybe something like `Superuser - grants all permissions`

[2020-04-15 20:24] cmadjar commented on #6212
Is there a reason why this is not closed? Looks like the linked PR has been merged but maybe I am missing something...

[2020-04-15 21:30] christinerogers opened #6389 "[Genomic Browser] README has incomplete sections"
The README also has incomplete sections that need to be fleshed out since #5827 was merged

_Originally posted by @driusan in https://github.com/aces/Loris/issues/4753#issuecomment-571168909_

[2020-04-15 22:12] christinerogers commented on #6302
My $0.02:
a+c are RaisinBread/test-data issues, like #6298.
b is a design choice, not a bug - could be improved upon but not sure it's release-critical.

[2020-04-15 22:13] christinerogers commented on #6298
This issue is a re-report of #5180 which is still open.

[2020-04-15 23:32] HenriRabalais commented on #6298
@christinerogers Oops! Should I close this one then?

[2020-04-16 14:17] driusan commented on #6212
I think the autoclose keyword only works on master

[2020-04-16 14:17] #6212 closed

[2020-04-16 17:15] xlecours commented on #6302
@ridz1208 It would be low on my priorities list.

[2020-04-16 17:55] xlecours commented on #6322
@zaliqarosli I just sent https://github.com/aces/Loris/pull/6397
Please tell me if it is a good start. Thanks

[2020-04-16 20:13] HenriRabalais commented on #6247
PR Issues #6400

[2020-04-16 20:29] xlecours commented on #6321
1. Should be addressed by https://github.com/aces/Loris/pull/6401

2. Should be addressed by https://github.com/aces/Loris/pull/6401

3. There is something wrong with JSON rendering of non-linst instruments. I need to dig.

4. The version `1.9.16` was missing in the config.xml `MINCToolsPath` entry ; FYI @kongtiaowang

5. TimeDimension is only available for 4d images. @cmadjar could you check this

[2020-04-16 20:35] maltheism opened #6402 "[DataTable.js] sortRows has poor performance"
**Describe the bug**

I'm debugging the sorting process of the DataTable.js when clicking on a table Header.

The function sortRows() should be improved because it's a basic sort technique.

Noticed when working on https://github.com/aces/Loris/pull/6403

[2020-04-16 20:38] xlecours commented on #6295
@ridz1208 It would be low on my priorities list.

[2020-04-16 21:10] HenriRabalais commented on #6298
closing because duplicate

[2020-04-16 21:10] #6298 closed

[2020-04-17 12:15] haoweiqiu commented on #6389
Hi @christinerogers, I've been trying to learn LORIS recently and I also found 2 broken links in README.md. I fixed them in my local repository. Should I help to fix the links? Thanks!

[2020-04-17 14:12] christinerogers commented on #6389
Hi @haoweiqiu - Could you email them to me, if they're not already addressed in #6296 ? thanks

[2020-04-17 14:37] haoweiqiu commented on #6389
Hi @christinerogers, the problem was found in the main branch, however, I just noticed that it has been fixed for Release 23.0 in #6296. Sorry for the confusion.

[2020-04-17 14:38] kongtiaowang opened #6405 "[document_repository] no files under root folder"
Describe the bug:
loading the main page, there is no file under root folder.
It should like https://demo.loris.ca/document_repository/.

[2020-04-17 14:44] kongtiaowang commented on #6306
@pierre-p-s @johnsaigle It is my mistake, this is a test plan error.

[2020-04-17 15:56] cmadjar commented on #6321
@xlecours indeed, TimeDimension is the fourth dimension in an image, hence only available for 4d datasets. Does that answer your question?

[2020-04-17 17:23] driusan commented on #5103
@LeighMac can you confirm that #6048 covers the problems you were having?

[2020-04-17 20:35] lingma opened #6411 "[menu vs left sidebar] Instrument_list menu display problem"
**Describe the bug**
![image](https://user-images.githubusercontent.com/5295785/79611681-21ad2a80-80c9-11ea-95c6-86142e45d025.png)

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to a profile
2. Click on instrument list
3. Check whether menu drop down is visible or not

**Server Environment (if known):**
_Note: We only support the most recent release of

[2020-04-17 20:50] lingma commented on #6411
This issue must have something to do with a recent PR, because it was good at least very recently like 2 days ago.

[2020-04-20 15:25] christinerogers opened #6415 "[Docs] Remove spaces from markdown filenames (and section headers?)"
For both internal Github linking to work, and ReadTheDocs to work - replace spaces with underscores.

Currently any spaces in a Markdown filename will make for a broken link when reading a Markdown file in GitHub.   See John's description of the issue below.

To do - For all markdown files in the codebase:
- [x] in the Filename: replace any spaces with underscores (and delete the old file)
- [x] i

[2020-04-20 15:45] johnsaigle commented on #6415
AFAIK this doesn't apply to headers but we can test it out.

[2020-04-20 16:21] PapillonMcGill opened #6417 "[instruments] administration panel not working with Firefox"
**Describe the bug**
Can't change administration of data entry status for an instruments with Firefox (not tested with others)

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to an instrument for a visit/candidate
2. Click on any administration or data entry item in the left pane.
3. Clicking on 'delete instrument data' is not working
4. screen look like

[2020-04-20 16:30] ridz1208 commented on #6417
@PapillonMcGill I'm not sure about step 2

It seems like the broken functionality is the instrument deletion, not sure why step 2 is necessary to reproduce. this is making the issue slightly confusing. does the instrument not get cleared if no administration is set either ?

[2020-04-20 16:31] PapillonMcGill commented on #6417
I can save the data but I can't change any admin setting. Not sure what is the desired behavior of this pane.

[2020-04-20 16:35] ridz1208 commented on #6417
@PapillonMcGill each section of this pane has a different purpose.

- The delete instrument data is one function to clear an instrument
- the administration and completeness sections are interdependent as explained on the PR
- valididty is also it's own section and can be checked unchecked depending on a flag set in the instrument file itself

this particular issue touches on 2 different functiona

[2020-04-20 17:44] ridz1208 commented on #6282
@johnsaigle I'm okai with dave's solution honestly but yeah it might be a feature unless it's specified in the test plan. could you double check the testplan when you have some time and we'll decide what to do after that

[2020-04-20 19:31] johnsaigle commented on #6282
I'm not really sure what you mean. I checked the test plan. It says user should be able to comment on all issues, similar to the permission description.

As Xavier said, this is possible but when a user views the module it will not display issues from other sites. However, manually navigating to an issue will allow a user to view/comment on it.

[2020-04-20 19:57] johnsaigle commented on #6287
I issued a PR to improve the error message but this is more of a feature enhancement than a bugfix for the release. I'd suggest keeping this issue open but removing the 23 label @ridz1208

[2020-04-21 13:05] #6411 closed

[2020-04-21 15:08] christinerogers commented on #6297
@ridz1208 this is addressed in #6391 - just needs the requested reviewers to look at it.  They've been sent a reminder today.

[2020-04-21 15:10] christinerogers commented on #6301
@ridz1208 this is addressed in #6391 - just needs the requested reviewers to look at it. They've been sent a reminder today.

[2020-04-21 15:11] christinerogers commented on #4753
@ridz1208 this and #6301 are addressed in #6391 - just needs the requested reviewers to look at it. They've been sent a reminder today.

[2020-04-21 16:25] johnsaigle commented on #6417
Is this related to https://github.com/aces/Loris/issues/6218? The screenshots look similar

[2020-04-21 16:25] johnsaigle commented on #6417
Also see #6378

[2020-04-21 16:25] johnsaigle commented on #6417
Also see #6378

[2020-04-21 16:46] johnsaigle opened #6420 "Expand "iff" in documentation to "if and only if" (or reword)"
**Describe the solution you'd like**
In code review, people seem to be tripping over the abbreviation "iff" standing for "if, and only if,...". I think we can update our documentation to expand this. The short-hand isn't making things more convenient ultimately.

Sentences using this phrase could alternatively be reworded away from using this phrase.

[2020-04-21 16:46] pierre-p-s commented on #6417
Yes my PR changes the instrument data deletion button however the old one worked with the 2 checkboxes on chrome.

[2020-04-21 16:50] johnsaigle commented on #6417
@PapillonMcGill Maybe you could review and test @pierre-p-s's PR? That seems like an efficient way to figure out if this is a duplicate issue as well as to move the PR along.

[2020-04-21 17:12] johnsaigle opened #6421 "Add integration tests for front-end password resets"

[2020-04-21 17:22] johnsaigle commented on #6278
Closing this because the linked PR is merged

[2020-04-21 17:22] #6278 closed

[2020-04-21 17:24] #6228 closed

[2020-04-21 17:24] #6274 closed

[2020-04-21 17:26] johnsaigle commented on #6259
I think this is resolved by the linked PR

[2020-04-21 17:26] johnsaigle commented on #6245
@jesscall @ridz1208 Can this be closed?

[2020-04-21 17:27] johnsaigle commented on #6230
@ridz1208 Did the linked PR fix this?

[2020-04-21 18:59] PapillonMcGill commented on #6417
Effectively, @pierre-p-s PR #6378 cleared the problem.

[2020-04-21 20:04] johnsaigle opened #6422 "Columns headers broken/ugly across all tables on 23.0-release"
**Describe the bug**
The header for tables is not frozen properly when scrolling.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. On `aces/23.0-release`, run `make dev`
2. Go to any Menu Filter module (e.g. media, candidate_list) with a large enough number of rows that you can scroll down the page.
3. See error

<img width="1191" alt="Screen Shot 2020-04-21

[2020-04-22 12:15] #6245 closed

[2020-04-22 12:16] ridz1208 commented on #6230
@johnsaigle yes

[2020-04-22 12:16] #6230 closed

[2020-04-22 16:03] christinerogers commented on #6328
Note: this is an effect of the default change from #3952 -- took effect in the August 2019 release *21*

[2020-04-22 18:12] #6389 closed

[2020-04-22 18:12] #6381 closed

[2020-04-22 18:12] #6380 closed

[2020-04-22 18:13] #6405 closed

[2020-04-22 18:13] #6355 closed

[2020-04-22 18:14] #6336 closed

[2020-04-22 18:14] #6318 closed

[2020-04-22 18:15] #6310 closed

[2020-04-22 18:16] #6366 closed

[2020-04-22 18:17] johnsaigle commented on #6233
@ridz1208 is this resolved?

[2020-04-22 18:20] #6301 closed

[2020-04-22 18:21] #6285 closed

[2020-04-22 18:43] SantiagoTG commented on #6259
Reopening as issue is still present. BHV feedback link still missing at the instrument level.

[2020-04-22 18:45] #6297 closed

[2020-04-22 18:45] #4753 closed

[2020-04-22 18:47] driusan commented on #6259
@SantiagoTG how did you test?

[2020-04-22 19:31] SantiagoTG commented on #6259
Hi Dave, I tested the same way I did initially, by entering https://test-loris-dev.loris.ca/ and checking the BVL feedback links for a given candidate.

[2020-04-22 19:33] johnsaigle commented on #6259
Is the Test VM up to date?

[2020-04-22 19:42] lingma commented on #6259
I just checked, the new 23.0 should be OK. But not on the test VM

[2020-04-22 19:43] #6233 closed

[2020-04-22 19:43] #6259 closed

[2020-04-22 20:22] zaliqarosli commented on #6314
hi @johnsaigle, could you simplify how I can help at this stage? I've read your last few comments and I am a bit confused. You had mentioned that 1GB (the limit on the test VM, where I tested and got the error described in this issue) was too big of a file to upload onthe front-end anyways, but then you actually demonstrated a successful upload of a 1GB file.

could you try reproduce this error on

[2020-04-22 20:29] zaliqarosli commented on #6321
@xlecours i can't find the command that I had tried to run. Could you provide me the command that I should be using and I can test again?

[2020-04-23 16:36] PapillonMcGill opened #6424 "[instruments] DoD"
**Describe the bug**
When entering a 'Date of administration' posterior to the Date of Death, the  'Candidate age' label should change to 'Candidate Age at Death'. It is not the case.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to Candidate -> Access Profile
2. Click on a candidate PSCID that have a DoD
3. Click on a visit label
4. Select an instrume

[2020-04-23 16:38] ridz1208 commented on #6424
@jesscall  please take a look

[2020-04-23 17:16] zaliqarosli opened #6425 "[DQT] 'Download Table as CSV' broken if StaticDataTable has non-empty data from mri_data field"
**Describe the bug**
In 'View Data' tab of Data Query Tool module, the 'Download Table as CSV' button at the bottom of the StaticDataTable breaks and triggers the console error below if the table has at least 1 non-empty data from an mri_data field. Otherwise, the button works fine.

<img width="1264" alt="Screenshot 2020-04-23 12 56 45" src="https://user-images.githubusercontent.com/17415878/8012

[2020-04-23 17:48] driusan commented on #5289
PR merged

[2020-04-23 17:48] #5289 closed

[2020-04-23 19:17] #6224 closed

[2020-04-24 13:28] cmadjar commented on #6247
@HenriRabalais @driusan is this issue resolved? I see the PR has been merged but the issue is not closed. Just wanted to follow up. Thanks!

[2020-04-24 13:29] cmadjar commented on #6269
@nicolasbrossard @driusan is this issue closed? I see the PR has been merged so wondering...
Thanks!

[2020-04-24 13:31] cmadjar commented on #6275
@maltheism @driusan is this issue resolved? I see that a PR has been merged but the issue is still open. Please, close the issue if resolved or comment on what still needs to be done to resolve the issue. Thanks!

[2020-04-24 13:37] nicolasbrossard commented on #6269
@cmadjar Yeah, I fixed this.

[2020-04-24 13:38] #6269 closed

[2020-04-24 13:41] cmadjar commented on #6306
@kongtiaowang @driusan From what I understand this issue is resolved. Could you confirm and close the issue if that is the case. Otherwise comment on what still needs to be done. Thanks!

[2020-04-24 13:47] cmadjar commented on #6322
@xlecours @zaliqarosli @driusan is this issue resolved by the merged PR? If so, could you please close the issue? Otherwise could you give a summary of what still needs to be done. Thank you!

[2020-04-24 13:48] #6326 closed

[2020-04-24 13:51] #6247 closed

[2020-04-24 13:53] cmadjar commented on #6353
@johnsaigle #6233 has been resolved. Back to you :).

[2020-04-24 13:54] cmadjar commented on #6379
Should be resolved by the merged PR.

[2020-04-24 13:54] #6379 closed

[2020-04-24 13:55] cmadjar commented on #6382
Should be resolved by the merged PR.

[2020-04-24 13:55] #6382 closed

[2020-04-24 13:57] #6275 closed

[2020-04-24 13:57] #6306 closed

[2020-04-24 13:57] #6322 closed

[2020-04-24 16:24] HenriRabalais commented on #6247
Yes, it's resolved!

[2020-04-24 21:17] HenriRabalais commented on #6229
I tested this and experienced the same error as @driusan.

After sourcing the data from this PR (#6345), the only remaining issue seems to be whether or not a survey should be able to be created with an associated e-mail address.

Should this be the case?

[2020-04-27 13:17] xlecours commented on #6321
Hi, @kongtiaowang would you be able to increase the `memory_limit` in php.ini ?

[2020-04-27 14:12] zaliqarosli commented on #6321
POST isn't working for me when I test on my dev VM on 23.0-release

<img width="950" alt="Screenshot 2020-04-27 10 11 42" src="https://user-images.githubusercontent.com/17415878/80381922-a4737980-886f-11ea-93e1-79d2f96ecf94.png">

[2020-04-27 14:34] driusan commented on #6229
Yes, emails are only required with the "email survey" link. You can create a survey to administer in the lab directly to the subject without an email address.

[2020-04-27 15:01] #6239 closed

[2020-04-27 15:48] #6312 closed

[2020-04-27 16:22] ridz1208 commented on #6229
@driusan so it seems like the issue has been resolved y fixing RB. If that's also your understanding please close the issue

[2020-04-27 16:53] driusan commented on #6229
@ridz1208 Has the test VM been updated so I can verify before closing?

[2020-04-27 16:56] maltheism opened #6430 "[smarty] text input placeholder broken"
**Describe the bug**
Throughout LORIS in modules not using react like the login module. There is a recent bug that is preventing placeholders from being shown.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to '23.0-release
2. Go to the request account in login module.
3. See error

![3](https://user-images.githubusercontent.com/16293415/80398959-705783

[2020-04-27 17:27] ridz1208 commented on #6229
i don't think so, might need to wait for round 2 then

[2020-04-27 17:56] ridz1208 opened #6432 "[data_release] Admin user can see but not download all release files"
**Describe the bug**
The admin user (user with `superuser` permission) can see all data release files as requested by projects. the issue ere is that not all files are downloadable, the getfile ajax blocks download of files not directly linked to the user in `data_release_permissions` database table.

**To Reproduce**
Steps to reproduce the behaviour (attach screenshots if applicable):
1. go to th

[2020-04-27 18:02] driusan opened #6433 "[candidate_parameters] Test plan and README do not describe widgets"
The test plan for the candidate_parameters module registers widgets into the candidate_profile, but the README does not describe the interaction and the test plan does not test the widget.

[2020-04-27 18:03] driusan opened #6434 "[conflict_resolver] README and test plan do not describe/test widgets"
The README for the conflict resolver does not describe the fact that it registers widgets on the dashboard or the candidate_profile dashboard, and the test plan does not describe how to test them.

[2020-04-27 18:04] ridz1208 opened #6435 "[data_release] uploading duplicate file causes strange behaviour"
**Describe the bug**
When uploading a file with the same name of an existing file this happens:
1. a swal pops up saying only "Internal server error"
[code]
2. after refreshing the page, the file uploaded twice shows up twice on the page (it does not get uploaded to the server, the file on the server is still the old one)
3. when downloading the file a network error occurs
[code]

All this should

[2020-04-27 18:05] driusan opened #6436 "[imaging_browser] Test plan does not test widgets"
The imaging browser test plan does not include tests for the widgets that the module registers on the candidate dashboard.

[2020-04-27 18:07] driusan opened #6437 "[instruments] Widgets are not described in README or test plan"
The instruments module registers widgets to the dashboard and candidate dashboard, but the test plan does not describe them and the README doesn't mention them as interactions.

[2020-04-27 18:08] driusan opened #6438 "[issue_tracker] Widgets not described in test plan"
The issue tracker registers widgets on the dashboard and candidate_profile dashboard, but the test plan does not describe how to test the when the module is active.

[2020-04-27 18:10] driusan opened #6439 "[media] Media module test plan does not test widgets"
The test plan for the media module does not test the widgets it registers to the candidate_profile dashboard.

[2020-04-27 18:11] driusan opened #6440 "[mri violations] MRI Violations module does not describe or test widgets"
The MRI violations module registers widgets to the candidate dashboard, but the README does not describe them and the test plan does not test them.

[2020-04-27 18:13] driusan opened #6441 "[statistics] Outdated test plan and README"
The statistics module registers widgets to the LORIS dashboard, but the README does not describe the interaction and the test plan does not describe how to test them. (The tests can probably be moved from the dashboard test plan, which was written before the dashboard was modularized.)

[2020-04-27 18:15] driusan opened #6443 "[user_accounts] Widgets not describe in test plan or README"
The user accounts module registers widgets on the dashboard, but the test plan does not describe how to test it and the README doesn't describe the interaction. (The test plan can probably be moved from the dashboard test plan which was written before the dashboard was modularized.)

[2020-04-27 18:20] driusan commented on #6207
Related issues for modules that register widgets which have an out of date test plan: #6433, #6434, #6436, #6437, #6438, #6439, #6440, #6441, #6443

[2020-04-27 18:21] #6207 closed

[2020-04-27 18:23] #6307 closed

[2020-04-27 19:34] johnsaigle commented on #6373
#6331 was linked to close this PR but that PR does not solve the issue.

[2020-04-27 20:18] zaliqarosli commented on #6314
this issue is a VM configuration issue - due to `post_max_size` and `upload_max_filesize` being the same value (1024M). the 413 error needs to be resolved by having upload_max_filesize < post_max_size. @kongtiaowang could you either make `upload_max_filesize` < 1024M or post_max_size > 1024M in `/etc/php/7.3/apache2/php.ini`?

[2020-04-27 20:30] johnsaigle commented on #6432
I wonder if we should think about creating a File class in LORIS that can map permissions from users to back-end files in a way...

Like if there was a parent class `File.class.inc` that has a `accessibleBy($user)` function. That could always return true for super user, and modules could extend it to do things like add custom permissions (e.g. "roles" like this module and issue_tracker have sort o

[2020-04-27 20:34] ridz1208 commented on #6432
i like it

[2020-04-27 20:36] johnsaigle opened #6445 "Create a class for Files in LORIS"
I wonder if we should think about creating a File class in LORIS that can map permissions from users to back-end files in a way... because we also just had a similar issue with doc repository.

Like if there was a parent class `File.class.inc` that has a `accessibleBy($user)` function. That could always return true for super user, and modules could extend it. `DataReleaseFile.class.inc` could add

[2020-04-28 12:49] driusan commented on #6314
I don't understand.. why would it be a problem that they're the same value?

[2020-04-28 12:52] driusan commented on #6432
The interface is `isAccessibleBy`, but yeah, we should. There's already MriFile in the imaging browser.

[2020-04-28 13:20] zaliqarosli commented on #6314
@driusan hmm rightt.. i tried putting it the same values on my dev VM and it didn't trigger the 413. i'm not sure, it was the answer i found when i looked the error up. it's definitely an issue with some configuration with the test VM though but now i'm not sure what. either way, the 413 case is considered in my PR linked above

[2020-04-28 13:32] lingma commented on #6314
`post_max_size` should be > `upload_max_filesize`, the PHP configuration is not correct. But 413 should already have been triggered with a file of 1G, so no difference whether  `post_max_size` vs `upload_max_filesize`

[2020-04-28 14:07] ridz1208 commented on #6282
@HenriRabalais new order of business

Can you just make sure that any issue that is not displayed in the menu filter is not accessible by the user ?

ie, you cant access an issue that you don't see in the table thats it

[2020-04-28 14:10] ridz1208 commented on #6353
@maltheism can you adress this please ?

[2020-04-28 14:14] maltheism opened #6448 "[Download CSV] the Download CSV is broken throughout LORIS"
**Describe the bug**
Noticed first in the DQT but after testing throughout LORIS, the Download CSV is broken throughout LORIS.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Go to genomic_browser module
2. Click Download CSV
3. Open CSV that wa sdownloaded
4. See error

**Additional context**
Add any other context about the problem here.
The CSV data is mi

[2020-04-28 14:25] johnsaigle commented on #6314
Yeah I'm still not sure how to replicate it. In short, the module seems to be operating as per usual (at least on my VM). I'm not sure what about the test VM would cause it to give a 413. It could be any one of a number of `php.ini` settings.

[2020-04-28 14:34] lingma commented on #6448
I tried, all works fine with me on my installation

[2020-04-28 14:43] johnsaigle opened #6449 "Make Password->validate() a static function"
Right now the idiom for testing password strength is doing

[code]

[2020-04-28 15:02] johnsaigle opened #6450 "Remove Data_dir column from document repository table"
This column isn't necessary for the module.

More information can be found here: https://github.com/aces/Loris/pull/6363#discussion_r415889279

[2020-04-28 15:17] #6448 closed

[2020-04-28 15:30] #6422 closed

[2020-04-28 17:38] #6350 closed

[2020-04-28 17:53] #6286 closed

[2020-04-28 18:28] HenriRabalais commented on #6282
The condition at line `100` is always true because $this->issueID is only set in the handle function, which is called after the hasAccess function. Should we be passing the request, to hasAccess so that we can properly assess user access for a given request?

[code]

[2020-04-28 18:46] xlecours commented on #6282
@HenriRabalais IMO, adding a filter to the dataprovisioner would be the ideal way of solving this.

[2020-04-28 18:53] driusan commented on #6282
@xlecours How would adding a filter to the dataprovisioner solve this? Isn't the issue that the DataProvisioner *is* filtering but users can access issues that they can't see in the menu?

@HenriRabalais I briefly looked at the code and it looks like the `setup()` function isn't written very well (ie. it's using `header()` to try and change the response value..) I think the way it's solved in othe

[2020-04-28 18:57] driusan commented on #6282
`modules/candidate_profile/php/candidate_profile.class.inc` is an example of a class that uses process to ensure class variables are set before hasAccess..

[2020-04-28 19:16] ridz1208 commented on #6282
@driusan I really don't like how it's doing it honestly.

I feel like it makes more sense to pass the $request to the hasAccess function then overload the process function.

[2020-04-28 20:39] maltheism commented on #6440
Hey @driusan just to make sure I'm on the same page. I just see under the "My Tasks" widget, a row for Violated scans and I don't think there is anything else?

[2020-04-29 15:40] maltheism commented on #6440
note to self: for regular dashboard "my tasks"

[2020-04-29 15:54] driusan commented on #6440
Yeah, sorry, I created these tickets by doing a `git grep getWidgets` and got the wrong dashboard for this one.. but we should still be updating the test plan to test for it and README to note the interaction.

[2020-04-29 15:54] driusan commented on #6440
(We should also be creating an MRI Violations candidate dashboard widget eventually..)

[2020-04-30 13:51] #6056 closed

[2020-04-30 13:51] #6242 closed

[2020-04-30 13:51] #6243 closed

[2020-04-30 13:51] #6432 closed

[2020-04-30 13:58] #6425 closed

[2020-04-30 18:06] #6313 closed

[2020-04-30 18:43] HenriRabalais commented on #6304
I'm trying to test but getting this error. Do i have to manually make a director for each user?
[code]

[2020-05-01 13:58] #6353 closed

[2020-05-01 17:08] ridz1208 commented on #6280
@nicolasbrossard could you take care of this one ?

[2020-05-01 17:16] ridz1208 commented on #6436
@pierre-p-s could you take care of this one please

[2020-05-01 19:41] #6304 closed

[2020-05-01 20:36] #6235 closed

[2020-05-04 14:26] #6279 closed

[2020-05-04 15:11] christinerogers opened #6467 "[Dashboard] Update Readme post-refactor for 23 release"
Module readme needs an update since it was refactored in jan 2020 #5896

Several issues linked below have been created to update the widget modules' testplans to add test cases for the their respective widgets.

After all issues are resolved and PRs merged, the dashboard readme and testplan should undergo a sanity check to make sure it is up to date with the new widget structures.

The below text

[2020-05-04 15:23] nicolasbrossard opened #6468 "[Imaging uploader] Vague error message when trying to upload a file while the server is down"
**Describe the bug**
I access the imaging uploader module and fill out the upload form with valid information. Before clicking submit, I shutdown my Apache server (`sudo service apache2 stop`). I click on `Submit` and I get the `Submission error` swal but there's no indication of what went wrong.

**To Reproduce**

See above.

**What did you expect to happen?**

A more informative swal.

**Additio

[2020-05-04 15:29] #6443 closed

[2020-05-04 15:40] johnsaigle commented on #6467
I didn't know you could make issue titles this long

[2020-05-04 15:47] christinerogers commented on #6467
it was auto-generated by github lol

[2020-05-04 18:56] christinerogers opened #6469 "[Documentation] DQT readme - minor tweak suggested"
an improvement suggested in closed PR thread #6267

[code]

_Originally posted by @PapillonMcGill in https://github.com/aces/Loris/pull/6267_

[2020-05-04 20:03] HenriRabalais opened #6470 "[issue_tracker] If Issue has centerID of NULL, error is thrown."
**Describe the bug**
When navigating to the issue tracker module with a user who does not have permission to all centers, if one of the issues has a centerID of `NULL` in the database, an error thrown since the dataprovisioner's usersitematch filter expects getCenterID to return a non-null value.

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
1. Set the cente

[2020-05-04 20:54] HenriRabalais commented on #6282
PR Sent.

[2020-05-04 21:50] pierre-p-s commented on #6436
@driusan Not sure what you mean by candidate dashboard. Is it the one that appears in the new access profile module?

[2020-05-04 22:08] maltheism commented on #6436
@pierre-p-s yes that's correct. There are new widgets visible after clicking on a candidate from within the New Access Profile (Beta) page.

[2020-05-05 13:16] driusan commented on #6470
The problem is that the UserSiteMatch filter doesn't know if getCenterID=null means that a user should have access to the resource or a user shouldn't have access to the resource in the data framework.

We either need a consistent policy throughout LORIS for if null means "any" or "none" or we need to split it into UserSiteMatchExclusive and UserSiteMatchInclusive (or maybe just include a construc

[2020-05-05 17:01] #6290 closed

[2020-05-05 17:01] #6291 closed

[2020-05-05 17:04] #6293 closed

[2020-05-05 17:07] #6314 closed

[2020-05-05 17:10] #6439 closed

[2020-05-05 17:15] #6435 closed

[2020-05-05 17:17] #6430 closed

[2020-05-05 17:33] christinerogers opened #6473 "[Readme] Update dependency impacting ubuntu dev install - minor tweak"
php7.3-curl specifically is required for the 23 release
- [ ] change `curl` -> `php7.3-curl` in the main LORIS readme

[2020-05-05 19:10] #6440 closed

[2020-05-05 19:19] laemtl commented on #6473
Christine, is it possible that both curl and php7.3-curl are needed?

[2020-05-05 19:31] HenriRabalais commented on #6470
@ridz1208 any thoughts?

[2020-05-06 01:02] christinerogers opened #6475 "[InstallDocs] Add Install markdowns to 23 branch"
Given that we are releasing the install markdowns as part of the 23 release --
Steps:
- [x] copy from `master` to 23 branch - Ubuntu and CentOS instructions
- [ ] move/rename ready files from `wiki/` path (per Loris mtg may05)
- [x] also do #6415 - remove spaces from filenames
- [x] update the curl dependency in the ubuntu markdowns per #6492
- [x] Include #6181 changes on this branch ([per this c

[2020-05-06 13:19] christinerogers commented on #6421
@johnsaigle Is this something @AlexandraLivadas could take on in a week or two?

[2020-05-06 13:21] christinerogers commented on #6449
@johnsaigle is this something @laemtl (Laetitia) could tackle?

[2020-05-06 13:22] christinerogers commented on #6311
@laemtl how about taking a crack at this for the `23.0-release` branch?

[2020-05-06 13:26] christinerogers commented on #5687
@johnsaigle -- Is this a beginner task truly?  I suspect a lot of the `fixme` and `todo` comments often need interpretation by an experienced Loris dev to define/create the underlying issue scope.

@laemtl I'll assign this to you for now as we wait for Testing assignments.  This should be done on the `master` branch since discussion may be required.

[2020-05-06 14:37] #6441 closed

[2020-05-06 14:54] #6433 closed

[2020-05-06 15:49] ridz1208 commented on #6467
Below are a list of issues created for this. I can see that updating the testplan of dashboard was missed in a couple of them. We should create specific issues to make sure the testplan sections are transferred to the proper module and the dashboard testplan is updated.

https://github.com/aces/Loris/issues/6443
https://github.com/aces/Loris/issues/6441
https://github.com/aces/Loris/issues/6440
ht

[2020-05-06 15:57] ridz1208 commented on #6467
I think at this stage we should wait to get all the remaining PRs in and do a sanity check after to remove what is left over.

I added some details to the issue description

[2020-05-06 18:42] laemtl opened #6479 "[Core] Projects class - Add not null and unique constraint to the name column of the Project table"
**master branch**
 [/php/libraries/Project.class.inc:createNew()](https://github.com/aces/Loris/blob/master/php/libraries/Project.class.inc#L141)
Add the not null / unique constraints on the name column of the Project table and remove the below comments.

[code]
See #5687 for more details

[2020-05-06 19:17] johnsaigle commented on #5687
I think that creating an issue that includes a link to the relevant section of code using a [GitHub permalink](https://help.github.com/en/github/managing-files-in-a-repository/getting-permanent-links-to-files) is a beginner-friendly task. Many will likely need subsequent attention from someone more experienced. This would be a good way to spotlight these problems.

[2020-05-06 19:19] johnsaigle commented on #6449
I don't see why not

[2020-05-06 19:21] johnsaigle commented on #6421
Sure, whenever she has time

[2020-05-06 19:32] johnsaigle commented on #6473
This package is only needed for development installs, not production, and it's required because of the change introduced here: https://github.com/aces/Loris/pull/6187.

Just mentioning it for the record. The linked PR looks good.

[2020-05-06 19:35] johnsaigle commented on #6475
I think the consensus was to copy the install files or else create symlinks to the two install files under `docs/wiki/...`. The names and content of the original files should not be modified. (Modifying spaces within the filenames is OK.)

[2020-05-06 20:17] christinerogers commented on #6479
Here's how I'm tweaking your issue:
- [ ] specify which branch : in this case `master`
- [ ] add links directly to the code.

[2020-05-06 21:22] laemtl opened #6481 "[Core] NDB_BVL_Instrument class - Clean debug code"
**master branch**
 [php/libraries/NDB_BVL_Instrument.class.inc:save()](https://github.com/aces/Loris/blob/master/php/libraries/NDB_BVL_Instrument.class.inc#L600)
Check and remove the below code if it's not necessary.

[code]
See #5687 for more details

[2020-05-06 21:35] laemtl opened #6482 "[Menu] setTemplateVar checkup"
**master branch**
 [php/libraries/NDB_Menu_Filter.class.inc:_setDataTable()](https://github.com/aces/Loris/blob/master/php/libraries/Project.class.inc#L141)
The below FIXME comments have been removed from the code.
This issue is created to keep a note of these improvements.

[code]

 [php/libraries/NDB_Menu_Filter.class.inc:_setDataTableRows($count)](https://github.com/aces/Loris/blob/master/php/l

[2020-05-06 21:44] lingma commented on #6481
I think you can either remove the whole block or do nothing, instead of removing comments.

[code]

[2020-05-06 21:55] laemtl commented on #6481
Thanks for your suggestion.
I try to tackle #5687. I was thinking to migrate the comments to issues and cleaning the comments first, and then in a second phase, fixing/cleaning some of the issues.

[2020-05-06 22:00] lingma commented on #6481
I don't think a note from Dave should be removed, he is likely the main developer of this project, so I doubt he will let you remove his notes. By the way, the code section seems obsolete to me unless someone wants to implement something, so I believe they could be removed.

[2020-05-06 22:06] laemtl commented on #6481
Thanks, I updated the issue description.

[2020-05-06 23:45] christinerogers commented on #6473
thanks John.
Is it still recommended that production instances stick to `curl`?
Since this breaks the install for sandboxes, I think we should mention the package for development - which means we should update related documentation not yet covered by #6187.

[2020-05-07 14:35] laemtl opened #6487 "[Candidate] Change createNew() signature (optional params)"
**master branch**
Review the suggested change in the signature of Candidate::createNew() and remove the below comments.
 [php/libraries/Candidate.class.inc:createNew()](https://github.com/aces/Loris/blob/master/php/libraries/Candidate.class.inc#L171)

[code]

[2020-05-07 15:02] laemtl opened #6488 "[Notifier] Email notification"
**master branch**
Add validation for email sent/failed (L83), send a confirmation email(L95) and remove the below comments.
[php/libraries/NDB_Notifier.class.inc:_sendEmails()](https://github.com/aces/Loris/blob/master/php/libraries/NDB_Notifier.class.inc#L85)

[code]

[2020-05-07 16:16] HenriRabalais opened #6489 "[Utilities] Issue with getSiteList function"
**Describe the bug**
When calling the function `getSiteList(false, true)`, I get the following error:

[Thu May 07 11:43:26.168696 2020] [php7:notice] [pid 23155] [client 132.216.238.74:58908] Could not execute SELECT CenterID, Name FROM psc  AND CenterID <> 1. Stack trace#0 /var/www/loris/php/libraries/Database.class.inc(726): Database->execute(Object(PDOStatement), Array)\n#1 /var/www/loris/php/

[2020-05-07 16:28] ridz1208 commented on #6489
if you look at the code of that function you can see that the `WHERE` is part of one of the if statements, that should be brought out of the if statement to avoid a syntax error.

@christinerogers this is an easy one for GSOCs

[2020-05-07 18:38] laemtl opened #6490 "[Core] File_Upload::registerForm() - Missing form validation"
**master branch**
Implement the missing form validation and remove the below comment.
[php/libraries/File_Upload.class.inc:registerForm(&$quickform)](https://github.com/aces/Loris/blob/master/php/libraries/File_Upload.class.inc#L397)

[code]

[2020-05-07 18:44] laemtl opened #6491 "[Core] File_Upload::isValidFileHandler($field) - Investigate on Phan failure (@phan-suppress-next-line)"
**master branch**
Investigate why Phan fails and remove the below comments.
 [php/libraries/File_Upload.class.inc:isValidFileHandler($field)](https://github.com/aces/Loris/blob/master/php/libraries/File_Upload.class.inc#L349)

[code]
See #5687 for more details

[2020-05-07 19:00] christinerogers commented on #6473
Updating issue title to be better:
- this issue scope covers only the main Loris Readme on the 23 branch
- other install docs shoujld be added to the 23 branch and similarly update via # 6475

[2020-05-07 19:31] h-karim opened #6493 "[ElectrophysiologyBrowser] Fix typo in label"
**Description**
 'Visit' is spelled incorrectly.

**To Reproduce**
1. Go to the EEGBrowser
2. Observe misspelling

**What did you expect to happen?**
Display 'Visit' instead of 'Vist'

[2020-05-07 19:48] lingma commented on #6491
https://github.com/phan/phan/issues/3700

A team member of phan consider this case as a phan's bug.

[2020-05-07 21:02] AlexandraLivadas opened #6495 "[Raisinbread] Add instructions about sourcing SQL to the Raisinbread README"
The Raisinbread installation instructions in the [README.md](https://github.com/aces/Loris/blob/23.0-release/raisinbread/README.md) (23.0-release branch) do not specify that all tables must be dropped from a database before the raisinbread files can be sourced. It should also be clarified that there are potential foreign key constraints that can be mitigated.

- [ ] Clarify that all tables should

[2020-05-07 21:08] ridz1208 commented on #6495
@AlexandraLivadas the only mention of it is the note at the bottom of this section
https://github.com/aces/Loris/tree/23.0-release/raisinbread#sourcing-sql

I think it could/should be more emphasized as long as there is a clear warning that doing so will delete all the data in the current database loaded. Also, there should not be any foreign key issues when using the 999-99-99 scripts. if there a

[2020-05-07 21:21] laemtl opened #6496 "[CORE] Module::factory(string $name) - Make the search path a config option"
**master branch**
Convert the module search path to a config option and remove the below comment.
[php/libraries/Module.class.inc:factory(string $name)](https://github.com/aces/Loris/blob/master/php/libraries/Module.class.inc#L105)

[code]

[2020-05-07 21:29] laemtl opened #6497 "[Core] Module class breadcrumb hack cleanup"
**master branch**
Check if the breadcrumb hack is still required and remove the below comment
 [php/libraries/Module.class.inc:handle(ServerRequestInterface $request)](https://github.com/aces/Loris/blob/master/php/libraries/Module.class.inc#L343)

[code]

See #5687 for more details

[2020-05-07 21:29] AlexandraLivadas commented on #6495
@ridz1208 I was planning on making a bug fix issue for that either this afternoon or tomorrow morning. Myself and some of the other GSOC students noticed this problem when we were installing raisinbread.

[2020-05-07 22:05] laemtl opened #6500 "[Core] Make NDB_Page->tpl_data private"
**master branch**
Make NDB_Page->tpl_data private, update the references that use it for the getter/setter and remove the below comment.
[php/libraries/NDB_Page.class.inc](https://github.com/aces/Loris/blob/master/php/libraries/NDB_Page.class.inc#L86)

[code]

See #5687 for more details

[2020-05-07 22:05] AlexandraLivadas opened #6501 "[SQL] The drop_tables schema causing foreign key constraint errors"
The [SQL/9999-99-99-drop_tables.sql](https://github.com/aces/Loris/blob/23.0-release/SQL/9999-99-99-drop_tables.sql) schema contains foreign key constraints. When it is sourced, foreign key constraint errors occur and some tables are consequently not dropped.

**To Reproduce**

**Note:** This will drop some of the tables in your database. Create a backup of your existing database to return to befo