[2019-05-31 15:28] coreyAbout commented on #4722
Haven't tried yet. Currently developing the instance for Douglas, switching to raisinbread involves switching the code base, the database tables, and all the kinds of imaging files. Need to switch back and forth, haven't figured out best way to do it now.

Can you try that on your sandbox?

[2019-05-31 16:33] johnsaigle commented on #4722
Addressed by #4734

[2019-05-31 16:43] johnsaigle commented on #4716
This could be just the way to test VM is configured.

[2019-05-31 17:29] johnsaigle commented on #4717
@ridz1208 This already happens? Not sure what you're referring to exactly.
https://github.com/aces/Loris/blob/21.0-release/php/libraries/UserPermissions.class.inc#L112-L116

[2019-05-31 17:33] ridz1208 commented on #4717
@johnsaigle ma bad I misread Dave's comment.

[2019-05-31 18:33] nicolasbrossard opened #4750 "[Server Process Manager] MRI code path should not be mandatory"
Config setting MRI code path should not be mandatory to use the server process manager. Right  now if you try to access the module and you do not have that Config setting, you get an HTTP 500 error.

[2019-05-31 19:01] sruthymathew123 opened #4751 "[Candidate Parameters] Family Info Tab not Loading Data"
Family Info Tab is not loading any data
Tested on my VM as well as on test.loris.ca

[2019-05-31 19:26] sruthymathew123 commented on #4751
#4752

[2019-05-31 19:38] driusan commented on #4635
Fixed by above PR

[2019-05-31 19:38] #4635 closed

[2019-05-31 19:41] zaliqarosli commented on #4727
PR #4690

[2019-05-31 19:49] johnsaigle commented on #4750
I think mriCodePath is where LORIS-MRI is installed. Shouldn't it be mandatory to use server process manager, since it's used only for image uploads?

[2019-05-31 19:52] nicolasbrossard commented on #4750
The genomic browser also uses the server process manager.

[2019-05-31 19:53] johnsaigle commented on #4717
So the question is should `superuser`s be able to access edit examiner page even if Certification is disabled in the config file?

[2019-05-31 20:05] zaliqarosli commented on #4717
i wouldn't think so? good question. so far, they haven't been able to with certification disabled

[2019-05-31 20:28] johnsaigle commented on #4750
Does it? I had no idea.

The README for server processes manager says:

The imaging uploader module is currently the only LORIS module capable of
launching an asynchronous process, namely the execution of the MRI processing
pipeline on a successfully uploaded scan archive. Consequently, the result table
will only show these type of processes.

Is this out of date?

[2019-05-31 20:30] johnsaigle opened #4753 "[Genomic Browser] Test Plan has incomplete sections"
There is no information for `Tooltips` or `Data Upload`; both just say under Construction.

Someone with knowledge of these modules should flesh this out.

[2019-05-31 20:31] johnsaigle opened #4754 "[Server Processes Manager] TestPlan should be converted to a Markdown file"
We should format this file so that it renders properly on GitHub, similar to test plans in other modules.

[2019-05-31 22:18] zaliqarosli opened #4756 "[Login] Reset Password - no error on submitting same password"
Item 5 of Reset_Password_Test_Plan.md test plan fails. No submission but also no error notice.

[2019-06-03 12:42] ridz1208 commented on #4717
No I dont think so either, but there should be an error message saying this feature is not in use. because technically "editing examiners" is nothing more then giving certifications. Maybe we should change it to "Certify examiner" or something.

[2019-06-03 13:26] driusan commented on #4726
above PR merged

[2019-06-03 13:26] #4726 closed

[2019-06-03 15:58] driusan opened #4762 "Issue Tracker columns do not match headers"
After fixing #4759 and #4761 when I load the issue tracker main page the columns are not aligned under the correct header. PSCID contains the Visit, Visit Label contains a timestamp, Last Update contains a session ID, etc..

[2019-06-03 17:04] driusan opened #4764 "[Issue Tracker] Alert does not contain error message from response"
When creating a new issue and something goes wrong, the error message gives a generic error and doesn't seem to tell the user what went wrong, even when the server gives a specific reason:

![Screen Shot 2562-06-03 at 13 03 19](https://user-images.githubusercontent.com/498329/58820217-fc721380-85ff-11e9-86f6-394bbbeec94e.png)

[2019-06-03 17:23] driusan commented on #4733
I think this is a problem with the data on that VM. Are there issues with null CenterIDs?

[2019-06-03 17:59] driusan commented on #4762
@HenriRabalais Can you tackle this one?

[2019-06-03 18:05] zaliqarosli commented on #4584
PR for BVLQCType issue merged. PR for Send to DCC issue still needs to be made by @kchatpar

[2019-06-03 18:16] driusan commented on #4746
I believe this is "fixed" by #4765.. it is finding the method, it's just that the if statement is falling through (the PR adds a more explicit exception). The data where this is occurring should be fixed to not have null CenterIDs

[2019-06-03 18:36] driusan commented on #4743
How would you log in in order to edit your Pending Approval flag if your account was pending?

[2019-06-03 18:41] driusan commented on #4716
@cmadjar can you test this on a machine that you know is setup properly?

[2019-06-03 18:44] driusan commented on #4717
Is the examiner module in the menus in the default LORIS install? If so, I think we should incorporate a check of the config/error message (I don't think it would be a complicated check to add..), if not, amending the test plan might be easier.

In either case I don't think it's a blocker for 21.0.0 if it's just a case of trying to use the module while the config is disabled.

[2019-06-03 18:54] nicolasbrossard commented on #4743
What I am saying is that (provided your account has been approved) you can log in, go into 'My Preferences' and set your 'Pending Approval' status to 'Yes'. When you log out, you won't be able to log back in...

[2019-06-03 18:56] zaliqarosli commented on #4555
PR merged

[2019-06-03 18:56] #4555 closed

[2019-06-03 18:56] driusan commented on #4743
That makes sense, then.. it's less severe than I thought since it's not a privilege escalation

[2019-06-03 18:56] ridz1208 commented on #4743
@nicolasbrossard I think they call that natural selection

[2019-06-03 18:58] zaliqarosli commented on #4564
this PR https://github.com/aces/Loris/pull/4729 makes it so that YMd vs YM matters. There is discussion surrounding the inability of Firefox to render a date picker for when date format is YM i.e. input type='month'

[2019-06-03 19:02] cmadjar commented on #4716
@driusan I just tested the links to the native, selected and all types pages. I can see the pic in the imaging browser.

Regarding brainbrowser, for some reason, it fails with the following error in the console:
![Screen Shot 2019-06-03 at 3 01 29 PM](https://user-images.githubusercontent.com/1402456/58827256-93df6280-8610-11e9-8c1e-9d94121132b2.png)

Is BrainBrowser working on 21.0 and this is ju

[2019-06-03 19:06] nicolasbrossard commented on #4743
@ridz1208 LOL!!! Indeed  :)

[2019-06-03 19:10] cmadjar commented on #4716
Nevermind. The issue was my VM setup....

[2019-06-03 19:14] cmadjar commented on #4716
Regarding the longitudinal view button, it is also working on the latest version of 21.0-release branch.

It looks like everything works as it should when you have proper image setup. @driusan I'll let you decide what to do with this issue but it can probably be closed.

[2019-06-03 19:22] zaliqarosli commented on #4607
PR merged

[2019-06-03 19:22] #4607 closed

[2019-06-03 19:23] zaliqarosli commented on #4678
PR merged

[2019-06-03 19:23] #4678 closed

[2019-06-03 19:25] zaliqarosli commented on #4722
@johnsaigle just to double-check, this issue can be closed right?

[2019-06-03 19:25] zaliqarosli commented on #4723
PR merged

[2019-06-03 19:25] #4723 closed

[2019-06-03 19:26] zaliqarosli commented on #4751
PR merged

[2019-06-03 19:26] #4751 closed

[2019-06-03 19:38] kongtiaowang commented on #4706
This is an RB testing data issue.  I will update the RB_data on test.loris.ca

[2019-06-03 19:39] kongtiaowang commented on #4733
This is a testing data issue, will update the RB data on test.loris.ca

[2019-06-03 20:58] jftunteng commented on #4746
@driusan Closing this issue since the PR is merged. Feel free to re-open if needed

[2019-06-03 20:58] #4746 closed

[2019-06-03 20:59] cmadjar opened #4766 "Brainbrowser"
Brain browser Canvas size drop down changes the size of the images but the drop down label never changes from "300 Pixels (Default)"

Below is the error I get in the Console:
![Screen Shot 2019-06-03 at 4 57 14 PM](https://user-images.githubusercontent.com/1402456/58834176-ac577900-8620-11e9-8acd-ea5a4128b14d.png)

@ridz1208 @driusan I have no idea how to fix this...

[2019-06-03 21:24] zaliqarosli commented on #4564
update: #4729 fully fixes this issue

[2019-06-03 21:43] kchatpar commented on #4560
@ridz1208 When comparing the backend to the frontend for the demographic tab in the statistics module. What defines a registered candidate? On the frontend, I'm seeing 326 candidates for Rome and on the backend 328 candidates.

[2019-06-04 12:44] driusan commented on #4766
@maltheism can you look into this?

[2019-06-04 14:03] ridz1208 commented on #4560
@kchatpar your best bet to understand that is to look at the queries in the module. we should maybe add some documentation for it but for now the only place the info is available is in the query itself.

[2019-06-04 17:04] kongtiaowang commented on #4706
https://github.com/aces/Loris/pull/4767

[2019-06-04 17:51] nicolasbrossard commented on #4750
I believe so. The thing is, I cannot find any reference to the server process manager in Xavier's genomic browser module...I am positive he uses it for his genomic stuff. We can wait a bit for him to come back so he can shed some light on this.

[2019-06-04 19:55] ridz1208 commented on #4584
I guess its 50% done, repoened.

@kchatpar please issue PR

[2019-06-05 12:44] PapillonMcGill opened #4770 "[configuration] wrong error message"
in the project section of configuration, when entering a specifying a value that is not numerical for target, either for a new project or modifying an existing one, the error message is:
` Failed to save, same name already exist!` and disappear fast,  in about 1 second.

in that case, text should be ` Failed to save, value not integer` and should also stay a few more seconds to let user time to re

[2019-06-05 12:50] PapillonMcGill opened #4771 "[configuration] subproject not related to project"
When clicking on the subproject link in the project tab, we get all the subproject, not only the one releated to the project we came from.
Step 4 of the project section of the configuration module.

[2019-06-05 12:52] PapillonMcGill opened #4772 "[configuration] `use project` setting"
step 1 and 6 in `Project` section of configuration module testplan relate to a `use projects` setting.
I believe this feature was removed recently. Testplan would have to be modified accordingly

[2019-06-05 14:00] ridz1208 commented on #4771
that is expected behaviour. if the test plan does not reflect it, it should be updated

[2019-06-05 14:39] driusan commented on #4771
yeah, I don't think there's ever been a feature implemented where it filters by the project that you came from.

[2019-06-05 14:48] cmadjar commented on #4771
@PapillonMcGill Any chance you could updated the test plan and send a PR for it? Thanks!!

[2019-06-05 14:49] cmadjar commented on #4772
@PapillonMcGill while modifying the test plan for #4771, could you also update this? Thanks!

[2019-06-05 15:04] driusan commented on #4714
The test plan needs to be updated since the filtering is now live.

[2019-06-05 15:09] driusan commented on #4706
PR merged

[2019-06-05 15:09] #4706 closed

[2019-06-05 15:10] driusan commented on #4702
Can you split the remaining things into multiple tickets and close this?

[2019-06-05 15:11] driusan commented on #4660
@ridz1208 any update on looking into it? If it's a bug with the instrument/setup, it would be good to know, because if it's not it's pretty critical for the release to have scoring of instruments work

[2019-06-05 15:17] driusan commented on #4583
@zaliqarosli's header issue is also reported as #4762

[2019-06-05 15:17] PapillonMcGill commented on #4771
will work on it

[2019-06-05 15:20] driusan commented on #4569
@nicolasbrossard what browser? Is it the same one as @jesscall?

[2019-06-05 15:21] driusan commented on #4567
Added the Critical tag because of the lack of backend validation

[2019-06-05 15:27] driusan commented on #4586
Fixed by above PR

[2019-06-05 15:27] #4586 closed

[2019-06-05 15:32] cmadjar commented on #4709
This should be resolved once testing is updated with the newest imaging entries. @coreyAbout Would you mind retesting this once @kongtiaowang has updated RB on testing?

Thanks!

[2019-06-05 15:33] ridz1208 commented on #4660
@driusan no it's not critical, if the conflict resolver can be tested with another instrument
I'll work on fixing the bmi later

[2019-06-05 15:35] cmadjar commented on #4657
I just tested this functionality on the new RB with proper imaging dataset and it works. Closing the ticket since the issue came from the dataset and not the code.

[2019-06-05 15:35] #4657 closed

[2019-06-05 15:39] cmadjar commented on #4709
Just tested for that candidate and this is working now that proper imaging datasets have been inserted into RB. Closing the issue.

[2019-06-05 15:39] #4709 closed

[2019-06-05 15:40] driusan commented on #4716
@coreyAbout can you confirm/close this if applicable?

[2019-06-05 15:40] driusan commented on #4716
or @kchatpar, since the above comment says you were able to reproduce too

[2019-06-05 15:55] jesscall commented on #4569
I was on Chrome Version 74.0.3729.169

[2019-06-05 16:18] driusan commented on #4771
PR merged

[2019-06-05 16:18] #4771 closed

[2019-06-05 16:18] driusan commented on #4772
PR merged

[2019-06-05 16:18] #4772 closed

[2019-06-05 16:28] gdevenyi opened #4775 "LORIS incorrectly uses Gender instead of Sex"
For demographics information about subjects LORIS incorrectly uses the term ``Gender`` instead of the biologically relevant term ``Sex``

There are two places this is most relevant
1. Animal data
- animals do not express gender
2. Studies involving trans individuals
- we have previously worked with datasets from collaborators where there is a difference between Sex and Gender of subjects

[2019-06-05 16:32] driusan commented on #4775
This was fixed by #3897 (which will be incorporated in the upcoming 21.0 release)

[2019-06-05 16:32] #4775 closed

[2019-06-05 16:42] gdevenyi commented on #4775
Thanks. Sorry I didn't check the PR list.

[2019-06-05 17:00] cmadjar commented on #4708
I just tested the site filter on the new imaging data and everything looks fine. It is highly probable that the problems were due to the crappy imaging dataset in raisin bread when testing the module.

Regarding the seriesUID, it is not shown in the data filter because there are multiple seriesUID per DICOM study. However, if you are looking for the archive with an image with a particular SeriesUI

[2019-06-05 17:00] #4708 closed

[2019-06-05 17:08] cmadjar commented on #4707
Looks like this is a bug general to all modules using selection filters

[2019-06-05 17:12] cmadjar commented on #4711
#4706 PR was merged two hours ago. Issue not blocked anymore.

[2019-06-05 17:13] cmadjar commented on #4711
@coreyAbout Can you test this again?

[2019-06-05 17:17] nicolasbrossard commented on #4569
I was on Chrome also.

[2019-06-05 17:31] zaliqarosli opened #4776 "[Document repository] Upload formdata gets erased if error"
When error thrown on trying to upload duplicate file name, form data gets erased and it shouldn't

[2019-06-05 17:31] zaliqarosli opened #4777 "[Document repository] New subcategory doesn't appear"
Newly created subcategory does not appear in parent category directory on front-end as long as the parent category does not contain files

[2019-06-05 17:32] zaliqarosli opened #4778 "[Document repository] Comments do not appear for categories"
they used to appear as tooltips but don't now

[2019-06-05 17:33] zaliqarosli opened #4779 "[Document repository] Downloading documents don't work"
i believe @johnsaigle wants to fix this

[2019-06-05 17:34] zaliqarosli opened #4780 "[Document repository] Newly uploaded file does not appear until refresh"
Newly uploaded file does not appear until refresh

[2019-06-05 17:35] zaliqarosli commented on #4702
leftover issues separated into individual issues

[2019-06-05 17:35] #4702 closed

[2019-06-05 17:52] cmadjar commented on #4722
Now the QC comments show the page but the check boxes are missing. This is still an issue to be fixed. I'll add the "Critical to release" Tag as not being able to do QC seems like an important bug and remove the PR sent tag since this still needs fixing

[2019-06-05 18:16] nicolasbrossard opened #4781 "[MRI violations] Scan appears three times in 'resolved' tab"
1. I access the MRI violations module and search for scans for which the type of problem is 'Could not identify scan type'.
2. I select a resolution type (any) and click 'Save'
3. I browse the 'Resolved' tab of the MRI and I see the scan I edited in step 2 repeated three times.

[2019-06-05 18:41] cmadjar commented on #4722
I removed the tag critical to release since it was a bug in the raisin bread dataset and not the code. I sent a PR to modify the RB dataset on the LORIS code to fix the issue.

[2019-06-05 18:45] driusan opened #4783 "[DQT] DQT contains old jQuery $.ajax calls and references to AjaxHelper.php"
The code for the DQT could stand to be updated. The calls are using jQuery instead of the fetch API, and it still has many references to AjaxHelper.php instead of /dataquery/ajax/foo (or better, a properly thought out URL hierarchy using the module router.)

[2019-06-05 19:32] driusan commented on #4731
PR merged

[2019-06-05 19:32] #4731 closed

[2019-06-05 19:46] cmadjar opened #4784 "[imaging_browser] Drop down QC MRI comments not saving"
Test Plan section D. MRI-QC:
23. Comments save, checkboxes save, dropdown values save

=> After testing the QC comment box on my sandbox I noticed that the drop down in the MRI QC pop up window does not save. Everything else saves.

[2019-06-05 19:46] cmadjar commented on #4784
@driusan I put the Critical to release tag here as saving the comments seem like something quite important. Feel free to change it if you don't agree.

[2019-06-05 19:50] cmadjar opened #4785 "[imaging_browser] QC info not viewable if do not have permission to edit the QC"
Test Plan section D. MRI-QC:
22. Viewable by all, editable IFF permission imaging_browser_qc

=> When trying to view the QC information with a user that do not have permission imaging_browser_qc, we get a 403 error.

This error got inserted here: https://github.com/aces/Loris/commit/16bb75f7cd813915d43bb61c9bd08329c8b7203c#diff-44bcdd7c78b4cad3c9529f51aa8598f9

[2019-06-05 19:52] cmadjar commented on #4724
https://github.com/aces/Loris/issues/4784
and
https://github.com/aces/Loris/issues/4785

Closing this issue as finished testing the TestPlan D section of the imaging browser and reported tow new issues.

[2019-06-05 19:52] #4724 closed

[2019-06-05 20:00] cmadjar commented on #4720
I just tested this section of the test plan on testing and all works as expected. Closing this issue as it is working.

[2019-06-05 20:00] #4720 closed

[2019-06-05 20:33] nicolasbrossard commented on #4741
Fixed by [PR#4786](https://github.com/aces/Loris/pull/4786)

[2019-06-05 21:34] zaliqarosli commented on #4583
closing this issue so https://github.com/aces/Loris/issues/4762 can deal with header misalignment

[2019-06-05 21:34] #4583 closed

[2019-06-05 21:35] zaliqarosli commented on #4722
thanks @cmadjar !

[2019-06-05 22:10] cmadjar commented on #4784
Note to self. This is indeed an issue with 21.0 code as this is working on demo with the same dataset and 20.3.

[2019-06-06 13:53] driusan commented on #4741
PR merged

[2019-06-06 13:53] #4741 closed

[2019-06-06 13:57] driusan commented on #4784
@cmadjar seems like a critical bug to me too.

[2019-06-06 14:29] driusan commented on #4766
Fixed by above PR

[2019-06-06 14:29] #4766 closed

[2019-06-06 15:37] driusan opened #4794 "[JSX] Multiselect filters show 0 results if unselected"
If you select a multiselect filter, and then unselect it in a menu, the result is that there are 0 rows displayed, not the expected results of the number of rows before having selected anything.

[2019-06-06 15:38] driusan commented on #4713
Since it's a multiselect, I think the solution here is to 1. Fix #4794 and 2. Remove the blank option.

I'm not sure what it means to choose explicitly "blank" in a multiselect filter.

[2019-06-06 16:24] cmadjar commented on #4569
@nicolasbrossard I was not able either to reproduce your error as I got red box around the filename with a proper error message.

However, in the PR https://github.com/aces/Loris/pull/4796, I added the error message in the pop up window with Submission Error label so that it displays the correct error below the title. Let me know if that works for you.

[2019-06-06 16:46] nicolasbrossard commented on #4569
@jesscall @cmadjar I tried again on test.loris.ca and I get a submission error popup but no indication of what went wrong...I can dismiss the popup and continue using the upload tab though (progress is frozen at 16%). I am using Chrome 74.0.3729.169

[2019-06-06 16:52] driusan commented on #4569
@kongtiaowang is test.loris.ca updated with the most recent version of 21.0-release?

[2019-06-06 17:10] cmadjar commented on #4713
This got fixed by the referenced PR and merged so closing the ticket

[2019-06-06 17:10] #4713 closed

[2019-06-06 17:16] driusan commented on #4714
Fixed by above PR

[2019-06-06 17:16] #4714 closed

[2019-06-06 17:29] kongtiaowang opened #4799 "[Quality_control] can't load"

[2019-06-06 17:43] nicolasbrossard commented on #4743
@driusan So I got your OK to remove the 'Pending Approval' section from the 'My preferences' page?

[2019-06-06 17:54] driusan commented on #4743
Wait, this is in My Preferences or this is in edit account when accessing your own account? If My Preferences, definitely, I don't know why it would be there in the first place..

[2019-06-06 17:58] nicolasbrossard commented on #4743
@driusan This is in 'My Preferences'. I think that section should not be there so as to protect people from LORIS suicide. I think we should also disable that section on the edit user page when someone is editing his/her own user account.

[2019-06-06 18:01] driusan commented on #4743
I definitely think "My account is approved" isn't a preference, so go ahead and remove it from there. We should probably eventually remove it from the edit_user page of your own account, but I think doing so now adds unnecessary complexity for a bug that's not critical or likely to happen in reality (and has existed this long without being triggered to the best of our knowledge), so maybe wait unt

[2019-06-06 18:13] nicolasbrossard commented on #4743
ok

[2019-06-06 18:29] jesscall commented on #4569
On test.loris.ca I get the same behaviour as @nicolasbrossard 's most recent comment.
Upload size of 5.3G
I get pop-up indicating a submission error. Upon dismissal, the progress bar is stuck at 16%.

[2019-06-06 19:18] driusan commented on #4784
Digging into it a little, it looks like they're saving in the backend, they're just not loading/being displayed

[2019-06-06 19:18] cmadjar commented on #4381
MRI PR merged for RB so closing this.

[2019-06-06 19:18] #4381 closed

[2019-06-06 19:36] cmadjar commented on #4660
@driusan @maltheism @ridz1208 I tested it on mri_parameter_form and radiology_review which don't have any scoring associated to the on test.loris.ca. The conflict resolver seem to work for those instance.

Additionally, I tested the scoring on my sandbox which is identical to the DB on test.loris.ca and got the same error. Fixing the permission resolved the issue so I fixed it on test.loris.ca as

[2019-06-06 19:36] #4660 closed

[2019-06-06 19:44] cmadjar commented on #4784
indeed, it got saved in the backend. Your PR fixed the frontend. Thanks!

[2019-06-06 19:54] cmadjar commented on #4781
The same kind of changes than this PR https://github.com/aces/Loris/pull/3860/files should probably be applied on the resolved tab

[2019-06-06 20:39] driusan commented on #4784
Fixed by above PR

[2019-06-06 20:39] #4784 closed

[2019-06-06 21:33] zaliqarosli commented on #4762
PR https://github.com/aces/Loris/pull/4806

[2019-06-07 03:19] kchatpar opened #4807 "[Instrument List] Unable to change the Visit Stage"
When testing the Instrument list, I'm not able to switch the candidates past the "In progress" stage.

[2019-06-07 03:29] kchatpar opened #4808 "[Instrument List] UI inconsistency when switching between instruments"
When testing the instrument list I noticed that in the navigation history at the top of the page. Instead of listing the name of the instrument with the correct capitalization and spaces the name of the instrument is lowercase and has underscores to represent spaces. Ex: The instrument "MRI Parameter Form" is represented as "mri_parameter_form" in the navigation history at the top of the page.

[2019-06-07 13:59] driusan commented on #4707
I think we should just update the test plan to not mention that anymore, since the new UI doesn't support it and it's not a major/important feature.

[2019-06-07 14:43] PapillonMcGill opened #4809 "[candidate parameter]"
A researcher would like to have a way to enter in the candidate parameter's page, genes that are found to be defective (from a small known list) and then choose the disease caused by this defective gene, again from a pre-defined list associated with the genes.

Gene details include
- gene name (short text)
- gene OMIM number (6 digits number)
- gene other names (short text) not always present and

[2019-06-07 15:22] driusan opened #4810 "[Issue Tracker] "Watching" filter does not work as expected"
While testing #4806, the "Watching?" filter did not work as expected. Instead of filtering for issues that the logged in user is watching, it displayed any issues that have watchers.

[2019-06-07 15:33] driusan commented on #4762
Fixed by above PR

[2019-06-07 15:33] #4762 closed

[2019-06-07 15:40] driusan opened #4811 "[Issue Tracker] New issue link broken"
The issue tracker new issue link goes to http://localhost:8000/issue_tracker/issue/?issueID=0 instead of "http://localhost:8000/issue_tracker/issue/0", so the form does not load. Ideally, the URL would be "http://localhost:8000/issue_tracker/issue/new" instead of treating "0" as a magic ID.

[2019-06-07 15:43] driusan commented on #4569
Should be fixed by #4569, can @jesscall or @nicolasbrossard confirm and close if applicable?

[2019-06-07 15:59] sruthymathew123 commented on #4807
@kchatpar  I cannot reproduce this issue on my VM.  Can you explain more on this issue?
Also, I think Instrument data entry and DDE should be complete for all instruments in the instrument list to switch the  visit stage. Can you check that as well?
![pass_screen](https://user-images.githubusercontent.com/23702452/59117324-74e81580-891b-11e9-9412-ed2c3e936e57.png)

[2019-06-07 16:00] driusan opened #4813 "[Issue Tracker] Issues Duplicated in Issue Tracker Menu"
While testing that adding an issue works for #4812, I noticed that issues I created were being duplicated on the menu issue page after being redirected. The rows only exist 1 time in the backend, so this is solely a display issue and not because the PR breaks things in a way that inserts the issue twice.

[2019-06-07 16:02] zaliqarosli commented on #4733
also getting this issue, but 'Issue Tracker' module doesn't even appear in the 'Tools' dropdown menu for me

[2019-06-07 16:03] zaliqarosli commented on #4813
I also noticed that if an issue is watched by n number of people, it will display n number of times in the data table

[2019-06-07 16:03] driusan commented on #4764
I added critical because there are so many rules enforced that the module is almost unusable without knowing why it's not letting you create the issue.

[2019-06-07 16:15] sruthymathew123 commented on #4584
@zaliqa I am trying to catch up the things to work on this issue. But, I cannot reproduce the issue (Send to DCC) on my VM or on test.loris.ca anymore. Is that fixed already?
![send_to_DCC](https://user-images.githubusercontent.com/23702452/59118273-b7125680-891d-11e9-8755-faf796fa8be9.png)

[2019-06-07 16:54] driusan commented on #4813
That might be what's happening here.. is there another issue that I didn't see which this is a duplicate of, then?

[2019-06-07 17:04] driusan commented on #4794
Fixed by above PR

[2019-06-07 17:04] #4794 closed

[2019-06-07 17:08] coreyAbout commented on #4706
Great! Thanks @kongtiaowang @driusan

[2019-06-07 17:22] coreyAbout commented on #4711
Hi I re-tested this and it looks fine! Thanks @cmadjar @johnsaigle

However, accidentally I found TestPlan Item `13.Ensure that clicking on any row in the 'Archive Location' column triggers a download of the corresponding archived DICOM study [Manual Testing]` is failing, not record can be downloaded. Should I make another issue for 13.?

[2019-06-07 17:24] kchatpar commented on #4546
The statistics breakdown table in the demographics tab is still not being populated I'm getting the message on the front end:
Oops
It seems like the scan type selected does not have a corresponding column in the mri_parameter_form table in the database.
In order to display the statistics for the scan type, make sure the mri_parameter_form table contains a column in the exact format SCANTYPE_Scan_d

[2019-06-07 17:31] cmadjar commented on #4711
@coreyAbout It looks like a server issue. The raisin-bread imaging dataset is not mounted. I will create a redmine ticket to the sys admins so they can fix it. Will let you know when this is done.

Thank you!!!

[2019-06-07 17:33] cmadjar commented on #4711
FYI: https://redmine.cbrain.mcgill.ca/issues/16519

[2019-06-07 17:36] driusan commented on #4785
Fixed by above PR

[2019-06-07 17:36] #4785 closed

[2019-06-07 17:55] driusan commented on #4811
Fixed by above PR

[2019-06-07 17:55] #4811 closed

[2019-06-07 18:01] kchatpar opened #4816 "[Statistics] Breakdown table missing"
The breakdown table under the demographic and behavioral tabs in the statistics module is not present. The message on the front end is: Oops
It seems like the scan type selected does not have a corresponding column in the mri_parameter_form table in the database.
In order to display the statistics for the scan type, make sure the mri_parameter_form table contains a column in the exact format SCANT

[2019-06-07 18:05] driusan commented on #4733
@zaliqarosli if you can reproduce can you look into fixing this?

[2019-06-07 18:09] driusan commented on #4816
Do you have an mri_parameter_form with columns of that form?

[2019-06-07 18:20] cmadjar commented on #4711
@coreyAbout The imaging dataset was mounted on the test VM. I tested the download link and it worked. Feel free to test it on your end and close this issue as it looks like everything works according to the test plan. Thank you!

[2019-06-07 18:24] driusan opened #4817 "[Issue Tracker] Errors when optional fields are not set"
When optional fields aren't submitted to the issue tracker, the response JSON contains notices and warnings of the form:

[code]

The issue gets created, but the success message isn't displayed to the user.

This is likely related to #4735.

[2019-06-07 18:26] driusan opened #4818 "[Issue Tracker] Assignee should not be required when creating a new issue"
An average user submitting a bug is unlikely to know who to assign to, that's the coordinator's job. They just want to report the bug.

[2019-06-07 18:28] driusan commented on #4764
Fixed by above PR

[2019-06-07 18:28] #4764 closed

[2019-06-07 18:31] zaliqarosli commented on #4733
@driusan if i can get around to it, yes. for now, i'll leave this unassigned if that's alright

[2019-06-07 18:46] coreyAbout commented on #4711
OK Great! It works. Thanks @cmadjar !

[2019-06-07 18:46] #4711 closed

[2019-06-07 19:01] driusan commented on #4813
Fixed by above PR

[2019-06-07 19:01] #4813 closed

[2019-06-07 19:02] driusan commented on #4810
Fixed by above PR

[2019-06-07 19:02] #4810 closed

[2019-06-07 19:02] zaliqarosli commented on #4584
@sruthymathew123 i don't think it was fixed yet. @kchatpar can you verify? if 'Send to DCC' is available and working for you, i'm happy to close this issue. let me know!

[2019-06-07 19:08] driusan commented on #4735
I believe #4819 also fixes this (though I can't reproduce this exactly.. I don't get a generic error, I get nothing at all if the assignee is the current user)

[2019-06-07 19:09] driusan commented on #4722
fixed by above PR

[2019-06-07 19:09] #4722 closed

[2019-06-07 19:19] driusan opened #4821 "[Issue Tracker] Warning when accessing new issue page"
Upon loading the new issue page of the issue tracker, I get the following warnings in my javascript console.

![Screen Shot 2562-06-07 at 15 14 03](https://user-images.githubusercontent.com/498329/59128251-817a6700-8937-11e9-844a-9222a2f59e70.png)

It doesn't seem to affect much.

[2019-06-07 19:20] driusan commented on #4821
Dupe of #4727

[2019-06-07 19:20] #4821 closed

[2019-06-07 19:41] #4004 closed

[2019-06-08 22:03] woasimtalokdar commented on #4037
Warning: "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"? in G:\xampp\htdocs\wpoldversion\wp-content\themes\Divi\includes\builder\functions.php on line 6230

[2019-06-10 13:25] PapillonMcGill commented on #4615
will have to break the query in 2. Look like MySQL do not support delete with multi-join. Will have to implement what I proposed in the PR that brought these line in the codebase.

[2019-06-10 14:42] PapillonMcGill opened #4824 "[tools] install script for CentOS - multiple failures."
- Need to change text to install composer on CentOS as installing as instructed in the script is not working.
    `sudo php composer-setup.php --install-dir=/usr/local/bin --filename=composer`  will work.

- chgrp for ../project dir, sudo not working (not permitted as on Ubuntu) (lines 169,183)

- directory modules/document_repository/user_uploads and modules/data_release/user_uploads are non-exis

[2019-06-10 14:57] PapillonMcGill opened #4825 "[tools] install script - directory missing"
- try to change group ownership to apache (www-data) on
     `modules/document_repository/user_uploads` and
     `modules/data_release/user_uploads`   but none exist.    Both on Ubuntu and CentOS

[2019-06-10 15:20] driusan commented on #4707
Test plan updated.

[2019-06-10 15:20] #4707 closed

[2019-06-10 15:40] driusan commented on #4756
Fixed by above PR

[2019-06-10 15:40] #4756 closed

[2019-06-10 15:51] driusan commented on #4570
You've never been able to rename files or specify it in the media module frontend. The filenames need to be named as described in the instructions on top of the page before uploading.

[2019-06-10 15:51] #4570 closed

[2019-06-10 17:13] driusan commented on #4615
Fixed by above PR

[2019-06-10 17:13] #4615 closed

[2019-06-10 17:32] PapillonMcGill commented on #4824
Sent a PR to solve message on installing composer https://github.com/aces/Loris/pull/4828
Waiting for future discussion on how to fix permissions

[2019-06-10 18:01] driusan commented on #4574
As @johnsaigle says, I think that's the behaviour of all CSV files in all filters in LORIS. Is there a test plan that's incorrectly saying the behaviour is otherwise?

[2019-06-10 18:06] PapillonMcGill commented on #4574
@driusan No, I didn't saw anything like that in the test plan. I just tried every possible thing (as much as I could) with the `limit test case` in mind. Will close this issues as it is more a feature than an bug.

[2019-06-10 18:06] #4574 closed

[2019-06-10 19:15] cmadjar opened #4833 "[Configuration] Create an integer or numeric Config type"
In the configuration module, we should create an integer or numeric config type instead of hardcoding special cases for some fields like in https://github.com/aces/Loris/pull/4832.

[2019-06-10 19:16] driusan commented on #4807
@kchatpar ping

[2019-06-10 19:18] driusan commented on #4716
@coreyAbout @kchatpar ping

[2019-06-10 19:19] driusan commented on #4818
Taking the 21.0 label off this since it's more of a design issue than a testing issue, and that's the way it's always worked.

[2019-06-10 19:20] driusan commented on #4743
yeah, I just removed it.

[2019-06-10 19:27] sruthymathew123 commented on #4584
@kchatpar Can you verify if this issue(Send to DCC not available) is still existing?

[2019-06-10 19:40] driusan commented on #4673
Fixed by above PR according to the author.

[2019-06-10 19:51] zaliqarosli commented on #4567
new PR https://github.com/aces/Loris/pull/4834

[2019-06-10 20:16] coreyAbout commented on #4716
We've double checked, it should be a test server setting issue. I am closing it right now. @driusan @kchatpar @cmadjar

[2019-06-10 20:16] #4716 closed

[2019-06-10 20:49] driusan commented on #4739
Fixed by above PR

[2019-06-10 20:49] #4739 closed

[2019-06-10 21:29] zaliqarosli commented on #4288
fixed in reactification PR https://github.com/aces/Loris/pull/4112. closing issue because no longer an issue for 21.0-release

[2019-06-10 21:29] #4288 closed

[2019-06-10 21:47] kchatpar commented on #4807
@sruthymathew123 I double checked - the only two conditions to move to the next stage are that DDE and data entry are solved. I'm not able to move a timepoint from In Progress to Pass once data entry and DDE are completed. The option doesn't become clickable.
![Screenshot from 2019-06-10 17-42-33](https://user-images.githubusercontent.com/15351191/59229205-c9072a00-8ba7-11e9-954b-1e384cd15653.png)

[2019-06-10 23:58] zaliqarosli commented on #4733
https://github.com/aces/Loris/pull/4835

[2019-06-11 14:08] CamilleBeau opened #4836 "[Datadict] Description column edit disappears when columns are re-sorted"
With the Edit Data Dictionary permission, if a description field is edited and then any column is resorted or filtered without refreshing the page, the edit disappears. The edit only reappears after navigating away from the page and then back, or refreshing.

[2019-06-11 14:38] sruthymathew123 commented on #4807
@kchatpar Also there should not be any conflicts between single entry and DDE forms. I assume that you tested this on test.loris.ca. So when I checked the candidate MTL001 on conflict resolver, I could see lot of conflicts. So if you need to move a visit stage to Pass; there should not not be any conflicts as well. Sorry; I missed to mention that in the above comments.
![conflicts](https://user-im

[2019-06-11 14:42] driusan commented on #4807
@kchatpar The "Medical History" instrument in your screenshot also isn't complete yet.

[2019-06-11 14:54] driusan commented on #4737
Fixed by above PR

[2019-06-11 14:54] #4737 closed

[2019-06-11 16:31] sruthymathew123 commented on #4584
@driusan @kchatpar @zaliqarosli  I don't know for some reason 'Send to DCC' is not clickable on **test.loris.ca** even if instrument data entry and DDE is complete with no conflicts and visit set to Pass.

But on my VM with IBIS data;  I couldn't recreate this issue. So I doubt it might be a RB data issue or test VM specific issue.  If anyone can test this on their own VM, that will help to move f

[2019-06-11 17:07] kchatpar opened #4837 "[Instrument List] Date in MRI parameter form does not display once complete"
In the Instrument list's MRI Parameter the field Date of Administration does not display the date once the data entry option is set to complete. The date should be shown just like the examiner name - Brad Pitt.
![Screenshot from 2019-06-11 13-03-00](https://user-images.githubusercontent.com/15351191/59291628-59497b80-8c49-11e9-9a41-702ceab4f065.png)

[2019-06-11 17:11] cmadjar commented on #4584
@driusan @kchatpar @zaliqarosli I just tested this on my sandbox which has the latest RB dataset. I could click on the 'Send to DCC' after making sure all instruments were entered and no conflicts were present in the conflict resolver between the initial entry and DDE. I was also able to do it on testing which was just updated on the latest code.

My guess is that the issue was fixed but the code

[2019-06-11 17:51] kchatpar commented on #4807
My mistake - this does work.

[2019-06-11 17:51] #4807 closed

[2019-06-11 17:53] PapillonMcGill commented on #4808
need to change breadcrumb construction to use "fullName" instead of "testName"

[2019-06-11 17:56] sruthymathew123 commented on #4584
Finally all confusions are cleared. Thanks @cmadjar for helping me to sort out this,
On test VM some visits don't have a clickable 'send to DCC' (even if all conditions satisfied) because that visits somehow got empty 'Registered By' (user who started the visit is empty)
Ex: https://test.loris.ca/instrument_list/?candID=300135&sessionID=2084
https://test.loris.ca/300135 (All the time points of thi

[2019-06-11 17:57] driusan commented on #4584
I think we should fix the data in raisinbread before closing the issue, so it doesn't get "detected" again in the future

[2019-06-11 18:07] driusan commented on #4770
Fixed by above PR

[2019-06-11 18:07] #4770 closed

[2019-06-11 18:29] zaliqarosli commented on #4584
@sruthymathew123 nice! thanks for figuring this out! @kchatpar are you still okay to go ahead with fixing the issue?

[2019-06-11 18:37] kchatpar commented on #4584
Thanks, @sruthymathew123 and @cmadjar! Yes, I will go ahead and make the fix I'll ping you if I get stuck @zaliqarosli

[2019-06-11 18:38] zaliqarosli commented on #4584
@kchatpar start with `/raisinbread/README.md`. i think you will find it helpful!

[2019-06-11 18:53] sruthymathew123 commented on #4584
@kchatpar If you are going ahead to fix RB data; look into `/raisinbread/RB_files/RB_session.sql`. Replace all the `NULL` values added for 'Registered By` column as `admin`. Hope this helps!

[2019-06-11 19:25] sruthymathew123 opened #4841 "[Conflict Resolver] Filter values are getting reset after saving the conflicts."
After clicking the save button to fix the conflicts; all the filter values are getting reset. It should hold the values after the`Save`

[2019-06-11 20:15] coreyAbout opened #4842 "[timepoint_list] no direct way to access timepoint_list if no permission"
TestPlan Item `1. Module access permissions:
For a candidate of the same site as your user, accessing the timepoint_list module should not require any permission.`

Problem:
If there is no permission, there is no access to Candidate list, which means that there is no direct way to access the timepoint_list module.
If there is data entry permission which provides access to the Candidate list, the l

[2019-06-11 20:32] coreyAbout opened #4843 "[timepoint_list] buttons not appear for regular user"
TestPlan Item `2. Action buttons:`
`For a candidate of the same site as your user, there should be 2 additional buttons:
"Create time point". (links to create_timepoint module for that candidate)`
`One of "Edit Candidate Info" or "View Candidate Info" according to your user permissions :`
`"Edit Candidate Info" if your user has the candidate_parameters_edit permission.`
`"View Candidate Info" if y

[2019-06-11 20:33] zaliqarosli commented on #4808
PR https://github.com/aces/Loris/pull/4844

[2019-06-11 20:44] coreyAbout opened #4845 "[timepoint_list] "View Imaging datasets" button not lead to the right participant"
TestPlan Item `3. Button links:
Ensure the "View Imaging datasets" button points to correct place. (imaging_browser module for that candidate)`

Problem:
Click on it points to datasets for all participant, instead of for that candidate only.

[2019-06-11 20:54] coreyAbout opened #4846 "[timepoint_list] "Imaging Scan Done 'yes'" link not lead to one specific participant"
TestPlan Item `4. Datatable content:
Imaging Scan Done: If 'yes', ensure links point to correct place (imaging_browser for that candidate and visit_label)`

Problem:
If yes, links point to the datasets for all participants, instead of that one participant.
e.g., MTL007 V3

[2019-06-11 21:00] zaliqarosli opened #4847 "[Survey Module] Unknown column 'Gender' in 'field list'"
should just be an RB data fix following the change from 'Gender' to 'Sex'

[2019-06-11 21:02] zaliqarosli opened #4848 "[Survey Module] Failed to retrieve data"
<img width="1280" alt="Screenshot 2019-06-11 16 45 01" src="https://user-images.githubusercontent.com/17415878/59306595-95410880-8c6a-11e9-9cb8-c4c928e00298.png">

i get the above noticed for almost every survey link

[2019-06-12 13:01] johnsaigle commented on #4037
@woasimtalokdar This appears to be an issue with WordPress, not our software.

[2019-06-12 13:15] driusan commented on #4847
Fixed by above PR

[2019-06-12 13:15] #4847 closed

[2019-06-12 13:20] driusan commented on #4848
On test.loris.ca or your sandbox? If the former, do you have specific instances that *don't* get the error?

[2019-06-12 15:58] kchatpar opened #4850 "[Next Stage] Change test plan to markdown file"
The next stage module test plan is currently a text file. It should be changed to a markdown file like the other test plans.[Test Plan](https://github.com/aces/Loris/blob/21.0-release/modules/next_stage/test/TestPlan)

[2019-06-12 15:59] zaliqarosli commented on #4848
this is on test.loris.ca .. either its 'Data has already been submitted' if status = 'complete' (https://test.loris.ca/survey.php?key=40ea01ebd8be4c4f) or 'Failed to retrieve data for timepoint' otherwise (https://test.loris.ca/survey.php?key=9*8u@5^l)

[2019-06-12 16:40] driusan commented on #4568
Fixed by above PR

[2019-06-12 16:40] #4568 closed

[2019-06-12 16:41] driusan commented on #4808
Fixed by above PR

[2019-06-12 16:41] #4808 closed

[2019-06-12 17:21] zaliqarosli opened #4851 "[issue_tracker] Control Panel Navigation empty"
should have 'Back to List', 'Next', and 'Previous' to navigate through issues. currently nothing renders

[2019-06-12 17:27] #4817 closed

[2019-06-12 17:33] sruthymathew123 commented on #4841
I think the filter query params are not working as expected with this module as it supposed to work with
this merged PR #4590
Note: Copyed the URL to another browser window and  the query param values in the URL are not populated in the filter.

[2019-06-12 19:05] driusan commented on #4573
PR merged

[2019-06-12 19:05] #4573 closed

[2019-06-12 19:26] driusan opened #4854 "[Document Repository] No error shown to user when server error"
When testing #4853, I noticed that when there's an exception thrown it gets logged in the error logs, but no message seems to be shown to the user indicating something went wrong. The page just reloads with a blank/empty form.

[2019-06-12 19:47] driusan opened #4856 "[Document Repository] Same data is loaded 3 times on page load"
When loading the document repository page, the same request is made 3 times to get the same data in JSON format.

![Screen Shot 2562-06-12 at 15 44 40](https://user-images.githubusercontent.com/498329/59381404-4312ec80-8d29-11e9-834c-8d6d05330a40.png)

[2019-06-12 19:54] driusan opened #4857 "[Document Repository] Files are not clearly separated from categories; visual improvements should be made"
I uploaded a test document into a category named "test2". After creating a category named "Another Test", the document moved into the "Another Test" category in the frontend without having modified it.

[2019-06-12 20:47] kchatpar opened #4858 "[Dashboard] My tasks doesn't represent the number of new scans"
9. Verify that for a user with 'Edit imaging browser QC status' permission the My Tasks panel reports the number of new scans (i.e. the number of scans on the MRI browser page for which QC status has not been set). Check that site displayed is always 'All'. Click on this task and verify that you go to the MRI Browser page. [Automate Test on Travis_CI]

According to my New Tasks, on the test VM the

[2019-06-12 21:03] kchatpar opened #4859 "[Dashboard] Conflict resolver count on dashboard is not accurate"
Test plan item - 10. Verify that for a user with 'Resolving conflicts' permission the number of data entry conflicts is reported in the My Task panel.

According to my New Tasks in the test VM, I have 579 data entry conflicts. The conflict resolver says I have 669 unresolved conflicts - this count should be the same.

When the user has the "Across all sites access candidates profiles" permission t

[2019-06-12 21:14] zaliqarosli commented on #4842
@coreyAbout did you try accessing the timepoint_list url directly?

[2019-06-13 00:04] kchatpar opened #4862 "[Dashboard] Edit and create user accounts does not show up in dashboard"
12. Verify that if a user has 'Across all sites create and edit user accounts' permission, the number of pending account approvals is displayed in the My Task panel.

When the permission - 'Across all sites create and edit users' is selected the number of pending account approvals is not listed in the My Task panel and when the permission is de-selected the user accounts tab does not go away.

The

[2019-06-13 00:17] kchatpar opened #4863 "[Dashboard] Across all sites access candidate profiles does not propagate reports tab"
13. Verify that if a user has 'Across all sites access candidate profiles' permission, the reports works and even more important to check without this permission. [Automate Test]

When the permission 'Across all sites access candidate profiles' is selected it does not make the reports tab viewable, the candidate tab becomes viewable. Maybe another permission is required here. The test plan needs t

[2019-06-13 13:15] ridz1208 commented on #4859
Check if the missing conflicts are associated with a a candidate with active=no or a session active=no or candidates from the dcc centerid =1

[2019-06-13 14:52] driusan commented on #4842
You should be able to click the "Open Profile" button and enter the DCCID/PSCID in order to access a candidate if you have the data_entry permission.

[2019-06-13 15:52] kchatpar commented on #4850
Test plan file type is markdown - closing issue.

[2019-06-13 15:52] #4850 closed

[2019-06-13 15:59] cmadjar commented on #4824
@PapillonMcGill Since we discussed this during the meeting, would you mind updating the ticket and maybe creating a PR with the outcome of the discussion. If I am not mistaken, it was:
- do a sudo test at the beginning of the script and exit if user has no sudo permission
- document what needs to be done in order to be able to install LORIS on CentOS.

Thanks!

[2019-06-13 15:59] cmadjar commented on #4825
Closing this issue since the PR was merged

[2019-06-13 15:59] #4825 closed

[2019-06-13 16:01] suzanne-lee opened #4864 "[DQT] Cannot Load Results"
After defining fields and running the query, the DQT gets stuck trying to load the results, and no network call is made

<img width="1007" alt="Screenshot 2019-06-13 11 59 36" src="https://user-images.githubusercontent.com/29237731/59448250-bfadd580-8dd2-11e9-8729-318720383645.png">

[2019-06-13 16:06] suzanne-lee commented on #4864
https://github.com/aces/Loris/projects/19#card-21296649

[2019-06-13 16:12] PapillonMcGill commented on #4824
@cmadjar Checking for sudo permission would require to actually try to install (every instructions requiring privileges permission).
@driusan is to discuss with Pam.
Documentation exist in the wiki. Suggest moving in the docs section after 21.0

[2019-06-13 16:17] suzanne-lee opened #4865 "[DQT] Remove All Button Broken"
The Remove All button under the "Define Fields" tab doesn't do anything (but the Add All button works fine)
This is also broken on demo.loris.ca

<img width="353" alt="Screenshot 2019-06-13 12 16 12" src="https://user-images.githubusercontent.com/29237731/59449465-203e1200-8dd5-11e9-8bd4-241a5625ac00.png">

[2019-06-13 18:25] cmadjar commented on #4567
Fixed by the above PR so closing the issue

[2019-06-13 18:25] #4567 closed

[2019-06-13 18:46] cmadjar opened #4866 "[imaging uploader] Data table incorrect in the browse tab"
The data table displayed in the browse page of the imaging browser is incorrect:
- There is a PatientName column with no data attached to it (should probably be hidden)
- The "View Details" link for the DICOM archive is not a link and the tarchive ID is displayed in that column instead of the View details link that should be there

[2019-06-13 19:42] cmadjar commented on #4858
In the dashboard query, we exclude all visits that have CenterID set to 1 (the DCC Center). In the 6 visits displayed on testing without QCStatus, 3 are from the DCC Center and therefore are not counted in the dashboard.

I think we should keep it as is and we should probably update the RB dataset to not have any data for the DCC? Or should the query of the imaging browser be changed to exclude th

[2019-06-13 19:44] driusan commented on #4858
Can't we just update the test plan to include that information?

[2019-06-13 20:21] nicolasbrossard opened #4867 "[New Profile] Nothing happens upon creation of an invalid candidate"
1. I set the pscid genration to 'user' in config.xml
2. I create a candidate and enter valid information in all the fields except the PSCID, which I set to '123456789'.
3. I click 'Create' and nothing happens...

[2019-06-13 20:25] nicolasbrossard opened #4868 "[New Profile] DoB format in config module not taken into account"
1. In the config module, I set the DoB format to YM
2. When I access the New Profile module, I am still prompted to enter the DoB in format YYYY-MM-DD.
3. If I enter a valid date and create the candidate, his/her DoB is still displayed in YYYY-MM-DD format in the Access Profile module, column DoB.

[2019-06-13 20:39] cmadjar commented on #4569
I retested this on the latest 21.0 code and it works so closing this issue.

[2019-06-13 20:39] #4569 closed

[2019-06-14 13:24] cmadjar commented on #4868
I believe this bug will be fixed by the following PR #4729 from @zaliqarosli

[2019-06-14 13:29] cmadjar commented on #4867
The fix for this was merged yesterday on 21.0. I just pulled the latest code from 21.0 and it returns an error message now saying PSCID does not match the required structure.

![Screen Shot 2019-06-14 at 9 28 09 AM](https://user-images.githubusercontent.com/1402456/59512519-e6c5df00-8e86-11e9-8cb1-a39d590b8d00.png)

Closing this issue since it is now fixed.

[2019-06-14 13:29] #4867 closed

[2019-06-14 13:38] cmadjar commented on #4858
Sure. Updating the test plan.

[2019-06-14 13:40] cmadjar commented on #4859
Indeed, the difference comes from the 90 DCC conflicts. Will also update the test plan to mention that DCC conflicts are not counted in the dashboard

[2019-06-14 13:47] cmadjar commented on #4862
Updating the test plan to the correct permission name.

For me, adding or removing the 'Across all sites create and edit users'  permission does not do anything (I don't see the menu Admin -> User accounts when the permission is set and I don't see the listed tasks either). Will try to take a closer look into it later.

[2019-06-14 13:53] cmadjar commented on #4863
It looks like it needs the "Data entry" permission (not the across all sites access candidate profiles) in order to have the number of incomplete forms listed in the task list and have the reports menu tab showing. Will update the test plan accordingly.

[2019-06-14 14:19] cmadjar commented on #4862
OK. The "User management" permission is also needed in conjunction with 'Across all sites create and edit users'. Updated the test plan accordingly.

[2019-06-14 14:27] coreyAbout commented on #4842
@zaliqarosli I did tried the url, which works. That's why I said no "direct" access.
@driusan , that is one way to access. Ideally, from a user experience point of view, it should be clickable as in the other conditions. But if this is not the priority, I think I will update the TestPlan, and close this issue after.

[2019-06-14 15:32] cmadjar commented on #4843
those buttons appear depending on the user's permission.

- "Create timepoint" appears only if the user has `data_entry` permission (updating the test plan for this as it was not specified)

The Edit or View candidate info button do not appear to unless your user belong to the same site as the candidate you are accessing. Modifying the test plan accordingly.

[2019-06-14 15:35] driusan commented on #4842
The reason it's not clickable with the data entry permission is to avoid someone accidentally clicking on the wrong row, and then entering data for the wrong candidate without realizing it. Requiring them to enter the DCCID and PSCID acts as a form of double data entry to make sure they're entering it at the right place.

[2019-06-14 15:49] coreyAbout commented on #4842
OK @driusan That's sounds great. I will update the test plan a bit.

[2019-06-14 19:14] suzanne-lee opened #4874 "[Candidate Parameters] Breadcrumbs Lead to Unexpected Behaviour"
Clicking on the Candidate Parameters breadcrumbs causes the page to no longer be associated to any candidate (see screenshot, DCCID = undefined). As a result, if you click time point list, you'll get a 404

Clicking on the candidate parameters breadcrumbs should maybe be disabled or the page should refresh but still be associated with the candidate

<img width="678" alt="Screenshot 2019-06-14 15 0

[2019-06-14 19:16] suzanne-lee opened #4875 "[Candidate Parameters] Typo in Test Plan"
"Check Permissions:

- candidate_parameter_view (Edit Candidate Parameters) permission (you should be able to edit fields)

- candidate_parameter_edit (View Candidate Parameters) permission (you should not be able to edit fields)"

should read:

"- candidate_parameter_view (View Candidate Parameters) permission (you should not be able to edit fields)

- candidate_parameter_edit (Edit Candidate Par

[2019-06-14 19:24] suzanne-lee opened #4876 "[Candidate Parameters] Outdated Test Plan (Consent Status Tab)"
1. Cannot set Consent Status = No without setting Date of Consent (According to Test plan, you should be able to set consent status = no and leave everything else blank)

2. Date of Withdrawal of Consent is disabled when Consent Status = Yes

3. Test plan says "Tab should render with only one consent type" but the tab has 3 (consent to study, consent to raisin, consent to bread)

<img width="655"

[2019-06-14 19:40] kchatpar opened #4878 "[Tools] Fix raisinbread database dump export location"
In line 5 of the file [DB_dump_table_data.php](https://github.com/aces/Loris/blob/21.0-release/tools/exporters/DB_dump_table_data.php) the export location should be: BASE_PATH_TO_LORIS/raisinbread/RB_files/RB_TABLE_NAME.sql.

[2019-06-14 20:24] sruthymathew123 commented on #4876
@driusan @zaliqarosli Correct me if I am wrong in the below statements

Regarding issue1:_Cannot set Consent Status = No without setting Date of Consent (According to Test plan, you should be able to set consent status = no and leave everything else blank)_
I think IBIS used to add the date when a 'NO' consent is also given. So I think in the last major release or so, we made the Date of Consent r

[2019-06-14 20:31] zaliqarosli commented on #4876
@sruthymathew123 @suzanne-lee yeah i see no issues here, this is how its supposed to be! looks like the test plan needs updating though. i thought i have done that along with the last changes, but i guess not!

[2019-06-14 20:34] zaliqarosli commented on #4876
the PR that made these last major changes for reference https://github.com/aces/Loris/pull/4034

[2019-06-14 20:35] #4858 closed

[2019-06-14 20:35] #4859 closed

[2019-06-14 20:35] #4862 closed

[2019-06-14 20:35] #4863 closed

[2019-06-14 20:37] cmadjar commented on #4781
PR merged

[2019-06-14 20:37] #4781 closed

[2019-06-17 14:20] xlecours commented on #4864
Let me know when a PR is sent please.

[2019-06-17 14:51] driusan commented on #4727
Fixed by above PR

[2019-06-17 14:51] #4727 closed

[2019-06-17 14:53] #4846 closed

[2019-06-17 14:53] driusan commented on #4845
Fixed by above

[2019-06-17 14:57] xlecours opened #4881 "[API] POST /candidates response format do not fit documentation"
Sending a POST request to /candidates should return a `CandidateObject` but the following response is returned:

[code]

[2019-06-17 15:03] driusan commented on #4843
Fixed by above

[2019-06-17 15:03] #4843 closed

[2019-06-17 15:19] #4866 closed

[2019-06-17 16:08] ridz1208 commented on #4546
@kchatpar that is intended behaviour, the error message tells you that your mri_parameter_form instrument does not have the necessary data for your scan types

@kongtiaowang 's #4800 should allow you to load the table, or you could do it yourself by adding the missing columns and some data in them

[2019-06-17 16:09] suzanne-lee opened #4884 "[Candidate List] PSCID Not Clickable When access_all_profiles Permission Disabled"
From Test Plan:

"17. Remove access_all_profiles permission and ensure that PSCID links are still clickable."

When you remove access_all_profiles permission, the PSCID is no longer clickable but the timepoint list of a candidate is still accessible through the address bar (url.com/dccid)

[2019-06-17 16:31] ridz1208 commented on #4560
closing this issue as its no longer relevant

[2019-06-17 16:31] #4560 closed

[2019-06-17 16:37] xlecours opened #4885 "[API] PUT /candidates/visits return 500"
Sending a PUT request to /candidates/<candid>/<visit_lable> generates a 500 internal server error.
error_log :
[code]

[2019-06-17 16:38] xlecours commented on #4885
It's the only place where `LORIS\\StudyEntities\\Candidate\\CandID` is used I think

[2019-06-17 16:42] ridz1208 commented on #4799
duplicate of https://github.com/aces/Loris/issues/4627

[2019-06-17 16:42] #4799 closed

[2019-06-17 16:46] #4673 closed

[2019-06-17 16:54] ridz1208 commented on #4717
@suzanne-lee add a configuration exception if feature is disabled.

Thanks

[2019-06-17 17:13] ridz1208 commented on #4748
I think we should update the test plan not the module, its seems like something left over from before the user multisite changes

[2019-06-17 17:14] ridz1208 commented on #4750
@xlecours can you provide an answer ?

[2019-06-17 17:19] ridz1208 commented on #4546
@kchatpar I see that you reported this issue twice, im closing this one and copying my comment to the new one

[2019-06-17 17:19] #4546 closed

[2019-06-17 17:19] ridz1208 commented on #4816
@kchatpar that is intended behaviour, the error message tells you that your mri_parameter_form instrument does not have the necessary data for your scan types

@kongtiaowang 's #4800 should allow you to load the table, or you could do it yourself by adding the missing columns and some data in them

edit: you could also add this in the stats testplan, we should make sure this error message gets dis

[2019-06-17 17:22] ridz1208 commented on #4816
@kchatpar also behavioural tab does not have a breakdown, did you mean to say MRI ?

[2019-06-17 17:22] driusan commented on #4776
Fixed by above

[2019-06-17 17:22] #4776 closed

[2019-06-17 17:48] driusan commented on #4884
That test plan is wrong. The link isn't supposed to be clickable without access all profiles.

[2019-06-17 17:57] suzanne-lee commented on #4884
@driusan should a candidate's timepoint list still be accessible via the address bar?

[2019-06-17 18:01] driusan commented on #4884
You should still be able to get there by clicking "Open Profile" and entering both the PSCID and DCCID.. which I guess means it would also be accessible through the address bar, but I doubt any user would do that.

[2019-06-17 18:02] driusan commented on #4748
I agree with @ridz1208

[2019-06-17 18:05] ridz1208 commented on #4748
@driusan thats a first

[2019-06-17 18:16] xlecours commented on #4750
@nicolasbrossard The GenomicBrowser do not use the ServerProcessManager. But there is developpement for the Phantom Pipeline that does use the SPM.

As for the mriCodePath requirment, it should be enforce when someone wants to launch the mri_upload task; not when he wants to look at launched tasks. But since its merged and since the only way a task could exists is when the path is set, I don't thi

[2019-06-17 18:19] suzanne-lee opened #4887 "[Candidate List] Open Profile Gets Stuck Validating"
Open profile works fine when the DCCID and PSCID match, but sometimes gets stuck validating when inputs are invalid

<img width="730" alt="Screenshot 2019-06-17 14 15 15" src="https://user-images.githubusercontent.com/29237731/59626834-e63d7a80-910a-11e9-8b9b-b1b687e1ca64.png">
<img width="722" alt="Screenshot 2019-06-17 14 14 55" src="https://user-images.githubusercontent.com/29237731/59626836-e6

[2019-06-17 19:08] driusan commented on #4887
Is there any response in the network tab when it gets stuck?

[2019-06-17 19:15] suzanne-lee commented on #4887
@driusan 500 error

[2019-06-18 09:22] zimkha commented on #4037
please I have the same problem with graphlql that I want to integrate in my project laravel, how to make for this error, I specify that I am in envrironement php 7.1.26

[2019-06-18 13:09] ridz1208 commented on #4887
I ran into this, but its not consistent....

[2019-06-18 15:44] zaliqarosli opened #4891 "[Candidate Parameters] Candidate variables table missing"

[2019-06-18 16:50] xlecours opened #4892 "Instrument level breadcrumb leads to dashboard"
https://test.loris.ca/instruments/radiology_review/?commentID=760152MTL9182170111560876164&sessionID=2170&candID=760152

The `Radiology review` breadcrumb links to https://test.loris.ca/

[2019-06-18 17:26] driusan commented on #4564
Fixed by above PR

[2019-06-18 17:26] driusan commented on #4728
PR merged

[2019-06-18 17:26] #4728 closed

[2019-06-18 17:30] driusan commented on #4885
PR merged

[2019-06-18 17:30] #4885 closed

[2019-06-18 17:35] driusan commented on #4715
merged

[2019-06-18 17:35] #4715 closed

[2019-06-18 17:56] cmadjar commented on #4868
Closing this issue as this was resolved by PR #4729.

[2019-06-18 17:56] #4868 closed

[2019-06-18 18:00] cmadjar commented on #4735
#4819 got merged and fixed the issue so closing that issue

[2019-06-18 18:00] #4735 closed

[2019-06-18 18:02] suzanne-lee commented on #4887
PR sent #4893

[2019-06-18 18:03] zaliqarosli commented on #4851
update: completely remove navigation control panel in Issue Tracker

[2019-06-18 18:12] cmadjar commented on #4750
@driusan Should we remove the 21.0 release tag then? It could be a change implemented in later releases if I understand correctly.

[2019-06-18 18:37] sruthymathew123 commented on #4876
PR merged; so closing.

[2019-06-18 18:37] #4876 closed

[2019-06-18 19:38] driusan commented on #4779
Merged

[2019-06-18 19:38] #4779 closed

[2019-06-18 19:41] driusan commented on #4887
Fixed by above PR

[2019-06-18 19:41] #4887 closed

[2019-06-18 19:48] driusan commented on #4851
PR that completely removes the side panel merged

[2019-06-18 19:48] #4851 closed

[2019-06-18 20:22] #4742 closed

[2019-06-18 20:24] driusan commented on #4584
fixed by above

[2019-06-18 20:24] #4584 closed

[2019-06-18 20:30] driusan commented on #4857
@zaliqarosli can you look into this one?

[2019-06-19 14:06] #4780 closed

[2019-06-19 15:20] #4881 closed

[2019-06-19 16:16] suzanne-lee commented on #4717
PR sent : #4895

[2019-06-19 16:59] zaliqarosli commented on #4857
@driusan i can't reproduce this error! can you give me more information if you have any?

[2019-06-19 17:51] #4778 closed

[2019-06-19 17:59] driusan commented on #4582
fixed by above

[2019-06-19 17:59] #4582 closed

[2019-06-19 18:03] cmadjar commented on #4564
Closing the issue as fixed by the above PR.

[2019-06-19 18:03] #4564 closed

[2019-06-19 18:07] driusan commented on #4857
I just started with a completely empty document repository and follow the above steps. This is what the frontend looks like:

![Screen Shot 2562-06-19 at 14 05 36](https://user-images.githubusercontent.com/498329/59789157-62ff5e80-929b-11e9-9ca5-1d84ff2f5dfd.png)

While this is what document_repository_categories and document_repository tables look like:

[code]

Note that the category for the doc

[2019-06-19 18:09] kongtiaowang commented on #4857
@zaliqarosli @driusan could u test my PR for this issue?

[2019-06-19 18:47] cmadjar commented on #4717
Should be fixed by #4895 so closing the issue

[2019-06-19 18:47] #4717 closed

[2019-06-19 19:02] suzanne-lee commented on #4884
PR sent: #4898

[2019-06-19 19:22] suzanne-lee commented on #4875
PR sent: #4900

[2019-06-19 19:30] zaliqarosli commented on #4857
@driusan i think that's how its supposed to be. any file that's listed belongs to the directory you're currently in. it just so happens that it's listed under the (sub) categories, but that doesn't mean its in that category. if you click on 'Another Test', you will go into that folder and see that the document is in fact not there. can you verify?

[2019-06-19 19:33] driusan commented on #4857
I've talked about it with Shen and you're right, that's the new design of it. I think it's confusing to users though, and we should at least add some kind of visual differentiation/headers to separate the files from the categories.

[2019-06-20 13:50] driusan commented on #4875
PR merged

[2019-06-20 13:50] #4875 closed

[2019-06-20 13:50] driusan commented on #4884
PR merged

[2019-06-20 13:50] #4884 closed

[2019-06-20 14:27] cmadjar commented on #4748
PR merged so closing the ticket

[2019-06-20 14:27] #4748 closed

[2019-06-20 14:32] xlecours opened #4905 "[DQT] runQuery shows to info tab content after the query is run."
When results should appear in the `View Data` tab, the content of the `Info` tab is present

[2019-06-20 14:38] driusan commented on #4864
@xlecours a PR seems to be sent.

[2019-06-20 16:02] xlecours opened #4908 "[DQT] jStat crash when all values of a given field are null"
When all the values of a given queried field are null, jStat crashes in the render function of `StatsVisualizationTabPane`.

[2019-06-20 17:11] driusan commented on #4864
PR merged

[2019-06-20 17:11] #4864 closed

[2019-06-20 18:35] driusan commented on #4777
PR merged

[2019-06-20 18:35] #4777 closed

[2019-06-20 18:37] driusan commented on #4857
@zaliqarosli is going to look into making this a little more intuitive.

[2019-06-20 19:55] cmadjar commented on #4824
@driusan did you talk to Pam about this? Is there anything to be done for this ticket or can it be closed in the end?

[2019-06-25 15:17] johnsaigle commented on #4908
Is this also addressed by #4910 or is this a separate issue?

[2019-06-25 17:39] xlecours commented on #4908
@johnsaigle It is a separate issue

[2019-06-25 19:59] driusan commented on #4905
PR merged

[2019-06-25 19:59] #4905 closed

[2019-06-26 16:30] kchatpar commented on #4816
breakdown table is now present - closing issue.

[2019-06-26 16:30] #4816 closed

[2019-06-26 16:41] kchatpar opened #4912 "[Statistics] Missing breakdown table error in demographics tab"
In the demographics tab of the statistics module, there is an error message at the bottom saying "It seems like the scan type selected does not have a corresponding column in the mri_parameter_form table in the database."

This breakdown table shown should be for the selected instrument and not the error message for scan type.
![Screenshot from 2019-06-26 12-40-56](https://user-images.githubuserco

[2019-07-03 18:39] johnsaigle commented on #4399
This will probably be easier to do after #4181 has been merged since it makes so many changes to the file.

[2019-07-04 13:55] cmadjar opened #4920 "[imaging uploader] Combine the two columns with number of MINC into one column only"
Discussed at the imaging meeting of June 20th, 2019.

Instead of having two large columns with small numbers, combine the two columns "Number of MINC created" and "Number of MINC inserted" into one column with the proper information and links in the column:

"25 inserted (out of 26); 1 violation" with "25 inserted" linking to the imaging browser view session page for that upload and the "1 violati

[2019-07-04 14:28] gdevenyi opened #4921 "Data Consistency Check: DoB in candidate vs DICOM metadata"
DICOM metadata can store a DOB. It may be appropriate to check and flag scans where this does not match the candidate DOB in LORIS.

[2019-07-08 19:55] coreyAbout commented on #4921
This issue appears on 20.3, whether it appears on 21.0 need to be tested.

[2019-07-08 20:00] coreyAbout opened #4931 "[SQL/Release_patches] 20.3_To_21.0_upgrade.sql error on 21.0-release"
ERROR 1075 (42000) at line 4: Incorrect table definition; there can be only one auto column and it must be defined as a key.

[2019-07-08 20:03] driusan commented on #4931
The 20.3_To_21.0_upgrade.sql should have a bunch of lines that print "Running: SQL/New_patches/[...]".. what was the most recent one before the error message?

[2019-07-09 14:20] coreyAbout commented on #4931
As the error code said, at line 4 of 20.3_To_21.0_upgrade.sql. I think it is caused by dropping a primary key which has a property of auto_incr
line 1
line 2 SELECT 'Running: SQL/New_patches/2018-01-17-normalisation_visit.sql';
line 3
line 4 ALTER TABLE project_rel DROP PRIMARY KEY;

[2019-07-09 17:10] ridz1208 commented on #4931
@coreyAbout I think I ran into somethink similar, which mysql/mariadb version are you on ?

[2019-07-09 17:14] ridz1208 commented on #4931
@PapillonMcGill you were the one who had issues with that statement and you submitted a commit to changeit.

https://github.com/aces/Loris/pull/4493/commits/ffd22af12621e73063e9308c5f502547f1c605e6

[2019-07-10 12:38] PapillonMcGill commented on #4931
@coreyAbout Could you provide the definition of the `project_rel` table **before** the upgrade process (`show create table project_rel`) and the output of the DB after manually running the 'ALTER TABLE project_rel ...' and of course which version of DB you are executing it on.

[2019-07-11 02:45] #4627 closed

[2019-07-11 02:46] ridz1208 commented on #2772
I will assume this is stale since it did not show up in the 21 testing

[2019-07-11 02:46] #2772 closed

[2019-07-15 15:57] johnsaigle opened #4942 "Update 21.0 release notes to include info on how to deal with plaintext password security issue"
The release notes should be updated to include details about the plaintext password issue from #4021. They should be told how to execute the included script and what it does.

[2019-07-16 12:45] PapillonMcGill commented on #4931
pinging @coreyAbout

[2019-07-16 15:12] coreyAbout commented on #4931
@ridz1208  MySQL version I am using:
mysql  Ver 14.14 Distrib 5.7.26, for Linux (x86_64) using  EditLine wrapper

[2019-07-16 15:17] coreyAbout commented on #4931
@PapillonMcGill
| project_rel | CREATE TABLE `project_rel` (
  `ProjectSubprojectRelID` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `ProjectID` int(2) NOT NULL,
  `SubprojectID` int(2) NOT NULL,
  PRIMARY KEY (`ProjectSubprojectRelID`),
  UNIQUE KEY `UK_project_rel_ProjectID_SubprojectID` (`ProjectID`,`SubprojectID`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8 |

mysql Ver 14.14 Distrib

[2019-07-16 16:57] johnsaigle opened #4948 "Create config setting to disable DICOM downloads"
While creating the Open PREVENT-AD instance of LORIS, it was important to disable the disable of DICOM files out of concern for privacy and to fulfill the study's ethical commitments.

This was done in an ad-hoc way and it would probably benefit future studies going open to have a configuration option that would optionally disable DICOM downloads.

The PR linked below indicates all the places in L

[2019-07-16 17:09] johnsaigle commented on #4423
@AlexandraLivadas re: today's meeting -- have you taken a look at this? Shen prepared it as a path to getting started with the development of our unit tests.

[2019-07-16 17:11] johnsaigle commented on #4423
AH sorry just saw your Breadcrumb PRs.

[2019-07-16 17:20] coreyAbout commented on #4931
@PapillonMcGill
Running the line `ALTER TABLE project_rel DROP PRIMARY KEY;`
Produced:
`ERROR 1075 (42000): Incorrect table definition; there can be only one auto column and it must be defined as a key`

I think it is caused by dropping a primary key which has a property of auto_incr

[2019-07-16 17:40] coreyAbout commented on #4931
@driusan @ridz1208 @PapillonMcGill
I will make a pull request in a few minutes.

[2019-07-16 17:43] PapillonMcGill commented on #4931
@coreyAbout  No need for a PR.

It seem, you already have applied the patch from Rida's PR (possibly for testing) to modify this table.

Your table do not have the definition of V20.x but already have definition of v21.0

Closing this issue.

[2019-07-16 17:43] #4931 closed

[2019-07-16 18:39] johnsaigle commented on #4942
Also @driusan I think we discussed putting out a Security alert for this. We should probably find a time to do that.

[2019-07-16 19:37] jftunteng opened #4950 "[UI/Tablet] Issues displaying PSCID when sorting columns in Access Profile"
(on Samsung tablet)
In the Access Profile module, when sorting columns (i.e. gender, participant status, etc) the space where it should say PSCID becomes blank. The PSCID label is superimposed on another column as well.

![SmartSelect_20190716-133221_Chrome](https://user-images.githubusercontent.com/22081216/61323891-18f89280-a7df-11e9-9185-7f40f6312857.jpg)

[2019-07-16 19:42] leighevans opened #4951 "[UI/Tablet] Can't deselect menu item once selected"
On Apple tablet:

Once a menu item is selected you can't unselect it unless you navigate to another menu item. For example (pictured) if Reports is selected, you can't deselect the menu item and if you wanted to access say, the Admin menu, which is covered by the expanded Reports menu, you'd have to select one of the higher menu items such as Candidate or Clinical to reveal it.
![42FEE13C-D3B6-45C

[2019-07-16 19:45] leighevans opened #4952 "[UI/Tablet] Cut off labels on Create Time Point page"
The labels for the dropdown menus are cut off as well as the button for Create Time Point.

![23C811EF-85AA-4699-B07B-9F4908C3D038](https://user-images.githubusercontent.com/32552953/61324533-aab4cf80-a7e0-11e9-9c7c-4f9509d9a94e.png)

[2019-07-16 19:47] jftunteng opened #4953 "[UI/Tablet] Issues with Conflict Resolver table"
(on Samsung tablet)

-When sorting columns in the Conflict Resolver, where it should say "Visit Label" becomes blank. It stays as a white empty box as you continue to sort the other columns as well.
 ![SmartSelect_20190716-134645_Chrome](https://user-images.githubusercontent.com/22081216/61324168-c8356980-a7df-11e9-8abc-32e6b4680873.jpg)

-Also the table glitches when trying to scroll to the right

[2019-07-16 19:48] leighevans opened #4954 "[UI/Tablet] Spacing and sizing issues on New Profile page"
Squished spacing and Site menu isn't fitted to the page.
![5FB91C59-A416-42F0-9923-00DECE26910B](https://user-images.githubusercontent.com/32552953/61324733-2151cd00-a7e1-11e9-8dc1-08508ba3d0b8.png)

[2019-07-16 20:06] leighevans opened #4956 "[UI/Tablet] Cut off labels on Media page"
Labels are cut off due to spacing issues on the Media page

![7E8E5E16-9B4A-421C-B4B3-C0BB7193B720](https://user-images.githubusercontent.com/32552953/61325823-8a3a4480-a7e3-11e9-83d9-dfcf146a52b9.png)

[2019-07-16 20:07] leighevans opened #4957 "[UI/Tablet] Button labels cut off on Imaging Browser page"
Refer to title
![32263290-1C33-4C2A-ADC5-F723225E7B59](https://user-images.githubusercontent.com/32552953/61325914-bd7cd380-a7e3-11e9-8b42-f157c14c8ba6.png)

[2019-07-16 20:12] leighevans opened #4958 "[UI/Tablet] Stats menu items not visible"
I think this has been an issue for a long time, but the menu items when you first arrive on the stats page are not visible and only shows a blank blue menu space. You can blindly select from within that blue space, and then can see the menu items as white font thereafter, but until something is select within the menu it only appears blue.

![C7283FF7-4048-4C27-8C47-60D4FAE37431](https://user-image

[2019-07-17 15:11] johnsaigle commented on #4475
It was decided in a recent LORIS meeting that we should remove PHPMD for the above reasons as long as some other static analysis tool covers what it can do.

[2019-07-17 15:21] johnsaigle commented on #4475
Phan indeed has rules to cover this: we can pass in the flags `--unused-variable-detection` `--dead-code-detection` and/or `--redundant-condition-detection` and that should cover at least what PHPMD does.

We should keep PHPMD until these flags are incorporated into our static testing.

[2019-07-17 15:32] driusan commented on #4475
Can equivalents to those be set in `.phan/config.php`?

[2019-07-17 15:36] johnsaigle commented on #4475
I'll look into it. From what I understand though these flags were "Extensions" which is different from the Phan rules.

I think we could add the flags to the scripts executed in the `Makefile`.

[2019-07-17 15:51] driusan commented on #4475
If that's the only way to do it, yes, but it would be better if they came directly from the config so that it's what phan does with no arguments.

[2019-07-17 15:53] driusan commented on #4878
Fixed by above

[2019-07-17 15:53] #4878 closed

[2019-07-17 15:54] johnsaigle commented on #4475
Agreed, but I don't think it's possible unfortunately.

[2019-07-17 15:55] johnsaigle commented on #4475
Ah wait I'm wrong! I think we can do it by declaring `plugins` like this:
https://github.com/phan/phan/blob/1.2.1/.phan/config.php#L593-L613

[2019-07-22 14:05] #4613 closed

[2019-07-22 16:51] driusan opened #4972 "Database->getAffected() returns 0"
While trying to write a script that uses it, I found that calling $DB->getAffected() after an update statement always returned 0, even when there were rows that were updated.

We should either add tests to ensure that it's working or remove the function, since at the moment the results are not correct and it can't be relied upon.

[2019-07-23 17:32] #4972 closed

[2019-07-23 22:07] jesscall opened #4980 "[Examiner] DomainException thrown when editing the certifications"
[code]

The error arises when you update a certification. This queries the certification_history table. Obviously more than one entry exist for the same testID / examinerID combo since we are tracking history.

[2019-07-24 16:51] jesscall opened #4983 "[UI] bvl_feedback improvements"
The following issues were tested and reported by Clark. Tested in Mozilla Firefox 58.0.2(64-bit)

### **Behavioural Feedback Testing**

**Candidate Profile**
[SS001](https://user-images.githubusercontent.com/34260251/61812298-3944d480-ae11-11e9-96ae-ac95942fd7ae.png):
 "Open Thread Summary" table falls off the screen for Open Thread Summary

**Instrument List**
[SS002](https://user-images.githubus

[2019-07-24 16:55] jesscall opened #4984 "[bvl_feedback] # of threads in table not automatically updated after closing a thread"
This issue was reported by Clark, using Mozilla Firefox 58.0.2(64-bit)

Satuts is updated to "closed" when you close a thread but the "# Threads" column on the "Open Thread Summary table" is not:
Clicking the behaviorial feedback button twice to reopen the side menu does not update the table,
Navigating to another page and clicking the back arrow on the browser does not update the table,
Table is

[2019-07-29 19:49] dyt811 commented on #3022
We sort of got one working but had to incorporate some backend update to the LORIS 0.0.3-dev APIs  and permission changes, in addition to roll out our intermediate Orthanc server in addition to a python program for monitoring/anonymization/upload/store identifiable information locally.  I was chatting with the representative from Douglas who was trying to get LORIS working. But whenever you guys r

[2019-07-30 18:05] johnsaigle opened #4989 "Update singleton() declarations to use the Factory class"
Occurrences like:
[code]

should be changed to:
[code]

Going through the Factory class allows for more robust testing down the line.

[2019-07-30 18:24] AlexandraLivadas commented on #4989
Here's a text file of all the files that use it and with what frequency:

[dbSingletonListWithFrequency.pdf](https://github.com/aces/Loris/files/3448327/dbSingletonListWithFrequency.pdf)

Which of these do you think would be good to start with @johnsaigle @driusan ? I can start with the Utility class if you'd like because I already have unit tests written for it.

[2019-07-30 18:28] driusan commented on #4989
I think you should start with finalizing your currently existing PRs and trying to get them merged.. after that, I don't think it matters much, either whichever one you think is easiest, or whichever one the current singleton() behaviour is blocking you the most from writing tests that you want to write.

The classes that are probably highest value to have tests for in that list are User, Candidat

[2019-07-30 18:33] AlexandraLivadas commented on #4989
Ok. Should I finalize the PRs that have tests written differently because of the Database::singleton() problem though?

[2019-07-30 18:35] johnsaigle commented on #4989
If it simplifies the testing process for you, I think it would be fine to e.g. change all the singleton problems in Config in the same PR where you're adding tests for Config

[2019-07-30 18:40] driusan commented on #4989
It's up to you if you want to go back and change those PRs to use the factory or keep them as-is, if the current tests are already working.

[2019-07-30 18:51] AlexandraLivadas commented on #4989
The tests are working but there would be less clutter if I were to change to the factory way. I can do it for my Utility PR and see how it goes? I'll ask @kongtiaowang as well!

[2019-07-31 14:32] johnsaigle opened #4990 "Raisinbread DROP TABLES patch does not clear test instruments"
Following the instructions to install a Raisinbread DB, I got an error:

`ERROR 1050 (42S01) at line 3024: Table 'aosi' already exists`

even after sourcing `SQL/9999-99-99-drop_tables.sql`.

This table is created by Raisinbread so I think the drop script should also remove it in order for a clean install/uninstall workflow.

[2019-07-31 14:35] johnsaigle commented on #4990
The same is true for `bmi`, `medical_history`, ...

[2019-07-31 18:26] xlecours commented on #4327
I can see this entry in the meeting agenda but there is no minutes that goes with it.

What is the issue with the full site name? it is unique in the table.

[2019-08-01 13:55] driusan commented on #4942
added to the script to the upgrade section of the release notes in the final release

[2019-08-01 13:55] #4942 closed

[2019-08-01 16:06] AlexandraLivadas commented on #4423
**Updated To-Do List after July 30th meeting:**

Merged PRs:
- #4988 -- Visit.class.inc, VisitController.class.inc
- #4840 -- BreadcrumbTrail.class.inc
- #4769 -- Breadcrumb.class.inc

Open PRs to Complete:
- [ ] #4987 -- Settings.class.inc
- [ ] #4979 -- User.class.inc
- [ ] #4936 -- Candidate.class.inc
- [ ] #4916 -- LorisForm.class.inc
- [ ] #4861 -- Utility.class.inc

Classes to Tackle:
- [ ]

[2019-08-01 20:15] #4990 closed

[2019-08-01 23:13] christinerogers opened #4995 "Post-release 21 Documentation updates"
(non-exhaustive list, in progress)
Needs cross-checking with new [Readmes from Wiki-revamp](https://github.com/aces/Loris/pull/4093)

### Things moved under docs/ RaisinBread -> broken links

*  public instruments removed / moved to Raisinbread
- [ ]  bmi.linst which used to be [under docs/instruments/](https://github.com/aces/Loris/tree/20.3-release/docs/instruments)
- [ ] MRI Parameter form whic

[2019-08-05 17:24] christinerogers commented on #4423
Related PRs/issues:
* #4497 - attempt at code coverage pre/post GSOC

[2019-08-05 17:34] christinerogers opened #4997 "[Stats/reliability] Remove orphan fxn : updateReliabilityTab()"
Reliability module was removed with release 21 #4596

I believe this JS function/file can be removed too.  (May be relevant only to IBIS.)

[2019-08-05 18:19] jesscall opened #4998 "[Media] Bug with date of administration: error message says date is in future even when it isn't"
<img width="1123" alt="Screen Shot 2019-08-05 at 2 11 57 PM" src="https://user-images.githubusercontent.com/34260251/62485811-c54ce980-b78b-11e9-81c9-b0b32ba341be.png">

Using date 2016-10-28 as an example, get error message saying that date is cannot be in the future.

[2019-08-05 20:22] T-Clark-D opened #5001 "[Install]Loris Installation: Errors in Installation guide"
**In depth Ubuntu installation.**
https://github.com/aces/Loris/wiki/Installing-Loris-in-Depth

**Section**: Getting the Loris codebase
    -Step 2 should be run first before proceeding to step 1.

**Section**: Running the Install Script
    -Step 2 Run cd loris/tools
        - The 'l' in loris should be capitalized since that is how the directory is created by default.

[2019-08-06 15:21] christinerogers commented on #5001
Thanks Clark.  Re your second point, We should suggest instead people rename or softlink `ln -s ./Loris loris` since the lowercase convention is our current standard - despite the repo name, as you point out.

[2019-08-06 15:23] johnsaigle opened #5003 "DateTime objects should be used everywhere for dates (not strings)"
We should use PHP's `DateTime` objects for dates, not raw strings. Doing so will allow us to create configuration settings that allow users to have some control about how date data is presented to them.

[2019-08-06 16:45] johnsaigle commented on #4172
Note that these issues just came up again with Clark, our new volunteer.

[2019-08-06 17:31] christinerogers commented on #4423
Correction: @kongtiaowang  covered most of NDB_Config in the spring   #4383

- [ ] 2 functions in NDB_Config are still missing tests: `checkMenuPermission()` and `getMenuTabs()`  -> @AlexandraLivadas

[2019-08-06 19:37] johnsaigle commented on #4061
This is done frequently by old `tools/` scripts also.

[2019-08-06 19:58] jesscall opened #5006 "[Core:Instrument] getCandidateAge() function should have a default date=null since date is optional"
[code]

[2019-08-06 20:42] christinerogers opened #5008 "[install] `sudo ./install.sh` will fail, but won't tell you"
Since #4109 is new in Release 21 :
If the install script is called w sudo (per the current wiki install guides, links below) - `project/config.xml` is not owned by lorisadmin --
The install script gives a success message, but Loris itself will be incompletely(non-functionally) set up, and the user can't proceed.  The manual troubleshooting is a little complicated.

It's occurring because #4109 int

[2019-08-08 19:27] AlexandraLivadas commented on #4989
Occurences like this:

`$user = User::singleton();`

should also be changed, to this:

`$user = $factory->user();`

This also makes unit testing easier.

@johnsaigle Should I make a new issue for this?

[2019-08-08 19:28] johnsaigle commented on #4989
Yep that'd be great!

[2019-08-08 20:45] johnsaigle commented on #5001
A better solution that we should use is:
`cd /var/www`
`git clone git@github.com:aces/Loris.git loris`

This will create `/var/www/loris/...` instead of `/var/www/loris/Loris` which is the result of our current instructions.

[2019-08-08 22:25] AlexandraLivadas opened #5015 "Update User::singleton() declarations"
Code that declares a User object like this:

`$user = User::singleton();`

should be changed to:
[code]
or

`$user  = \NDB_Factory::singleton()->user();`

Using the factory class allows for easier and more robust testing.

[2019-08-09 18:31] christinerogers commented on #5008
Resolved by @driusan's PR #5008 which is now linked.

Thanks @johnsaigle for also making a PR to resolve this.

[2019-08-09 18:37] gdevenyi commented on #5008
tools/install.sh needs
[code]

http://redsymbol.net/articles/unofficial-bash-strict-mode/

[2019-08-09 18:40] christinerogers commented on #5008
Thanks @gdevenyi !
 -- @driusan do want to add this to #5010 ?

[2019-08-12 19:29] christinerogers commented on #4172
John's March 12 comment appears to be an issue for users installing the 21 release, not documented in the Release notes or Readme. Adding it to Doc project.
@johnsaigle do you feel this should be split into a new issue?

[2019-08-12 19:40] johnsaigle commented on #4172
Yes I think that point specifically is probably worthy of being treated as its own bugfix givent hat the release is already out.

[2019-08-12 19:55] christinerogers commented on #4172
Thanks for #5017 👍

[2019-08-12 20:11] christinerogers opened #5018 "[install] Update CentOS install Readme for the 21 release"
21.0.0 is out;  the CentOS readme (#3946) should get some specific updates for the next bugfix release.
- [ ] NodeJS version mention
- [ ] make ? //  remove `composer --no-dev` mention
- [ ] remove mentions of release 17, 18
- [ ] See other dependency/formatting updates mentioned in issue #3946

Should this be labelled `bugfix`, `Critical to release` ? , or with Milestone 21.0.1?

[2019-08-12 20:12] christinerogers commented on #3946
creating 21.0.0 specific issue #5018  for dependencies impacting install
to make the CentOS Readme accurate for release 21 (post-release)

[2019-08-12 20:13] cmadjar opened #5019 "Move MINCToolsPath from config.xml to the Config module"
### Description

Move the <MINCToolsPath> configuration from the config.xml file and add an entry in the imaging modules section of the configuration module to include that setting.

Once this is done, will need to update the documentation on the LORIS-MRI repo:
- 02-Install: section 2.3.2
- 02-Install: section 4
- AppendixA-Troubleshooting_guideline.md

[2019-08-13 12:45] PapillonMcGill opened #5021 "[core] install script do not check if NodeJS is installed and a sufficient release"
install script should check that NodeJS is properly installed and is of a sufficiently recent release to support the code.

If NodeJS is not installed, admin can still log-in but the only usable page are admin-config. All other page show a page with only the top banner.

[2019-08-13 14:43] driusan commented on #5008
This is done

[2019-08-13 14:43] #5008 closed

[2019-08-14 20:41] #3923 closed

[2019-08-19 18:31] ycAbout opened #5027 "[LORIS21.0] [instrument] Saving data to a simple instrument produces loris error"
For LORIS 21.0
1. Create a simple instrument using instrument builder (.linst file) only including a note field.
![Screenshot from 2019-08-16 16-20-47](https://user-images.githubusercontent.com/34487370/63289628-90618c00-c28d-11e9-8514-00995d081bdf.png)
2. Install the instrument according to https://github.com/aces/Loris/wiki/Behavioural-Database
3. Fill out the instrument and click save data thro

[2019-08-19 18:56] coreyAbout opened #5028 "[new_profile] LORIS 21.0 cannot input date using firefox browser"
Please see:
![ezgif com-optimize](https://user-images.githubusercontent.com/34487370/63291313-4d091c80-c291-11e9-887a-6be7e943d078.gif)

firefox 66.0.3 (64-bit) browser also tested, the same thing happened.

On Ubuntu 18.04, 14.04.

[2019-08-20 14:43] ridz1208 commented on #4396
@jesscall  can this be closed ?

[2019-08-20 17:13] johnsaigle opened #5029 "Deletion/archiving of "Contributing to the Code" wiki page"
https://github.com/aces/Loris/wiki/Contributing-to-the-Code

Most of the information on this page is already contained in the [CONTRIBUTING.md](https://github.com/aces/Loris/blob/minor/CONTRIBUTING.md) file. It makes sense to archive/delete this Wiki page rather than havea  duplication of information.

[2019-08-20 18:00] cmadjar opened #5030 "Import MRI QC checkbox comments into the DQT"
Will need to modify the MRI import script to include the MRI QC checkbox information (from the `feedback_mri_comments` table).

Note: taken out from redmine https://redmine.cbrain.mcgill.ca/issues/9596

[2019-08-20 18:08] cmadjar opened #5031 "[New Module] Electrophysiology browser"
List of bugs found in the current set up:
- Task Name seems to be hardcoded to FaceHousCheck. Fix that so it takes that information from the physiological_parameter_file table (TaskName is one of the JSON file field). In jsx/components/eeg_session_panels.js and js/eeg_session_view.js

[2019-08-20 18:10] cmadjar opened #5032 "[Imaging Uploader] Add an "Upload Update" column to the imaging uploader"
Discussed during the imaging meeting of August 16th, 2018.

Since re-upload overwrites existing rows in the `mri_upload` table, perhaps it is good idea to add columns about `UploadUpdateDate` (the current `UploadDate` can be renamed to `InitialUploadDate`).
Maybe even add an `UpdatedBy` column in case someone else re-uploaded the scan?

[2019-08-20 18:37] cmadjar opened #5033 "[Permssion] Add "View own site DICOM archive" permission"
In the user account module, there is no "View own site DICOM archive" permission. Only a "View all site DICOM archive" permission.

Need to add the "View own site DICOM archive" permission in User account module so that users can see it and update the code for the DICOM archive module to use that new permission.

[2019-08-20 18:42] cmadjar opened #5034 "[BrainBrowser] Check with Louis what is missing in terms of functionality in BB"
Schedule a meeting with Louis and report his wishes in this ticket.

[2019-08-20 18:53] cmadjar opened #5035 "Split notification_spool table into 2"
Discussed in the Imaging meeting of March 16, 2018:

`notification_spool` table is used by:
1) The imaging browser when QC in the front-end is happening (all of these have process_id=0); Dave said this was created for RSS feeds a while ago, but he is not very sure about it
2) The imaging pipeline to log its insertion progress

These 2 steps should be separated into 2 separate tables, with the pipe

[2019-08-20 19:22] cmadjar opened #5036 "Make MRI Browser Info configurable"
The MRI browser displays a number of columns from the minc/dicom header beside the file, but the columns are hard coded. These should be configurable since different projects care about different headers

[2019-08-20 19:24] cmadjar commented on #5036
fdsajnkg

[2019-08-20 19:27] cmadjar commented on #5036
@kongtiaowang It was assigned to you on Github so I assigned this to you. Sounds like a really cool feature to have in the imaging browser :)

[2019-08-20 19:31] LeighMac opened #5038 "Flag Conflicts immediately on double data entry"
Feature request:

When Double Data Entry is done, sites have requested that any conflicts be flagged when double data entry is saved (so that they can address it immediately) and they dont' have to go to another module (conflict resolver) to see any conflicts.

[2019-08-20 19:32] #4396 closed

[2019-08-20 19:35] cmadjar opened #5039 "[Imaging Uploader] Improvements to the data table GUI"
Came up in the KT WG demo of Jan 11th 2018:

1) when Not started, the Progress column displays `( out of )`; it should just stay empty
2) the insertion scripts totally ignore the "localizer" sequence; although it is a series present in the DICOM archive. Make imaging uploader messaging/display more informative

[2019-08-20 19:40] cmadjar opened #5040 "[tools] fix_timepoint_data_problems: hardcoding issues"
The script `tools/fix_timepoint_date_problems.php` hardcodes the feedback thread type to `5` on line 512 (when the default schema does not have it) and the subproject ID to `1` and `2` on line 467 which clearly is not consistent across projects using LORIS.

[2019-08-20 19:41] cmadjar commented on #5040
@ridz1208 I know you went through the tool scripts. Is that issue still relevant? Copied it from redmine https://redmine.cbrain.mcgill.ca/issues/13195

[2019-08-20 19:41] LeighMac opened #5041 "Additional notes column with tags in data team helper"
it would be nice to add an open text column (perhaps linked to bx feedback mod?) in teh data team helper.

As an example of why this would be ideal if I have 14 incomplete DSM forms, right now, I have to go in to each to find out why they are incomplete it would be nice to have a column with "awaiting Kelly Botteron to score to enter data" and be able to 'tag' the person.

Right now, as we try and

[2019-08-20 19:48] LeighMac opened #5042 "Event timeline module in the life of a scanner"
Event timeline in the 'life of a scanner' module of sorts:
Things that could be logged there would be:
1) changes to the scanner (not appropriate for a caveat flag on a particular scan/candidate) - ie. 'gradient controller changed'
2) HC gets changed
3) New/different tech starts

[2019-08-20 19:51] cmadjar opened #5043 "patientNameRegex in Imaging Uploader"
This config setting exists in the PHP script of the Imaging Uploader but does not seem to be used. Investigate and remove it if not needed.

This came up as Mouna was documenting the imaging uploader Spec in this pull request:
https://github.com/aces/Loris/pull/3381

[2019-08-20 19:59] cmadjar opened #5044 "[New feature] Have a pop up message for multi-site users when creating a timepoint at a site other than the candidate site"
This came up by Dave as a feedback to the users being at multiple site.

The timepoint creation will now have a dropdown menu with the sites of the users (if more than 1), and if the timepoint center selected is not the same as the candidate center, then show a message to the user to this effect.

Adding this ticket for discussion:
(could be rejected if consensus is that it is not necessary to imp

[2019-08-20 20:00] cmadjar commented on #5044
@driusan @ridz1208 Copied this one from one of Mouna's redmine tickets. Not sure if this is still relevant. I will let you decide.

[2019-08-20 20:04] johnsaigle opened #5045 "[Login] Study Description should be Markdown and not HTML"
We shouldn't allow users to write their own HTML which is then rendered by the application.

Markdown should be used when there is a need for user's to create formatted text.

[2019-08-20 20:09] johnsaigle opened #5046 "Do front-end validation of file sizes (and reject when too big)"
When a user attempts to upload a file greater than a certain size, a sweet alert should be generated informing them that the file is too big and will be rejected.

[2019-08-20 20:10] cmadjar opened #5047 "[Brainbrowser] add permission check to view the file"
This was raised by Jordan at the Loris meeting of Feb 7, 2017 and raised again at the Imaging meeting of Feb 10, 2017:
Brainbrowser is currently accessible without permissions (if the user knows the URL and ID of the MINC file).

The solution proposed by Dave, and this applies not only to brainbrowser, but other modules such as the DQT is to implement permissions at the file retrieval level (`getf

[2019-08-20 20:11] cmadjar commented on #5047
@johnsaigle I know you worked on `getfile.php`. Do you know if this was done?

I copied over the redmine ticket created by Mouna on Github which is why this comes up (https://redmine.cbrain.mcgill.ca/issues/11966)

[2019-08-20 20:22] johnsaigle commented on #5047
There's no permission checks in the get_file class. Anything `lorisadmin` can access on the back-end can be accessed via typing in the correct path as long as it falls through the switch-case.

There is protection against path traversal (e.g. a user can't go grab /etc/passwd or sensitive files).

I'm not sure exactly what "at the file retrieval level " means. We don't have a layer in LORIS for our

[2019-08-20 20:25] cmadjar opened #5048 "[Server process manager] do NOT delete process files if exit code is not 0 for OTHER THAN MRI_Upload"
Based on the Loris Pull request meeting of Oct'14, 2016:

PR (https://github.com/aces/Loris/pull/2252) has been merged, but Dave thinks that any process (not just the MRI Upload) that runs the server_process_manager should keep the files if exit code is not 0 (please see comments on the pull request).
Decision was to merge the pull request as currently only imaging uploader uses this module, but i

[2019-08-20 20:34] cmadjar opened #5049 "MRI QC Scan Level Comments: Checkbox options should become "uncheckable" if the drop down menu option is set to "none""
If movement artifact is set to "None", the checkbox features should be greyed out, otherwise, we might have a QC Comment form with conflicting entries (check attached file: MovementArtefact_QCComments.png)

![MovementArtefact_QCComments](https://user-images.githubusercontent.com/1402456/63382242-4dc0b200-c368-11e9-9423-736117524f5a.png)

[2019-08-20 22:58] christinerogers opened #5050 "[install] add basic mkdir checks to install.sh"
Add a check to `tools/install.sh` so that if the roles (sudo/lorisadmin) are wrong, script will abort instead of giving a success message.
e.g. if `mkdir logs` failed, abort the script and tell the user.

[2019-08-20 23:11] #5050 closed

[2019-08-21 13:13] gdevenyi opened #5052 "shellcheck issues in shell scripts"
Shellcheck exposes a number of (possible) errors in shell scripts shipped with LORIS.

[code]

[2019-08-21 14:10] johnsaigle commented on #5052
Thanks for pointing these out. Some of these could indeed be errors.

I'll bring up the idea integrating this tool into our testing suite.

Until then though I think these won't be fixed, at least not the errors that are more opinionated rather than indicating bugs.

I'm a big fan of static analysis tools though so hopefully we can get this going on the repo. 👍

[2019-08-21 14:11] gdevenyi commented on #5052
I agree some are opinions, and some are to avoid corner cases, but as LORIS gets more users, there will be more corner cases, so avoiding them with good hygiene is a start.

Followup, updated to shellcheck 0.7:
[code]

[2019-08-21 14:35] cmadjar opened #5053 "[DQT] Remove null data from DQT for instruments not administered"
From redmine ticket https://redmine.cbrain.mcgill.ca/issues/6238. Not sure if still relevant.

When an instrument is not administered, an empty dataset still shows up when using the querying tool. We should update the DQT so only data for which an instrument with marked administration is included in the query.

[2019-08-21 14:45] johnsaigle commented on #5027
Did this happen while building your own instrument and clicking 'Save', or trying to load an instrument?

Can you also post the linst file generated?

[2019-08-21 14:49] johnsaigle commented on #2909
@cmadjar I just unassigned David B because he doesn't work here anymore... 😂

Just wanted to make a note that this still needs to be addressed at some point.

[2019-08-21 15:06] cmadjar opened #5054 "[Instrument list] visit window values not correct"
#### For IBIS:
Within Optimal and Within Permitted are always "No", even if the visit occurs within the desired window. This is a bug.

#### For CCNA:
This isn't a bug, but since visit windows are not relevant for CCNA (they don't have specific ages at which subjects must visit), it would be nice to have "not applicable" or "N/A" show up in the metadata table under Within Optimal and Within Permit

[2019-08-21 15:14] cmadjar opened #5055 "[Media] Content does not update after a new file is uploaded"
After uploading a file, going back to the browse tab does not refresh/reload the data with the uploaded file, and the page must be manually refreshed to load the new content. Similarly, when trying to upload the same content without refreshing the page it does not detect that the file has been already uploaded, and so does not prompt to confirm overwriting the file.

From redmine https://redmine.c

[2019-08-21 15:18] cmadjar opened #5056 "Multiple get Visit Label functions in Utility"
There are several function in Utility class that returns a list of Visit labels, we need to clean up the code and use one function.

From redmine https://redmine.cbrain.mcgill.ca/issues/4291

[2019-08-21 15:22] cmadjar commented on #2909
@johnsaigle lol. I'll give it a try if I have some time.

[2019-08-21 16:39] christinerogers commented on #5027
HI Corey - to followup on John's questiosn above -- can you include a screenshot from your data entry (for candID=448711 )

Could you also post the mysql table schema for this instrument - to show it was loaded successfully in your database.

[2019-08-21 16:39] ridz1208 commented on #5054
@cmadjar the most useful for CCNA is a feature where the optimal window is not determined by age but rather by time since last visit. the age is not a criteria but the visits must happen withing 3 months of each other. not sure if other projects have that need

[2019-08-21 17:07] johnsaigle opened #5057 "Change to UNIX file permissions on LORIS install"
I'm exploring creating a Debian package for LORIS and its error-checking tool reports that we are using "non-standard permissions" (according to their standard at least).

These include permissions such as `775` and `664`. Typically Linux permissions will be `755` and `644`.

From what I can tell, this is because we've proceeded with installation by asking users to create a `lorisadmin` user and t

[2019-08-21 18:19] coreyAbout commented on #5027
@johnsaigle The error does NOT occur when you are building the instrument and clicking save, or loading an instrument.
It happens after you installed the instrument to LORIS, set up projects & sub project, start the visit stage for the candidate, then filled out the instrument for a candidate, then click on save data for that candidate. Then check your apache2 error log.
Here is the linst file.

t

[2019-08-21 18:29] coreyAbout commented on #5027
@christinerogers
![Screenshot from 2019-08-21 14:22:21](https://user-images.githubusercontent.com/34487370/63457526-385a8f00-c41f-11e9-8689-27f9aa8c7528.png)

![Screenshot from 2019-08-21 14-25-26](https://user-images.githubusercontent.com/34487370/63457883-c6367a00-c41f-11e9-99d2-bea67517ed87.png)

[2019-08-21 18:46] coreyAbout commented on #4921
21.0 still does not have this feature.

[2019-08-21 18:54] coreyAbout commented on #5028
Thanks @zaliqarosli

[2019-08-21 19:34] SantiagoTG opened #5059 "Mac-Arthur Bates CDI Words and Gestures - Check version for Section F"
The examiner does not have a Section F on their physical form. but LORIS, in the Part II subpage, does. Could this be from a different version? Check with Leigh.

[2019-08-21 19:43] cmadjar opened #5061 "Data release reactification"
WIP

[2019-08-21 21:08] johnsaigle commented on #5059
I think this is IBIS specific and should probably go in that repo.

[2019-08-21 21:10] johnsaigle opened #5062 "Document Repository and Data Release should not store uploaded files in the codebase"
Right now both modules create a custom `user_uploads/` directory within the source code for user uploads. I don't think there is a good reason for this (but correct me if you know why this was done).

Other modules have a config setting like `$module_upload_path` which is customizable. This is preferable to having a hard-coded path, especially one that mixes user data with source code.

[2019-08-21 21:12] johnsaigle commented on #4070
Closing this in favour of the Project

[2019-08-21 21:12] #4070 closed

[2019-08-21 21:19] johnsaigle commented on #4394
This doesn't seem to be happening anymore so I'll close this.

[2019-08-21 21:19] #4394 closed

[2019-08-21 21:27] johnsaigle commented on #4475
PHPMD will be removed when the relevant phan rules are enabled

[2019-08-21 21:29] johnsaigle commented on #4303
This is resolved.

[2019-08-21 21:30] johnsaigle commented on #4209
I think this is probably addressed somewhere in the latest v21 release.

[2019-08-21 21:30] #4209 closed

[2019-08-21 21:40] johnsaigle opened #5063 "LORIS should start requiring PHP 7.3 on minor + bugfix (and 7.4 on major when it's out)"
PHP 7.4 comes out at the end of November 2019. At the same time, PHP 7.2 will no longer have active support.

https://www.php.net/supported-versions.php

On the major branch we should start using PHP 7.3 (and discontinue 7.2 testing) as well as enable PHP 7.4 testing on all branches once it's out.

Importantly, 7.4 will allow us to use strong types in PHP class variables.

Requiring all LORIS inst

[2019-08-22 15:23] #4842 closed

[2019-08-22 15:34] christinerogers commented on #5027
Thanks Corey.  Can you help us isolate if this is truly an issue with the 21 release, or with your form generation?   Please follow the instrument installation steps using our [bmi.linst](https://github.com/aces/Loris/tree/20.3-release/docs/instruments) from the *20.3* release branch (they've been moved in 21), and accompantyng bmi.score file.  Can you reproduce the error on this instrument?

[2019-08-22 15:59] ridz1208 opened #5064 "[Projects] Add project column to the test_battery table to be able to control which instruments get assigned by project"

[2019-08-22 16:08] SantiagoTG commented on #5059
Hi John,
Thanks for the comment. I am unable to find the IBIS repository, and not sure if there is one or how this has worked in the past. If possible, could you please point out for me where this repository is located? If there is no repository, how have IBIS specific issues been handled before (Should I create an IBIS specific label)?

[2019-08-22 16:10] LeighMac commented on #5059
Definitely IBIS specific.

L

Sent from my iPhone

[2019-08-22 16:11] LeighMac commented on #5059
I can show you at 2pm today if you are available, Santiago.

L

Sent from my iPhone

[2019-08-22 16:12] cmadjar commented on #5059
@SantiagoTG here is the URL for the IBIS repo. It is a private repo.

https://github.com/aces/IBIS

[2019-08-22 16:18] SantiagoTG commented on #5059
Yes, that would be great. I will hold creating any new issues until then (I
will still look through them in the meantime).

Thanks!!

On Thu, Aug 22, 2019 at 12:11 PM LeighMac <notifications@github.com> wrote:

[2019-08-22 16:47] coreyAbout commented on #5027
I do not think there is anything to do with BMI.linst. Whether BMI.linst will work or not have nothing to do with the issue. Even if BMI.linst is successful, it means, the issue is either 1. LORIS21.0 instrument generation error, or 2. the instrument installation error for simple instruments. This is not new information for this issue.
The issue is, using LORIS21.0, create a simple instrument, sav

[2019-08-22 19:53] #5059 closed

[2019-08-22 20:47] christinerogers commented on #4423
@AlexandraLivadas  to update this issue with "Last Day status: August 23" -- all testing PRs

[2019-08-22 22:31] zaliqarosli opened #5067 "Horizontal scrolling of DataTable breaks header/data alignment"
Horizontal scrolling of DataTable makes headers skip/misalign/wrong ones reappear on vertical scrolling

origin issue on redmine: https://redmine.cbrain.mcgill.ca/issues/14992
```when scrolling right followed by a scrolling down, table gets all funky (header row not aligned with data rows) (see screenshot 3) [Firefox and Safari] i.e. the headers jump back to all the way left```

[2019-08-22 22:57] zaliqarosli opened #5068 "Frozen headers scroll bar needs to be removed"
frozen headers have a scroll bar that scrolls through the headers, and not the data table rows of data

[2019-08-22 22:57] zaliqarosli commented on #5068
original redmine https://redmine.cbrain.mcgill.ca/issues/14227

[2019-08-22 23:05] zaliqarosli commented on #5067
edit:

[code]

this issue is linked to https://github.com/aces/Loris/issues/5068 and is fixed by https://github.com/aces/Loris/pull/5069

[2019-08-22 23:18] zaliqarosli opened #5070 "[Candidate_parameter/Configuration] Add configuration to add consent to DB on front-end"
Normalization of consent has recently been merged and with it a move of configurations from config.xml to the Configurations module.

At the moment, users will need to call an INSERT INTO statement in mySQL to add new consents to the `consent` table. We should configure this to be done on the front-use for better UX.

original redmine: https://redmine.cbrain.mcgill.ca/issues/14772

[2019-08-22 23:22] zaliqarosli opened #5071 "[DQT/CouchDB] Candidate/timepoint no longer in SQLDB present in DQT"
DQT still shows results for candidates and/or timepoints that are already deleted from mySQL even after running CouchDB_Import_Demographics.php script

*by 'delete' , it means hard delete, not inactive candidate*

original redmine: https://redmine.cbrain.mcgill.ca/issues/14118

[2019-08-22 23:26] zaliqarosli opened #5072 "[Data Table] Add column-sort indicators in column header"
up/down arrow icon marked on sorted column header

original redmine: https://redmine.cbrain.mcgill.ca/issues/14501

[2019-08-22 23:27] zaliqarosli opened #5073 "[Data Table] carousel edges: can they be more transparent, taking up less real estate?"
original redmine: https://redmine.cbrain.mcgill.ca/issues/14501

[2019-08-22 23:33] zaliqarosli commented on #5071
also related redmine, somewhat duplicate https://redmine.cbrain.mcgill.ca/issues/13967

[2019-08-22 23:36] zaliqarosli opened #5074 "BVL Feedback tables - scroll missing"
small bugs leftover from https://github.com/aces/Loris/pull/3715:

1. Add carousel to 'Open Thread Summary' table
2. Add horizontal scrolling to 'Feedback Threads' table

original redmine: https://redmine.cbrain.mcgill.ca/issues/15186

[2019-08-22 23:43] zaliqarosli opened #5075 "[mri_violations] data table bugs"
1. impossible to scroll to the right of the data table when the browser is smaller than the data table (jumps back to the left when scrolling to the right). Happens 9 times out of 10. [Chrome and sometimes Firefox]
2. same bug as describe above but for page MRI Protocol Violations, second data table [Chrome]

original redmine: https://redmine.cbrain.mcgill.ca/issues/14891

[2019-08-23 13:48] AlexandraLivadas commented on #4423
**Last Day Status: August 23**

Merged Testing PRs:

1. #4769 -- Breadcrumb.class.inc
2. #4840 -- BreadcrumbTrail.class.inc
3. #4861 -- Utility.class.inc
4. #4916 -- LorisForm.class.inc
5. #4936 -- Candidate.class.inc
6. #4979 -- User.class.inc
7. #4987 -- Settings.class.inc
8. #4988 -- Visit.class.inc, VisitController.class.inc
9. #5012 -- NDB_Config.class.inc

Other (mostly documentation related

[2019-08-23 15:04] SantiagoTG opened #5076 "[user_accounts] Convert site dropbox filter from select to multiselect"
In the user accounts module. currently you can only search for users by Site for one site. Results will display users with affiliations exclusively to the 1 site selected from the filter. It would be useful if users could select multiple sites from a multiselect in the case that they would like to search for users with numerous affiliations (for example, the 56 sites on CCNA).

This could be a use

[2019-08-23 15:13] SantiagoTG opened #5077 "Data Entry Breadcrumb - Redirects to Dashboard instead of Top page of instrument"
When within an instrument, if you click the title of the instrument (most recent breadcrumb), it should redirect to the Top page of the instrument, but instead redirects to the Dashboard.

[2019-08-23 16:18] SantiagoTG opened #5078 "[Media] Date Uploaded changes on update / edit, does not keep actual "Date Uploaded""
Date uploaded is changed to date of edit. Perhaps add "date modified" column?

https://redmine.cbrain.mcgill.ca/issues/13802

[2019-08-23 16:24] SantiagoTG opened #5079 "[Media] Update file does not refresh page or bring you to main Media page"
~If you hit the "Update file" button while editing an uploaded file, it does not refresh the page to confirm a successful update or send you to the main page.~

NEW ISSUE: see comment below

Related issue: https://github.com/aces/Loris/issues/5055

[2019-08-23 16:28] Jkat opened #5080 "[Instruments] Autosave forms"
Apparently this has something to do with caching the data locally

[2019-08-23 16:29] Jkat opened #5081 "[DQT] Design for non-visit specific data"
Data such as Gender is not tied to a specific visit. Are there plans to structure this sort of data in the DQT? Maybe something to think about/discuss.

[2019-08-23 16:48] PapillonMcGill opened #5082 "Visit normalization"
Complete Visit normalization:
- Create config entries to add/remove visits
- remove all visit_label fields and replace by VisitID
- add foreign keys to visits table

[2019-08-23 17:09] SantiagoTG opened #5083 "[Data Dictionary] - Search keyword filter does not return any rows for multiple words"
When filtering with Search keyword using multiple words, no results are returned. Also, search is very slow.

https://redmine.cbrain.mcgill.ca/issues/12910

[2019-08-23 17:50] SantiagoTG opened #5084 "Add options in Configuration to select whether or not EDC (if used) and/or DOB should be required fields"
Add options in Configuration to select whether or not EDC (if used) and/or DOB should be required fields (Make sure to add these options in both Project & Subproject sections of Config module)

https://redmine.cbrain.mcgill.ca/issues/14587

[2019-08-23 18:09] SantiagoTG opened #5085 "[Statistics] Add permission to statistics module to allow viewing of all pages across all sites without site affiliation"
Add permission to statistics module so that a user can be granted access to view all statistics pages without having all site affiliations (similar to "Across all sites access candidate profiles"). This permission should not be required to have access to the module, but without it, user should only see figures & candidate IDs for their site.

In 19.0, if a user has the 'data entry' permission and

[2019-08-23 18:10] SantiagoTG commented on #5085
https://github.com/aces/Loris/issues/2772

[2019-08-23 18:14] SantiagoTG opened #5086 "[Statistics] Hide other sites' data when viewing Demographics tab of Statistics module if not affiliated and do not have "access across sites" permission"
Can view other sites' data in Demographics tab of Statistics module even if not affiliated (see image).
Need separate permission to allow or restrict access to data from non-affiliated sites.
(Not an issue for IBIS but CCNA interested, other projects may find useful to have control).

![multi-centre_stats_permissions_issue-2018-02-14](https://user-images.githubusercontent.com/54332302/63614058-22c

[2019-08-23 18:19] SantiagoTG opened #5087 "[Statistics] Rename link in Behavioral statistics tab for clarity"
Please rename the link on the Behavioral Statistics tab of the Statistics module for clarity (see screenshot)

Current name: Click here for breakdown per participant

New name: Per Instrument Stats - All Sites

![Statistics_Bx-Tab_Rename-Link_2018-02-14](https://user-images.githubusercontent.com/54332302/63614428-0842f580-c5b1-11e9-9c8a-b99581766b09.jpg)

https://redmine.cbrain.mcgill.ca/issues/13

[2019-08-23 18:34] SantiagoTG opened #5088 "Change front-end display so users do not see modules for which they do not have any permissions (inconsistent display)"
If a user has no permissions relating to a given module (no view, no edit, no related permissions), they should not see that module in their drop-down menus.

Currently (test.loris.ca - version 18.03), it appears that this is the behavior for some modules, but not all (see screenshots).

Test: "Data Query Tool" under "Reports" menu is one module that remains visible in the menu despite removing pe

[2019-08-23 18:39] SantiagoTG commented on #5053
Related issue: https://redmine.cbrain.mcgill.ca/issues/13144

Have all fields populate "No Admin" in DQT instead of blanks when the instrument has been marked "Complete - None"

Please have DQT generate "No Admin" for all fields once an instrument has been marked Data Entry = Complete, Administration = None

[2019-08-23 18:58] samirdas opened #5090 "Create a front end module for the history table."
This is not urgent, but will come in handy for any clinical trials (Part 11 compliance)

[2019-08-23 19:00] samirdas opened #5091 "Add Electronic Signatures"

[2019-08-23 19:01] samirdas commented on #5091
This is also for Section 11 compliance. Adding this feature should be quite straightforward when editing fields once initially saved.

[2019-08-23 19:29] SantiagoTG opened #5092 "[DQT] Rendering issue with HTML UI elements of certain instruments"
DQT - Rendering issue with HTML UI elements of certain instruments (see image of frontend DQT display issues for example)

Not IBIS-specific.

Many more UI elements have been incorporated into instruments recently to help patients/parents filling them out directly, so the issue is now really glaring for certain instruments as it's almost every field broken on the front end.

![Bug_HTML_rendering_c

[2019-08-23 19:41] SantiagoTG opened #5093 "[bvl_feedback] no Field Names populate in drop-down menu when trying to add instrument-level feedback"
[bvl_feedback] no Field Names populate in drop-down menu when trying to add instrument-level feedback

(not an issue on IBIS prod and ibis-dev; issue on test-loris)

Issue on ibis-dev & test.loris during 20.0 release testing.
Sruthy has fixed it on ibis-dev by updating the Data Dictionary.

[2019-08-23 19:42] ridz1208 commented on #5090
@samirdas there might be a security concern with this one

@johnsaigle  ?

[2019-08-23 19:44] ridz1208 commented on #5092
My guess is that this is caused by your instrument fields containing HTML which is not recommended.

removing HTML and rerunning the data dictionary builder should fix the issue

[2019-08-23 20:45] ridz1208 opened #5094 "[Examiner] improvements and suggestions"
- Improve handling of users self-changing their names on Loris to automatically update the name of the examiner linked to that user

- improve UI for examiner status editing within the user_accounts module
  - change checkboxes to multiselect
  - change logic to look more like sites

- Add logic for instruments to only allow selection of examiners which are active without altering the value saved

[2019-08-23 20:54] ridz1208 opened #5095 "[core/sites] Additions to the `psc` sites table"
The following are proposed additions to the psc architecture
- active/inactive site
- scanning site flag
- recruitment site flag
- biobanking site flag

tables:
- psc_project_rel
- psc_subproject_rel

[2019-08-23 21:00] ridz1208 opened #5096 "[Tools] A data-integrity checker"
Untill all tables in the database are normalized, all foreign keys are created and all cascades properly defined, it would be useful to have a tool that simply crawls through a given LORIS database and reports any and all data inconsistencies such as:

- duplicated examiners (due to typos in names, double spacing in name, ...)
- non-jsondata instruments with no SQL tables associated
- jsondata ins

[2019-08-23 21:35] ridz1208 opened #5097 "[Dashboard] truncated site names in "incomplete tests""
When a user is affiliated with 30+ sites, as of the 30th the names of the sites are no longer displayed in the list

see image both the HTML and what it looks like

![Screenshot from 2019-08-23 17-34-41](https://user-images.githubusercontent.com/15268287/63625052-6f21d800-c5cc-11e9-8e38-31d7edd2bd83.png)

[2019-08-23 21:41] ridz1208 opened #5098 "[login] Redirect to last page when re-logging in after timeout"
When a user's session times out and they try to access a page through the URL or by simply refreshing their browser, they get a timeout error and get redirected to the login page but after logging in they have to navigate all the way back to where they were (often of 5 modules when doing data-entry)

Ideally the redirection would keep the old url and after logging in, the users would be redirected

[2019-08-24 16:49] LeighMac opened #5099 "Add Performance Log"
We need a way to determine if queries are slow or pages are taking a long time to load so we can investigate performance issues.

Either the database wrapper or main.php should store somewhere a log of queries that took longer than a certain amount of time so that we can figure out why and optimize them. We should also probably show recent performance issues to developers on the dashboard.

[2019-08-24 16:51] LeighMac opened #5100 "Warning when using 'back' button and unsaved data will be lost"
provide a warning when a user presses the back button if there's unsaved data. This would be a useful improvement

[2019-08-24 16:53] LeighMac opened #5101 "Add table comments to schema"
Some of the tables in the 0000-00-00-schema.sql file have comments attached to them. ie the comment on the history table is "This table keeps track of ongoing changes in the database.". Comments can also be attached to columns (not currently done anywhere) such that they show up in show full columns from $tblname or show create table.

We should add comments to all the tables and consider adding s

[2019-08-24 16:54] LeighMac opened #5102 "Create Update Log tab"
The main login page says "data was last updated on...".

It would be useful to have a tab where you can see a history of how many documents were updated/created and on which day (maybe with a graph similar using the same library as on the stats page), so that you can see a history of the data import scripts (and hopefully notice if something went wrong..)

[2019-08-24 16:55] LeighMac opened #5103 "Expand 'How to create Loris module' wiki"
How to make a LORIS module page should be expanded to cover the following parts of adding a new module to Loris:

JavaScript: use getJSDependencies() - see example in PR#1632 )
Add Permissions
Recommend View and Edit.
Consider site interactions: Should users only be able to see content from other sites if they have Access All Profiles permission?
How to modify hasAccess().
Add to the LorisMenu and

[2019-08-24 16:57] LeighMac opened #5104 "Form not set in new module structure"
Dave introduced new module structure in https://github.com/aces/Loris/pull/2166
The current version works in modules that don't actually use LorisForm data (i.e dicom_archive).

However, when trying to use new module structure in a module that relies on $this->form, I discovered that this var is not properly populated, hence breaks the module's formForm not set in new module structure

[2019-08-24 17:19] LeighMac opened #5105 "[instrument_list] jquery.dynamictable.js error"
The browser console shows an error when viewing the "TimePoint Details" in the instrument_list module.
The error is produced when the user scrolls down or up and causing the table header to move.

Error output: TypeError: undefined is not an object (evaluating '$(thead).offset().top') jquery.dynamictable.js:266

Observed in Loris version 20.0

[2019-08-25 16:52] christinerogers opened #5106 "[Statistics] Update blurb on front tab"
"MRI Statistics" tab is called "Imaging Statistics" (since 2017)
The front-tab text of the Stats module should also generally be simplified / updated.
from RM # 13142

[2019-08-25 16:56] christinerogers commented on #5033
This was originally reported in RM # 8461

[2019-08-25 17:01] christinerogers opened #5107 "[Config] Create sections/tabs for Add Subproejct and Add Project"
Currently these features are accessed by text with a link on it, printed at the top of the Config module.
This is inconsistent with the Config module layout and Loris user experience and are too easily overlooked / not visible enough to users.
from RM #9694

[2019-08-25 17:08] christinerogers opened #5108 "[ImgUploader] Add to Readme: Loris-MRI install is a pre-requisite to use this module"
The "Requirements" and or "Installation configuration" sections should:
- [ ] Mention expicitly that using this module requires setting up (and testing) the Loris-MRI  imaging pipeline setup.
- [ ] Add link to the Imaging installation guide/markdowns (in the Loris-MRI repo)

From RM 10346

[2019-08-26 12:35] christinerogers opened #5109 "[Documentation] Add support policy to Readmes (Ubuntu/CentOS install)"
Add the LORIS Support policy to both:
- [ ] main (Ubuntu) install readme
- [ ] CentOS install readme

And Remove from the wiki pages:
- [ ] [Updating your Loris](https://github.com/aces/Loris/wiki/Updating-your-LORIS)
- [ ]  [Setup](https://github.com/aces/Loris/wiki/Setup)

moved from RM 14480

[2019-08-26 12:57] christinerogers opened #5110 "[DocRepo] [Documentation] missing from Readme - My Preferences email/notifications"
Add to module readme for DocRepo:
This Readme should mention:
- [ ] My Preferences: "The history of Notifications from the Document Repository is visible in the My Preferences page.  The email address to which notifications on this module are sent is also stored in the My Preferences page."
- [ ] Opt-in/out, i.e. : Can users can opt in/out of Doc Repo notiications?  How?

Moved from RM 1191

[2019-08-26 12:59] christinerogers opened #5111 "DQT"

[2019-08-26 13:09] christinerogers commented on #5111
Demographics script `tools/CouchDB_Import_Demographics.php` loads the DQT with candidate data from all sites, including DCC.
This is not necessarily ideal default behaviour, and per Jordan's 2016 comments below, can be disk/time-costly to scrub after loading.

Suggested to-do:
- [ ] Make `--include-DCC` an input parameter for this script ; (if yes, add to initial query:   `WHERE... AND CenterID <>

[2019-08-26 13:19] christinerogers opened #5112 "[InstrumentList] "Send to DCC" action should trigger notification to Dashboard/email for site coordinator/DCC"
Feature request from Muhammad Khan (via loris-dev, 2017) and @LeighMac

When a visit is marked "Send to DCC": Notify study coordinator (and/or DCC staff) that the visit needs to be verified and approved.
- [ ] Add notification to the Dashboard for site coordinators and DCC staff
- [ ] Trigger email notification ; this should be optional; and it should be clearly documented how to opt in/out of the

[2019-08-26 13:28] christinerogers opened #5113 "[Core] Improving File Download for large files"
Opening a placeholder issue for this Roadmap item.
EEG, MRI download etc require a solution soon, beyond the reasonable size limits of http

This follows :
* RM 15081
* @johnsaigle 's responding PR #3881 ; requires discussion may be re-developed since John's #4181 is now merged.

[2019-08-26 14:31] SantiagoTG opened #5114 "[DQT] Autofills email address in 'Search within instrument""
The 'Search within instrument:' text box autofills email addresses when using the DQT. This autofilling removes all fields from being displayed in the DQT. In order to display fields, email has to be deleted, though often it autofills it again. We have to do this multiple time for each query.
Chrome Version 75.0.3770.100.
Issue both on MACs and PCs

[2019-08-26 14:32] xlecours opened #5115 "[Candidate_list] Latest Visit Status value is ambiguous"
In the candidate list query, `max(s.Current_stage) AS LatestVisitStatus` will return the the highest value amongst all session Current_stage for the candidate. The highest value is calculated alphabetically.

(enum('Not Started','Screening','Visit','Approval','Subject','Recycling Bin'))

So as long as any session Current_stage is 'Visit', the  LatestVisitStatus will always be 'Visit'.

[2019-08-26 14:43] sruthymathew123 opened #5116 "[Survey Module] Fix Repetitive messages in Review page"
The text 'Unanswered questions are highlighted in red' is repeated (once in a paragraph and again in a single line underneath
![Screenshot from 2017-06-05 10_36_45](https://user-images.githubusercontent.com/23702452/63699245-6e688c00-c7ee-11e9-9efc-f158cc7c9178.png)

[2019-08-26 14:49] sruthymathew123 opened #5117 "[Behaviour QC] Instrument Filter Not Holding the value once it is applied"
Instrument Filter  not holding/displaying the values once it is applied.

[2019-08-26 15:37] SantiagoTG opened #5119 "[Issue Tracker] Attach screenshots"
When creating or editing and issue, add the ability to attach screenshots.

https://redmine.cbrain.mcgill.ca/issues/11059

[2019-08-26 15:41] christinerogers opened #5120 "[tools] Update project statistics script"
the project stats script `generate_project_statistics_csv.php`, created to get numbers from other projects  :

- [ ] Print the $projectname in the csv output file : i.e. Move lines 23 and 24 down to 121, and prefix $projectname to $output_file
- [ ] Update email address to loris.info@mcin.ca (not exposed on the public listserv loris-dev@bic.mni.mcgill.ca )
- [ ] review for other updates since 2016

[2019-08-26 15:45] SantiagoTG opened #5121 "[Issue Tracker] Enable markup language in comments"
Enable comments to use markup

https://redmine.cbrain.mcgill.ca/issues/11055

[2019-08-26 15:59] SantiagoTG opened #5123 "[Help Editor] Add buttons to apply markdown in Help Editor + Preview Pane"
Please add buttons in Help Editor that apply markdown formatting for the user, as well as a preview pane that updates live (discourse forum style).

https://redmine.cbrain.mcgill.ca/issues/14210

[2019-08-26 16:08] SantiagoTG opened #5124 "[DQT] Filters - Project menu breaks if one of them has apostrophe in the title"
Project drop-down menu in the DQT filters tab is broken when title has apostrophe (see image)

Issue discovered on IBIS --> will be fixed on our end just by renaming the project as wasn't supposed to be named Down's Syndrome but Down Syndrome, so resolved without a fix to DQT for us. However, should change behaviour LORIS-wide to allow apostrophes in case future projects have one in their title.

[2019-08-26 16:09] kongtiaowang opened #5125 "[Configuration] recruitmentTarget should only input integer"
[Configuration] recruitmentTarget should only input integer, if not should show a check type message.
https://redmine.cbrain.mcgill.ca/issues/13114

[2019-08-26 16:20] #5119 closed, assigned to nobody

[2019-08-26 16:59] SantiagoTG opened #5127 "Ability to change the project of a candidate and track it in a table"
Modify candidate creation to make an entry in the candidate_project_rel table

Modify candidate_parameters to allow the change of a candidate to another project and track the change in the candidate_project_rel table.

CREATE TABLE candidate_project_rel (
    ID INT(11) unsigned NOT NULL AUTO_INCREMENT,
    CandID INT(6) unsigned NOT NULL,
    ProjectID INT(2) unsigned NOT NULL,
    StartDate DATE

[2019-08-26 17:10] kongtiaowang opened #5128 "Fixing PHP warning and notice for Tools script."
Fixing PHP warning and notice for Tools script.
https://redmine.cbrain.mcgill.ca/issues/14768

[2019-08-26 17:19] HenriRabalais opened #5130 "Config module - Phase 2 (Task #6495 from RM)"
(Issue created by Henri, Updated by @christinerogers)
Migrated from RM 6495 + 6316

- [ ] Make Config module style closer to Doc Repo, i.e. Accordion rather than subsections
- [ ] Use Recruitment target should be a switch (yes/no) plus (if Yes) a field to enter the target number - per (sub)project
For open science / data sharing Loris (not actively recruiting), the Recruitment target is irrelevant

[2019-08-26 17:28] SantiagoTG opened #5131 "[API] Create Candidate with Wrong Project returns 500"
When creating a candidate via the api using a project that doesn't exists gives the end user a 500 Internal Error. This should instead return a 400 Bad Request error.

https://redmine.cbrain.mcgill.ca/issues/12951

[2019-08-26 17:30] HenriRabalais opened #5132 "[Configuration] [Imaging Modules] - Fields are 'Auto-Saved' and can not be 'Reset'"
Deleted 'Imaging Browser Tabulated Scan Types' and 'Imaging Browser Links to Instruments'. Clicked 'Reset', but only the last field returned. Page was refreshed without submitting. The fields remained deleted.

deletion should wait for confirmation before taking effect.

Testing Process:
- Deleted 'Imaging Browser Tabulated Scan Types' and 'Imaging Browser Links to Instruments'.
- Clicked 'Reset'

[2019-08-26 17:32] HenriRabalais opened #5133 "[Configuration] [Study] - 'Instrument Resetting' Field Disappears"
Testing Process:
- Inputted random string into 'Instrument Resetting' Field.
- Pressed Submit
- Refreshed Page
- 'Instrument Resetting' Input Field disappeared.

This is likely caused by an invalid value for 'Instrument Resetting'. Validation should be applied so that no value that would break the field can be submitted.

[2019-08-26 17:36] HenriRabalais opened #5134 "[Media] Uploaded File does not display on Edit Page"
On the Edit page of the Media Module, the file that is being edited does not display in the 'Uploaded File' field. Although not part of the testing plan, this not appear to be normal behaviour. In the field should be displayed either a static element with the field name, or a downloadable link.

[2019-08-26 17:37] HenriRabalais opened #5135 "[Media] Upload Form Allows Selection of PSCIDs Without Any Recorded Visits."
The Media Module upload form allows the selection of PSCID's that have no Visits associated with them. Not only is this an inconvenient UI issue, but this also throws a proptype warning on the console, since the Visit Field is expecting an object filled with visits sent to it once a PSCID is selected. PSCID values should be filtered based on Visits before populating the PSCID field.

[2019-08-26 17:38] HenriRabalais opened #5136 "[Media] Testing Plan Says Instrument is Required field when it shouldn't be."
The instrument Field in the Upload Form of the Media Module is meant to be a required field, according to the testing plan. However, there is no front-end measure to prevent submission of the form without an instrument selected. A PR needs to be issued to fix this. Or, if the instrument field is not meant to be required, the documentation must change in the Media Module Testing plan.

[2019-08-26 19:20] SantiagoTG opened #5137 "[User accounts] Examiner name change results in new examiner"
If an examiner changes their name, a new examiner is created with the new name.
The old one should have been updated instead of a new one being created.

https://redmine.cbrain.mcgill.ca/issues/13307

[2019-08-26 20:07] SantiagoTG opened #5138 "[Conflict Resolver] Have flags matched for conflict resolver"
We need to ensure that flags (i.e. validity, admin) are compared for the conflict resolver.

https://redmine.cbrain.mcgill.ca/issues/4318

[2019-08-26 20:12] SantiagoTG opened #5139 "Add permission to view DOB"
Not everyone should have permission to view the DOB. We should create a permission that is specific to DOB and the default should be not to give that permission unless the person accessing the database requires the DOB and has ethics approval to view it.

https://redmine.cbrain.mcgill.ca/issues/4147

[2019-08-26 20:29] SantiagoTG opened #5141 "[URL] issue on timeout/log in"
Steps to recreate:
1. Logout from Loris
2. Access xxx.loris.ca/$MODULE$
3. When presented with login page, log in
4. Note that URL is now xxx.loris.ca/main.php?test_name=$MODULE$

The modules still work as intended but this does not seem like the intended use case to append that path to

https://redmine.cbrain.mcgill.ca/issues/13520

[2019-08-26 20:34] SantiagoTG opened #5142 "[New Profile] refreshing the page can cause multiple candidates to be created"
When PSCID is set to sequential or random:
Steps:
1. Go to new profile
2. Fill in details
3. Hit 'Create'
4. On confirmation page, refresh, and press continue if prompted

At this point 2 candidates have been made with the same DoB and other details, but with different IDs
If possible we shouldn't allow form resubmission, theres also no way this is useful because all of the candidates won't have t

[2019-08-26 20:38] SantiagoTG opened #5143 "[Timepoint List] Inactive tests still show up on timepoint instrument list"
Tests marked as inactive in the test_battery table are still showing up on candidate's batteries.

https://redmine.cbrain.mcgill.ca/issues/15168

[2019-08-26 21:12] SantiagoTG opened #5144 "[Behavioral Feedback] Display issues with long field names"
When feedback is provided for a given instrument for a field with a long name, the action tab overflows off the screen and closing threads becomes impossible from the front end
Proposition to move away from the table formats in BHV Feedback and instead render items in a collapsible list

https://redmine.cbrain.mcgill.ca/issues/14523

[2019-08-26 21:30] SantiagoTG opened #5145 "[Data Team helper] Cant get csv in data_team_helper"
In the data team helper you can't download the csv data

https://redmine.cbrain.mcgill.ca/issues/8356

[2019-08-26 21:56] SantiagoTG opened #5146 "[Timepoint List] Cannot see View/Edit Candidate Parameters & Create Timepoint buttons even with correct permissions"
When in timepoint_list, cannot see View/Edit Candidate Parameters & Create Timepoint buttons for candidates at other sites even with correct permissions (Across All Sites view candidates + Edit Candidates/Candidate Parameters). Adding highlander permission makes them appear but should not be required.

This was replicated on IBIS-dev, CCNA-dev and test.loris

Update by Xavier Lecours - There is no

[2019-08-26 21:58] SantiagoTG opened #5147 "[Behavioral Feedback] Cannot view existing feedback threads & Difficulty saving new feedback on test.loris (20.0)"
[bvl_feedback] Cannot view existing feedback threads & Difficulty saving new feedback on test.loris (20.0)

1. Cannot view threads of previously entered feedback either in the summary table or in the level-specific threads list at the bottom of the inline pane

2. When trying to enter new feedback (any level), if the Feedback Type menu is on the default "Input Errors", new thread does not save (Sa

[2019-08-27 02:38] christinerogers opened #5148 "[Start next stage] Reduce User Pain, hide screening, phase 1"
migrated from RM 15368
This a placeholder ticket for the UX group.

Screening stage is not used by any current or future internal projects.
Create Timepoint + Start Next Stage together require **6 clicks** and unclear navigation cues.

Users find it confusing and long.
To simplify asap, without changing back-end architecture / logic:

_ unless Config:UseScreening is true : _
- [ ]  Instrument List

[2019-08-27 02:40] christinerogers opened #5149 "[Create Timepoint] reduce user pain - go right to Start Next Stage"
migrated from RM 15638
See also: #5148

Make the Create_timepoint "Submit" button (if no errors) bring the user directly to the Start_next_stage page to input the visit date and cohort.
Mentioned by Meaghan for IBIS at the Loris meeting Nov.13, 2017

[2019-08-27 14:31] nicolasbrossard opened #5151 "Create link to DQT for any search result"
Any LORIS page that features a menu filter should have a link to the DQT. More specifically, this link would take you to the DQT right away, with a pre-populated filter and result format. This would allow easy cross-reference with other data, easy export, etc...

Original Redmine ticket: https://redmine.cbrain.mcgill.ca/issues/7625

[2019-08-27 15:31] ridz1208 opened #5152 "[DQT] Implement permissions on data access"
Users that have access to the DQT are not limited to the data of the sites and projects they belong to.

These permissions should be applied on data returned to the browser

Redmine: #10851

[2019-08-27 17:10] zaliqarosli opened #5153 "Gui tweaks: Change all fonts to main Loris font across modules"
General:
- font: Verdana -> Helvetica Neue in all css (consistency, cleaner e.g. DocRepo)

origin redmine: https://redmine.cbrain.mcgill.ca/issues/14499

[2019-08-27 17:12] zaliqarosli opened #5154 "Gui tweaks: clean up look of menu filters"
Menu Filters:
- inconsistent width/alignment: left edges of page titlebar, tab-rows, Selection Filter box, Results table (e.g. Stats/Conflict Resolver)
- active-tab names should be bolded (Stats, Conflict resolver)
- “pagination” links above Results table - can we make it look slicker? Given carousel, let's use something else for the prev/next page links instead of <>

parent task: https://redmine

[2019-08-27 17:17] zaliqarosli opened #5155 "[Statistics] vizualization of 4 levels of summary stats (concentric circles)"
from 'Stats Module suggestions from Leigh' https://redmine.cbrain.mcgill.ca/issues/7634

origin redmine: https://redmine.cbrain.mcgill.ca/issues/14503

[2019-08-27 17:20] zaliqarosli opened #5156 "[Statistics] add filter > visit label"
original redmine: https://redmine.cbrain.mcgill.ca/issues/14505

[2019-08-27 17:21] zaliqarosli opened #5157 "[Statistics] all tables should have filtering UI consistent with other modules"
origin redmine: https://redmine.cbrain.mcgill.ca/issues/14506

[2019-08-27 18:59] kongtiaowang opened #5158 "Install.sh - Unbound Variable errors in Bash scripts"
From the user's report.

[2019-08-27 20:28] kchatpar opened #5161 "[API] Examples in API Documentation"
In the [API documentation](https://github.com/aces/Loris/blob/master/docs/API/LorisRESTAPI.md) there are no code examples given for pulling data from Loris.

For example in section [1.1](https://github.com/aces/Loris/blob/master/docs/API/LorisRESTAPI.md#11-authentication) clients are supposed to write a POST request to get a token. For someone who only needs to pull data from, Loris it would be ni

[2019-08-28 14:32] nicolasbrossard opened #5162 "View Imaging Data Set button should not always be displayed"
The 'View Imaging Data' button should only be displayed on the Timepoint list page if the user has access to the imaging browser module (the exact rules will have to be determined). This would be consistent with the behaviours of buttons 'Create Time Point' and 'Edit Candidate Info', which are only displayed if the user has access to these features.

Original Redmine ticket: https://redmine.cbrain

[2019-08-28 14:37] nicolasbrossard opened #5163 "Improve error messages of ServerProcessesManager for the imaging uploader"
The exit codes of the imaging pipeline have been documented and centralized in a file in the LORIS-MRI codebase. The ServerProcessesManager page could be improved in order to benefit from this, printing a description for the exit code along with the exit code itself. Architecture/design TBD.

Original Redmine ticket: https://redmine.cbrain.mcgill.ca/issues/13941

[2019-08-28 14:39] nicolasbrossard opened #5164 "Imaging uploader - Incremental search in filter does not work"
Found on IBIS during version 20.0 tests:

1. Access the imaging uploader
2. Go to, say, page 6.
3. Try using the filter to search for a CandID that you know has a scan in the search table. It should return nothing. It is as if the incremental search only works when you are initially on page 1.

Original Redmine ticket: https://redmine.cbrain.mcgill.ca/issues/14925

[2019-08-28 14:41] nicolasbrossard opened #5165 "Access Profile - Sorting for column PSCID is flaky"
This was found during testing of IBIS 20.0 on IBIS staging:

I logged in as a user with all the permissions. When I accessed the candidate page and tried to sort the result table according to column PSCID, the three candidates with PSCID '0000', '1' and '2' were always the first three, irrespective of the sorting order.

Original Redmine ticket: https://redmine.cbrain.mcgill.ca/issues/15902

[2019-08-28 14:42] nicolasbrossard opened #5166 "MRI Protocol checks - Filter values not set properly"
I go to the MRI violations page and search for violations with type of problem set to 'Protocol Violations'. I click on one of the links in the search result table and I am taken to the MRI protocol checks page. The search results on that page are displayed properly but the values that are set in the filter are wrong: the patient name and DICOM series UID are OK but the Tarchive ID and CandID are

[2019-08-28 14:44] nicolasbrossard opened #5167 "MRI protocol checks - Edit of mri_protocol table not bulletproof"
When on the MRI protocol checks page, one can enter invalid values when editing the mri_protocol table: I was able to edit the ID of one of the lines and set it to an already existing ID (the system accepted the edit but silently set the new ID to 0...) I was also able to change the scan type ID value to a scan type ID that does not exist.

Original Redmine ticket: https://redmine.cbrain.mcgill.ca

[2019-08-28 14:45] nicolasbrossard opened #5168 "Configuration - Setting can be deleted without clicking 'Save'"
When a setting can have multiple values, you have to click 'Add' to add a new setting to the set but it will only be saved after you click 'Save'. When deleting, the delete occurs immediately without having to 'Save'. Inconsistent?

Found during testing of version 20.0 on IBIS stg.

Original Redmine ticket: https://redmine.cbrain.mcgill.ca/issues/15916

[2019-08-28 14:47] nicolasbrossard opened #5169 "Configuration - Setting in config.xml not shown"
When a boolean setting is set in config.xml, it is not displayed on the front-end of the config module. For example, I had useProject set to true and none of the radio buttons ('Yes' or 'No') were checked in the front-end.

Found during testing of version 20.0 on IBIS stg.

Original Redmine ticket: https://redmine.cbrain.mcgill.ca/issues/15917

[2019-08-28 15:15] SantiagoTG opened #5172 "[Issue Tracker] - Enter a ticket from within an instrument form."
Following the style of bvl feedback, have a slide-out panel that allows you to log a new issue directly from within an instrument.

https://redmine.cbrain.mcgill.ca/issues/11047

[2019-08-28 15:22] SantiagoTG opened #5173 "[Issue tracker] - Build "Related issues" algorithm"
Caitrin's plan was to use an ML/associative algorithm to detect "Related or similar tickets" based on search terms. Akin to Related issues on search bar on Github.

Implementation to be determined

https://redmine.cbrain.mcgill.ca/issues/11061

https://redmine.cbrain.mcgill.ca/issues/11064

[2019-08-28 15:29] SantiagoTG opened #5174 "[Issue Tracker] - Create Statistics tab"
Create a tab or module to see Issue tracker statistics.

https://redmine.cbrain.mcgill.ca/issues/11063

[2019-08-28 15:54] SantiagoTG opened #5175 "[Document Repository] Add functionality to re-order categories/subcategories"
Document repository - Add functionality to re-order categories/subcategories/files when desired

Current order defaults:
Categories = New appear at bottom of list
Subcategories = New appear at top of list
Files = Reverse alphabetical (Z-A from top down)
Add arrows or other method to allow user to change default order if needed (Ex. so they can: maintain things in alphabetical order, put important/

[2019-08-28 16:00] SantiagoTG opened #5176 "[Configuration] Should be able to assign a Project from the Subproject Configuration screen"
e Subproject Configuration screen should allow the user to select the Project it relates to.

We need a drop down box with the current list of Projects.

https://ibis-stg.loris.ca/configuration/subproject/

This will avoid having to do this extra step as mentioned in the help section.

Define all projectID-subprojectID relationships by populating the project_rel table, e.g.

INSERT INTO `project_r

[2019-08-28 16:16] SantiagoTG opened #5177 "[UI] UI Bug in lost_password.php page"
The 'navbar-brand' class exposes an faulty UI behaviour on lost_password.php. It has been tested both on my localhost and on the test.loris.ca VM (both Chrome and Firefox browsers). See attached images

![lostpass](https://user-images.githubusercontent.com/54332302/63873454-a2c67e80-c98d-11e9-806f-84fc19c26a90.png)
![lostpass2](https://user-images.githubusercontent.com/54332302/63873455-a2c67e80-c

[2019-08-28 16:20] SantiagoTG opened #5178 "[Instrument Manager] - Improvements"
When uploading *.linst file there is no user feedback, so it appears to user that nothing happened.
once instrument was installed: display a success message (might want to highlight the added row in instrument list table)
if existing instrument is added notify user instrument already exists
if invalid file format is uploaded display error message
Other issues:
cannot sort list of instruments by co

[2019-08-28 16:25] SantiagoTG opened #5179 "Add check for inactive candidates"
Leigh suggested a dashboard "widget" that suggests a candidate that should be marked inactive (i.e. hasn't had a visit in over a year) and asks the user if the candidate should be marked inactive or keep active (and leave a comment about why they should be kept active).

https://redmine.cbrain.mcgill.ca/issues/11162

[2019-08-28 16:27] SantiagoTG opened #5180 "[Genomic Browser] No data in GWAS, CNV, and Methylation tabs for testing"
There is no data in the GWAS, CNV, and Methylation tabs of the Genomic Browser.
We need to add data so that we can properly test these tabs (e.g. data filtering, data tables, data download)

https://redmine.cbrain.mcgill.ca/issues/14819

[2019-08-28 16:32] SantiagoTG opened #5181 "[20.0][Examiner] Table key is user's Full Name -- not case sensitive!"
This table data should be uniquely identified by username, and only by name if the examiner was added through the top left entry form.

Rida: in case of name duplication (regardless of casing), the examiners should be identifiable by a secondary unique entry (email maybe)

Related PR is closed: https://github.com/aces/Loris/pull/3744
Needs another solution.

https://redmine.cbrain.mcgill.ca/issues

[2019-08-28 16:33] zaliqarosli opened #5182 "[Statistics] MRI stats > dropdown for modality > fix bugs + multi-selectable"
original redmine: https://redmine.cbrain.mcgill.ca/issues/14507

[2019-08-28 16:34] zaliqarosli opened #5183 "[Statistics] data table > make it collapsible, more easily browsable"
original redmine: https://redmine.cbrain.mcgill.ca/issues/14508

[2019-08-28 16:36] zaliqarosli opened #5184 "[Statistics] Querying bugs"
- behavioural statistics: completion statistics count doesn’t look right - Still not resolved
- imaging statistics: Breakdown by scan type doesn't look right - Still not resolved

original redmine: https://redmine.cbrain.mcgill.ca/issues/14742

[2019-08-28 18:15] #5181 closed, assigned to kongtiaowang

[2019-08-28 18:16] SantiagoTG opened #5185 "[Help Editor] Put Last Updated date back at bottom of inline help pages"
Put Last Updated date updated back at bottom of inline help pages - No longer appears since switch to populate content from Git markdown files

https://redmine.cbrain.mcgill.ca/issues/14827

[2019-08-28 18:24] driusan opened #5186 ""make" (for production) should not run eslint"
eslint is a development tool for javascript. It should not be required when running "make" on a production server for the release.

[2019-08-29 00:08] ridz1208 opened #5187 "[Instruments] add next page functionality"
Some users including CCNA and TOSI would like to see a next page button on instruments to navigate across pages.

[2019-08-29 00:18] ridz1208 opened #5188 "[Core] Change occurrences of Visit to Timepoint or Session"
At a recent LORIS meeting a few terms used in LORIS were discussed and we generally agreed on the following 2 changes.

- Visit -> Timepoint: Predefined list of possible timepoints for data collection
- Visit -> session: List occurrences where a candidate participated in a data collection exercise whether its on site or through a survey.

The document with all terms discussed at the meeting  is ht

[2019-08-29 00:21] ridz1208 opened #5189 "[Core] Change occurrences of Candidate to Subject"
Discussed at a LORIS meeting and recorded . on the following document:
https://docs.google.com/spreadsheets/d/1RcmwEwVhyAbYiWygi98pR0orxSMbDU2Ag6gQ6sLhOus/edit#gid=0

The consensus was that the word Subject was more correct than Candidate

[2019-08-31 15:24] ridz1208 opened #5191 "[Visits] add a front end label for each visit to display in drop downs and timepoint list"
Visits currently only have "backend" names stored in either the config.xml or the new visits table. For a better UI it would be nice to associate them with "front end" labels  and display those instead

related to: https://github.com/aces/Loris/issues/5082

[2019-08-31 15:42] ridz1208 opened #5192 "[Visits] Move visits out of config.xml"
Currently the list of possible Visits is in the `Visit_Windows` table of the database and the relationship between subprojects and visits in  the `config.xml` file.

Ideally this information should be moved out of the config.xml and into the visits table. and the `visit_project_subproject_rel` table. To do so, all functions querying this information should be redirected to query it from SQL instea

[2019-08-31 15:46] ridz1208 opened #5193 "[Visits] Getting rid of the Visit_windows table"
The visit_windows table contains data that could be incorporated into the visit table of the database. this would allow us to then remove this table entirely

related to: https://github.com/aces/Loris/issues/5082

[2019-08-31 15:51] ridz1208 opened #5194 "[Visits] add Foreign keys to visit labels"
Many places in LORIS code and database refer to `visit_labels` all these occurences should be changed to refer to a `VisitID` or a `VisitName` that is a reference to either the `ID` field of the `Visit` table or the `Name` field respectively.

I would suggest transforming all the `visit_label`s to `VisitID` but if the group afgrees on keeping visit_labels and simply adding a reference to the `Name

[2019-09-03 16:04] christinerogers opened #5196 "[dataquery, surveyaccounts] Fix/restore module Readmes"
PR #3437 erroneously moved 2 module specs under the help directory.
To correct:
* dataquery
- [x] modules/dataquery/help/dataquery.md should be moved(&renamed) modules/dataquery/README.md - see #5206
- [x] Restore the old Help text (and check for updates) - see #3390 for modules/dataquery/help/dataquery.md (PR sent: #5200)

* survey accounts
- [x]  Remove [modules/survey_accounts/help/survey_accou

[2019-09-03 17:18] christinerogers opened #5197 "[install] tell users to run make in Readme, update wiki"
per LORIS meeting discussion today:
To install LORIS 21+, `make` needs to be run -- one way for dev installs, another way for production installs.
To do:
- [x] update the main Readme.md (Ubuntu) and the CentOS Readme on `bugfix` (#5203)
- [x] Update wiki install in depth : add make command(s) at the end
- [x] Update wiki install in brief : add/mention make command(s) at the end

(#5195 added and c

[2019-09-03 18:54] christinerogers commented on #3313
@johnsaigle can this issue be updated or closed?
(Per LORIS meeting today, we don't support vagrant but would like to suggest a path for those looking to test it)

[2019-09-06 19:34] #5028 closed

[2019-09-09 15:07] johnsaigle commented on #5113
I'm planning to do a rewrite of #3881 now that #4181 is merged. Since the file downloader is like the "mirror image" of the uploader, I wanted to make sure that both were as similar as possible. Since the Uploader approach has been approved and is functional, I'll resume work on the Downloader shortly.

[2019-09-09 15:09] johnsaigle commented on #3313
I can re-test shortly. Is the idea to keep the Vagrant file in the repo even though we're not supporting it?

[2019-09-09 15:14] johnsaigle commented on #5090
It could maybe be done using a whitelist approach. If we only allow some known safe information - e.g. which user changed the state of some flag - then we could populate only that data.

It would be tricky though as the others mentioned because the info in the history table is meant to be accessed only by developers with full system access on a server where LORIS is installed. If this information

[2019-09-09 15:18] #4423 closed

[2019-09-09 15:32] driusan commented on #3313
I have no problem with removing it if no one is going to maintain it.

[2019-09-09 15:37] johnsaigle commented on #3313
Agreed

[2019-09-09 16:29] johnsaigle commented on #5158
Is this resolved?

[2019-09-09 16:33] johnsaigle commented on #5141
I don't think LORIS behaves this way anymore. This is what happens when I try the above.

1. Logout from LORIS
2. Access xxx.loris.ca/$MODULE$
3. 403 Response with link back to login page
4. Login
5. I am directed to the dashboard with `https://jsaigle-dev.loris.ca` and no params afterward.

[2019-09-09 16:33] #5141 closed

[2019-09-09 16:36] johnsaigle opened #5209 "CONTRIBUTING.md should tell devs not to create branches on the main repo (and to use a fork instead)"
This is undocumented official policy.

[2019-09-09 16:42] johnsaigle commented on #5128
You mean for all the tool scripts?

[2019-09-09 16:48] johnsaigle commented on #5178
I believe this is resolved by #4181 and Reactification.

[2019-09-09 16:48] #5178 closed

[2019-09-09 23:22] christinerogers opened #5211 "[Documentation] Update Help text for release 21"
Placeholder ticket for Google Season of Docs technical writer @knoll-alex
To do :
* Develop a plan: Triage, prioritize, and update Help text markdowns across modules
* Apply consistent formatting, simplify content and clarify the voice where possible
* Update content for release 21 e.g. reactified modules no longer have "Show Data" button
* Identify/assign reviewers to each
* Test the Help Editor

[2019-09-10 01:47] maltheism opened #5212 "[Dashboard] make module use react"
Redmine: https://redmine.cbrain.mcgill.ca/issues/16245

Description:
Dashboard needs to remove Smarty and replace with React.

#4465

[2019-09-10 01:49] maltheism opened #5213 "[Configuration] module rewrite with react"
Redmine: https://redmine.cbrain.mcgill.ca/issues/16158

**Description:**
The configuration module needs to be rewritten to use react.

[2019-09-10 01:50] maltheism opened #5214 "[login] module rewrite with react"
Redmine: https://redmine.cbrain.mcgill.ca/issues/16050

**Description:**
Make the login form use react instead of smarty.

#4395

[2019-09-10 01:52] maltheism opened #5215 "[create_timepoint] module rewrite with react"
Redmine: https://redmine.cbrain.mcgill.ca/issues/16008

**Description:**
Updating create_timepoint module to react.

#4358

[2019-09-10 01:53] maltheism opened #5216 "[Acknowledgements] module rewrite with react"
Redmine: https://redmine.cbrain.mcgill.ca/issues/15236

**Description:**
Convert Acknowledgements module to react.

[2019-09-10 01:55] maltheism opened #5217 "[Loris-Menu] rewrite menu to use react"
Redmine: https://redmine.cbrain.mcgill.ca/issues/15120

**Description:**
The current menu is built with the smarty template engine and the goal is to depreciate smarty completely.

[2019-09-10 07:58] samirdas commented on #5090
Good point. Let's discuss at the roadmap meeting, next week.

[2019-09-10 12:57] christinerogers commented on #5090
For the roadmap meeting -- what is stored in our History table doesn't satisfy compliance for clinical trials.   @samirdas i can remind you later.

[2019-09-10 14:12] racostas opened #5218 "Create user UI not showing mandatory fields."
Hi Loris team,

This is a minor issue I think could be quickly solved as it is properly addressed in other modules.

**Description:**
When creating a new user the mandatory fields are not explicitly highlighted. Please see the image attached. I do notice that in other modules (create candidate for example) this was already addressed. It will be very nice if this 'feature' could be included on this

[2019-09-10 16:07] johnsaigle commented on #5114
Thanks for the bug report. We should disable autofilling for these inputs.

In the meantime, you could consider disabling Chrome's autofill feature while entering DQT information: https://support.iclasspro.com/hc/en-us/articles/218569268-How-to-Disable-and-Clear-AutoFill-Info-in-your-Browser

Working in a private browser session will also prevent this from happening.

This is an imperfect solution

[2019-09-11 16:38] zaliqarosli commented on #5211
issue for tracking: create help text for survey_accounts module as a result of this https://github.com/aces/Loris/pull/5207

[2019-09-12 18:37] maltheism opened #5223 "[Feature] Support international languages in LORIS"
### Feature Suggestion (Multiple Languages Support)

The [react-intl](https://github.com/formatjs/react-intl) would help with the task of making the user interface in LORIS have multiple language support.

Every LORIS frontend module in react will need to be wrapped by the component:
`
<IntlProvider
                locale={languageKey}
                defaultLocale={defaultLanguage}

[2019-09-16 17:00] johnsaigle opened #5227 "Remove user-generated PSCID structure?"
There's a note in Utility about removing user-generated PSCIDs.

https://github.com/aces/Loris/blob/5aa861f791f6fb68c835c5a17b5e1564b0e40240/php/libraries/Utility.class.inc#L297-L311

Is this something that projects are using? If not, can we delete it?

[2019-09-16 17:16] christinerogers commented on #5227
I'd down-vote this.  It runs counter to many studies' actual workflow.  Subjects almost always have an internal ID informally assigned before they're registered in LORIS, because the order of registration in LORIS is not the same as the intake order (i.e. when recruiting/recording their name, phone, etc).
This is because LORIS input often happens only when a scheduled visit/timepoint is imminent,

[2019-09-16 17:24] driusan commented on #5227
@johnsaigle you're the one who added that note in 31dacf4e10

[2019-09-16 17:29] johnsaigle commented on #5227
@driusan That's how Git lays it out but if you dig a little that attribution goes to a PR containing a commit written by Justin Ng (and also @zaliqarosli). I think I just made the PR off of someone else's branch.

Do you have any idea why that note was referring to? Is this something we want to keep in LORIS?

[2019-09-16 17:48] driusan commented on #5227
I don't know what the note is referring to. @ridz1208 do you? You commented on the PR that @johnsaigle linked to above.

[2019-09-16 17:54] driusan commented on #5227
I sent a PR to just remove the note unless we come up with someone who knows what it's talking about.

[2019-09-16 17:58] ridz1208 commented on #5227
@driusan I didnt comment on that part. I understand it as, this is necessary only for usergenerated PSCIDs. but it does make it sound like the goal is to remove that feature and I dont think we should.

Maybe we should move it to the PSCID class when It gets created ?

[2019-09-16 18:00] driusan commented on #5227
Why would the note be less confusing in the theoretical PSCID class?

[2019-09-16 19:34] zaliqarosli commented on #5227
@johnsaigle my name's only on there because I rebased for you. but looks like the line came from https://github.com/aces/Loris/pull/2889/files

[2019-09-16 19:35] driusan commented on #5227
So far we're still batting .000 for people who understand what the note is referring to..

[2019-09-16 19:38] zaliqarosli commented on #5227
lol if we have no plans to remove user-generated PSCID support, then we should probably just delete the note

[2019-09-16 19:47] johnsaigle commented on #5227
Closing this and #5229 removes the note.

[2019-09-16 19:47] #5227 closed

[2019-09-18 00:35] christinerogers commented on #5196
@knoll-alex Could you update the top description of this issue anytime Wednesday? thanks!

[2019-09-18 20:13] johnsaigle opened #5232 "toArray() function in Images.php under API should not return a ResponseInterface"
_Originally posted by @driusan in https://github.com/aces/Loris/pull/4914#discussion_r317766347_

[2019-09-20 20:38] cmadjar opened #5235 "[API] Have the EEG queryable via the API"
Need to modify the API to be able to query electrophysiology datasets.

[2019-09-20 20:38] cmadjar commented on #5235
@xlecours maybe we could meet some time next week or the week after to see what would need to be done for this?

Thanks!

[2019-09-23 14:14] xlecours commented on #5235
@cmadjar The obvious answer would be : "The same way it is done in the EEG module ( #5230 )"
Let's have a quick chat about it.

[2019-09-23 17:17] johnsaigle commented on #5062
#5234 adds a new upload path for Document Repository.

[2019-09-23 18:48] johnsaigle commented on #3314
#4411 was just merged for upcoming LORIS v. 22

Essentially all we need now is a visual indicator of password strength on the front-end.

Here's the list, updated again:

- [x] Passwords must be at least 8 characters long
- [x] Randomly generated tokens must be at least 6 characters long
- [x] Must compare passwords against a blacklist of known passwords when changing
     (examples of blacklists

[2019-09-23 18:58] gdevenyi commented on #3314
https://github.com/dropbox/zxcvbn

[2019-09-23 19:38] johnsaigle commented on #3314
We're using Zxcvbn on the back-end as of the PR I linked, but not yet in the front-end.

[2019-09-24 02:39] christinerogers opened #5241 "[docs][GoogleSoD] Update Help text : Phase 1"
Phase 1 of updating all the Help text (#5211) : High priority edits/updates:
     * All changes should be made to the `minor` branch (TBC w Rida)
     * recommended to do 1 PR per file/module for `a`/`b` so you can assign individual (module-expert) reviewers
      * Point `d` (and maybe `c`) might be postponed phase 2, because changes across many modules can be painful to review/rebase/merge.

Tip

[2019-09-24 16:25] johnsaigle commented on #5138
@xlecours Does this relate at all to #5140?

[2019-09-24 16:29] johnsaigle commented on #5131
@xlecours Do you know if this is still the case as of #4244 ?

[2019-09-24 18:48] xlecours commented on #5138
@johnsaigle From the exhaustive description, I would guess that the issue relates to `php/libraries/ConflictDetector.class.inc`
I think that instruments flags should be compared between the standard and DDE instances and add a conflict when a discrepancy is detected.

[2019-09-24 19:07] xlecours commented on #5131
It will be fix when https://github.com/aces/Loris/pull/4244 gets merged. The create candidate endpoints is still in htdocs on minor.
The new error is :
HTTP 1.1 400 Bad Request
`{"error":"No project named: $projectname"}`

[2019-09-24 19:59] maltheism opened #5244 "[tools/install.sh] not working like before"
I've been using the tools/install.sh to generate the config.xml inside the project directory.

Changes have been made to install.sh and now the script will stop before making the config.xml file unlike before.

Basically if a "user_uploads" directory already exists and this can be in the document_repository or the data_release module. I would prefer the script to just skip the create directory com

[2019-09-24 20:22] johnsaigle commented on #5244
Related-ish: #5062

[2019-09-24 20:30] johnsaigle commented on #5244
Opened #5245 to address this.

I'm confused about where your config file went though. Why do you need to regenerate it?

[2019-09-24 20:38] johnsaigle commented on #3844
@xlecours Do you know whether these issues are addressed by your changes to the API?

[2019-09-24 20:56] maltheism commented on #5244
@johnsaigle I usually delete project and then run the install.sh before the install

[2019-09-24 22:15] christinerogers commented on #5244
Why do you need to regenerate it though?  e.g. Are you working on a cloned VM?

[2019-09-24 22:18] christinerogers commented on #5196
closing this issue because the PRs are likely to get merged in the next week. 👍

[2019-09-24 22:18] #5196 closed

[2019-09-25 15:56] #4647 closed

[2019-09-26 19:48] #5244 closed

[2019-09-26 20:13] coreyAbout opened #5250 "Add install make, npm to LORIS 21.0 installation documentation."
Installing Loris in Depth:
Running the Install Script section
step 9: `Run make (for production instances) or make dev (for development sandboxes)`
Problems:
1. Run make requires `sudo apt install make` first
2. Run make requires `sudo apt install npm' first
3. make command need to be run under loris instead of under loris/tools

[2019-09-26 20:29] christinerogers commented on #5250
Thanks @coreyAbout  - Is `sudo` really required?

we're debating it in the #5203 comments.

cc @kongtiaowang

To do:
- [ ] add these points into #5203

[2019-09-26 20:41] coreyAbout commented on #5250
@christinerogers
Ubuntu16
I think install most of, if not any, software through apt would need sudo. If I'm wrong please correct me.

[2019-09-30 19:05] johnsaigle commented on #5250
Right now we don't go "in depth" into how to get the LORIS system dependencies installed, including PHP, Apache, MariaDB/MySQL, Composer, and npm. We also don't describe how to install `apt` package such as `zip`, `make`, etc.

The process of getting an environment ready to run software is referred to as "bootstrapping" and there are many approach to this, such as containerization (e.g. Docker, Va

[2019-09-30 19:21] driusan commented on #4295
Fixed by #4350

[2019-09-30 19:21] #4295 closed

[2019-09-30 21:43] johnsaigle commented on #4196
Pull request #5242 has a proof-of-concept set up for ReadTheDocs. It allows us to import our existing Markdown files into their service so that they render nicely.

[2019-10-01 01:21] gdevenyi commented on #4196
The wiki is version controlled... https://github.com/aces/Loris.wiki.git

[2019-10-01 17:48] johnsaigle commented on #5218
I think this module isn't yet Reactified and so doing the field highlighting may not be possible until after that point.

[2019-10-01 17:48] johnsaigle commented on #5090
@driusan @ridz1208 Was there any progress on this during the roadmap meeting?

[2019-10-01 18:24] johnsaigle opened #5255 "Create tool to refresh Raisinbread data"
The tool should flush current database data and then run the commands in the `raisinbread/README.md`:

First:

[code]

and then:

[code]

Finally, the user should be prompted for the `url` and `host` Config settings in case they need to be changed from the default `localhost`.

This could also chain with `tools/resetpassword.php` so that the `admin` password must be changed from the default.

[2019-10-01 22:24] ridz1208 commented on #5255
@johnsaigle  hacktoberfest ?

[2019-10-01 22:28] ridz1208 commented on #5090
no, it was not brought up.

It's tricky that is on the back-burner for now

[2019-10-01 23:40] johnsaigle commented on #5255
I think I'm gonna take this one actually.

[2019-10-02 14:37] coreyAbout commented on #5250
@johnsaigle Thanks for the comment. Right now we DO have guidelines on how to get LORIS system dependencies installed. Check it out here: https://github.com/aces/Loris/wiki/Installing-Loris-in-Depth#getting-prerequisites
All those are how to install dependencies and are well documented, except for the make and npm.
Anyway, you have a nice idea to have bootstraps packed up there.

[2019-10-02 15:19] johnsaigle commented on #5250
You're right, there is that Wiki page. It's incomplete though, and out of date as you've noted.

[2019-10-02 16:03] johnsaigle opened #5259 "Add bullet points to React Markdown rendering in LORIS"
@knoll-alex

No, at this time only a subset of Markdown works within LORIS:

https://github.com/aces/Loris/blob/3d6d2a060e349b34093146134e13caff440747e3/jsx/Markdown.js#L7-L12

So it looks like we don't support formatted bullet points at this time.

I'll create a new issue proposing that we add bullet points. I think it would be useful.

_Originally posted by @johnsaigle in https://github.com/aces

[2019-10-02 18:12] maltheism opened #5262 "[tools/install.sh] broken on macOS"
Latest changes to the install.sh script on minor has broken the script on macOS.

Output after running the script:

[2019-10-02 18:59] johnsaigle commented on #5262
Since which change? `hostnamectl` has been used since January in #4113. Before that was `lsb_release` for 5 years (#1025) which also doesn't exist on macOS.

It's possible that the fall through case doesn't work anymore?

[2019-10-02 21:53] maltheism commented on #5262
@johnsaigle I'm guessing the fail through case isn't working anymore.

[2019-10-02 23:02] johnsaigle commented on #5262
Fixed by #5204.

Otherwise not sure.

[2019-10-03 13:20] ridz1208 opened #5267 "Add variable in the config table to indicate if the instance of LORIs is DEV, STG or PROD"
I think it would be useful to set-up a variable in the Config tables to track which environment we are dealing with.

Some tools/scripts are meant to be run only on PROD others are dangerous to run on PROD (deletions and other). we can in these scripts/tools check for the type on environment and abort the operation if its not the correct place

[2019-10-03 13:20] ridz1208 commented on #5267
Got the idea from https://github.com/aces/Loris/pull/5260

[2019-10-03 13:55] driusan commented on #5267
I don't like this idea because the variable would get overwritten with the wrong value when taking a dump of production and putting it on staging/dev. It would be better to put it in config.xml, where it doesn't get overwritten... and on that note, what's wrong with the `<sandbox>` tag that already exists it config.xml?

[2019-10-03 14:05] ridz1208 commented on #5267
You'r right, config.xml is a good place for it.

I'm not sure of the role of the existing sandbox flag. But I prefer having an explicit production/development flag. is there documentation anywhere about the role of the sandbox boolean ?

[2019-10-03 14:10] driusan commented on #5267
it's currently very lightly used.. I think it only affects a couple unit tests and whether " : DEV" shows up in header, but there's no reason it can't be used more.

[2019-10-03 14:18] ridz1208 commented on #5267
I'm okai with that, closing ticket

[2019-10-03 14:18] #5267 closed

[2019-10-03 15:08] PapillonMcGill opened #5268 "PSCID generation not supporting `static` anymore"
new code for generating PSCID do not include option for `static`
[code]

[2019-10-03 18:25] #5209 closed

[2019-10-04 15:24] johnsaigle opened #5273 "All pages should return an explicit content-type header"
@johnsaigle why would it return a 401 if the handle method of the page didn't add a Content-Type header?

The problem when I tried only decorating pages that have a content-type of text/html when originally writing the Middleware was that 90% of the pages don't add an explicit content-type because it wasn't required before. I suspect this that's still the case because no one's made an effort to fi

[2019-10-04 15:28] johnsaigle commented on #5268
https://github.com/aces/Loris/blob/1c3949246482a44dec96382941004398b7cb8e39/php/libraries/SiteIDGenerator.php#L200-L221

Can you provide a more detailed bug report?

[2019-10-05 18:59] johnsaigle opened #5282 "Create unit tests for PSCID generation methods"
At some point we should make sure to write unit tests to cover each of the PSCID generation methods.

_Originally posted by @johnsaigle in https://github.com/aces/Loris/pull/5281#issuecomment-538679133_

[2019-10-07 15:31] maltheism commented on #5262
@johnsaigle I just checked out her PR and I'm still getting the error:

I'll see if I can find a workaround for a fix.

[2019-10-07 15:55] johnsaigle commented on #5262
Yes that error still exists because `hostnamectl` is not a program that exists in macOS. It should fix what I quoted about your IDE warnings.

[2019-10-07 20:38] SantiagoTG opened #5289 "[Dashboard] Investigate discrepancies for total displayed for "Incomplete Forms" and "Violated Scans" in Dashboard"
Please investigate discrepancies found in dashboard display for Incomplete Forms and MRI Violation.

Violated scans - Total displayed 10,828. Total in MRI Violated Scans module = 16,834, minus 5,953 for phantom scans, minus 32 for non-phantom DCC entries = 10,859. Unsure of where difference of 31 scans is coming from.

Migrated from: https://redmine.cbrain.mcgill.ca/issues/14106

[2019-10-08 02:36] #5268 closed

[2019-10-08 02:38] johnsaigle opened #5292 "Move CandID and PSCID generation options from config.xml to the Configuration module"

[2019-10-08 13:18] ridz1208 commented on #5292
+1

[2019-10-08 14:03] johnsaigle opened #5293 "Improve Unicode support"
LORIS requires bits of cleanup in numerous places in order to properly support UTF-8/Unicode.

Here's a list of things that need to be done. I'm not an expert on this so this list is probably not exhaustive. Please comment with further tasks if you can think of some.

### PHP

* Change string functions to their `mb_*` variants, e.g.
    * `strpos()` --> `mb_strpos()`
    * `strlen()` --> `mb_strle

[2019-10-08 14:59] johnsaigle opened #5294 "Remove cat command in raisinbread README"
Done, thanks!

It turns out that `cat`-ing the files together makes everything WAY slower, like several minutes on my VM.

The for loop executes in a few seconds though.

We should consider just recommending the for loop method in the README since it also gives error handling in addition to being faster.

_Originally posted by @johnsaigle in https://github.com/aces/Loris/pull/5260_

[2019-10-08 16:49] johnsaigle commented on #5294
As we talked about in person I think it's because each and every line from the SQL files must be `cat`-ed together in memory and that takes a really long time.

If you test #5260 you'll see that it's much faster and it uses the for loop method instead.

[2019-10-08 17:02] johnsaigle opened #5296 "Install script should check Apache PHP version, not CLI PHP version"
This may be a weak way to test the PHP version given that the CLI version of PHP can differ from the version Apache is configured to run with.

Not blocking this PR but I'm going to create an issue so that someone creates a more robust test in the future.

_Originally posted by @johnsaigle in https://github.com/aces/Loris/pull/5205/review_comment/create_

[2019-10-08 18:31] johnsaigle opened #5297 "On The Subject of Sudo -- a brief essay discussing UNIX permissions for LORIS"
There has been a lot of discussion across various pull requests on the subject of `sudo` in LORIS, specifically during the install process.

Since the conversation is getting a little lost within the PR threads and somewhat hidden as new commits get added, I thought it would be best to summarize what's going on here.

### Sudo and why to avoid it

* This command originally stood for "superuser do"

[2019-10-08 19:07] johnsaigle commented on #5003
Using DateTime also allows us to get safe behaviour when comparing dates. By contrast, string comparison can give odd results:

[code]

returns: `12-1-12 is older than 2011-10-12` which is not what you'd expect.

see: https://en.code-bude.net/2013/12/17/how-to-compare-dates-in-php/

[2019-10-08 19:11] johnsaigle commented on #5293
Related: #3314. Our passwords should support Unicode but right now it's unknown whether they do.

[2019-10-08 19:16] johnsaigle opened #5298 "Do not use "which" program to locate installed executables"
Apparently `which` is non-standard and not a great way to figure out whether a program is installed.

Instead, `type` or `command -v` can be used since they are builtin programs. They will return successful exit codes when a command resolves to a path and `1` otherwise.

I think the only occurrences of this are in `install.sh` as well as the bootstrap script in #4365.

[2019-10-08 20:44] johnsaigle commented on #5294
Nevermind I was wrong, my script wasn't working 😅

[2019-10-08 20:44] #5294 closed

[2019-10-08 20:51] #5262 closed

[2019-10-08 21:01] johnsaigle commented on #5100
@HenriRabalais You have something like this for the biobank right?

[2019-10-08 21:06] johnsaigle commented on #5091
Updating this with @zaliqarosli's list from the LORIS meeting agenda

[ZR] Digital signatures - [Part 11 compliance](https://www.fda.gov/regulatory-information/search-fda-guidance-documents/part-11-electronic-records-electronic-signatures-scope-and-application) follow-up:
* Signed electronic records for instruments:
    * Printed name, Date and time
    * Meaning for change (reviewing, approving,

[2019-10-08 21:10] johnsaigle commented on #5083
I'm not able to reproduce this on Raisinbread.

My steps:

1. Freshly install Raisinbread
2. Go to data dictionary
3. Type "Comments about" in the `Search keyword` field
4. Data filters correctly.

<img width="1372" alt="Screen Shot 2019-10-08 at 17 09 52" src="https://user-images.githubusercontent.com/4022790/66433525-7b33ee80-e9ee-11e9-8b52-34d1945d20aa.png">

[2019-10-08 21:12] johnsaigle commented on #5064
Should be solved by #5271 once merged.

[2019-10-08 21:15] johnsaigle commented on #5032
This feels similar to #5256. Would love to know your thoughts on this PR and whether to rename the column or to add a second one.

[2019-10-08 21:16] johnsaigle commented on #5029
I'll review this and remove it from the deprecated Wiki if the information is no longer relevant.

[2019-10-08 21:16] #5006 closed

[2019-10-08 21:17] johnsaigle commented on #5001
I think this will be resolved by #5253.

[2019-10-08 21:17] #4998 closed

[2019-10-08 21:19] #4912 closed

[2019-10-08 21:22] johnsaigle commented on #4470
Are we going to implement this? The login page already displays `A WebGL-compatible browser is required for full functionality (Mozilla Firefox, Google Chrome)`

[2019-10-08 21:22] #4462 closed

[2019-10-09 13:07] driusan commented on #4470
I don't see any reason we would implement this. If there's an actual known bug in modern versions of IE/Edge, file a bug report for that.

[2019-10-09 13:07] #4470 closed

[2019-10-09 13:11] driusan commented on #5029
Can we just link that page to the CONTRIBUTING.md?

[2019-10-09 13:47] ridz1208 commented on #5294
................ @johnsaigle you gave me so much hope :disappointed:

[2019-10-09 14:14] #5074 closed

[2019-10-09 14:26] ridz1208 commented on #5029
@johnsaigle the labels part of the contributing to the code section is no longer required as the description were added to the labels themselves on the repo.

just FYI

[2019-10-09 14:31] ridz1208 commented on #5297
@johnsaigle my name is Rida Abou-Haidar and I support this message.

Item #1 from your checkboxes is the current practice for production environments and staging I believe.

[2019-10-09 15:40] johnsaigle commented on #5297
@ridz1208 Good to know. It would be good to clarify this in our documentation for external developers though because they may not have that same IT policy in place.

[2019-10-09 15:43] cmadjar opened #5303 "[Configuration] Move MINCToolsPath from config.xml to Configuration module"
### Description

Move the `<MINCToolsPath>` configuration from the `config.xml` file and add an entry in the imaging modules section of the configuration module to include that setting.

Once this is done, will need to update the documentation on the LORIS-MRI repo:
- 02-Install: section 2.3.2
- 02-Install: section 4
- AppendixA-Troubleshooting_guideline.md

[2019-10-09 15:45] cmadjar commented on #5303
At least I am consistant with myself... Already reported that issue in #5019... Closing this one and updating the old one.

[2019-10-09 15:45] #5303 closed

[2019-10-09 15:47] #4382 closed

[2019-10-09 18:01] johnsaigle commented on #4063
How would I test this? I don't know how to freeze a column in a table.

[2019-10-09 19:26] cmadjar commented on #2909
@gdevenyi believe it or not but there is finally a PR sent to remove one of the manual naming when uploading imaging dataset. See #5306.

Sorry for the delay with this one...

[2019-10-09 22:26] zaliqarosli opened #5311 "installdb.php breaks when providing wrong credentials"
installdb.php returns 500 when you provide wrong credentials. it should just throw error warning and allow you to complete the process until submission succeeds

[2019-10-10 17:16] maltheism opened #5312 "[modules/data_team_helper] table links broken for instruments"
The Data Team Helper module appears to have broken links for instruments when clicking the links on the table. I'm using the RasinBread Setup for testing and I'm on the major branch.

[2019-10-10 17:21] ridz1208 commented on #5312
@maltheism could you reproduce on demo and post the broken links here

[2019-10-10 17:23] maltheism commented on #5312
@ridz1208 seems to work on demo. I'll debug my sandbox some more.

[2019-10-10 17:36] #5312 closed

[2019-10-11 15:17] HenriRabalais commented on #4063
To be honest, I'm not sure. I've never seen it in action. I just remember being told that it was a behaviour that could be set for certain columns and that it currently isn't working. IIRC it's a setting that's hardcoded.

[2019-10-15 17:07] johnsaigle commented on #5311
On which branch?

[2019-10-15 17:31] #5131 closed

[2019-10-15 17:44] zaliqarosli commented on #5311
21.0-release

[2019-10-15 21:03] johnsaigle opened #5318 "Add phan rule `PhanTypeArraySuspiciousNullable` and make pselect return an array"
I'm readding the phan rule `PhanTypeArraySuspiciousNullable` for this PR. It's causing a ton of errors and isn't worth holding up the release schedule.

The majority of them come from the user of `pselect()` because it has a mixed return type. When code tries to access array values from its results, phan complains because `pselect` could in theory return null.

In another PR soon we can add an arr

[2019-10-15 21:09] johnsaigle commented on #4098
@xlecours Do you mind investigating this now that the new API has been merged?

[2019-10-16 15:28] johnsaigle opened #5321 "[Install] Configuration options don't render properly on large screen sizes"
This appears during the installation process when a user visits `$BASE/installdb.php`.

<img width="1122" alt="Screen Shot 2019-10-16 at 11 09 45" src="https://user-images.githubusercontent.com/4022790/66934165-1557f000-f008-11e9-85ef-0d15a49207df.png">

[2019-10-16 15:29] johnsaigle commented on #5321
They do render correctly on smaller sizes though:

<img width="717" alt="Screen Shot 2019-10-16 at 11 09 53" src="https://user-images.githubusercontent.com/4022790/66934225-2a348380-f008-11e9-8cae-c12d477f6422.png">

[2019-10-16 17:38] johnsaigle opened #5324 "Update install documents with new UNIX permissions"
If this is merged, the installation readmes (CentOS, "Install in depth", macOS) should be updated.

Since at this time there are many open PRs dealing with these same files, it will be easier to make these changes once those PRs go through.

_Originally posted by @johnsaigle in https://github.com/aces/Loris/pull/5323#issuecomment-542811712_

[2019-10-16 17:45] johnsaigle opened #5325 "Improve error message when mri_parameter_form doens't exist"
From loris-dev mailing list

![image](https://user-images.githubusercontent.com/4022790/66944355-029ae680-f01b-11e9-9470-8b09553bdbce.png)

The error message displayed here should say something more helpful along the lines of "The MRI parameter form instrument must be installed in order to use this module."

[2019-10-16 21:55] johnsaigle opened #5331 "PSCID generation method "user" is broken (bugfix)"
Right now it gives a TypeError in the latest release (#5332)

Fixing the TypeError produces another error:

<img width="1369" alt="Screen Shot 2019-10-16 at 17 53 48" src="https://user-images.githubusercontent.com/4022790/66962013-ef4d4280-f03d-11e9-8b19-d6734b6a3981.png">

But there is no PSCID field in the form to provide... Normally it seems that this PSCID value would be populated based on a v

[2019-10-16 22:25] johnsaigle commented on #4303
This is not resolved.

Raisinbread default email is still `admin@example.com`

[2019-10-16 22:30] johnsaigle commented on #5213
When this happens, it would be good to fix #5218 at the same time.

[2019-10-16 22:36] johnsaigle commented on #5165
Not sure about IBIS, but this seems to be fixed on demo and my VM as of LORIS 21.

If this issue reappears, please reopen the ticket.

[2019-10-16 22:36] #5165 closed

[2019-10-16 22:37] johnsaigle commented on #5145
@maltheism Is this still an issue in #5330?

[2019-10-17 02:26] gdevenyi commented on #4303
example.com is a reserved top level domains for exactly this application https://tools.ietf.org/html/rfc2606

[2019-10-17 06:04] johnsaigle commented on #4303
The issue is mostly in response to OP's comment

This was written by our sysadmin who has since retired. Still, I believe the issue persists.

[2019-10-17 12:54] christinerogers commented on #5297
This should be applied to Loris-MRI too.

[2019-10-17 15:00] PapillonMcGill commented on #5297
I do support this approach even if I am not running for any political appointment.

[2019-10-17 17:17] maltheism opened #5335 "[make checkstatic ] ERROR: Phan 2.x requires php-ast 1.0.1+"
I'm getting the error below on major when running the command: make checkstatic

[2019-10-20 08:43] christinerogers opened #5337 "Add a Citation.md"
Tell authors / conference poster presenters how to cite LORIS as a software.
This file should also contain machine-readable citation metadata.

[2019-10-20 12:12] christinerogers opened #5338 "Update PR template to ask: Did you update the documentation?"
Add to the PR template some fields/prompts for the dev to complete.
to specify:
- This PR includes updates to documentation : X Y Z
- Documentation that should also be updated is : a b c
- The very important reason that a b c were not updated was ...
- Here are links to the Issues I also made to ensure a b and c will get updated before the release of this code change.

[2019-10-21 15:06] johnsaigle opened #5340 "Fix problematic bash code flagged by shellcheck"
SC2048: Use "$@" (with quotes) to prevent whitespace problems.
                                                                                                                                  ^-- SC2086: Double quote to prevent globbing and word splitting.
In test/dockerized-integration-tests.sh line 12:
docker-compose run -T --rm ${CONTAINER} vendor/bin/phpunit --configuration test/phpunit.xml -

[2019-10-21 15:08] johnsaigle commented on #5335
You'll have to install `php-ast`. It's a developer dependency.

[2019-10-21 15:11] gdevenyi commented on #5340
Reformatting:
[code]

[2019-10-21 15:22] johnsaigle opened #5341 "Fix TypeError in new API code"
@xlecours Don't know if this is in the purview of your PR but I get 500 errors on the candidate level for:
- put a new visit label that is not existent yet

Below is the log in the apache log for those errors if that helps:

_Originally posted by @cmadjar in https://github.com/aces/Loris/pull/5326#issuecomment-543933478_

[2019-10-21 15:24] johnsaigle commented on #5341
Addressed by https://github.com/aces/Loris/pull/5326/commits/c5d2c2b250ccaf647d78877fc279f61451a3c9cc

[2019-10-21 15:33] johnsaigle commented on #5337
Do you have an example of a format or standard?

[2019-10-21 15:38] maltheism commented on #5335
thanks @johnsaigle, I guess I do have it installed but v0.1.5 is now not good enough. I'll try installing the latest one and see from there.

[2019-10-21 15:38] #5335 closed

[2019-10-21 16:07] johnsaigle opened #5342 "[PHPCS] Add sniff for declaration of strict_types"
https://github.com/slevomat/coding-standard/#slevomatcodingstandardtypehintsdeclarestricttypes-

This depends on adding the Slevomat coding standard as a developer dependency. This has been proposed already in #4064

PHPCS >= 3.0 is required so this isn't possible until #5349 is merged

[2019-10-21 16:18] johnsaigle opened #5343 "Create Utility function for checking User and TimePoint share a site"
[code]

We should create a Utility function for this idiom. It's used in a lot of places and doesn't look very good in the code.

_Originally posted by @johnsaigle in https://github.com/aces/Loris/pull/5230_

[2019-10-21 16:19] johnsaigle commented on #5343
e.g.

`Utility::shareSite(\User $user, \TimePoint $timepoint);`

A `shareProject()` may be useful too...

[2019-10-21 18:05] driusan commented on #5343
I don't think it makes sense to do this in Utility instead of just adding appropriate getters to the User or TimePoint class.. what's wrong with using `$user->hasCenter($timePoint->getCenterID())`? (both of those functions already exist.)

[2019-10-21 18:11] johnsaigle commented on #5343
Good point, hadn't considered it.

[2019-10-21 18:11] #5343 closed

[2019-10-21 18:30] johnsaigle opened #5346 "[Access Profile] Links to Candidate/Subject profiles generated improperly on major"
Every link in the `candidate_list` table is `https://whatever.loris.ca/undefined/`.

Visiting a candidate/subject directly, e.g. with `https://whatever.loris.ca/676061/` still works.

[2019-10-21 20:09] johnsaigle commented on #5331
It's working now? I'm not sure what I was doing wrong before.