[2019-10-21 20:09] #5331 closed

[2019-10-21 20:31] johnsaigle commented on #4475
Nevermind! PHPMD has a new maintainer team

[2019-10-21 20:31] #4475 closed

[2019-10-21 20:40] driusan commented on #5346
What branch is this on? @HenriRabalais said something about the DataTable optimization work breaking something that formatColumn uses, which might be this. @HenriRabalais, can you chime in?

[2019-10-21 20:52] johnsaigle commented on #5346
It's on the major branch. Just updated the ticket title for clarity.

[2019-10-22 17:35] johnsaigle commented on #5177
This does not reflect the current LORIS UI

[2019-10-22 17:36] #5177 closed

[2019-10-22 17:50] johnsaigle commented on #3604
I'm closing this because we've had 3 major releases since this issue was opened and it doesn't appear to be a problem

[2019-10-22 17:50] #3604 closed

[2019-10-22 17:59] johnsaigle commented on #5164
This seems to work properly as on aces/minor at LORIS v 21

[2019-10-22 17:59] #5164 closed

[2019-10-22 18:43] johnsaigle commented on #5088
<img width="1424" alt="Screen Shot 2019-10-22 at 14 43 12" src="https://user-images.githubusercontent.com/4022790/67318996-505f9500-f4da-11e9-81f4-55e0c939620f.png">

A new user on v. 21 of LORIS with no permissions sees no menu items - so this is resolved

[2019-10-22 18:43] #5088 closed

[2019-10-22 19:16] #5341 closed

[2019-10-22 19:25] #5298 closed

[2019-10-22 19:44] maltheism commented on #5259
I'll try to implement this feature.

[2019-10-22 21:00] johnsaigle opened #5355 "Add to documentation that HTML should not be used in instrument fields"
My guess is that this is caused by your instrument fields containing HTML which is not recommended.

removing HTML and rerunning the data dictionary builder should fix the issue

_Originally posted by @ridz1208 in https://github.com/aces/Loris/issues/5092#issuecomment-524439361_

[2019-10-22 21:07] johnsaigle commented on #5346
@driusan @HenriRabalais The same issue is also occurring for all links in the Issue Tracker.

[2019-10-22 21:09] johnsaigle commented on #5346
Actually I think it's happening for all links in tables... It seems like the JavaScript for most of these modules assume the existence of an array containing string keys but they instead contain numeric indices.

[2019-10-22 21:12] johnsaigle opened #5356 "Add phpstan to static analysis test suite"
[PHPStan](https://github.com/phpstan/phpstan) is another cool static analysis tool. It found a bunch of issues in #4928 and it would be good to add it to our suite.

[2019-10-22 21:12] johnsaigle commented on #5356
Blocked until PHPUnit is upgraded in #5351  or #4433 as version >= 7 is required.

[2019-10-22 21:14] johnsaigle opened #5357 "Add "Blocking" label"
We have a Blocked label on the repo meaning that a PR should not be merged or cannot function without another PR being merged before it.

It might be useful to add a Blocking label to highlight the problematic PRs so that they are given additional attention when triaging PRs for review.

This would be a useful way to identify bottlenecks in development in a way that Blocked doesn't quite achieve.

[2019-10-23 15:19] johnsaigle opened #5358 "Deprecate Class::getData('variable') idioms in favour of Class::getVariable() functions"
Many LORIS classes are structured in a weird way.

E.g. The TimePoint class has information stored in a private array:

[code]

This array gets populates when the object gets instantiated. It contains numerous variables about the TimePoint such as its center ID, subprojectID, etc.

There exists a function

[code]

Which can be used to get the value of these variables. At the same time, there exist

[2019-10-23 15:22] johnsaigle commented on #5358
It may also be a good idea to put a DeprecationException in `Class::getData()` functions informing developers to use more specific functions instead.

[2019-10-23 15:33] leighevans opened #5359 "[21.0] [access_profile] "Visit Label" in Selection Filter no longer a dropdown"
it's now a textbox instead of a dropdown which could be an issue for users since the visits have backend naming conventions
![Screen Shot 2019-10-22 at 1 53 54 PM](https://user-images.githubusercontent.com/32552953/67409626-d0dccf00-f588-11e9-9ed6-95d2f589ee6c.png)

[2019-10-23 15:35] leighevans opened #5360 "[21.0] [access_profile] Can't open any candidate profile without "across all sites access candidate profiles""
Unable to access any candidate profile, despite having all site affiliations, without "Across all sites access candidate profiles". The PSCID is un-clickable and you cannot open the candidate's profile to see their timepoints/do data entry etc. without this permission.

![67125451-cd30fd00-f1c2-11e9-91be-01be6334549e](https://user-images.githubusercontent.com/32552953/67409888-35982980-f589-11e9-9

[2019-10-23 15:38] leighevans opened #5361 "[21.0] [media] Date of Administration issue on Edit file function"
The same issue that was in the Upload function for date of administration (aces/Loris#5248), is also present in the Edit file function.

Can't set a date earlier than 12/31/2017

![67123440-52fe7980-f1be-11e9-9013-114af3bd0876](https://user-images.githubusercontent.com/32552953/67410131-9b84b100-f589-11e9-99af-970f55141c0a.png)

[2019-10-23 15:51] leighevans opened #5363 "[21.0] [media] Form not resetting after upload"
After uploading a file, the fields are reset and blank, but the Site options are still constrained for the previous upload. In theory this issue is resolved by simply entering the PSCID, which updates the Site list to the proper sites, but just an FYI that if you don't follow the data input in order, this is what happens.

Screenshot shows the site dropdown with options that pertain to the previou

[2019-10-23 16:04] leighevans opened #5364 "[21.0] [DQT] Multiple buttons not working"
- "Remove All" fields button not working
- In order to successfully save a query, the query must be named with no spaces (but the example is "My Query" with a space so this is misleading. If a space is included there is no error message, but the query simply doesn't save

[2019-10-23 16:45] johnsaigle commented on #5363
Duplicate of #5055

[2019-10-23 16:47] driusan commented on #5358
That's not really true. It prevents setting and allows the possibility of modifying the data in some way before returning it.

I think the easiest solution is simply to make it protected and use it internally in the getters, which can do their own casting.

Since it's private and people need to use the getter, this is just an implementation detail. I suspect it's done this way so that it can be ea

[2019-10-23 16:48] jesscall commented on #5363
@johnsaigle I believe #5055 has to do with the `Browse` page not updating. This issue refers to the upload form's options for site, visit and instrument not resetting

[2019-10-23 16:52] johnsaigle commented on #5363
Got it, thanks for clarifying.

[2019-10-23 18:02] kongtiaowang opened #5368 "[major] can't add new user."

[2019-10-23 18:12] johnsaigle commented on #5368
Can you provide some more information about what errors occurred?

[2019-10-23 20:01] racostas opened #5372 "[Permissions] (proposal) To allow users with the "Edit Candidate Parameters" permission set to access the edit candidate form without having to have also the "View Candidate Parameters" also set."
A user having the permission "**Edit Candidate Parameters**" set isn't able to access the edit page at least it have also set the permission "**View Candidate Parameters**".

If you agree we could grant access to the edit form to a user who have the edit permission set (without having to have the view one also set) for making more easy the admin work to a not knowledgeable user.

Thanks.

[2019-10-24 15:40] leighevans opened #5376 "[21.0] [data_team_helper] Clicking a link under "Visit" column leads to 404: not found"
Clicking on any link under the "Visit" column in the Incomplete Forms tab leads to a 404: Not Found page.

[2019-10-24 15:41] leighevans opened #5377 "[21.0] [data_team_helper] Pagination issues"
The ellipses between the button for page 4 and the last page is unresponsive and thus cannot access any pages in between. Also clicking on pages 2,3,4 etc. doesn't highlight in dark blue to indicate which page you are currently on (as it does for page 1), even though the page does change content.

[2019-10-24 16:40] maltheism commented on #5377
@leighevans I think this is fixed in https://github.com/aces/Loris/pull/5330

[2019-10-24 19:35] zaliqarosli opened #5380 "[new_profile] If user assigned to 1 site, unhide site field and auto-populate default site"
currently, if the user is assigned to only 1 site, new profile will not show the site field. on the php side, the value of site is assigned by default the user's first and only site.

ideally, the site field will always show and just auto-populate the one and only available site so users don't have to select it themselves.

[2019-10-25 13:31] christinerogers commented on #5197
#5203 merged.  closing this.

[2019-10-25 13:31] #5197 closed

[2019-10-25 13:33] driusan commented on #5380
Why?

[2019-10-25 13:34] driusan commented on #5376
PR merged

[2019-10-25 13:34] #5376 closed

[2019-10-25 14:24] #5078 closed

[2019-10-25 14:29] #2909 closed

[2019-10-25 16:42] zaliqarosli commented on #5380
@driusan because it looks like there's a bug when the site field is missing!

[2019-10-28 16:15] johnsaigle opened #5382 "[Install] Remove is-writable check for logs/ directory"
As I noted above I'm not sure why the `tools/logs/` directory wouldn't be writable since it's created by the install script. However, we can punt this to another issue so that this PR isn't delayed anymore.

_Originally posted by @johnsaigle in https://github.com/aces/Loris/pull/5205/review_comment/create_

[2019-10-28 16:54] johnsaigle opened #5383 "Confirm that Apache can be configured by the install script for CentOS"
OK well it sounds like further testing should be done to make sure that Apache can be automatically configured by the install script for CentOS. I'll make an issue for it.

_Originally posted by @johnsaigle in https://github.com/aces/Loris/pull/5205/review_comment/create_

[2019-10-28 19:41] maltheism commented on #5377
@johnsaigle I think the data_team_helper is the module the issue is referring about pagination issues. I know that was a problem when I was rewriting the module.

[2019-10-28 19:44] johnsaigle commented on #5377
Oops sorry I totally misread the title. 😆

[2019-10-28 19:47] #5372 closed

[2019-10-28 19:54] #5311 closed

[2019-10-28 20:51] #5368 closed

[2019-10-29 15:31] christinerogers opened #5391 "SchemaSpy: Add navigable Schema diagrams at each release"
Based on example presented from CNBP by @dyt811
https://cnbp.github.io/LORIS_MySQLStructure/

Should be set up as an automatic process to execute on the schema and be committed as release is issued.
Web front-end accessibility of this documentation should be tested as part of the release process.

[2019-10-29 15:55] christinerogers opened #5392 "[Doc] Update all docs (incl Contributing.md) for 22.0 release - branching changes/caveats"
Loris meeting Oct. 29 :

* all bugfixes from release 22.0.1 on will go to the `master`/`release` branch.
* everything else goes to `dev` branch : no more `major` `minor` `bugfix` branches

- [x] Update `Contributing.md` as necessary
- [ ] Add important warning in `Contributing.md` to say devs will want to install `master` and `master` may be **a few bugfixes** ahead of the actual latest release.
-

[2019-10-29 16:57] christinerogers commented on #5383
@maltheism  could you actually check this issue, during your minor release testing?  That would be super useful to diagnose next steps.

[2019-10-29 20:07] gdevenyi opened #5395 "Accessing loris via IP breaks interface if configured via hostname and vice-versa if configured via hostname"
Main login page is okay but after logging in page rendering is broken in various ways:
![image](https://user-images.githubusercontent.com/3001850/67804810-13f5e100-fa66-11e9-9758-6cf2445d1e1b.png)

Furthermore, my existing authentication done against one host connection doesn't translate to the other connection.

Seems like something hard-coded somewhere based on the backend configuration, other w

[2019-10-29 20:10] thomasbeaudry commented on #5395
Maybe it's because the site is hardcoded in the config table ?

[2019-10-29 20:12] driusan commented on #5395
looks like it's not loading the CSS properly

[2019-10-29 20:13] gdevenyi commented on #5395
CCing @coreyAbout who did the install here.

[2019-10-29 20:32] coreyAbout commented on #5395
The configuration is here:
select * from Config WHERE ConfigID=(SELECT ID FROM ConfigSettings WHERE Name='url');
if this url is set to IP, the IP address will work, if this url is set to FQDN, the FQDN address will work. It would be nice if both ways work at same time.
@gdevenyi
Can you be more specific on
Furthermore, my existing authentication done against one host connection doesn't translate t

[2019-10-29 21:14] johnsaigle commented on #5395
It looks like you need to fix the `url` or `base` config settings. @coreyAbout

For reference, on my VM:

`base` = `/var/www/loris/` (your LORIS root folder)
`url` = `https://jsaigle-dev.loris.ca`. Note that httpS is important if you're using SSL (You should be.)

It could also be the `host` setting which I think should be your IP.

[2019-10-30 13:36] johnsaigle commented on #5395
This may also be helpful: https://github.com/aces/Loris/wiki/Project-Customization#1-database-configuration-settings

[2019-10-30 13:58] gdevenyi commented on #5395
I can login via the IP instance and if I then open the hostname instance I get a login screen again, rather than the main page.

[2019-10-30 14:03] coreyAbout commented on #5395
@gdevenyi I see. It's a second stage problem after LORIS has the capacity to work via FQDN and IP at the same time.

[2019-10-30 15:30] maltheism opened #5404 "[documentation][install centOS] remove reference to bugfix branch"
The bugfix branch no longer exists. There is reference to it in the documentation found here:
https://github.com/aces/Loris/wiki/CentOS-install-guide

[2019-10-30 15:33] maltheism commented on #5404
https://github.com/aces/Loris/pull/5403

[2019-10-30 15:38] johnsaigle opened #5406 "Create issue template"
#5171

[2019-10-30 15:40] cmadjar opened #5407 "[Acknowledgements] Should not be able to view the 'Add Acknowledgement button when have only view permission"
### Description

Currently, if a user only has `acknowledgements_view` permission, it can still see the "Add Acknowledgement" button. The data inserted into the form are never saved but still, when a user only has view permission, it should not be able to see that button.

See https://github.com/aces/Loris/pull/5224/files#diff-e230c4317fa7e108975d8d9f25ad99f4 to see an example on how to add the pe

[2019-10-30 15:41] cmadjar opened #5408 "[raisinbread] Add data to the Acknowledgements module"
### Description

Need to add data to the Acknowledgements module. Currently, only one row available for testing which is limited...

[2019-10-30 15:42] maltheism commented on #5404
@johnsaigle I updated the link in the wiki from bugfix to master. I think you're right about the wiki page.

[2019-10-30 15:44] cmadjar opened #5409 "[Acknowledgements] Add a button in the Citation Policy to be able to edit it if a user has acknowledgements_edit permission"
### Description

Currently, there is no way to edit the citation policy in the front end. Add a button in the Citation Policy component to be able to edit it if a user has `acknowledgements_edit` permission.

The permission handling of that edit button would be related to #5407

[2019-10-30 15:45] cmadjar commented on #5216
I think that module has been converted in react no?

[2019-10-30 15:46] #5404 closed, assigned to nobody

[2019-10-30 15:51] johnsaigle commented on #5250
This should now be clarified by the new install documentation.

[2019-10-30 15:51] #5250 closed

[2019-10-30 15:56] johnsaigle opened #5410 "Remove references to "Show Data" buttons in documentation"
Reactified modules no longer have a "Show Data" button as filters are applied dynamically.

### Task

Run the command below to find occurrences the words "Show Data" in Markdown files.

[code]

Evaluate whether these modules still have this button; if not, update the documentation files.

---

Results of the above command on aces/master:

modules/candidate_list/help/candidate_list.md:22
modules/ca

[2019-10-30 16:02] johnsaigle commented on #5241
I'm going to close this as it's written more as an email for a specific person and role rather than as a general issue.

`a.` is covered by existing issues and PRs

`b` and `d` can be condensed into a general "Cleanup markdown and make sure it renders well" issue

`c`has its own issue in #5410

[2019-10-30 16:04] maltheism opened #5411 "[install centOS] No package MariaDB-client available."
See installation instructions found here:
https://github.com/aces/Loris/blob/master/README.CentOS7.md

Output from copying the `sudo yum install MariaDB-client MariaDB-server` command:

[2019-10-30 16:26] kongtiaowang opened #5413 "[imaging_uploader] can't show upload file in the front-end"
After uploading the file, it can't show in the table. but the file exists in the /data/incoming.

[2019-10-30 16:52] maltheism opened #5415 "[install centOS] php: command not found..."
The documentation for installing centOS found here:
https://github.com/aces/Loris/blob/master/README.CentOS7.md

The installation documentation doesn't inform the user to system link "php" after installing it. So when the user gets to the install "PHP Composer" command: `sudo curl -sS https://getcomposer.org/installer | php` the user will see the output:
[code]

Solution would be telling the user

[2019-10-30 16:53] leighevans opened #5416 "[user_accounts] Can set password and email to be the same"
One of the password rules "The password and the email address must not be the same" isn't enforced; can set email as password with no issue

[2019-10-30 17:07] leighevans opened #5417 "[user_accounts] Issues with password validation"
- Passwords don't have to match and will save successfully
- When editing or creating a user's password, don't have to enter anything into Confirm Password

[2019-10-30 17:18] jesscall opened #5418 "[create_timepoint] creating timepoint without selecting `Project` leads to 500 error"
Upon creating a timepoint you should **not** be able to submit without selecting a `Project`. At the moment, no warning is displayed. The form gets submitted and a 500 error is shown.

Documentation should also be updated to reflect that `Project` is required.

![Screenshot from 2019-10-30 12-55-13](https://user-images.githubusercontent.com/34260251/67881765-7ce96180-fb17-11e9-8376-f8156e36079c.pn

[2019-10-30 17:19] cmadjar commented on #5410
Note, the show data occurence of the acknowledgements module will be removed by https://github.com/aces/Loris/pull/5405

[2019-10-30 17:25] johnsaigle opened #5419 "[MRI Violations] No Series UID column"
There is a filter in the form called Series UID but there is no corresponding column.

Entering data in the filter still causes columns to be hidden.

Not sure if this is a code issue or something to do with Raisinbread.

Testing on `test-dev-loris.ca`.

[2019-10-30 17:27] johnsaigle opened #5420 "[MRI Violations] "Type of problem" data missing from Raisinbread"
Test Plan

Protocol Violation, CandID and PSCID do not match and CandID does not exist).

The only types that exists in the dataset are:
* Could not identify scan type
* Protocol Violation

[2019-10-30 17:34] johnsaigle opened #5421 "[MRI Violations] No column named "TarchiveID""
TestPlan:

There is a filter called TarchiveID but it's not clear what column that corresponds to.

Entering data in the filter causes some rows to disappear so it appears that it's operating on something.

Not sure if this is a UI bug or a DB issue.

[2019-10-30 17:36] johnsaigle opened #5422 "[MRI Violations] Request for help with imaging testing tasks"
I am not familiar enough with imaging to test these points.  Could someone help with this?

[2019-10-30 17:40] johnsaigle commented on #5415
Could this be solved by

`sudo curl -sS https://getcomposer.org/installer | php72`

?

[2019-10-30 17:41] johnsaigle commented on #5417
I'll take this issue.

[2019-10-30 17:49] sruthymathew123 opened #5423 "[Examiner] Saving the New Examiner certification details giving 500 error"
Testing Platform: [https://test-loris-dev.loris.ca/](https://test-loris-dev.loris.ca/)

On adding and saving certification details on a newly created examiner is giving a 500 error page.
Cases throwing Error
1) When trying to save with no certification data (500 error)
2) When trying to save data with one instrument details (500 error)

[2019-10-30 17:54] johnsaigle commented on #5161
The example you linked describes how to authenticate to LORIS. You can't pull data from LORIS without logging in via POST request first.

[2019-10-30 18:00] johnsaigle opened #5424 "README not rendering properly on master branch"
There is an issue with the Markdown formatting (scroll to the bottom).

[2019-10-30 18:02] maltheism commented on #5415
Hey @johnsaigle I just tested and still will be similar output:
`bash: php72: command not found...`

[2019-10-30 18:04] johnsaigle commented on #5415
That's weird, I figured it would be in the path.

[2019-10-30 18:15] christinerogers commented on #5392
agreed.  The decision to inform / not inform should be noted/linked in some way, so consider this a placeholder

[2019-10-30 18:33] cmadjar commented on #5419
I just tried on testing with the following SeriesUID and it returned one row: 1.3.12.2.1107.5.2.32.35412.2013121311111335572611230.0.0.0

I guess you were just not entering correct data to try it out?

Not sure if the seriesUID should be shown in the data table. It might get messy to add it.

[2019-10-30 18:42] cmadjar commented on #5422
@johnsaigle do you want to look at it with me tomorrow? This way you will know for next time :)

[2019-10-30 18:45] cmadjar commented on #5421
@johnsaigle when we meet, things will get clearer (I hope). This is not really a bug.

[2019-10-30 18:47] cmadjar commented on #5420
right. I guess I'll have to insert some failed Visit label and CandID/PSCID do not match. Assigning to me for now.

[2019-10-30 18:57] johnsaigle commented on #5422
I'm not in tomorrow or Friday but we could do it next week?

[2019-10-30 18:58] johnsaigle commented on #5419
I found it later on a subpage of the module but it doesn't appear on the same page as the filter which is confusing.

[2019-10-30 19:03] cmadjar commented on #5409
This is done in the config module so closing this issue...

[2019-10-30 19:03] #5409 closed

[2019-10-30 19:07] johnsaigle opened #5427 "[User Accounts] Abstract common functionality between Edit User and My Preferences"
These modules are both very long and convoluted and share a lot of the same code.

In addition to being cleaned and modernized generally, the common code should be abstracted into a new class.

[2019-10-30 19:29] cmadjar opened #5429 "Update Config table with the bids_vl"
For some obscure reason, the following syntax made Travis unhappy:
[code]

Once #5425 is merged into major, send a PR to major to add that back into the Config schema tables.

[2019-10-30 19:41] cmadjar commented on #5422
Sure! So far I have no other item on my calendar for Tuesday PM so your time will be mine if Tuesday PM works for you :).

[2019-10-30 19:44] cmadjar opened #5430 "DQT not working on test-loris-dev.loris.ca so cannot be tested"
Is it possible to have the DQT working on test-loris-dev.loris.ca?

[2019-10-30 19:51] ridz1208 commented on #5395
@coreyAbout why do you want both ways to work ? cant you choose one and stick with it ?

[2019-10-30 20:02] johnsaigle opened #5431 "[Test] Remove Reliability tags from test/config.xml"
This module was deleted so we don't need this information in that file.

[2019-10-30 20:04] johnsaigle opened #5432 "[Testing] Remove magic numbers in integration and unit tests in favor of class constants"
Many integration tests are getting stuck when data in Raisinbread changes. Part of this has to do with magic numbers.

This issue would be mitigated somewhat by changing [magic numbers](https://en.wikipedia.org/wiki/Magic_number_(programming)#Unnamed_numerical_constants) into class constants so they can be updated in one place.

[2019-10-30 20:10] johnsaigle commented on #5147
I'm going to close this ticket since we're not using that VM for testing anymore.

[2019-10-30 20:10] #5147 closed

[2019-10-30 20:12] gdevenyi commented on #5395
@ridz1208 its less I want it to work both ways, and more, "this indicates hard coded paths somewhere" which shouldn't be the case.

Other web-based things such as OwnCloud don't seem to have this issue with accessing via host vs IP, everything is transparent, so I would consider this a defect.

[2019-10-30 20:56] johnsaigle commented on #5104
Was this migrated for Redmine?

[2019-10-30 21:00] johnsaigle commented on #5083
@HenriRabalais Can you verify whether this is an issue during v22 testing?

[2019-10-30 21:03] johnsaigle commented on #5018
I believe this is resolved by #5250

[2019-10-30 21:03] #5018 closed

[2019-10-30 21:04] #3946 closed

[2019-10-30 21:06] johnsaigle commented on #4995
Last point should be addressed by #5433

[2019-10-30 21:07] johnsaigle commented on #4995
Examiner module readme : remove mentions of Training module

@sruthymathew123 Would you be able to update this during release testing for v22?

[2019-10-30 21:09] johnsaigle commented on #4891
Can you provide more detail here?

[2019-10-30 21:12] johnsaigle opened #5434 "[Candidate Parameters][major] Module broken? Form loads then disappears"
(On aces/major, with Raisinbread data, definitely recompiled JavaScript, Chrome and Firefox)

Candidate parameters seems to be broken.

Clicking on any candidate the form to load for a second and then it gets deleted, leaving a blank page.

[2019-10-31 16:59] zaliqarosli commented on #4891
this table used to be at the top of candidate parameters page:

<img width="984" alt="Screenshot 2019-10-31 12 58 36" src="https://user-images.githubusercontent.com/17415878/67968717-43c7f480-fbde-11e9-9c70-f8d45acefffd.png">

now:
<img width="840" alt="Screenshot 2019-10-31 12 58 43" src="https://user-images.githubusercontent.com/17415878/67968740-4de9f300-fbde-11e9-9b04-3e8594d25849.png">

[2019-10-31 17:04] maltheism commented on #5415
Hey @johnsaigle your comment made sense and I retested it again. php72 works and we should go with your solution. I think it didn't work for me because I removed php incorrectly and it messed up testing when I reinstalled php.

[2019-10-31 17:16] maltheism opened #5438 "[install centOS] ./install.sh"
I'm running the ./install.sh script and getting this output:

I think it's related to this issue: https://github.com/aces/Loris/issues/5415

[2019-10-31 17:18] maltheism commented on #5438
Solution seems to be `sudo ln -s /usr/bin/php72 /usr/bin/php` to get passed this problem. I'm guessing the install.sh script could be modified to do php72 instead as another solution. @johnsaigle thoughts?

[2019-10-31 17:26] maltheism commented on #5383
Hi @johnsaigle and @christinerogers. The install.sh script gives me this output:

`systemctl status httpd.service` output:

The `journalctl -xe` output:

[2019-10-31 17:28] maltheism commented on #5383
Note line 17:
`php_value include_path .:/usr/share/php:/var/www/loris/project/libraries:/var/www/loris/php/libraries`
inside the /etc/httpd/conf.d/loris.conf

[2019-10-31 17:33] maltheism commented on #5383
The complete /etc/httpd/conf.d/loris.conf file content:

[2019-10-31 17:42] leighevans opened #5439 "[user_accounts] Can set new password to be the same as current password"
Test plan:
15. Check that when editing a user account it is not possible to set the password to its actual value (i.e. it needs to change).

There no currently no validation on this; you can set and save a new password to be the same as the current one

[2019-10-31 17:48] kchatpar opened #5440 "[User Accounts] Password auto-created is massive"
I created an account on the test vm and the password it created is massive:

3DUBdXpwSC0reRpKQa2G2AVC7OizsPLDecXigl8mj2HyrlQI77jpx26WwCTr0aR9

[2019-10-31 18:12] maltheism commented on #5383
php -v
[code]

I'm guessing the httpd apache module for php is missing. I don't really know what to do for fixing this issue. Seems like centos 7 specific.

[2019-10-31 18:15] kchatpar opened #5443 "[Dicom Archive] Date Format Inconsistencies"
In the dicom archive the pre-set filters are dd/mm/yyyy in the table the format is yyyy/mm/dd. Filtering still works but this should be the same format.

[2019-10-31 18:29] maltheism commented on #5383
Okay so maybe this is something helpful for the issue
[code]

Apparently, "remi-safe repo" might be the. See:
https://stackoverflow.com/questions/40464196/how-to-install-module-libphp5-so-in-apache-serve-centos-7/43087662

When installing php72 the output:
[code]

[2019-10-31 18:33] PapillonMcGill opened #5446 "[help_editor] unable to edit (missing data on server?)"
Step 1-3, 6 Ok.

No date at the bottom, not sure if related to instrument only.
No instrument to check help functionality for instrument. Instrument in instrument manager are not clickable Thus unable to test step 7-9

Help editor as no information and no button to add or edit anything. Unable to test step 10-19

[2019-10-31 18:34] kchatpar opened #5447 "[Dicom Archive] Metadata is not populating"
When clicking on the view details button in the metadata column, the next page(Tarchive) doesn't populate any fields.

[2019-10-31 18:35] maltheism commented on #5383
Okay I think the solution is this command:
`sudo yum --enablerepo=remi-php72 install php`

That changes the Repository to be "remi-php72" instead of "remi-safe" and solves the php_value error.

[2019-10-31 18:44] dyt811 commented on #5434
Reproduced in 22.0 testing.
Steps:

* After creating a candidate, try to check Candidate Info:
   * https://test-loris-dev.loris.ca/candidate_parameters/?candID=217793&identifier=217793
   * Visit or click on https://test-loris-dev.loris.ca/candidate_parameters
   * Lead to An error occurred when loading the form!
   * All three tabs lead to error:
      * Candidate Information
      * Participant

[2019-10-31 18:44] leighevans opened #5448 "[instruments] Console Output error for BMI Calculator"
Getting a console output error when trying to save BMI

![Screen Shot 2019-10-31 at 2 42 28 PM](https://user-images.githubusercontent.com/32552953/67976677-ebe4ba00-fbec-11e9-8ffb-73c6d06d49a4.png)

[2019-10-31 18:55] 3design opened #5449 "[document_repository] files from all directories shown without filtering"
task
9. Check that expand/collapse works for non-empty categories. Check that when performing a search, the categories containing the resulting files (and only those) are shown in a list format [Manual Testing]

expected results:
when in a directory, only files in that directory are shown in the list

actual results:
all files from all sub directories are shown in the list

comments: For example I

[2019-10-31 19:10] maltheism opened #5451 "[install centOS] composer install broken"
The command "composer install" gives this output:

[code]

[2019-10-31 19:13] maltheism opened #5452 "[install centOS] Visiting http://ip-address/installdb.php"
When visiting the installdb.php this output is thrown in loris-error.log:
`[Thu Oct 31 15:04:26.512944 2019] [php7:error] [pid 9728] [client ::1:45454] PHP Fatal error:  Uncaught Error: Class 'PDO' not found in /var/www/loris/php/installer/Installer.class.inc:143\nStack trace:\n#0 /var/www/loris/htdocs/installdb.php(71): LORIS\\Installer\\Installer->checkSystemDependenciesValid()\n#1 {main}\n  thr

[2019-10-31 19:15] 3design opened #5453 "[document_repository] duplicate file uploading"
11. Add two files with the same name. You should get a 'duplicate file name' error. [Manual Testing]

expected results:
when uploading two files with the same name, i get a 'duplicate file name' error' message

actual results:
when uploading two files with the same name, there is no error message. the form clears and i am still on the upload page

[2019-10-31 19:19] maltheism opened #5454 "[install centOS] Install documentation missing info for editing httpd.conf"
The httpd.conf needs the DocumentRoot and <Directory "path"> modified. The installation guide of centOS doesn't inform the user about it.

See:
https://github.com/aces/Loris/blob/master/README.CentOS7.md

[2019-10-31 19:20] #4980 closed

[2019-10-31 19:20] cmadjar commented on #5443
@kchatpar I am confused... I just looked at it on test-loris-dev.loris.ca and they all look formatted yyyy/mm/dd for me on Chrome and Firefox (see below).

<img width="1152" alt="Screen Shot 2019-10-31 at 3 18 15 PM" src="https://user-images.githubusercontent.com/1402456/67978963-b7273180-fbf1-11e9-8e22-c8b41015d9ff.png">

[2019-10-31 19:21] #4523 closed

[2019-10-31 19:21] SantiagoTG opened #5455 "[Media] Upload folder error when uploading files"
Can't upload files. An error message appears saying "Error! The upload folder /data/uploads/ does not exist.".

![Screen Shot 2019-10-30 at 12 14 59 PM](https://user-images.githubusercontent.com/54332302/67979058-e6d63980-fbf1-11e9-9360-04da42b6a27d.png)

[2019-10-31 19:21] 3design opened #5456 "[document_repository] user a edits while user b deletes"
13. User A edits a file. User B tries to delete the same file in the meantime. Check that he can't. [Manual Testing]

expected results:
when one user edits a file, another user cannot delete the file

actual results:
while user a is in the edit screen, user b can delete the file as normal

[2019-10-31 19:28] 3design opened #5457 "[document_repository] no notifications sent to email"
14. Check that preference “Receive Document Repository Notifications” works.
16. Check that if you have the 'Receive document repository notification' activated you will receive an email each time one of the following event occurs:
Addition, deletion or modification of a file
Addition of a category. Also check that the www address contained in the notification email is correct.

expected results:

[2019-10-31 19:30] SantiagoTG opened #5458 "[JSX - DataTable] Not all filtered items included in .csv when table is downloaded"
When downloading the table as a .csv, it only downloads items on the current page, instead of all items available in the filtered search. Downloaded data should include all items from the filtered search.

Related: https://github.com/aces/Loris/issues/4574

[2019-10-31 19:32] SantiagoTG opened #5459 "[Media] Language option in 'Edit' page"
When trying to edit data using the Edit button under the "Edit Metadata" tab, there is no language option, and so language cannot be edited.

[2019-10-31 19:44] maltheism commented on #5451
`sudo yum install php-xml`
solves `requires ext-dom *` output error.

[2019-10-31 19:47] maltheism commented on #5451
`yum install php-mbstring`
solves `phpunit/phpunit 6.5.9 requires ext-mbstring * -> the requested PHP extension mbstring is missing from your system.` output error.

[2019-10-31 19:48] driusan commented on #5458
@HenriRabalais can you look into this?

[2019-10-31 19:55] dyt811 opened #5460 "[Statistics] Minor UI issue in dropdown in < 900px wide screens"
Minor readability problem in background color with regard to the current module. See screenshots below on the submenu of the statistics.
See https://drive.google.com/open?id=1EccOPCozGncsCtwx_hPcXvS9jrBTtujh and
https://drive.google.com/open?id=1dtkygdVtT-rH5ffLIdaStowyNhdqaiga

[2019-10-31 19:55] maltheism commented on #5452
Okay the error is solved with these packages:
[code]

[2019-10-31 20:02] kchatpar opened #5461 "[Dashboard] New and pending imaging sessions are unclickable"
Step 9. Verify that for a user with 'Edit imaging browser QC status' permission the My Tasks panel reports the number of new
   scans (i.e. the number of scans on the MRI browser page for which QC status has not been set. Note DCC scans are not
   counted in the query as for most projects this is not an acquisition site). Check that site
   displayed is always 'All'. Click on this task and verify

[2019-10-31 20:08] SantiagoTG opened #5462 "[Media] Unable to download files"
Unable to download files when clicking on it. I get a 'Failed - No file' error message.

[2019-10-31 20:10] dyt811 opened #5463 "[Statistics] Behavioural Statistics Not Updating When Switching Project"
Data Entry Statistics and Double Data Entry Statistics are not updated when switching to different projects. The number remains the same regardless of which project is chosen and click on "Submit Query"

See results on https://drive.google.com/open?id=152d86n9X7JTw70abkCQk7G8-QLglCAFA and https://drive.google.com/open?id=1-L1QadvnreyFDBUWdQn48EMZg29qzcbC for when switching different project.

[2019-10-31 20:12] SantiagoTG opened #5464 "[Media] Force language selection when uploading a file."
When uploading a file, for language input, the user should be forced to be provide an input. English can be set as a default option, and a "Not Applicable", "Multiple" or "Other" option for cases where no language is desired or includes more than one language. This is not currently the case.

[2019-10-31 20:29] ridz1208 commented on #5462
Thats normal, the files displayed there are fake. When the upload issue gets fixed you will be able to test by uploading and then downloading the file you uploaded

[2019-10-31 20:29] dyt811 opened #5466 "[Statistics] Minor issue: Total Age Average (months) not calculated"
Total Age Average (months) not calculated. See the N/A in the Total Column for the Row "Age Average (months)": https://drive.google.com/open?id=1dtkygdVtT-rH5ffLIdaStowyNhdqaiga

[2019-10-31 20:34] maltheism commented on #5455
@kongtiaowang the testing vm doesn't have the upload directory.

[2019-10-31 20:36] christinerogers commented on #5424
I'll take this on.  should go to the release branch right?

[2019-10-31 20:42] maltheism commented on #5443
@kchatpar are you referring to the "Archive Location" column of the table in the picture from @cmadjar ?

[2019-10-31 20:46] #5216 closed

[2019-10-31 20:46] SantiagoTG opened #5467 "[BVL Feedback] Issues with display and closing of threads after hitting 'Close' button"
Once a thread has been initiated, the "Open/Close" button will display as open, and a new thread will appear for the visit. If you "Close" the thread, it will display as closed, while not actually being closed.
Additionally, if you try to change the "closed" thread to "Open" again, it will continue to display as closed. Thus, closing a thread does not really close it, instead it only changes the d

[2019-10-31 20:49] SantiagoTG opened #5468 "[BVL Feedback] should display information of threads open in other visits"
The "Open threads summary" does not display any information of threads open in other visits. This would be valuable to see the total number of threads without having to toggle between visits, as well as to see how much feedback has been provided to a given visit for each candidate.

[2019-10-31 20:51] SantiagoTG commented on #5462
Great, that sounds good. I'll test this once upload function is live. Thanks

[2019-10-31 21:00] ridz1208 opened #5469 "[Brainbrowser] Minor UI improvement on Overlay Panel"
The overlay control panel does not have a border like the remainder of the panels on the same page

see examples
![Screenshot from 2019-10-31 16-58-36](https://user-images.githubusercontent.com/15268287/67985747-e93f9000-fbff-11e9-837f-163e5a459f9d.png)
![Screenshot from 2019-10-31 16-58-26](https://user-images.githubusercontent.com/15268287/67985751-eb095380-fbff-11e9-8913-2ad09a89438a.png)

[2019-10-31 21:05] ridz1208 opened #5472 "[Install] Fix error reporting when schema sourcing fails."
When running the installdb.php step of the install and a patch from the 0000-** series fails, no error is being reported to the front end, only a warning in the error log.

[2019-10-31 21:15] ridz1208 opened #5473 "[brainbrowser] No permissions for access restriction"
if you are given a link like the one below, you can access the scans regardless of your permissions

[LINK](https://test-loris-dev.loris.ca/brainbrowser/?minc_id=[134,135]&overlay=true) for example scans

The readme.md file says that the imaging browser's permissions control access to brainbrowser, it's not the case

[2019-10-31 21:24] ridz1208 opened #5474 "[brainbrowser] Loading slowness and lack of clarity"
When brainbrowser is loading multiple volumes, after the first volume loads, the second takes a bit of time (sometimes longer 15-20 seconds, sometimes faster 2-4 seconds)

Also There is no clear sign that a second volume is loading (no `LOADING...` message loading under the first volume)

example [link](https://test-loris-dev.loris.ca/brainbrowser/?minc_id=[134,135]&overlay=true)

[2019-10-31 22:00] zaliqarosli opened #5476 "[Candidate_list] / [Imaging_browser]"
Candidate_list Test plan: #11 fails. Imaging browser has 'An error occured while loading the page.' for anyone who has permission

console error:
<img width="600" alt="Screenshot 2019-10-31 17 58 08" src="https://user-images.githubusercontent.com/17415878/67989111-39225500-fc08-11e9-9814-a6604676bb80.png">

[2019-10-31 22:02] zaliqarosli commented on #5476
PR to fix: https://github.com/aces/Loris/pull/5444

[2019-11-01 12:03] christinerogers opened #5479 "[Data Integrity Flag] Filter link not fully working"
click on Medical History in a row with V3 ->
It does load the Data Team Helper module, filtered for the appropriate visit label V3,
but it doesn't actually filter for the Instrument name

[2019-11-01 12:04] christinerogers opened #5480 "[Quality Control] Create more test data for QC module"
probably : complete more mri parameter forms for scans that *do* exist in raisinbread.

[2019-11-01 12:05] christinerogers opened #5481 "[Imaging QC module] Create test plan"
there is currently no test plan for this module

[2019-11-01 12:08] christinerogers opened #5482 "[QC module] BVL tab seems to be missing a status?"
This module just lists instruments. it seems like a status column may be missing --
Not clear to the user (or maybe just missing documentation?)  are these completed?  valid?   fully administered?
*  passed DDE - no conflicts?
* passed visual/hardcopy QC?
* passed the approval stage?
* columns like SessionID to make it congruent Imaging tab?
- [ ] Verify with existing module specs, what should be

[2019-11-01 12:08] christinerogers opened #5483 "[QC module] arrows at top right of data table - hide all data"
Next to the Download as CSV button

* even clear filters does not bring them back.

you have to reset the number of rows displayed in the table to show data again

to further verify: does this happen in all modules?

[2019-11-01 15:31] VictorVermeulen commented on #5431
Let me try to fix this please.

[2019-11-01 15:46] kongtiaowang commented on #5430
It is done.

[2019-11-01 15:59] #5430 closed

[2019-11-01 16:00] coreyAbout opened #5484 "[instrument builder] Regroup test plan to clarify what needs to be tested in the linst file"
[test plan](https://github.com/aces/Loris/blob/22.0-release/modules/instrument_builder/test/TestPlan.md)
Item 1. a few step requires "Validate that not_answered option is added in the linst file for this question". This can only be done after save the linst file. Re-group this types of request together and put it after saved linst will improve the test process.

[2019-11-01 16:05] ycAbout opened #5486 "[instrument builder] Add "Blank Line" does not work"
Test plan Item 1
1.j Add Blank Line

In instrument builder, nothing changes when you add a "Blank Line" field. Keeping adding field, there is no evidence showing the blank line.

If you download the linst file, there is no blank line in the file.

[2019-11-01 16:10] coreyAbout opened #5488 "[instrument builder] Update test plan to correct field names"
TestPlan item 2. `Edit DatabaseName and Question in the table directly and check if it sticks`
Change `DatabaseName` to `Question Name`, and `Question` to `Question Text`.

[2019-11-01 16:12] VictorVermeulen commented on #5431
I forgot step 1, to fork. I did create a pull request now.

[2019-11-01 17:23] coreyAbout opened #5493 "[instrument builder] Update test plan to indicate preview instrument is not available"
TestPlan item3 said preview, but there is no preview function available. Keep this item but add a note saying this function is not available yet.

[2019-11-01 17:23] coreyAbout opened #5494 "[instrument builder] Update test plan re adding and saving rules"
TestPlan item4 and item5 currently suggest the user can add and save rules in this module, but that is not true. Keep these two items in the test plan but add a note this function is not available yet.

[2019-11-01 17:47] 3design opened #5495 "[issue_tracker] Test Plan needs to be updated"
Some tests cannot be completed based on previous changes made to the module

[2019-11-01 18:04] cmadjar commented on #5448
@kongtiaowang could this be related to the testing VM? Would you mind investigating this one? Thanks!

[2019-11-01 18:05] cmadjar commented on #5455
@kongtiaowang Assigning this to you to update the testing VM to have the /data/uploads/ folders for the media uploader.

[2019-11-01 18:07] cmadjar commented on #5462
@kongtiaowang Related to #5455

[2019-11-01 18:11] cmadjar commented on #5472
@maltheism we assigned you the install issues for LORIS Monday. This is one of them. If you could look at them, that would be awesome!

We know that it will be 8 issues but I have a feeling they would all be related somehow and since you played with the install, you seemed like the best person to tackle them. Let us know if you have any issues.

[2019-11-01 18:20] cmadjar commented on #5453
@zaliqarosli we assigned you the document repository issues to resolve for 22.0. If you can work on them on Monday that would be awesome! Thanks!

[2019-11-01 18:20] cmadjar commented on #5453
PS: feel free to talk with Derek (@3design) if you have questions about the design and functionality of the document repository

[2019-11-01 18:25] cmadjar commented on #5459
@HenriRabalais Can you look into this?

[2019-11-01 18:27] cmadjar commented on #5363
@HenriRabalais We assigned you the media module bug fixes for Monday. While you are at it, maybe you can fix this one too? Thanks!

[2019-11-01 18:27] maltheism commented on #5472
@cmadjar @ridz1208 I'm not getting any output in my error log file when running the installdb.php on the 22.0-release branch.

[2019-11-01 18:30] cmadjar commented on #5463
@sruthymathew123 we assigned you the statistics module issues for Monday. Thanks!!

[2019-11-01 18:32] driusan commented on #5472
@maltheism the error in the SQL file was fixed, so there's currently no error.. but if you modify something in the SQL schema so that it's not valid and try installdb.php you'll see that the error handling is broken

[2019-11-01 18:34] cmadjar commented on #5461
@Jkat can you please look into this on Monday? Thank you!

[2019-11-01 18:36] cmadjar commented on #5416
@nicolasbrossard we assigned you the user accounts bugs to fix for Monday. If you could look into them that would be awesome. Thanks!

[2019-11-01 18:36] maltheism commented on #5382
@johnsaigle I'm getting `-rw-rw-r-- 1 lorisadmin lorisadmin 1455 Oct 22 14:36 install-2019-10-22T14:36:16.log` and I don't see what the problem is here?

[2019-11-01 18:37] maltheism commented on #5472
@driusan thanks for the explanation. I'll investigate that!

[2019-11-01 18:42] cmadjar commented on #5434
@jesscall can you look into this on Monday please? Thanks!

[2019-11-01 18:45] cmadjar commented on #5482
@johnsaigle @christinerogers can you both work together on the QC module issues on Monday to resolve the problems found? Thanks!

[2019-11-01 18:46] cmadjar commented on #5480
@johnsaigle could you create raisin bread test data for the QC module please? Thank you!

[2019-11-01 18:47] cmadjar commented on #5479
@HenriRabalais could you please look into this one too next week? Thank you!

[2019-11-01 18:49] coreyAbout opened #5496 "[data_release] there is no access point for regular user except manually type in url"
There are two permissions related to this module under user accounts:
Data Release: Grant other users view-file permissions
Data Release: Upload file
Without grant at lease one of these permissions to a regular user, there is no access point for the user to visit this module except manually type in url: https://test-loris-dev.loris.ca/data_release
Not sure how things work in real use case, but if

[2019-11-01 18:53] cmadjar commented on #5422
@xlecours we assigned you to fix the issues with MRI violations. We can talk on Monday if you have any questions regarding this module :). Thank you!

[2019-11-01 18:56] cmadjar commented on #5422
@xlecours  oups, this one is on me. I'll sit with @johnsaigle to go over the module. You are welcome to tag along. I'll assign you other MRI violation issues though.

[2019-11-01 19:00] cmadjar commented on #5380
@ridz1208 could you look into this one please? Thank you!

[2019-11-01 19:05] cmadjar commented on #5446
@xlecours could you look into this please? Thanks!

[2019-11-01 19:07] cmadjar commented on #5443
@kchatpar is this still an issue? I cannot reproduce it on any browser...

[2019-11-01 19:10] cmadjar commented on #5495
@coreyAbout could you please update the test plan of this module?

[2019-11-01 19:18] cmadjar commented on #5494
@christinerogers @coreyAbout can you guys work together in clarifying the test plan for that module please? Thanks!

[2019-11-01 19:18] cmadjar commented on #5493
@christinerogers @coreyAbout can you guys work together in clarifying the test plan for that module please? Thanks!

[2019-11-01 19:19] cmadjar commented on #5488
@christinerogers @coreyAbout can you guys work together in clarifying the test plan for that module please? Thanks!

[2019-11-01 19:19] cmadjar commented on #5486
@christinerogers @coreyAbout can you guys work together in clarifying the test plan for that module please? Thanks!

[2019-11-01 19:20] cmadjar commented on #5484
@christinerogers @coreyAbout can you guys work together in clarifying the test plan for that module please? Thanks!

[2019-11-01 19:25] cmadjar commented on #5467
@xlecours can you please look into this one? Thanks!

[2019-11-01 19:25] cmadjar commented on #5468
@xlecours if you have time, could you look into this one? Thanks!

[2019-11-01 19:51] cmadjar commented on #5496
@Jkat can you please look into this issue? Thanks!

[2019-11-01 21:01] ridz1208 commented on #5380
@cmadjar this is by design right now, it's how Mouna intended it to be. we would have to decide if thats the way people prefer it before changing the functionality...

I agree it looks like a bug but it isn't one unless we all agree on it

[2019-11-01 21:16] cmadjar commented on #5380
@ridz1208 sounds good. Can you add this to the agenda of the LORIS meeting?

[2019-11-01 21:36] knoll-alex commented on #5259
Hello! Wondering what sort of timeline this might be on? I'm going to be updating all the helptext over the next couple weeks and this feature would be super helpful. Thanks.

[2019-11-01 22:00] cmadjar opened #5500 "[dataquery] 'Remove All' button from the Define Fields tab is not working"
Clicking on the "Remove All" button from the "Define Fields" tab does not remove fields previously selected for an instrument.

[2019-11-01 22:01] cmadjar opened #5501 "[dataquery] Manage Saved Queries tab not working"
Clicking on the Manage Saved Queries tab does not do anything...

[2019-11-01 22:03] cmadjar opened #5502 "[dataquery] "Load Saved Query" not working"
When clicking on "Load Saved Query" and selecting the queries saved for the user, the DQT complete crashes (blank page).

[2019-11-04 14:25] ridz1208 commented on #5380
@cmadjar done

[2019-11-04 14:45] xlecours opened #5503 "[data_team_helper] README.md"
In `https://github.com/aces/Loris/blob/22.0-release/modules/data_team_helper/README.md` the note at the bottom says :

That is not true.

[2019-11-04 14:55] xlecours opened #5504 "[data_team_helper] Erroneous help text"
The help text of the data_team_helper module says that clicking on an instrument name in the `Data Conflict` tab will display the conflict_resolver module at that specific conflict. The actual behavior is that the conflict_resolver load with all the conflicts displayed; period.

Either correct the help text or make sure the conflict_resolver module loads with the appropriate filters.

[2019-11-04 15:04] xlecours opened #5505 "[data_team_helper] Pagination links are broken"
At the bottom of the datatable, on any tab:

1. click on the page number 1 or 2 does the same thing.
2. the `...` can't be expended
3. clicking on the arrow at the end of the numbers displays the first page instead of the last.

[2019-11-04 15:07] ridz1208 opened #5506 "[Configuration] multiple entry fields broken"
for both deletion of an entry or addition. I get in the console:

[code]

[2019-11-04 15:10] xlecours opened #5507 "[behavioural_qc] Error in test plan"
Step 4 says:

is should be:

-------------------------------------

step 8 says:

What does that mean?

[2019-11-04 15:21] xlecours opened #5508 "[data_team_help] Missing features"
1. There is no 'clear' button for the filters
2. The datatable can't be sorted (usually clicking on a column header would sort the table by that column values.)
3. The test plan says :

What does that mean? Which field label?

[2019-11-04 15:31] ridz1208 opened #5509 "[Configuration] configurations of type boolean show up as text when no default value is added"
The perfect example is the `Instrument Resetting` configuration under `Study`.

The `Instrument Resetting` is in the `ConfigSettings` table with type boolean. it shows up as text on the front end because no default value was entered for it in the `Config` table. When an entry is added in the `Config` table with value `true` or `false`, the field starts showing up as radio buttons as it should.

No

[2019-11-04 15:34] xlecours opened #5510 "[Quality Control] Is it a thing?"
Can we remove the Quality_Control module from 22.0 ?

1. There is no readme.md
2. There is no test plan
3. The page loads 2 tabs, one with data that seems to be a list of all instruments in the flag table. The other tabs seems to be a list of all imaging sessions with various links but no proper information (added value)

[2019-11-04 15:40] kchatpar commented on #5443
On my browser, it still shows up as dd/mm/yyyy
![Screenshot from 2019-11-04 10-38-43](https://user-images.githubusercontent.com/15351191/68134032-7ed46b80-feef-11e9-9632-4548db995a64.png)

[2019-11-04 15:43] ridz1208 opened #5511 "[Configuration] Creating new project with no affiliated subprojects gives an error"
When trying to create a new project from the configuration module. if no subprojects are selected the error `Failed to save, same name already exist!` pops up in red however

1. that error is incorrect, the name does not already exist
2. the new project gets registered even though the error pops up, no subprojects are affiliated with the newly created project.

[2019-11-04 16:30] johnsaigle commented on #5259
Hi @knoll-alex! @maltheism will have to answer ultimately but development could potentially be delayed since we are in the middle of release testing. That means that new features will probably get pushed until the next release -- but with luck perhaps we can sneak this in.

[2019-11-04 16:31] johnsaigle commented on #5382
Since the script creates the log directory in the first place, I don't see why the same script wouldn't be able to write to it.

[2019-11-04 16:35] johnsaigle commented on #5438
No thoughts -- I don't have any experience with CentOS.

[2019-11-04 16:41] xlecours commented on #5468
@cmadjar This do not seems to be a bug. It is more like a feature request.

[2019-11-04 16:49] johnsaigle commented on #5510
Tagging @llevitis in case she wants to fight for its survival

[2019-11-04 16:53] SantiagoTG commented on #5468
Indeed it is.

[2019-11-04 16:59] johnsaigle commented on #5509
Related to #5169?

[2019-11-04 16:59] johnsaigle commented on #5508
Sounds like the documentation needs to be updated too

[2019-11-04 17:04] johnsaigle commented on #5456
I think the documentation needs to be updated for this one. There aren't (maybe never have been) user permissions on the document repository to restrict a user from deleting another user's file.

[2019-11-04 17:05] johnsaigle commented on #5452
Seems to be a duplicate of #5490

[2019-11-04 17:08] johnsaigle commented on #5439
This was fixed in https://github.com/aces/Loris/pull/5370 but the PR got merged into `major`... not sure what the test VM is based off of right now.

[2019-11-04 17:09] johnsaigle commented on #5439
Also @leighevans did this occur in Edit User or My Preferences?

[2019-11-04 17:19] maltheism commented on #5259
@knoll-alex the issue might get held back as @johnsaigle mentioned it being release testing. I'll try to work on the bullet feature when time permits. I suggest you write Markdown with bullets when needed and the PRs can be merged in after this feature has been implemented.

[2019-11-04 17:20] johnsaigle commented on #5259
I agree; go ahead and format it with bullet points for now and we'll make sure they work later.

[2019-11-04 17:22] kongtiaowang commented on #5448
It has been fixed.

[2019-11-04 17:23] #5448 closed

[2019-11-04 17:23] kongtiaowang commented on #5448
It has been fixed.

[2019-11-04 17:54] johnsaigle commented on #5440
This is expected behaviour.

[2019-11-04 18:00] johnsaigle opened #5515 "[Testing] Strict bash flags cause docker scripts to fail locally"
`test/dockerized-unit-tests.sh` checks if the `$DEBUG` variable is given a certain value to determine how it should run.

This doesn't work after #5051  because the script will fail when this variable is not set.

[2019-11-04 18:03] zaliqarosli opened #5516 "[Conflict_resolver/Instruments] Resolving conflicts does not recalculate score"
resolving conflicts does not recalculate score. even though the value of the field in the instrument that you resolved correctly updates, you have to manually go into the instrument and click on 'save data' to get the updated score for the newly resolved value. this breaks the last point of the conflict resolver test plan

[2019-11-04 18:09] zaliqarosli opened #5517 "[Instruments] Completed data entry does not save values"
On saving data entry in an instrument, some values do not auto-populate when you refresh / revisit the page i.e. Date of Administration or MRI Site Name on page 1 of MRI parameter form. The input field renders empty value / placeholder

[2019-11-04 18:10] johnsaigle commented on #5509
This may also be a Raisinbread issue. Should these settings always be defaulted to either true or false? What causes them to be blank?

[2019-11-04 18:14] kongtiaowang commented on #5455
It has been fixed.

[2019-11-04 18:14] #5455 closed

[2019-11-04 18:30] kongtiaowang commented on #5462
It has been fixed.

[2019-11-04 18:58] driusan commented on #5516
Are there any errors or anything? Last time I looked at it (which was quite a while ago) the conflict resolver called "save" on the instrument after it was done to make sure scores were recalculated.

[2019-11-04 18:59] driusan commented on #5462
@SantiagoTG can you confirm and close?

[2019-11-04 19:17] jesscall opened #5520 "[imaging_uploader] Fields in upload form should be enabled when selecting 'no' for phantom scan"
When selecting `no` in the `Phantom Scan` field, other fields should be enabled. This is currently not the case.

![image](https://user-images.githubusercontent.com/34260251/68150385-a20e1380-ff0d-11e9-85d2-b496fc398f25.png)

[2019-11-04 19:18] zaliqarosli commented on #5516
no errors. it just shows new value for field, old value for score. and then when you click 'save data', new value for score shows up

[2019-11-04 19:20] jesscall commented on #5520
I noticed however that when you attach a scan to be uploaded, it automatically fills out the candidate info + visit label based on the name of the file attached. The fields still remain disabled however.

Is this the intended behaviour?
@cmadjar @nicolasbrossard

![image](https://user-images.githubusercontent.com/34260251/68150700-48f2af80-ff0e-11e9-9cd2-85faebe7f145.png)

[2019-11-04 19:30] zaliqarosli commented on #5516
@driusan you're right! i checked again and it doesn't work if i'm on the instrument page whilst resolving the conflict. but if i enter the instrument page only after resolving, then the score does update. closing issue

[2019-11-04 19:30] #5516 closed

[2019-11-04 19:32] #5476 closed

[2019-11-04 19:32] zaliqarosli commented on #5476
PR merged

[2019-11-04 19:41] zaliqarosli commented on #5476
still issue on test vm at this moment

[2019-11-04 20:09] nicolasbrossard commented on #5520
I am using an older version of the uploader and you definitely have to fill these fields for candidate scans. I am afraid I can't tell if this has changed and what you are seeing is the new intended behaviour...

[2019-11-04 20:13] VictorVermeulen commented on #5431
I tried to delete everything and start over. I discovered that in my fork the right file is showing: https://github.com/VictorVermeulen/Loris/tree/major/docs/deprecated_wiki/Setup/Initial%20Setup/Security

However, after I fork, that file turned into a simple security file without the .md extension or any content inside. This is before I made any changes to the confix file to be clear.

A friend o

[2019-11-04 20:15] zaliqarosli commented on #5456
^ yes i agree

[2019-11-04 20:16] johnsaigle commented on #5431
@VictorVermeulen thanks for checking again.

In any case is it possible to make the change to the config file without adding the others to your commit on git?

`git add test/config.xml`
`git commit`
...

Let me know if I'm missing something.

[2019-11-04 20:21] johnsaigle commented on #5515
The same thing happens with the `SELENIUM_REQUIRED` variable.

[2019-11-04 20:22] driusan commented on #5434
Fixed by above

[2019-11-04 20:22] #5434 closed

[2019-11-04 20:26] johnsaigle commented on #5431
@VictorVermeulen I forgot that I actually issued a fix for this last week and I didn't link it properly.

As a result, you don't need to issue another PR.

If you're still up for it, there are other Beginner Friendly issues open that we'd really appreciate your help with. Thanks for the work you've already done.

[2019-11-04 20:29] xlecours commented on #5446
@PapillonMcGill Please retest.
I just tried it with bmi and it worked fine

[2019-11-04 20:30] SantiagoTG commented on #5462
Download is functional.

[2019-11-04 20:30] #5462 closed

[2019-11-04 20:52] johnsaigle commented on #5457
I think this is an issue with the Test VM, not the module.

[2019-11-04 20:55] jesscall commented on #5500
There is already a PR for this issue: #5399

[2019-11-04 20:59] #5361 closed

[2019-11-04 21:14] cmadjar commented on #5443
What browser are you using?

[2019-11-04 21:15] christinerogers commented on #5510
Also reported in:
* #5482
And related to:
* #5581

[2019-11-04 21:22] kongtiaowang opened #5526 "[imaging_uploader] Forbidden file types can be uploaded (e.g. jpg, txt)"
According to the test plan, imaging_uploader only can upload .tgz and .gz files.

[2019-11-04 21:29] #5408 closed

[2019-11-04 21:30] #4510 closed

[2019-11-04 21:35] Jkat opened #5527 "Missing .linst file(s) for proper Instrument Manager testing"
TestPlan says:
[code]
but this file has since been removed.
Further down the test plan, it asks for another sample instrument file, but the contents should either be more explicit or perhaps the exact contents should be included with the whole raisinbread dataset.

[2019-11-04 21:43] Jkat commented on #5461
Need the testing VM to be updated with https://github.com/aces/Loris/pull/5444, otherwise Imaging Browser is in an unloadable state.

[2019-11-04 21:46] kchatpar commented on #5443
I'm using chrome

[2019-11-04 21:48] kchatpar commented on #5440
Okay, as long as it's expected it's good with me - closing issue.

[2019-11-04 21:48] #5440 closed

[2019-11-04 22:06] cmadjar commented on #5461
Actually, it needs #5528 to be reviewed, merged and pulled on testing for the imaging browser to load on testing... Just fixed a separate issue than the one I fixed on #5444...

[2019-11-05 08:43] VictorVermeulen commented on #5431
Thank you. I appreciate the patience you guys all have.

[2019-11-05 12:56] VictorVermeulen commented on #5116
I think I fixed this under #5532

[2019-11-05 15:29] cmadjar commented on #5443
Probably a computer/browser setting, not a LORIS setting so closing this one.

[2019-11-05 15:29] #5443 closed

[2019-11-05 15:34] driusan commented on #5517
@zaliqarosli can you look into this? If it's a testing VM thing you might need to talk to @kongtiaowang

[2019-11-05 15:34] coreyAbout commented on #5484
@cmadjar I will do a pull request and assign @christinerogers as a reviewer.

[2019-11-05 16:13] johnsaigle commented on #5431
We appreciate your contribution!

[2019-11-05 16:17] johnsaigle commented on #5100
This was also recommended for instrument builder during today's meeting.

[2019-11-05 16:46] johnsaigle commented on #5416
@nicolasbrossard I can take this one if you want. I recently rewrote a lot of this code.

[2019-11-05 17:40] sruthymathew123 commented on #5466
@dyt811 @driusan

Total Age Average is not calculated and marked as N/A. It is the default existing code behavior in Loris for that column(Verified the statistics code as well). So this is not a bug.  Closing this issue.

[2019-11-05 17:40] #5466 closed

[2019-11-05 17:57] driusan commented on #5505
Assigned this to myself because I thought it was because of the DataTable optimizations I did.. it turns out that the data_team_helper is rolling its own react components and not using the DataTable from LORIS, so this is unrelated. (Pagination is working on LORIS DataTables)

[2019-11-05 18:18] coreyAbout commented on #5495
Have requested more detail form Derek, and will update when possible.

[2019-11-05 18:32] sruthymathew123 commented on #5460
I think this is a test VM specific case as I cannot regenerate on my VM
On my VM
![on_my_VM](https://user-images.githubusercontent.com/23702452/68235126-afd89d00-ffd0-11e9-9034-75106d84a24b.png)

On test VM
![on_test_VM](https://user-images.githubusercontent.com/23702452/68235147-b9620500-ffd0-11e9-844d-e517407b750c.png)

[2019-11-05 18:33] sruthymathew123 commented on #5460
@cmadjar I am leaving this to your court for the decision making as I cannot regenerate the issue on my VM.

[2019-11-05 18:34] 3design commented on #5495
@christinerogers advised that the navigation refers to a sidebar which is not currently shown in the issue tracker. The following tests cannot be completed as a result:

Issue Tracker Create New Issue [Manual Testing]
7. Navigation bar should lead you back to list

Issue Tracker Edit Existing Issue [Manual Testing]
7. Check that the navigation bar bring you to the next issue in your previously fil

[2019-11-05 18:45] cmadjar commented on #5520
@jesscall @nicolasbrossard This is the intended behaviour now. The fields get automatically populated based on the filename.

See https://github.com/aces/Loris/issues/2909

Closing this issue since this is the intended behaviour.

[2019-11-05 18:45] #5520 closed

[2019-11-05 18:47] driusan commented on #5520
Does the test plan need to be updated?

[2019-11-05 19:04] ridz1208 opened #5539 "[Projects] add alias field to configuration page"
Alias was just added to projects for PSCID generation but it was forgotten in the configuration front end page.

[2019-11-05 19:11] sruthymathew123 commented on #5460
This is just happening for the initial page load of statistics. In my opinion, this not a blocking issue for 22.0 release.

[2019-11-05 19:44] VictorVermeulen commented on #5116
I did send a pull request for this again in PR #5543.

[2019-11-05 19:55] driusan commented on #5460
Fixed by above PR

[2019-11-05 19:55] #5460 closed

[2019-11-05 19:55] driusan commented on #5453
PR merged

[2019-11-05 19:55] #5453 closed

[2019-11-05 19:56] cmadjar commented on #5520
No, it was already updated :)

[2019-11-05 20:00] zaliqarosli commented on #5457
I have sent a PR that indirectly helps slightly fix this issue but how the notification works is that if you're 'user1' and you make a change in doc_repo, you don't get an email. only every other user does.

@3design you'll see that if you make a change in doc_repo from the 'admin' account, you will be notified of the change in your email. could you verify this?

[2019-11-05 20:08] #5116 closed

[2019-11-05 20:08] sruthymathew123 opened #5544 "[Examiner] Edit Examiner Page Broken if Certification Instruments Have Similar Names"
Edit Examiner Page Broken if Certification Instruments Have Similar Names

[2019-11-05 20:15] driusan commented on #5511
Solved by the above PR

[2019-11-05 20:15] #5511 closed

[2019-11-05 20:18] johnsaigle commented on #5539
Assigning you cause you said you'd take this

[2019-11-05 20:26] driusan commented on #5463
Should be fixed by above

[2019-11-05 20:26] #5463 closed

[2019-11-05 20:33] driusan commented on #5413
Fixed by above PR

[2019-11-05 20:33] #5413 closed

[2019-11-05 20:44] driusan commented on #5417
Fixed by above

[2019-11-05 20:44] #5417 closed

[2019-11-05 20:44] driusan commented on #5416
Fixed by above PR

[2019-11-05 20:48] driusan commented on #5439
According to @johnsaigle this was fixed by #5426

[2019-11-05 20:49] johnsaigle commented on #5439
I gave @driusan bad information. This issue is actually addressed by https://github.com/aces/Loris/pull/5514/files

[2019-11-05 20:55] driusan commented on #5456
Documentation updated by above.

[2019-11-05 20:55] #5456 closed

[2019-11-05 20:56] zaliqarosli commented on #5457
i also updated the doc repo test doc to explain the above

https://github.com/aces/Loris/pull/5525

[2019-11-05 20:56] driusan commented on #5457
#5525 was merged

[2019-11-05 20:56] #5457 closed

[2019-11-05 20:57] johnsaigle commented on #5422
The conclusion of our meeting was that these items aren't appropriate for LORIS testing and instead indicate an issue with LORIS-MRI.

[2019-11-05 21:06] 3design commented on #5457
Sorry for the late reply. I understand the logic now, thanks!

[2019-11-05 21:14] christinerogers opened #5547 "[Documentation] Broken link in Contributing.md"
Broken by #3996
to do :
* update the link  on `React Guidelines`  in Contributing.md

[2019-11-05 21:15] driusan commented on #5457
"late reply"? The timestamp on her comment is an hour ago..

[2019-11-05 21:17] driusan commented on #5503
Fixed by above

[2019-11-05 21:17] #5503 closed

[2019-11-05 21:18] coreyAbout opened #5548 "[Issue Tracker] add planed items as a reminder"
These items were in the test plan, was told to remove them but create a issue ticket as a reminder:
See Pull request #5540
Issue Tracker Create New Issue [Manual Testing]
7. Navigation bar should lead you back to list
Issue Tracker Edit Existing Issue [Manual Testing]
7. Check that the navigation bar bring you to the next issue in your previously filtered list of issues

[2019-11-05 21:24] HenriRabalais opened #5550 "[New Profile] Form has Unnecessary collapsible panel"
The new profile form should not be surrounded by a collapsible panel. This seems unnecessary.

[2019-11-05 21:24] johnsaigle commented on #4150
Related issue #5548

[2019-11-05 21:25] johnsaigle commented on #4150
@maltheism I'm going to add you as an assignee for this because you expressed some interest in enhancing the issue tracker. Feel free to remove the assignment though.

[2019-11-05 21:25] HenriRabalais opened #5551 "[Data Dict] Test Plan Needs Updating"
Test plan is erroneous - the data_dictionary_builder.php script can be found in `tools/exporters/` rather than `tools/`

[2019-11-05 21:29] HenriRabalais opened #5552 "[New Profile] 500 error when creating new Candidate with EDC"
When completing the new profile form with the EDC configuration set to true, the form does not submit when clicking 'Create'. A 500 error is returned in the inspector.
`Failed to load resource: the server responded with a status of 500 (Internal Server Error) `

[2019-11-05 21:31] johnsaigle commented on #5552
Is there anything in the error log?

[2019-11-05 21:35] HenriRabalais commented on #5552
@johnsaigle yes, i've pasted it into the issue description

[2019-11-05 21:36] christinerogers commented on #5548
Hi @coreyabout --  I think we have a miscommunication here.
Please confer with Derek - I would prefer to see a complete update to the Issue Description of #5495 to clarify the root issue.

Note -- (cc @3design )
The NavigationBar feature was **removed** : see PR #4855 -- called `[issue_tracker] Remove navigation control panel`

So any Test Plan items regarding the Navigation bar should either be u

[2019-11-05 21:45] #5548 closed

[2019-11-05 21:46] johnsaigle commented on #5495
As Christine pointed out, these actually refer to outdated features. This issue should be resolved by #5540 which updates the test plan

[2019-11-05 21:47] johnsaigle commented on #5552
That's weird. Maybe a test VM issue? That column seems to exists in the main schema and in Raisinbread.

I'll see if I can reproduce on my VM

[2019-11-05 21:47] ridz1208 commented on #5552
thats a config issue

[2019-11-05 21:53] johnsaigle commented on #5552
Seems to be an issue with the Test VM

[2019-11-05 21:54] ridz1208 commented on #5552
@kongtiaowang the project table on the test VM does not have the alias column... that column is part of the SQL patches and raisinbread. not sure why its not there

[2019-11-05 22:19] johnsaigle commented on #5502
I'm not able to replicate this on my VM or on demo, but the issue occurs on the Test VM. It's possible that it's configured incorrectly.

[2019-11-05 22:22] zaliqarosli commented on #5517
it looks to only be the MRI parameter form and only the two fields reported in the description above

[2019-11-05 22:44] ridz1208 commented on #5509
when someone needs to add a configuration option, we genrally only require them to cheate the `ConfigSettings` entry in an SQL patch.

I never realized that boolean configurations that are added only into `ConfigSettings` get displayed as text fields. @driusan did you know ?

Its obviously ideal if the dev who submitted the PR also adds an entry into the `Config` table to include a default behavio

[2019-11-05 22:45] ridz1208 commented on #5169
@nicolasbrossard could you test that out on 22 now ?
but with a different config setting then useProject cause that was removed recently

[2019-11-05 22:47] christinerogers commented on #5495
"not currently shown" because "feature was expressly deleted" is the context which was discussed, but not included in this issue description

[2019-11-05 22:52] ridz1208 commented on #5500
This has a PR going to 21.0-release. once merged the code will be pushed forward to 22

[2019-11-05 22:55] zaliqarosli commented on #5517
@ridz1208 where was the raisinbread MRI parameter form instrument taken from? i'm trying to find a history

[2019-11-05 23:00] zaliqarosli commented on #5449
same issue as https://github.com/aces/Loris/issues/4857

[2019-11-05 23:10] ridz1208 commented on #5432
can you link to examples ? and @cmadjar why is this 22.0.0 testing ?

[2019-11-05 23:12] ridz1208 commented on #5461
I added PR sent but i think it should be closed if its resolved by the 2 PRs above, they are now merged

[2019-11-05 23:17] ridz1208 commented on #5479
@christinerogers the data seems to be filtering correctly, the issue is, the filter at the top of the page is not displaying the instrument you filtered with. its defaulting back to all instruments

[2019-11-05 23:42] ridz1208 commented on #5479
The datateamhelper's code is too horrible to debug

[2019-11-06 00:13] ridz1208 commented on #5496
@Jkat i made a PR for it

@coreyAbout you can test my PR see if it fixes the issue

[2019-11-06 13:29] cmadjar commented on #5461
Just tested it and it is working on testing now :).

[2019-11-06 13:29] #5461 closed

[2019-11-06 13:35] cmadjar commented on #5432
no idea why I did that... I removed the 22.0.0 testing label...

[2019-11-06 13:38] cmadjar commented on #5500
Perfect. Added the PR sent label then.

[2019-11-06 13:40] cmadjar commented on #5502
@kongtiaowang Could you look into why this is not working on testing? Thanks!

[2019-11-06 13:55] driusan commented on #5509
No, they should be displayed as false. It seems to be a bug.

[2019-11-06 13:57] johnsaigle commented on #5509
I think this is normally done, at least since we've started requiring Raisinbread updates. We can be more strict about it during code review.

[2019-11-06 13:57] driusan commented on #5495
Can this be closed now that #5540 is merged?

[2019-11-06 14:00] johnsaigle commented on #5432
@ridz1208 This came to mind when you were trying to get a PR relating to projects to pass travis. In that case a NUM_CANDIDATES class constant would've been more useful than a magic number in the text.

[2019-11-06 14:25] cmadjar commented on #5486
Weird... I just looked into this one and it looks like this is broken on test-loris-dev.loris.ca but not when I test the code on my different sandboxes...

@kongtiaowang @driusan any idea why?

[2019-11-06 14:29] cmadjar commented on #5486
ok. It looks like sometimes the Blank Line is working, and sometime it isn't. No message in the JS console or the apache error log. Not ideal for debugging...

[2019-11-06 15:09] coreyAbout commented on #5496
@ridz1208 Hi Rida, For sure, I can do it next week. I have used up all my time for LORIS team for this week.

[2019-11-06 15:31] driusan commented on #5547
Fixed by above PR

[2019-11-06 15:31] #5547 closed

[2019-11-06 15:41] ridz1208 commented on #5502
@johnsaigle demo is on 21

[2019-11-06 15:41] christinerogers commented on #5495
Yes. closing.

[2019-11-06 15:41] #5495 closed

[2019-11-06 15:43] ridz1208 commented on #5509
@johnsaigle I agree thats why I will issue a default for that specific value but i reported the bug anyways to keep track of it

[2019-11-06 15:45] christinerogers commented on #5484
Hi Corey - thanks for this ticket.
I'm not sure from old behaviour whether we expected not_answered to be visibly added in front end element in the Instrument Builder after the user clicks "Add Row".
I will open a new "to verify" issue to ensure it doesn't get swept under the rug (though may be low-priority due to the incoming re-build of this module as discussed).

[2019-11-06 15:45] ridz1208 commented on #5432
@johnsaigle thats what I thought.

In that particular case, yes constants would make it clearer but what would also be useful is for the different asserts to be split into different tests so they can all fail at once and be fixed at once rather then one at a time.

[2019-11-06 15:50] christinerogers opened #5559 "[instrument Builder] verify if not_answered option should be displayed in front-end element view?"
per #5484, @coreyAbout found in 22 testing :
 * `not_answered` is added to each dropdown created, as shown by the .linst download.
However, the `not_answered` option is not visible in the front end element which the user sees in the Instrument builder page after clicking "Add Row".
It would be desirable for this to show -- and good to first verify if it used to be there.
Given the incoming Instrum

[2019-11-06 15:51] johnsaigle commented on #5502
Good to know. Still seems to work when I check out 22.0-release locally.

[2019-11-06 15:54] ridz1208 opened #5560 "[Create timepoint] add test for when user has more than one site and more then one project"
In crete timepoint, when a user is affiliated to one site only or one project only, the site and project fields do not get displayed in the form and they default to the only site and project the user has.

The case where the user has multiple sites and/or multiple projects affiliated is not covered by automated testing. in these cases a site and project dropdown should show up and is required to s

[2019-11-06 16:58] johnsaigle opened #5562 "[Imaging Uploader] Fields always disabled? (PSCID, CandID, Visit Label)"
From my understanding when Phantom Types is selected as the scan, the fields should be editable whereas for non-phantom scans they should be auto-populated.

#5520

[2019-11-06 16:58] #5562 closed

[2019-11-06 16:59] driusan commented on #5562
That was fast.

[2019-11-06 16:59] johnsaigle commented on #5562
lol yeah I realized that this was already discussed in the issue I linked but that I read it incorrectly

[2019-11-06 17:15] #5494 closed

[2019-11-06 17:15] #5493 closed

[2019-11-06 17:15] #5488 closed

[2019-11-06 17:15] #5484 closed

[2019-11-06 17:16] johnsaigle opened #5563 "[Data Release] Add integration tests for this module"
Currently there are no integration tests for this module and it needs them.

[2019-11-06 17:18] #5473 closed

[2019-11-06 17:22] driusan commented on #5486
IIRC someone brought it up in a LORIS meeting and it works the first time but not after that, or something along those lines.

[2019-11-06 17:27] #5418 closed

[2019-11-06 17:32] johnsaigle opened #5564 "Update ReadTheDocs base branch"
Currently the compiled docs are based on `minor` which will soon be axed.

This should be based on the new default branch once that's sorted out.

[2019-11-06 17:35] johnsaigle commented on #5259
@knoll-alex A pull request has been opened to add this feature. It will likely be released in LORIS version 23... so not for (likely at least a few months) unfortunately.

https://github.com/aces/Loris/pull/5542

[2019-11-06 17:51] johnsaigle opened #5565 "Create value object for Alias"
Use `src/StudyEntities/Candidate/ValidatableIdentifier.php` as a template

## TODO

### Create `Alias.class.inc`

#### Class properties

protected const MAX_LENGTH;
protected const MIN_LENGTH;
protected string $value;

#### Functions

`private function _validate(): void();` verifies:
* $value is alphabetical (no numbers or special characters)
* length of $value is between MAX_LENGTH and MIN_LENGTH

[2019-11-06 18:01] cmadjar commented on #5486
that would be consistent with my observations :)

[2019-11-06 18:05] johnsaigle commented on #5565
@ridz1208 mentioned there's also something called an MRI alias so the above design may need to be modified depending on its needs

[2019-11-06 18:06] driusan commented on #5551
Fixed by above

[2019-11-06 18:06] #5551 closed

[2019-11-06 18:08] johnsaigle commented on #5029
The page contents have been removed and now link to CONTRIBUTING.md.

The page was quite out of date (descriptions of labels, references to branches and workflows that do not exists)

[2019-11-06 18:08] #5029 closed

[2019-11-06 18:16] johnsaigle commented on #5429
#5425 is merged

[2019-11-06 18:20] thomasbeaudry commented on #5565
What exactly is this class for ./ how will it be used in LORIS?

[2019-11-06 18:26] johnsaigle commented on #5565
It will be used as a Value Object, basically a way to move beyond primitive types and create something that's self-validating.

The goal is to be able to do something like

[code]

Upon creation, ProjectAlias will internally verify that it has e.g. a length of 4 and is an alphabetic string. If not, it will throw an exception.

The alternative way to validate is doing something like:

[code]

which

[2019-11-06 18:26] nicolasbrossard commented on #5169
@ridz1208 Here's what I did on the test VM database: I removed the record in table `Config` associated to the `useConsent` entry in `ConfigSettings`. Since there is a value for `useConsent` in `config.xml`, which is a boolean, it should be displayed on the front-end. It is, but it shows up as a text field, not a radio button with values true/false. So the behaviour is a bit different but it is sti

[2019-11-06 18:45] driusan commented on #5438
The PR sent for this was closed, I'm taking off the tag..

[2019-11-06 18:49] johnsaigle commented on #5438
@driusan I think #5492 takes over for the closed PR about so I'm going to add it back

[2019-11-06 18:54] driusan commented on #5438
Are you sure? #5492 says it's for #5383, not #5438

[2019-11-06 18:58] johnsaigle commented on #5438
True, but #5489 has a [comment](https://github.com/aces/Loris/pull/5489#issuecomment-548874342) closed in favour of #5492.

it's a bit of a maze

[2019-11-06 19:03] driusan commented on #5526
Fixed by above

[2019-11-06 19:18] kongtiaowang commented on #5552
@HenriRabalais @ridz1208 I have run the new patch, it is working right now.

[2019-11-06 19:19] kongtiaowang commented on #5552
@HenriRabalais  I will close this issue.

[2019-11-06 19:25] johnsaigle opened #5566 "[JSX - DataTable] Button with double arrows filters out every entry in the table?"
The Examiner menu filter has a button with two small arrows beside the "Download Table as CSV" button and under the Certification column.

Clicking these seems to remove all entries in the table. What is it supposed to do?

I couldn't find any info in the help text or the test plan.

[2019-11-06 19:28] johnsaigle opened #5567 "[Raisinbread] Incomplete testing data for examiner certification"
There are no certification instruments for examiners in Raisinbread. As a result it's not possible to properly test all features of the module.

The README for `examiner` mentions that instruments have to be configured in the config.xml file. However, there are no examples of this in `project/config.xml` or in `test/config.xml`.

Ideally these should be configuration settings and not in the XML fi

[2019-11-06 20:08] driusan commented on #5447
fixed by above

[2019-11-06 20:08] #5447 closed

[2019-11-06 20:32] driusan commented on #5467
Fixed by above PR

[2019-11-06 20:32] #5467 closed

[2019-11-06 21:46] nicolasbrossard opened #5569 "'First Visit' setting in table test_battery not taken into account"
On the testing VM, instrument `medical_history` is set to be part of visit V06 iff it's not the first visit. I created visit V06 for a candidate that had no visit so far and `medical_history` was added to the list of instruments for that (first) visit.

Found during testing of 22.0.

[2019-11-06 22:16] christinerogers commented on #5410
This should be linked to issue #4995

[2019-11-06 22:21] christinerogers commented on #5241
re-opening.  will be tied and closed as it gets covered and resolved with PRs sent, with input from @knoll-alex

[2019-11-06 22:25] christinerogers commented on #5211
I'm still in favour of converting this into a Google Season of Docs project rather than closing...

[2019-11-06 23:27] HenriRabalais commented on #5363
@cmadjar sounds good! should be an easy fix!

[2019-11-07 13:37] PapillonMcGill commented on #5446
BMI effectively available now.
Could not test 13 (parent and subtopic) and 15 as only 1 but all other tests are Ok

[2019-11-07 13:37] #5446 closed

[2019-11-07 15:05] driusan commented on #5449
Fixed by @zaliqarosli's PR!

[2019-11-07 15:05] driusan commented on #4857
I tested #5572 on this dataset and it's working now.

[2019-11-07 15:05] #4857 closed

[2019-11-07 15:05] #5449 closed

[2019-11-07 15:08] driusan commented on #5569
It seems like this type of thing should be caught by unit tests

[2019-11-07 15:11] driusan commented on #5527
@kongtiaowang do you have a copy of this instrument to add back?

[2019-11-07 15:48] driusan opened #5574 "Test Battery should have unit tests"
The test battery is a pure function of a bunch of inputs, with some complex interactions and edge cases in the battery assignment rules. It should have unit tests since it's the type of thing that's likely to have regressions if untested and should be easy to unit test.

[2019-11-07 16:54] kongtiaowang opened #5575 "[imaging_uploader] Forbidden any file name can be uploaded (e.g. ImagingUpload.tar.gz)"

[2019-11-07 16:54] #5575 closed

[2019-11-07 17:04] #5526 closed

[2019-11-07 17:26] nicolasbrossard commented on #5569
Indeed. PR coming up.

[2019-11-07 20:18] driusan commented on #5423
Fixed by above

[2019-11-07 20:18] #5423 closed

[2019-11-07 20:18] driusan commented on #5544
Fixed by above

[2019-11-07 20:18] #5544 closed

[2019-11-07 21:46] christinerogers opened #5576 "[docs][GoogleSoD] Update Help text : Phase 2"
For Google Season of Docs // Alex Knoll

- [x] Help text : updates to existing markdown file found in LORIS codebase under `modules/_module_name_/help/`

Companion docs:
- [x] _in progress_ Help text Style guide: to be committed as a Markdown - for devs
- [x] _in progress_ Workflow User guide: in a googledoc (link shared with CR)

* Your draft / screenshots should be done looking at the 22 release

[2019-11-07 22:34] HenriRabalais commented on #5363
After looking into this further, there is the same issue for visit label and instruments, so I might as well tackle all the similar issues with this one PR.

[2019-11-07 22:49] HenriRabalais commented on #5136
PR Sent #5577

[2019-11-07 22:50] HenriRabalais commented on #5363
PR Sent #5577

[2019-11-07 22:52] HenriRabalais commented on #5458
This seems to be a LORIS-wide issue. I will look into the Datatable to resolve this. I'm just going to change the Issue name to reflect my findings.

[2019-11-07 23:25] HenriRabalais commented on #5459
@cmadjar There seems to be other issues preventing me from resolving this - the media edit form won't load at the moment. It seems like there's issues with ID value being passed to the edit form. I will look at resolving that issue first, and then tackling this one.

[2019-11-08 14:20] driusan commented on #5363
Does #5577 replace this or complement this?

[2019-11-08 16:16] maltheism commented on #5438
@johnsaigle @driusan yah sorry for it being a maze. The installation process of CentOS had a couple errors and were solved from installing php from a different repo as found here https://github.com/aces/Loris/pull/5492/files. This PR should be closed as I went through the installation process a few times after that solution and the install.sh won't complain because it's finding php when installed

[2019-11-08 16:16] #5438 closed

[2019-11-08 16:45] SantiagoTG opened #5581 "[Media] Edit metadata window not loading"
When you try to open the edit metadata window, the window gets stuck loading, and thus can't edit data.

![Screen Shot 2019-11-08 at 11 44 08 AM](https://user-images.githubusercontent.com/54332302/68494981-4e593e00-021d-11ea-954d-6b53fba3b464.png)

[2019-11-08 16:47] #5472 closed

[2019-11-08 16:53] kchatpar opened #5582 "[Dicom Archive] Sex is not a dropdown"
In sex filter for the dicom archive is not a dropdown.

[2019-11-08 16:56] SantiagoTG opened #5583 "[BVL Feedback] Can't reopen thread once it has been closed"
Once a thread has been closed, it can't be reopened.

[2019-11-08 17:39] driusan commented on #5582
This makes a little sense, because`tarchive.PatientSex` is a `varchar(255)` in the schema.

[2019-11-08 18:15] ridz1208 commented on #5581
@SantiagoTG good catch. I'm adding this here for more details
![Screenshot from 2019-11-08 13-14-35](https://user-images.githubusercontent.com/15268287/68500482-cded0a00-0229-11ea-8f8b-67e527ed574f.png)

[2019-11-08 19:42] HenriRabalais commented on #5459
PR Sent: #5585

[2019-11-08 19:54] kchatpar commented on #5582
Ok

[2019-11-08 19:54] #5582 closed

[2019-11-08 19:56] kchatpar opened #5586 "[Dicom Archive] Imaging browser permissions don't disable the imaging browser"
On the dicom archive test plan item - 10. Click on 'View Images' to access the Imaging-Browser for the given subject if 'View all-sites Imaging Browser pages' or 'View own-site Imaging Browser pages' permission is set [Manual Testing]

When the two permissions are not given to a user the imaging browser is still accessible.

[2019-11-08 20:00] kchatpar opened #5587 "[Dicom Archive] Dicom download throws a 404 error"
Item 11 on the dicom archive test plan - Ensure that clicking on any row in the 'Archive Location' column triggers a download of the corresponding archived DICOM study. Make sure that the copy of the file downloaded to your system is prepended with the Patient Name field. [Manual Testing]

When clicking on the archive location it throws a 404 error and the scan is not downloaded.

[2019-11-08 20:01] driusan commented on #5569
Adding discussion required because there's a thread in #5573 about expected behaviour..

[2019-11-08 20:02] driusan commented on #5587
This is likely because of the test VM, @kongtiaowang can you look into this?

[2019-11-08 20:12] HenriRabalais commented on #5581
PR Sent: #5585

[2019-11-08 20:13] cmadjar commented on #5479
@ridz1208 So what should be done with this issue?

[2019-11-08 20:32] driusan commented on #5419
Fixed by above

[2019-11-08 20:32] #5419 closed

[2019-11-08 20:32] driusan commented on #5421
Fixed by above

[2019-11-08 20:32] #5421 closed

[2019-11-08 20:32] driusan commented on #5422
Fixed by above

[2019-11-08 20:32] #5422 closed

[2019-11-08 20:34] driusan commented on #5539
Fixed by above

[2019-11-08 20:34] #5539 closed

[2019-11-08 20:36] cmadjar commented on #5587
@kongtiaowang Maybe you will need to modify php.ini to allow for larger files to be downloaded. I think I noticed that once and had to modify it. Hopefully the pointer will help...

[2019-11-08 20:52] driusan commented on #5587
Since it's a 404 I was assuming the files themselves aren't on the test VM..

[2019-11-08 21:05] maltheism commented on #5507
@xlecours step 8 is nonsensical for me as well. Maybe best option would be to remove it?

[2019-11-08 21:22] jftunteng opened #5588 "[User accounts] Can enter same date in Edit User page for 'Active from' and 'Active to'"

[2019-11-08 21:26] maltheism commented on #5566
@johnsaigle also found in the imaging_browser. I think a change with the pagination of the table is broken.

[2019-11-08 22:30] HenriRabalais commented on #5458
After looking into this more, I think it's also linked to why the pagination is not working (#5566). The fix for this should also resolve that issue.

I will look into it more next week.

[2019-11-08 22:30] HenriRabalais commented on #5566
This is likely related to this issue #5458

The PR to resolve it will likely address both issues.

[2019-11-11 15:02] ridz1208 commented on #5517
@zaliqarosli as discussed in person, the MRI PF was taken from the old version stored in the docs directory. In an attempt to shorten the instrument for demo purposes while simultaneously keeping the minimum required fields to allow statistics and QC module to work, the instrument seems to be corrupt and should be fixed, however this is not critical for the release as it is a demonstration instrum

[2019-11-11 15:42] ridz1208 commented on #5517
Issue is specific to the instrument and was fixed by PR above

[2019-11-11 16:19] sruthymathew123 commented on #5505
I think this is a duplicate of #5377

[2019-11-11 16:19] johnsaigle commented on #5501
I'm not able to reproduce this on `aces/22.0-release` or on the test VM. I'm going to close this but if I'm wrong please feel to re-open and let me know what I've missed.

[2019-11-11 16:19] #5501 closed

[2019-11-11 16:19] driusan commented on #5439
According to @johnsaigle this was fixed by #5514

[2019-11-11 16:19] #5439 closed

[2019-11-11 16:21] sruthymathew123 commented on #5505
@maltheism  I saw a PR related to this issue.  Can you confirm if a fix is already existing for this issue?

[2019-11-11 16:41] maltheism commented on #5505
@sruthymathew123 my PR fixes this issue because it uses the FilteredDataTable that handles pagination.

[2019-11-11 16:44] sruthymathew123 commented on #5505
@Thanks Alizee, I think your PR is still open and rewriting the entire Data Team helper module. Is there a quick fix available in your PR particular for this issue.

[2019-11-11 17:11] maltheism commented on #5505
@sruthymathew123 the fix for the pagination came about from using the jsx/FilterableDataTable.js in my PR. I'm not sure if that would be a quick fix for the existing code. It seems the existing code wrote custom pagination and the getPage() method is likely broken or a similar method for the custom pagination.

[2019-11-11 17:29] dyt811 opened #5595 "[Candidate Module] Orphaned, Project-Unattached Candidate Created"
In the 22 test VM, I managed to produce a subject that is invisible to myself for some reason?

Go visit https://test-loris-dev.loris.ca/969362, the subject exist, belong to Project BLABLA.

Now search: https://test-loris-dev.loris.ca/candidate_list/?dccid=969362
The subject is NOT FOUND.

Steps to Reproduce ([Video](https://drive.google.com/open?id=1PFjFmGT1vCJ3bLD-glerlYDEZUtymgOa)):

- Reproduc

[2019-11-11 18:15] driusan commented on #5377
@maltheism that PR has conflicts and isn't going to the release branch

[2019-11-11 18:48] driusan commented on #5509
Fixed by above

[2019-11-11 18:48] #5509 closed

[2019-11-11 18:53] johnsaigle commented on #5416
This apparently wasn't fixed. I think I missed committing a file. It's now addressed in #5538

[2019-11-11 19:03] HenriRabalais commented on #5581
Resolved

[2019-11-11 19:03] #5581 closed

[2019-11-11 19:04] HenriRabalais commented on #5459
Resolved

[2019-11-11 19:04] #5459 closed

[2019-11-11 19:04] HenriRabalais commented on #5479
@ridz1208 ?

[2019-11-11 19:06] ridz1208 commented on #5479
@cmadjar i guess henri should take at most 30 min to figure it out. anything beyond that is a waste of time if you ask me

[2019-11-11 19:53] johnsaigle commented on #5502
Seems to be an issue on the Test VM, not the code.

[2019-11-11 20:05] thomasbeaudry opened #5599 "config option to display candidate age in years"
I've had serveral requests to display candidate age in years instead of months.  It would be nice to have a config option for this, or if age was displayed both (i.e.   Age:  360 months / 30 years old)

[2019-11-11 20:14] HenriRabalais commented on #5566
PR Sent: #5600

[2019-11-11 20:15] HenriRabalais commented on #5458
PR Sent: #5600

[2019-11-11 20:16] johnsaigle opened #5601 "TypeError caused by User::isPasswordDifferent()"
The second parameter must be cast to a string.

[2019-11-11 20:17] driusan commented on #5527
Fixed by above

[2019-11-11 20:17] #5527 closed

[2019-11-11 21:06] HenriRabalais commented on #5464
PR Sent: #5577

[2019-11-11 21:31] HenriRabalais commented on #5479
I spent some time on this and having a difficult time finding the source of the issue. As @ridz1208 mentioned though, the filter does seem to be working fine.

I think this module needs a major overhaul (reactification, data provisioner, etc.) and that will resolve most of the issues that this module has.

[2019-11-11 22:22] johnsaigle commented on #5063
Requiring 7.4 for LORIS will also provide us with performance and security enhancements in newer versions of MySQL as discussed in #5603

[2019-11-11 23:19] HenriRabalais commented on #5550
PR Sent #5609

[2019-11-12 14:39] #5431 closed

[2019-11-12 14:39] #4997 closed

[2019-11-12 15:01] #5601 closed

[2019-11-12 15:42] coreyAbout opened #5612 "[data_release] LORIS configuration settings are invalid or missing"
on: https://test-loris-dev.loris.ca/
Grant user only "Data Release: Upload file" permission.
Login use the user account, click on "Tools"--> "Data Release", the following error shows:
`LORIS configuration settings are invalid or missing and as a result execution cannot proceed. Please contact your project administrator and/or verify your LORIS configuration.`

The same thing happens if grant user

[2019-11-12 15:46] coreyAbout commented on #5496
Hello, I am reopening this issue, because when I was testing on https://test-loris-dev.loris.ca/,
In user permission page, I cannot find any new added permission in the permission list. Only the previous two exist.

[2019-11-12 16:36] johnsaigle opened #5613 "Move server configuration settings from the database to the config.xml file"
There are certain configuration settings that will break LORIS when changed, e.g. `base`, and `url`. They shouldn't be editable from the front-end.

The decision was made in a recent meeting to move these fields to the `config.xml` file instead of the database. This has the result of overriding anything the user enters in the front-end thus fixing the issue of someone accidentally breaking LORIS.

[2019-11-12 16:36] johnsaigle commented on #5613
Tagging @ridz1208 @christinerogers and @driusan to help move the discussion along

[2019-11-12 16:53] johnsaigle commented on #5612
I was able to confirm this locally. The issue is being caused because the `data_release_view` permission doesn't seem to exist according to the code. This is weird because https://github.com/aces/Loris/pull/5557 introduced this permission and it was added into Raisinbread.

I'll debug this further.

[2019-11-12 16:59] johnsaigle commented on #5612
When I sourced Raisinbread again on `22.0-release` and created a new user with only the `data_release_view` permission, the module loaded and I did not get this error.

It's possible that Raisinbread needs to be refreshed on the test VM

[2019-11-12 17:13] johnsaigle commented on #5612
@ridz1208 says that this is now fixed on the Test VM. There's a patch in `SQL/New_patches/` that was run to fix this issue.

[2019-11-12 17:13] #5612 closed

[2019-11-12 17:24] johnsaigle commented on #5502
@ridz1208 @kongtiaowang Could one of you verify this on the back-end of the test VM? It would be good to check whether the test VM is set up correctly. Checking the error log will help.

[2019-11-12 17:32] ridz1208 commented on #5502
@johnsaigle I wouldn't even know what to look for.

any suggestions ?

[2019-11-12 17:37] johnsaigle commented on #5502
I would just click "Load Saved Query" and see what the error log says. I imagine there's a 500 error happening because the module doesn't load anything on that VM

[2019-11-12 17:40] ridz1208 commented on #5502
I was trying right now and the User Saved Queries is not actually a button

[2019-11-12 17:42] coreyAbout commented on #5496
Close issue as #5612 fixed.

[2019-11-12 17:42] #5496 closed

[2019-11-12 17:42] johnsaigle commented on #5502
that's the button. "User Saved Queries" is a header separating links that are supposed to appear.

<img width="163" alt="Screen Shot 2019-11-12 at 12 42 21" src="https://user-images.githubusercontent.com/4022790/68695910-e458d580-0549-11ea-9eed-7d7d73414e72.png">

"test" and "admin: testquery2" are the links.

[2019-11-12 17:49] ridz1208 commented on #5502
I dont have either of those
ill create one

[2019-11-12 17:50] ridz1208 commented on #5502
I tried it out, I'm having no issues
![Screenshot from 2019-11-12 12-50-16](https://user-images.githubusercontent.com/15268287/68696452-043cc900-054b-11ea-9b1d-2f2363a1811b.png)

[2019-11-12 17:51] ridz1208 commented on #5502
@cmadjar could you try it again ?

[2019-11-12 18:01] maltheism commented on #5502
@ridz1208 I'm having issues when click on the "Load Saved Query" button on my setup of LORIS for the DQT. The "User Saved Queries" & "Shared Saved Queries" menu options are unresponsive. So I think the issue still exists.

[2019-11-12 18:02] johnsaigle commented on #5502
It's possible that your VM isn't set-up to connect to CouchDB properly. Does your error log show anything?

[2019-11-12 18:06] maltheism commented on #5502
@johnsaigle I just checked and error log is empty. The Define Filters has data in it. Similar with the Define Fields. The frontend isn't outputting any errors to console as well.

[2019-11-12 18:15] johnsaigle commented on #5502
Hm alright. I wonder if maybe the JS didn't get compiled?

If it did, we should improve error handling in this module.

[2019-11-12 18:33] #5586 closed

[2019-11-12 18:59] ridz1208 commented on #5502
https://github.com/aces/Loris/pull/5399

[2019-11-12 18:59] ridz1208 commented on #5502
these might be related
theres a PR going to 21 for it

[2019-11-12 19:06] maltheism commented on #5486
@driusan @cmadjar I'm not running into the "nothing changes" problem on 22.0-release. Basically the blank line is working for me.

[2019-11-12 19:11] christinerogers commented on #5486
@maltheism If I understand you, you're having trouble reproducing the bug?

[2019-11-12 19:19] coreyAbout commented on #5486
Please check this out. It is still there! Click it to make it larger if you can see clearly. @maltheism

![screen-capture](https://user-images.githubusercontent.com/34487370/68702748-51bf3300-0557-11ea-9d36-cbe4f063135c.gif)

[2019-11-12 19:23] johnsaigle commented on #5587
This is working fine on my VM with a fresh Raisinbread install so I think we can close this and assume it's a test VM issue.

[2019-11-12 19:25] #5587 closed

[2019-11-12 19:26] johnsaigle commented on #5588
According to the test plan, this is valid behaviour.

[2019-11-12 19:26] #5588 closed

[2019-11-12 19:26] johnsaigle commented on #5583
Why is this marked as Discussion Required? Are you wondering whether this is intentional?

[2019-11-12 19:49] SantiagoTG commented on #5583
Yes, that is correct. I would presume it would be better to have the ability to re-open a thread, but as you mention, not sure if perhaps there is a reason to want to keep the thread closed.

[2019-11-12 19:53] maltheism commented on #5486
@coreyAbout please test my PR to see if it solves the bug you encountered.

[2019-11-12 21:19] johnsaigle commented on #5504
Removing PR sent because it is not addressed by the linked PR.

[2019-11-12 21:26] driusan commented on #5458
PR merged

[2019-11-12 21:26] #5458 closed

[2019-11-12 21:26] driusan commented on #5566
PR merged

[2019-11-12 21:26] #5566 closed

[2019-11-12 22:04] #5158 closed

[2019-11-12 22:06] johnsaigle commented on #5133
I think that's because this field is a boolean on the back-end.

@ridz1208 Is this addressed by your fix from this week?

[2019-11-12 22:08] johnsaigle commented on #5121
* Markdown. 😄

@maltheism tagging you just in case you're interested

[2019-11-12 22:11] maltheism commented on #5121
@johnsaigle I'm guessing this will be done similar to how the dashboard will implement markdown. I'll assign myself so I don't forget.

[2019-11-13 02:13] ridz1208 commented on #5133
@johnsaigle it should be yes

[2019-11-13 02:14] ridz1208 commented on #5133
https://github.com/aces/Loris/pull/5592

[2019-11-13 04:14] #5133 closed

[2019-11-13 13:55] cmadjar commented on #5502
I retested it on test-loris-dev.loris.ca. I had to save first a query and then loading the saved query worked.

However, on testing there is an `admin_` query in the saved queries that does not have any fields defined and when I click on this one, I get a blank page... Probably testing or RB related? @ridz1208?

[2019-11-13 14:32] ridz1208 commented on #5502
@cmadjar honestly i dont have the DQT knowledge to know... @driusan any ideas ?

[2019-11-13 15:10] driusan commented on #5360
This is a behaviour change, not a bug, but Samir approved the change of behaviour.

[2019-11-13 15:10] #5360 closed

[2019-11-13 15:10] driusan commented on #5359
merged

[2019-11-13 15:10] #5359 closed

[2019-11-13 15:22] cmadjar commented on #5474
This one is very weird. Sometimes it loads the 2 volumes + overlay, sometimes it loads only the first one...
When the 2 volumes + overlay are displayed, the `LOADING...` message appears for all volumes, one after the other. It is only when only 1 volume out of the 2 is displayed in the page. No idea why the other done does not get displayed.

Try hitting refresh on the link attached and you will s

[2019-11-13 15:46] driusan commented on #5136
I don't think the test plan is correct. The media module is for media tied to a candidate, it shouldn't be required that it's tied to an instrument.

[2019-11-13 15:54] johnsaigle opened #5626 "Array offsets: change curly brackets to square brackets"
We have some instances of curly brace syntax in LORIS. This must be cleaned up so that LORIS will work properly when PHP 7.4 comes out.

https://www.php.net/manual/en/migration74.deprecated.php

[2019-11-13 17:53] leighevans opened #5630 "[user_accounts] Cannot include "&" in passwords"
New CCNA developer (Pierre) discovered a bug in user accounts where if an ampersand is included in a user's password, they will not be able to log in. Reproduced on test-loris-dev.loris.ca. Can edit a user's password to include an ampersand and save without issue, but user cannot log in thereafter and it says that their password is incorrect.

[2019-11-13 18:05] driusan commented on #5502
I would guess either #5399 related or a similar issue when there's an empty query present.

[2019-11-13 20:22] kongtiaowang opened #5636 "[imaging_qc] "An error occurred while loading the page." (for new Loris without Raisin bread))"
[imaging_qc] An error occurred while loading the page. (for new Loris without Raisin bread)).
It should remind the user to set "mri_parameter_form" table in the database.

[2019-11-13 20:45] kongtiaowang opened #5640 "[install] after pushing 21 into 22. "unbound variable" in install.sh"
[install] after merging 21 into 22. "unbound variable" in install.sh

[2019-11-13 20:48] cmadjar commented on #5420
@johnsaigle It took forever to do it but this is finally done! (meaning the PR #5639 was sent)

[2019-11-13 21:26] johnsaigle opened #5641 "Should Raisinbread be its own repository?"
Right now the Raisinbread data files are bigger than the rest of LORIS combined.

<img width="556" alt="Screen Shot 2019-11-13 at 16 27 00" src="https://user-images.githubusercontent.com/4022790/68805775-7805d100-0632-11ea-88fe-a6dbf3fd9ca4.png">

Also the way we have things structured, the entire Raisinbread directory is being included into our release archive files which is entirely unnecessary.

[2019-11-13 21:50] christinerogers commented on #5641
Agreed,
and syncing submodules is a massive pain, from memory of `dicom-archive-tools`.
I'd bet it will definitely happen that Loris is released linked to a wrong/old version of RB.
It could just be a side repo, like Loris-MRI.

[2019-11-13 21:58] johnsaigle commented on #5641
What does the website have to do with Raisinbread?

Yeah I don't mind if it's a submodule or not.

[2019-11-13 22:05] christinerogers commented on #5641
sorry i meant demo project

[2019-11-13 22:32] christinerogers commented on #5241
early november updates: Help commits should go to `22.0-release` branch through Nov. 15 (at least)

[2019-11-13 23:14] johnsaigle commented on #5636
Duplicate of #5325

[2019-11-13 23:27] johnsaigle opened #5643 "[Install] Script fails when not run in `tools/` directory"
It's documented, but it would be good to have the script exit early and say something like "please run this script from the `tools` directory"

[2019-11-14 02:44] ridz1208 commented on #5636
duplicate

[2019-11-14 02:44] #5636 closed

[2019-11-14 02:48] ridz1208 commented on #5641
I dont mind as long as RB still gets used by travis to run the tests and fails if the developers dont make the necessary adjustments to RB when issuing a PR.

Keep in mind that every time a dev sends a PR to loris they will send an equivalent PR to the separate repo and interlink the PRs ank make sure travis tests with the RB version on that PR because code changes can affect the RB dataset

[2019-11-14 02:50] ridz1208 commented on #5502
I put discussion required cuz at this point i'm not sure anymore how to get this through, noone seems to be able to test it properly and i never know which bugs are completely unrelated and which are caused by this

[2019-11-14 02:51] ridz1208 commented on #5641
FYI the separate repo would then be https://github.com/aces/loris-demo-project

[2019-11-14 02:55] ridz1208 commented on #5136
@HenriRabalais could you highlight where it says that the instrument should be required ?

that was never a part of the design and if thats what it says then the documentation is erroneous

[2019-11-14 03:01] ridz1208 commented on #5464
@SantiagoTG why should language be required ?

Comment by dave from the linked PR:

I tend to agree, and if a visit happens in multiple languages, I dont think "multiple" should be the way to handle it, I think if that feature is needed a multiselect should be used. an option "multiple" would make it impossible to query later on at dissemination

[2019-11-14 16:08] driusan commented on #5420
PR merged

[2019-11-14 16:08] #5420 closed

[2019-11-14 16:44] driusan commented on #5469
PR merged

[2019-11-14 16:44] #5469 closed

[2019-11-14 16:58] driusan commented on #5464
"Not Applicable" handles the cases from that comment if language were required.

[2019-11-14 17:15] #5429 closed

[2019-11-14 17:17] driusan commented on #5640
Should be fixed by #5644

[2019-11-14 17:17] #5640 closed

[2019-11-14 17:48] johnsaigle commented on #5483
Should be fixed by #5600. See #5566.

[2019-11-14 17:48] #5483 closed

[2019-11-14 17:49] johnsaigle commented on #5517
Closing this as it appears to be resolved

[2019-11-14 17:49] #5517 closed

[2019-11-14 17:49] HenriRabalais commented on #5464
@ridz1208  @driusan Should this issue be closed and the PR (#5577) revised?

[2019-11-14 17:54] johnsaigle commented on #5641
Yeah that's why I was thinking a submodule might be helpful as a solution

[2019-11-14 17:58] johnsaigle commented on #5510
Closing this because yes it turns out that it's a thing, now the "Imaging Quality Control" module

[2019-11-14 17:58] #5510 closed

[2019-11-14 18:02] HenriRabalais commented on #5136
@ridz1208

![Required](https://user-images.githubusercontent.com/7550451/68883402-f750de80-06de-11ea-995b-bf993198295a.png)

[2019-11-14 18:07] SantiagoTG commented on #5464
I suggest that language be a requirement because otherwise the feature seems a bit pointless, or looses search functionality (if most media is not labeled, why even use the feature at all). I think having a "Not Applicable" option would solve for special cases. Multi-select also seems like a good idea if it does not have other unintended consequences (ie. for making queries or other).

[2019-11-14 18:17] driusan commented on #5505
should be fixed by above PR

[2019-11-14 18:17] #5505 closed

[2019-11-14 18:31] HenriRabalais commented on #5136
New PR Sent: #5649

[2019-11-14 18:31] driusan commented on #5506
This should be resolved by the above PR, according to the people who tested and reviewed it.

[2019-11-14 18:31] #5506 closed

[2019-11-14 18:35] driusan commented on #5136
+1 for literally highlighting it.

[2019-11-14 18:46] ridz1208 commented on #5464
I'll let @jesscall @sruthymathew123 make the call on this one, they know the users best.

[2019-11-14 18:53] johnsaigle opened #5651 "Fix Phan errors introduced in PHP 7.4"
modules/configuration/php/configuration.class.inc:142 PhanCompatibleDimAlternativeSyntax Array and string offset access syntax with curly braces is deprecated in PHP 7.4. Use square brackets instead. Seen for $setting{'ID'}
php/installer/Installer.class.inc:554 PhanTypeMismatchArgumentInternalProbablyReal Argument 2 ($algo) is null but \password_hash() takes int
php/libraries/Password.class.inc:20

[2019-11-14 19:17] ridz1208 commented on #5595
I'll take a look

[2019-11-14 19:42] christinerogers commented on #5510
To tie all the threads together:   (placeholders below)
* Readme is committed in : #
* Test plan will be committed by Liza (i just spoke with her)
* Help text is... ?

[2019-11-14 19:56] johnsaigle opened #5656 "Standardize name of "Publications" module"
Note - in the menu at the top of LORIS, this module is labelled Publications, but labelled as Publication (no s) everywhere else

_Originally posted by @knoll-alex in https://github.com/aces/Loris/pull/5653#issuecomment-554037549_

[2019-11-14 23:33] christinerogers opened #5668 "[docs] update Issue tracker Readme - better permissions/roles description"
The following text was removed from the Help text and should be integrated (in terms of the details it covers) into the module spec readme:

- Permissions are in accordance with the data permissions granted to that user - if a user can not see data outside of their site, they will only be able to view issues relevant to their site.
- If a user has DCC permission they will be able to see issues rel

[2019-11-15 00:04] christinerogers commented on #5481
This Documentation is still missing.  Spoke with @llevitis who may have time.

@ridz1208 does this get `Critical to Release` tag?

[2019-11-15 16:45] #5407 closed

[2019-11-15 16:49] cmadjar commented on #5411
PR got merged so closing the issue

[2019-11-15 16:49] #5411 closed

[2019-11-15 16:51] cmadjar commented on #5415
@maltheism @johnsaigle Is this still an issue or can it be closed?

[2019-11-15 17:55] maltheism commented on #5415
@cmadjar it can be closed.

[2019-11-15 17:55] #5415 closed

[2019-11-15 18:30] driusan commented on #5482
Can this be closed now that the qc module was changed to remove the tab?

[2019-11-15 18:57] christinerogers commented on #5482
Yes. closing.
It's still missing a Test plan #5481

[2019-11-15 18:57] #5482 closed

[2019-11-15 19:14] christinerogers commented on #5504
I'm pretty sure these are 2 bugs, not Help text issues. cc @driusan

[2019-11-15 19:25] kongtiaowang commented on #5502
@ridz1208 I debug it on testing VM. It seems like that is the only one CouchDB works fine.

[2019-11-15 19:32] maltheism commented on #5595
@dyt811 @ridz1208 I'm seeing the subject when visiting https://test-loris-dev.loris.ca/candidate_list/?dccid=969362

[2019-11-15 19:47] #5451 closed

[2019-11-15 19:50] #5136 closed

[2019-11-18 15:04] driusan commented on #5630
Merged

[2019-11-18 15:04] #5630 closed

[2019-11-18 15:08] driusan commented on #5364
Merged

[2019-11-18 15:08] #5364 closed

[2019-11-18 15:19] driusan commented on #5363
5577 is merged

[2019-11-18 15:19] #5363 closed

[2019-11-18 15:25] driusan commented on #5502
Now that it's merged, was this fixed by #5399?

[2019-11-18 17:10] christinerogers opened #5676 "[Cleanup] Remove old extra help files from subtabs - Genomic Browser, Img_Browser"
As noted by @knoll-alex in #5661 :

NOTE - this module has several markdown files stored in the [/help folder](https://github.com/aces/Loris/tree/22.0-release/modules/genomic_browser/help)

This seems to be an outdated convention since the help text actually stays the same as you navigate through the tabs.
- [ ] These files are extraneous and can be deleted (only for the subtabs)

_Originally post

[2019-11-18 18:50] kongtiaowang commented on #5128
yes

[2019-11-18 19:26] #5550 closed

[2019-11-18 19:57] johnsaigle opened #5681 "[User Accounts] Disable examiner status field when no examiner site set"
<img width="786" alt="Screen Shot 2019-11-18 at 14 56 42" src="https://user-images.githubusercontent.com/4022790/69085249-b70d9b00-0a13-11ea-92ec-d822801ca5aa.png">

We should disable the dropdowns when no checkbox is enabled.

[2019-11-18 20:18] johnsaigle opened #5682 "[Install] Is Git a dependency for production installs?"
This error was reported on the dev mailing list.
[code]

Even for non-developer installs, git seems to be required in order to generate the VERSION file or else the make command will fail.

Does this mean git is a dependency for LORIS?

[2019-11-18 22:50] christinerogers opened #5683 "[Cleanup] behavioral -> behavioUral"
as of Nov. 2019, we're keeping the U in `behaviour` and `behavioural` and would like to make this consistent across all module names / display text / docs

Fresh search links:
* https://github.com/aces/Loris/search?q=behavioral&unscoped_q=behavioral
* https://github.com/aces/Loris/search?q=behavior&type=Code

Biggest examples are probably:
* Publication form option which users are asked to select

[2019-11-19 00:21] christinerogers opened #5684 "[RB] CandID 587630, sessionID 1053 : Visit stage should be In Progress"
CandID  `587630`, sessionID `1053` : change `Visit stage` from `Pass` to `In Progress` - because many instruments are incomplete.
RB SQL Dump should be edited.  This logical inconsistency should be checked on other candidates.

Front-end view on Test vm (*edited* Nov.18 in the front-end to show `In Progress`):
https://test-loris-dev.loris.ca/instrument_list/?candID=587630&sessionID=1053

_Why?_

[2019-11-19 14:53] driusan commented on #5515
merged

[2019-11-19 14:53] #5515 closed

[2019-11-19 15:03] driusan commented on #5500
Can someone confirm this is fixed?

[2019-11-19 15:56] johnsaigle commented on #5684
I have a few questions here about what actionable tasks need to be done here.

I'm not sure what the screenshot is illustrating. Are you saying the November update now makes the candidate correct?

What makes that candidate the best demo candidate?

I'm not sure what sort of verification is done on the Raisinbread data. Maybe @ridz1208 can speak to its origins a little more.

Do we have a tools sc

[2019-11-19 16:01] johnsaigle commented on #5683
Command to find occurrences of `behavior` (case-insensitive):

[code]

Occurrences on aces/22.0-release as of November 19, 2019:

SQL/Archive/Pre-14.10/2014-09-26-DefaultConfig.sql:102
docs/SQLModelingStandard.md:102
htdocs/acknowledgements/acknowledgements.php:9
htdocs/js/c3.min.js:2
htdocs/js/c3.min.js:4
htdocs/js/d3.min.js:3
htdocs/js/d3.min.js:4
htdocs/js/jquery/datepicker/jquery.datepicker.js

[2019-11-19 16:11] dyt811 commented on #5595
@maltheism @ridz1208 Yup. Confirm no longer reproducible. I wonder what changed. Either way, no more issue.

[2019-11-19 16:11] #5595 closed

[2019-11-19 16:19] johnsaigle opened #5685 "[Raisinbread/Instrument Manager] No data in the `test_names` table"
I'm not sure if this is intentional or not. However, raisinbread comes with some instruments so I think that this table should be populated.

Without this data, the Instrument Manager module is empty and therefore difficult to test.

[2019-11-19 16:25] xlecours commented on #5583
Should be fixed by https://github.com/aces/Loris/pull/5522

[2019-11-19 16:31] xlecours commented on #5583
Adding PR sent but it is merged

[2019-11-19 16:38] driusan commented on #5682
Discussion from LORIS meeting:

We will write a script which checks if git/.git directory exists and use the git command if it has the prerequisites, otherwise create a VERSION of "Unknown" if it can't determine the VERSION.

[2019-11-19 16:52] #5583 closed

[2019-11-19 17:03] johnsaigle opened #5687 "Add a GitHub issue for every TODO, FIXME, and XXX comment in the codebase"
It's rare that code annotated with TODOs, FIXMEs, etc. actually get fixed. Someone has to stumble across them by chance and would have to put what they're doing on pause to fix that issue.

We also have GitHub as a public issue tracker so any refactoring tasks should be tracked here.

### TODO

Adding the following lines to `docs/LorisCS.xml` will enable PHPCS to flag TODOs and FIXMEs. (There is n

[2019-11-19 17:21] ridz1208 commented on #5685
https://github.com/aces/Loris/blob/22.0-release/raisinbread/RB_files/RB_test_names.sql

It's def populated, otherwise nothing instrument related would work

[2019-11-19 17:33] ridz1208 commented on #5684
@christinerogers I agree it should be corrected

@johnsaigle we don't currently have tools that do integrity checks like this one which explains why these were not done while cleaning RB. there is no way for a single person to go through all the possible scenarios of illogical data.  the only integrity check that was done during the cleanup of RB was, DOES RB LOAD ? that's pretty much it.

 - We s

[2019-11-19 17:34] johnsaigle commented on #5684
Agreed, this sounds very important.

Any chance you know the PR that he started?

[2019-11-19 17:40] ridz1208 commented on #5684
https://github.com/aces/Loris/pull/2764

[2019-11-19 17:46] johnsaigle commented on #5685
Oops

[2019-11-19 17:46] #5685 closed

[2019-11-19 17:49] johnsaigle commented on #5684
Do you know whether there is a ticket to resume this work? Should we create one?

The script seems pretty small; I think it would be nice to massage it a bit and then put it in the codebase. We can iteratively add more features as we need them.

[2019-11-19 18:23] ridz1208 commented on #5684
no tickets that I know of. and yeah, iteratively adding checks would be awesome

[2019-11-19 18:27] driusan commented on #5684
The PR linked says there was ticket https://redmine.cbrain.mcgill.ca/issues/13717 created

[2019-11-19 18:28] ridz1208 commented on #5684
oh yeah... redmine

[2019-11-19 19:21] ridz1208 commented on #5464
As discussed in the meeeting today, this will be properly designed and implemented for a future version

[2019-11-19 19:27] ridz1208 commented on #5500
tested on TEST

[2019-11-19 19:27] #5500 closed

[2019-11-19 19:28] ridz1208 commented on #5502
seems to be fixed on dev

[2019-11-19 19:28] #5502 closed

[2019-11-19 20:03] johnsaigle opened #5689 "Create data integrity check script to detect issues in the database"
We should have a database integrity checker script and consistently add checks to it when we detect these kind of issues. I guarantee you EVERY project has orphaned rows, illogical and inconsistent data. a while back justinNG had started a script that covered several base cases, it was never merged and eventually closed. I think it's very valuable to start that up again. It speaks to the health of

[2019-11-19 20:20] johnsaigle opened #5691 "[Raisinbread] No data for help editor module?"
It doesn't seem to be possible to edit any help files using the Raisinbread dataset. The Test VM, demo, and my sandbox contain no data.

How is this module being tested?

[2019-11-19 22:03] jesscall opened #5695 "[conflict_resolver] 'Correct Answer' in resolved conflicts does not retain value"
The field `correct answer` under the resolved conflicts tab does not retain values from recently resolved conflicts. The correct value is updated in the actual instrument but does not display in the conflict resolver table.

**Conflicts are being resolved:**

![conflict-resolver](https://user-images.githubusercontent.com/34260251/69190347-340d4300-0aee-11ea-8ee7-1fe5162435ad.png)

**`Correct Answe

[2019-11-19 22:04] charliehenrib opened #5696 "[LORIS 21.0 ] - DQT"
The remove all button is still not working for me, but the save query is now working properly.

[2019-11-19 22:22] christinerogers commented on #5504
minor bugs - discussed in Loris meeting today.

[2019-11-19 22:29] johnsaigle commented on #5696
@charliehenrib Thanks for including the version information but could you let us know more precisely what version you're using? e.g. there have been four bugfix releases since 21.0.0 was released.

[2019-11-19 22:47] johnsaigle opened #5698 "[Core] TypeError causes 500 response when installing an instrument via Instrument Manager"
Also there are issues in the module with bad filepath to the page decorators:

This should be JSONResponse, not response

[2019-11-19 22:51] johnsaigle commented on #5698
This is triggered when `EnableCertification` is set to `1` in the config file and the `CertificationProjects` and `CertificationInstruments` are empty.

I'm not sure the correct values for these settings.

[2019-11-19 22:54] ridz1208 commented on #5696
Misplaced ticket. Should go to CCNA

[2019-11-19 22:54] #5696 closed

[2019-11-20 14:42] driusan commented on #5695
Does it appear if you reload the page?

[2019-11-20 16:07] leighevans opened #5700 "[instrument_list] "Delete instrument data" button leads to 500 error"
Clicking the "Delete instrument data" button in the top lefthand corner of the page of an instrument leads to a 500 error.
Also what is this new button supposed to do (with two ambiguous checkboxes next to it)? Is it permission based? It's not in the test plan so not sure how it's supposed to function...

![Screen Shot 2019-11-20 at 11 05 12 AM](https://user-images.githubusercontent.com/32552953/6

[2019-11-20 16:24] leighevans opened #5701 "[instrument_list] Can't select "Send to DCC" even with initial + DDE complete and no conflicts"
"Send to DCC" option not available even once initial and DDE are set to complete within a visit (and there are no conflicts). Permission to Send to DCC not the issue either (ensured I have it).
Screenshots attached:

**Send to DCC option not available even with complete data for initial and DDE:**
![Screen Shot 2019-11-20 at 11 12 17 AM](https://user-images.githubusercontent.com/32552953/69256639-

[2019-11-20 16:34] driusan commented on #5682
PR merged.

[2019-11-20 16:34] #5682 closed

[2019-11-20 16:40] driusan commented on #5474
PR merged to fix this

[2019-11-20 16:40] #5474 closed

[2019-11-20 16:52] kongtiaowang commented on #5695
@jesscall In this module, the conflict data comes from Raisin bread data, most of the data are fake, If there is no correct value, probably it means this instrument has no conflict.

[2019-11-20 16:59] maltheism opened #5702 "[genomic_browser] Files upload fails on Testing VM"
Unable to upload a file on the GenomicBrowser File Uploader.

I believe the problem happens to be that the Testing VM hasn't configured the directory for the files to be uploaded to but I could be mistaken.

https://test-loris-dev.loris.ca/genomic_browser/genomic_file_uploader/

[2019-11-20 17:05] maltheism opened #5703 "[DQT] Load Query -> Delete -> Load Query (Broken)"
The DQT has a bug when the user loads a query such as "admin_" on the Testing VM, then proceeds to delete the filter for the query, and attempts to load the "admin_" query again to recover the filter that was deleted. The filter that was deleted doesn't get updated on the second load of the "admin_" query and the user has to refresh the browser & reload for then being able to load the "admin_" que

[2019-11-20 17:15] driusan commented on #5703
I don't understand.. how do you load a query that was deleted?

[2019-11-20 17:22] maltheism commented on #5703
@driusan

Load Query "admin_" and get this:
![1](https://user-images.githubusercontent.com/16293415/69261788-39bb6500-0b90-11ea-8e55-07bf013bd5f8.png)

Click the red delete button and get this:
![2](https://user-images.githubusercontent.com/16293415/69261795-3de78280-0b90-11ea-8029-8211ca0f533b.png)

Load Query "admin_" and get this:
![3](https://user-images.githubusercontent.com/16293415/69261800

[2019-11-20 17:24] driusan commented on #5703
I see.. I misunderstood that you were deleting the query itself, not the filter on your current query.

[2019-11-20 17:27] maltheism opened #5704 "[DQT] Download Data as ZIP (button not working)"
The DQT button "Download Data as ZIP" is not working and is found in the View Data tab of the DQT.

See screenshot:
![4](https://user-images.githubusercontent.com/16293415/69262250-22c94280-0b91-11ea-819e-794f8005dc4e.png)

[2019-11-20 17:34] driusan commented on #5704
It doesn't look like you selecting any imaging file columns.. that button downloads the images, not the data table (which is handled by "Download Table as CSV")

[2019-11-20 17:36] kongtiaowang commented on #5698
@johnsaigle
I can't reproduce this issue when EnableCertification is set to 1 or 0.

[2019-11-20 17:40] maltheism commented on #5704
@driusan thanks, my misunderstanding.

[2019-11-20 17:40] #5704 closed

[2019-11-20 18:54] johnsaigle commented on #5702
Yeah, the file path is `/PATH/TO/Genomic-Data/` which won't work.

[2019-11-20 18:56] leighevans opened #5705 "[imaging_browser] Empty dropdown for "Overall" in QC Comments"
Might be a non-essential cosmetic issue, but the dropdown menu for "Overall" at the bottom of the QC Comments window is empty. On CCNA at least (currently 20.1.2), there is no dropdown for Overall, only checkboxes (screenshot attached), so maybe a dropdown accidentally got added when there shouldn't be one?

LORIS 22.0
![Screen Shot 2019-11-20 at 1 51 21 PM](https://user-images.githubusercontent.c

[2019-11-20 18:58] johnsaigle opened #5706 "Remove outdated configuration settings"
* Issue tracker URL -- it should always be `/issue_tracker/` no need to customize
* File Group for uploads -- is this used?
* Table rows per page -- overridden by module code, I believe
* Logs -- not used by any module #4100
* CSS -- A FIXME in the middleware says that it's not actually supported

[2019-11-20 19:56] driusan commented on #5452
Pr merged

[2019-11-20 19:56] #5452 closed

[2019-11-20 20:09] Jkat opened #5708 "[Data Release] Can't remove permissions under Manage Permissions"
Unchecking permissions and saving doesn't do anything

[2019-11-20 20:31] christinerogers opened #5709 "Subtab/page Help text is not displaying"
Help text markdown files for subpages is not displaying in the front end. These files are separate markdowns in the codebase.

* Imaging Browser : View Session
* My preferences show the User accounts Help (not ok!) at http://demo.loris.ca/user_accounts/my_preferences/#

_To confirm_: likely also in (but not sure if reactification is relevant?)
* MRI Violations
* DICOM archive
* more modules with s

[2019-11-20 20:33] christinerogers commented on #5709
tagging `Release Critical` -- @driusan @ridz1208 pls untag if not...

Credit goes to @knoll-alex

[2019-11-20 20:34] driusan commented on #5709
That definitely used to work. I think it should be critical.

[2019-11-20 20:38] driusan opened #5710 "Remove main.php file"
Instrument loading (now done by the instruments module) and the API (now done by the API module) were the last 2 stragglers to be converted to LORIS modules. As of LORIS 22.0, the main.php file should no longer be required (and the `.htaccess` file makes no reference to it) and it can be removed.

This should have probably been done early for 22.0, but removing it implies that a full testing round

[2019-11-20 21:22] johnsaigle commented on #5709
It seems to be happening because `subtest` is not being passed as a request parameter.

[2019-11-20 21:54] johnsaigle commented on #5709
@christinerogers

While MRI Violations does have subpages, it seems like only one help file exists in the repo for this module. So I don't think it applies here unless there used to be files and they've been deleted somehow.

[2019-11-20 22:30] christinerogers commented on #5709
Hey john, good point - looks like there was never Help for this subpage.  Only one file was commited in #3266  I'll make a new issue.

[2019-11-20 22:34] christinerogers opened #5714 "[Docs] Help text missing for 2 MRI Violations subpages"
For 2 subpages in MRI violated scans module:
* MRI Protocol Violations  : http://demo.loris.ca/mri_violations/mri_protocol_violations
This subpage shows the contents of the `mri_protocol` table and makes it editable in the front end (and therefore highly dangerous) so -- yes, needs help text.
as well as:
* MRI Protocol Check Violations : http://demo.loris.ca/mri_violations/mri_protocol_check_viola

[2019-11-20 22:41] christinerogers commented on #5710
what an epic `beginner friendly` issue!

[2019-11-20 22:44] zaliqarosli opened #5715 "[Statistics] Imaging -> Breakdown by Scan Type"
Numbers are all 0 for 'Breakdown By Scan Type' table in 'Imaging Statistics' tab for every scan type

[2019-11-21 00:58] christinerogers commented on #5241
Closing, almost all deliverables Merged and resolved.
See #5576 for outstanding...

[2019-11-21 00:58] #5241 closed

[2019-11-21 01:05] christinerogers commented on #5410
bump for an updated re-count -- since most of these should be removed merged by now (#5576)

[2019-11-21 03:35] christinerogers commented on #5576
Modules under the [modules/ directory](https://github.com/aces/Loris/tree/22.0-release/modules) not listed in the front-end Menus:
* candidate_parameters
* Timepoint_list
* create_timepoint
* BrainBrowser - excepted : doesn't really count & no need for review/updating

Subpages / other Help content :
- dicom_archive/help/viewDetails.md
- User Preferences
- Genomic Browser subtabs?
exceptions:
- MR

[2019-11-21 03:54] christinerogers commented on #5676
]Stragglers found on the 22 branch found - see this comment](https://github.com/aces/Loris/issues/5576#issuecomment-556905146)

* quick-review of the list of help texts: `cd modules;  ls */help/* |less `

? do any **non-modules** have help text?

Anyway, closing.

[2019-11-21 03:54] #5676 closed

[2019-11-21 15:26] christinerogers commented on #5325
This is a snafu for the release, no?
A slightly more elegant error message would go a long way for the release of this new module.
Flagging this `Add to Release notes` though it's an Issue and not pegged to 22.
Also should definitely be added to the Imaging_QC readme #5634

[2019-11-21 16:25] ridz1208 commented on #5567
@johnsaigle the RB config.xml contains 2 certification instruments
https://github.com/aces/Loris/blob/22.0-release/raisinbread/config/config.xml#L103

[2019-11-21 16:37] johnsaigle commented on #5567
Oh I didn't realize it had its own config file...

[2019-11-21 16:41] johnsaigle commented on #5410
modules/conflict_resolver/test/TestPlan.md:44
modules/genomic_browser/test/TestPlan.md:80
modules/genomic_browser/test/TestPlan.md:95
modules/genomic_browser/test/TestPlan.md:110
modules/genomic_browser/test/TestPlan.md:124
modules/genomic_browser/test/TestPlan.md:141
modules/genomic_browser/test/TestPlan.md:157
modules/genomic_browser/test/TestPlan.md:174
modules/genomic_browser/test/TestPlan.md:

[2019-11-21 16:43] ridz1208 commented on #5567
my guess is test.

I defenetly think we should consolidate those 2 but iremember it creating some trouble back when I added the RB one.

The RB one should stay because it's the config.xml that matches the data

[2019-11-21 16:43] johnsaigle commented on #5410
Based on a quick look:

* Genomic Browser is fine because it has the Show Data button.
* The other two still need updating.

[2019-11-21 16:43] #5567 closed

[2019-11-21 16:52] johnsaigle opened #5718 ""Behavioural Quality Control" and "Imaging Quality Control" modules should have distinct permissions"
Currently both use a single permission "quality_control". It would be better to have two separate permissions to allow for more granular configuration of a project.

Neither of them appear to have any editing functionality so I think it's safe to have a single "view" permission and no "edit" permission, but let me know if I'm wrong on this point.

[2019-11-21 16:58] kongtiaowang commented on #5702
@maltheism I have changed the config. Please try again.

[2019-11-21 17:12] kongtiaowang opened #5720 "[genomic_browser] Progress bar broke"
Even the file was uploaded successfully, It  still shows Error.
![Screen Shot 2019-11-21 at 12 07 18 PM](https://user-images.githubusercontent.com/9876007/69360256-38ee0600-0c58-11ea-9452-007e4fbf0051.png)

[2019-11-21 17:43] maltheism commented on #5702
File now uploads

[2019-11-21 17:43] #5702 closed

[2019-11-21 19:31] zaliqarosli commented on #5486
@maltheism i've change my assignment to you as you've issues a PR for this. let me know if i should revert this. thanks for looking into this issue!

[2019-11-21 20:45] maltheism commented on #5720
@kongtiaowang I'm not able to debug the test VM but I'm not able to get this error on my setup of LORIS. I think you need the directory /data/genomic_uploader and the error will go away.

[2019-11-21 21:11] maltheism commented on #5691
@johnsaigle I'm debugging this issue and so far I think inside `help_editor.class.inc` the query for building the table is not returning anything.
[code]
I'm not finding anything in the database for the help_editor query. @ridz1208 would you know if rasinbread doesn't populate it?

[2019-11-21 22:11] coreyAbout opened #5725 "[install centOS] need to update instruction on node npm install"
Following guide line by line:
https://github.com/aces/Loris/blob/22.0-release/README.CentOS7.md
When running line:
`sudo yum install nodejs`

afterwards, check `node --version` shows `v6.17.1`

But LORIS needs:
`NodeJS 8.0 or higher`

npm the same thing.

Test environment:
Virtualbox 6.08
CentOS 7

[2019-11-21 22:13] johnsaigle commented on #5725
Seems to be fixed on 22.0-release:
https://github.com/aces/Loris/blob/22.0-release/README.CentOS7.md

[2019-11-21 22:15] coreyAbout commented on #5725
no @johnsaigle
See the section titled with `Nodejs`.

[2019-11-21 22:16] johnsaigle commented on #5725
Sorry about that.

@maltheism Can you comment on this since you recently went through the install process?

[2019-11-21 22:25] maltheism commented on #5725
@coreyAbout @johnsaigle I didn't run into into an issue when using the `sudo yum install nodejs` command but it does indeed show v6.17.1. Nothing complained about nodejs being v6.17.1 and I did get LORIS working. I'm guessing if Nodejs needs to be a higher version there should be a way to install from a more updated repo.

[2019-11-21 23:22] christinerogers commented on #4631
Closing because #5634

[2019-11-21 23:22] #4631 closed

[2019-11-22 02:04] christinerogers opened #5727 "[MyPreferences] Restore/Update lost Help text (last seen in 17.1)"
https://github.com/aces/Loris/blob/7865d9c645473b4f3b696d4077eb604f5a994ef1/SQL/0000-00-04-Help.sql#L58

User Accounts: My Preferences subpage (where users can reset their own pasword)
* https://test-loris-dev.loris.ca/user_accounts/my_preferences/#

The above Help content was last in LORIS 17.1
* lost in the Great Help Markdownization of 19.0 #3437
* ideally should be restored and updated for 22

[2019-11-22 02:25] christinerogers opened #5728 "[Config:Subproject] Restore/Update lost Help text (last seen in 17.1)"
https://github.com/aces/Loris/blob/7865d9c645473b4f3b696d4077eb604f5a994ef1/SQL/0000-00-04-Help.sql#L72

Config module: Subproject subpage
* https://test-loris-dev.loris.ca/configuration/subproject/

The above Help content was last in LORIS 17.1
* lost in the Great Help Markdownization of 19.0 #3437
* ideally should be restored and updated for 22 as part of  #5576 : Help updates, phase 2

- [ ] sh

[2019-11-22 02:27] christinerogers opened #5729 "[HelpEditor:EditContent] Restore/update lost Help text (from 17.1)"
https://github.com/aces/Loris/blob/7865d9c645473b4f3b696d4077eb604f5a994ef1/SQL/0000-00-04-Help.sql#L62

Help Editor subpage: _Edit Help Content_
* http://test-loris-dev.loris.ca/help_editor/edit_help_content

The above Help content was last in LORIS 17.1
* lost in the Great Help Markdownization of 19.0 #3437
* ideally should be restored and updated for 22 as part of  #5576 : Help updates, phase 2

[2019-11-22 02:29] christinerogers opened #5730 "[UserAccts:AddEdit] Restore/update lost Help text (from 17.1)"
https://github.com/aces/Loris/blob/7865d9c645473b4f3b696d4077eb604f5a994ef1/SQL/0000-00-04-Help.sql#L56

User accounts: Add/edit User  subpage:
* https://test-loris-dev.loris.ca/user_accounts/edit_user

The above Help content was last in LORIS 17.1
* lost in the Great Help Markdownization of 19.0 #3437
* ideally should be restored and updated for 22 as part of  #5576 : Help updates, phase 2

- [ ]

[2019-11-22 02:35] christinerogers opened #5731 "[DicomArchive:ViewDetails] Restore/update lost Help text (from 17.1)"
https://github.com/aces/Loris/blob/7865d9c645473b4f3b696d4077eb604f5a994ef1/SQL/0000-00-04-Help.sql#L45

DICOM Archive:  View Details subpage
* https://test-loris-dev.loris.ca/dicom_archive/viewDetails/?tarchiveID=27#

The above Help content was last in LORIS 17.1
* lost in the Great Help Markdownization of 19.0 #3437
* ideally should be restored and updated for 22 as part of  #5576 : Help updates

[2019-11-22 02:42] christinerogers commented on #5731
nope.  closing.

[2019-11-22 02:42] #5731 closed

[2019-11-22 02:51] christinerogers opened #5732 "[Config:Project] Restore/Update lost Help text (from 17.1)"
https://github.com/aces/Loris/blob/7865d9c645473b4f3b696d4077eb604f5a994ef1/SQL/0000-00-04-Help.sql#L71

Config module: Project subpage
* https://test-loris-dev.loris.ca/configuration/project/

The above Help content was last in LORIS 17.1
* lost in the Great Help Markdownization of 19.0 #3437
* ideally should be restored and updated for 22 as part of  #5576 : Help updates, phase 2

- [ ] should b

[2019-11-22 16:20] racostas commented on #5718
strongly agree @johnsaigle.

[2019-11-22 16:26] SantiagoTG opened #5733 "[New Profile] Limit date of birth to present date."
When creating a new profile, the date of birth should not exceed today's date. However, I had no issue creating a profile whose date of birth is far ahead in the future. On the lower range, the current threshold is set to restrict if the date is before to year 1917.

[2019-11-22 16:32] SantiagoTG opened #5734 "[Examiner] Limit date range of examiner's certification to present date"
When clicking on an examiner to add or change the status of a certification, the certification date should be restricted on the upper range to the current date and not allow dates in the future. At the moment, one can set a certification to occur in the future.

Related to: https://github.com/aces/Loris/issues/5733

[2019-11-22 16:36] SantiagoTG opened #5735 "[Examiner] Page refresh after saving in edit page."
When a change is made in the edit page and you hit save, it would be great to see the page refresh and display the edited information. Currently it only does so if you do a second edit, so that the first edit will show, but not the last edit.

[2019-11-22 16:53] coreyAbout commented on #5725
I think we can just update the documents, it should be fine.

[2019-11-22 17:54] ridz1208 commented on #5715
@zaliqarosli It is not a bug per say, the query is functioning, the issue is the lack of data in RB, maybe me and @cmadjar can sit and figure out what a nice set of data for that instrument would look like

@cmadjar when we get to this, I wanna investigate this part of the query with you, https://github.com/aces/Loris/blob/22.0-release/modules/statistics/php/stats_mri.class.inc#L360

[2019-11-22 18:08] johnsaigle commented on #5725
I think the reason v8 is required is because webpack has issues building with older versions.

I think it would be good to update the documentation.

[2019-11-22 18:39] zaliqarosli commented on #5715
@ridz1208 how is it that the General Statistics table has real numbers whilst the breakdown by scan type table is all 0? shouldn't the breakdown table take the general statistics table numbers for that scan type and break it down further by timepoint and subproject?

you said

but the imaging tab doesn't have instrument data, only data for scan types

[2019-11-22 19:40] ridz1208 commented on #5708
@Jkat could you give steps to reproduce ?
i just tried it out and it seems to be working

[2019-11-22 19:43] maltheism commented on #5454
PR was sent

[2019-11-22 19:43] #5454 closed

[2019-11-22 19:46] maltheism commented on #5383
https://github.com/aces/Loris/pull/5492 was merged and addressed an issue. The install.sh script does create the apache file on centos but the user does have to configure it. I think that's intended.

[2019-11-22 19:46] #5383 closed

[2019-11-22 20:13] Jkat commented on #5708
I uncheck one of the checked boxes under Manage Permissions for a user and it doesn't seem to save this change. Looks like unchecking both(/all) boxes works...

[2019-11-22 20:39] ridz1208 opened #5736 "[Instruments/instrument_list] Instrument set to in progress as soon as it is accessed"
When you access the instrument from the instrument list, it is automatically set as "In Progress" this is normal when it is the first time the instrument is opened.

Issue: the same behaviour is happening when the instrument is already set to complete. As soon as you access it it goes back to in progress

[2019-11-22 21:26] christinerogers commented on #5736
@ridz1208 are you sure the first point is really a bug?
This first part is normal behaviour I think, based on my recollection over too many years of LORIS -- (unless it was changed recently?)

However on the second point: IMO definitely a bug.  :

cc: @maltheism, who already submitted a fix #5737

[2019-11-22 21:29] maltheism commented on #5736
@christinerogers I think the second part is a bug because a user could click on the instrument to view details and navigate back without realizing the instrument is now set to in progress. @ridz1208 thoughts?

[2019-11-22 21:35] christinerogers commented on #5736
got it -- sorry i missed the "this is normal" part.
only the second part is the bug report, cool.
i think i read your fix PR title too early before reading Rida's details.  thanks!

[2019-11-25 00:39] knoll-alex commented on #5727
addressed in PR #5745

[2019-11-25 00:39] knoll-alex commented on #5732
addressed in PR #5744

[2019-11-25 00:39] knoll-alex commented on #5728
addressed in PR #5744

[2019-11-25 00:39] knoll-alex commented on #5729
addressed in PR #5746

[2019-11-25 00:50] knoll-alex commented on #5730
addressed in PR #5747

[2019-11-25 15:38] xlecours opened #5748 "[Publication] Can't edit a project that I created"
I user that can `Propose a project` can't edit it if he do not have the `Publication - Approve or reject proposed publication projects` permission.

[2019-11-25 15:40] xlecours opened #5749 "[Publication] Broken link"
Nothing happens when clicking on the `Vie Project` breadcrumb while consulting a project.
There is a 500 error for the request `https://test-loris-dev.loris.ca/publication/ajax/getData.php?action=getProjectData&id=undefined`

I suspect that undefined is not a valid id

[2019-11-25 15:57] xlecours opened #5750 "[Publication] Test #6 fails"
[code]

The only editable field is the status.

Adding the `bug` label because I presume it had editable fields at some point.

[2019-11-25 16:00] xlecours commented on #5750
Closing this.
The creator user needs to add himself to the list of users that can edit.

[2019-11-25 16:00] #5750 closed

[2019-11-25 16:03] xlecours opened #5751 "[Publication] Test #8 fails"
`Propose a project under another account, and try accessing it given that you have the "Publication - Access to module" permission. You should be able to view a static version of the project proposal and be able to download the uploaded files.`

The uploaded file can't be downloaded.
It could be because the `/data/publication_uploads/` do not exists. I do not have access to the backend; I can't te

[2019-11-25 16:10] xlecours commented on #5748
Nevermind.
The creating user needs to add himself to the Users that can edit.

[2019-11-25 16:10] #5748 closed

[2019-11-25 16:47] ridz1208 commented on #5708
@Jkat nice catch !!

it was a edge case when the version file is 0

[2019-11-25 16:50] johnsaigle commented on #5751
Yeah I think this is most likely a VM issue and not a code issue. Many modules have had troubel with downloading because the paths or files don't actually exists.

[2019-11-25 17:04] xlecours commented on #5751
I more think to add to the list of pros in favor of having the dowload path un der `$LORIS_BASE/project/...`

[2019-11-25 17:05] johnsaigle commented on #5751
You mean in the `config.xml` file?

[2019-11-25 17:10] xlecours commented on #5751
no, I mean

- project/uploads/document_repo
- project/uploads/publication
- project/uploads/...

At least, something that can be created by the install script without sudo

[2019-11-25 17:21] ridz1208 commented on #5751
@kongtiaowang could you investigate

[2019-11-25 17:30] ridz1208 commented on #5725
@maltheism could you do the changes

[2019-11-25 17:43] maltheism opened #5754 "[Publication] error_log undefined when proposing project"
The Publication module is having the error_log be polluted with undefined errors when user proposes a project.

[code]

[2019-11-25 17:51] johnsaigle opened #5756 "[Database] Deprecate escape() function and refactor code using it"
The escape function is cut-and-paste from the doucmentation and comments from [mysql_real_escape_string()](https://www.php.net/manual/en/function.mysql-real-escape-string.php), a function that is notoriously dangerous and has been deprecated as of PHP 7.0.

We shouldn't be reimplementing a dangerous function in our code base.

The escape function is used in many places in LORIS, especially in olde

[2019-11-25 17:56] johnsaigle commented on #4399
This is a little more difficult than I initially thought. Essentially the use case for this feature requires that users upload arbitrary data (LINST files) that get converted to SQL script and are then executed.

I don't think there is a safe way to allow users to effectively be writing their own SQL files... any blacklisting approach is likely to be error-prone.

[2019-11-25 18:36] ridz1208 commented on #5701
this was not reproducible on other visits, turns out the issue was because of the RB data. the submitted column in the `session` table was null in some places making the code think it has been submitted.

will issue a PR to resolve

[2019-11-25 18:40] johnsaigle opened #5759 "[SQL] `candidate.sex` column type does not match `tarchive.PatientSex` column"
The candidate.sex column is an enum with `Male` and `Female` as possible values.

The tarchive.PatientSex column is a varchar(255). Raisinbread contains values `M`, `F`, and `O`.

The second case implies an "Other" value for sex which may have impact on study ontologies.

These columns should be made consistent.

[2019-11-25 18:44] maltheism commented on #5759
Just my thoughts but I think there is actual use for a third option in research studies. There are people that are intersex and hermaphrodites while rare as well would not fit in the M or F category.

[2019-11-25 18:47] ridz1208 commented on #5691
i thought that was replaced with the files on the filesystem ??

[2019-11-25 18:47] johnsaigle commented on #5759
For sure, and it also covers cases when the value is unknown or could not have been collected for whatever reason. Not sure of the needs of projects though.

[2019-11-25 18:49] maltheism commented on #5759
@ridz1208 @driusan thoughts?

[2019-11-25 18:54] zaliqarosli commented on #5733
this is not necessarily a bug, but a configuration that needs to be set

[2019-11-25 19:04] johnsaigle commented on #5759
I put it in the LORIS meeting agenda so we can discuss it as a group. It's more of a research-based decision than a software architecture decision.

[2019-11-25 19:05] johnsaigle commented on #5691
If so then there shouldn't be a query, I think? Also if that is the case then the file system ones aren't loading. Either way the module is empty.

[2019-11-25 19:16] johnsaigle opened #5761 "Add front-end password strength indication for users changing passwords"
We're using Zxcvbn to evaluate password strength on the back-end. https://github.com/bjeavons/zxcvbn-php

There is also a JS version that can be used to show a password strength measurement for users. This will help people to create better passwords if they aren't using a password manager.

[2019-11-25 19:28] maltheism commented on #5761
I should add this to my react Login PR. Commenting here and so I don't forget.

[2019-11-26 00:56] nicolasbrossard opened #5768 "[User account] Removing sites at which a user is an examiner does not seem to work"
I created a user on the test VM that is an examiner at all the sites (MTL, OTT, ROM and DCC). I then edited the user profile so that he was only an examiner at DCC, with 'Radiologist' set to 'Yes'. When I access the examiner module, there is no indication that the user has been inactivated at sites MTL, OTT and ROM. In fact the table shows that the user os a Radiologist at every site. I also check

[2019-11-26 01:45] nicolasbrossard opened #5771 "[My Preferences] Email validation rules differ between user account and my preferences"
I was able to create a user with an email address set to 'nicolasbrossard.mni(test)@gmail.com'. This address is valid in the user account module but not on the my preferences page.

[2019-11-26 02:05] nicolasbrossard opened #5772 "[My Preferences] Notification sent to user from which the action originates"
I created a user that had the notification 'Document Repository: New Document Uploaded' enabled. Logged as that user, I uploaded a new document in the document repository. I logged out and logged back in. There was a notification on the dashboard indicating that a new document was uploaded. I should not have gotten any according to the test plan since I was the one who uploaded the file.

[2019-11-26 02:05] #5772 closed

[2019-11-26 12:56] nicolasbrossard opened #5773 "[Survey module] Survey was not emailed to participant"
I added a survery in the survey module. Every field was valid, including the email address. I clicked the 'Email' button and entered an email text in the popup window but when when I clicked Send I never received the survey (and no errors were shown).

[2019-11-26 13:03] nicolasbrossard opened #5774 "[Survey module] Formatting of error message"
When I trying to add a survey that had already been sent, I got this error message:

Instrument medical_history already exists for given candidate for visit V1

The full test name ('Medical history') should be used in this error message instead of the test ID ('medical_history').

[2019-11-26 14:03] nicolasbrossard opened #5775 "[Survey Module] IsDirectEntry in table test_names ignored?"
I tried setting column IsDirectEntry of table test_names to 1 for all tests but only one of the 5 tests on the test VM seems to be avaiable in the survey module.

[2019-11-26 16:14] christinerogers commented on #5481
testing points should cover:
- in the `Config` module, change the scan types that should show in this module's columns . Does it work?
- what should happen when the MRI parameter form is not installed?

[2019-11-26 16:15] driusan commented on #5772
Why was this closed?

[2019-11-26 16:26] christinerogers opened #5776 "[Help Editor] : clarify docs / maybe rename to In"
* Instruments : their help text still needs to come from the database table

* modules can be overridden by the contents of the database tables.

But how do project administrators?

instrument instructions

[2019-11-26 16:35] christinerogers opened #5777 "[meta] add default Testing Plan for all module tests"
Per Loris mtg Nov26:
Make a meta test plan, committed to the repo, stating the steps everyone should do when executing manual test plans
* Check the Help text on every in each page- does it render ok, does the content need updating ? (@ridz1208 your wording suggestion here)
* Test on `both` Chrome and Firefox.
* Check any other docs for required updates:  the module spec readme.  the test plan its

[2019-11-26 17:22] johnsaigle opened #5778 "[Instrument Manager] Change instrument installation to require super user permission"
Installing instruments is highly sensitive as it is a feature that effectively allows a user to run arbitrary SQL statements against the database via uploaded LINST files.

LISNT will be deprecated in LORIS version 23 according to the current Roadmap. Until then, this module should require `superuser` so that only the most-trusted users have access to this feature. This is the consensus reached by

[2019-11-26 17:22] #4399 closed

[2019-11-26 17:34] johnsaigle commented on #5776
@zaliqarosli @ridz1208 Do you think you could clarify some of the above points?

[2019-11-26 17:37] nicolasbrossard commented on #5772
The test plan specifies that the user triggering the event is notified *but* does not get an email, unlike the other users who registered to receive an email. Current behaviour is OK then.

[2019-11-26 18:09] johnsaigle opened #5782 "Rename quatUser and quatPassword to something more descriptive"
This note is present in the instrument manager module:

be renamed.)

These should be renamed to be descriptive of their function, i.e.  database credential that allow a user to CREATE tables.

[2019-11-26 18:16] johnsaigle commented on #5777
Also,

* If the page contains a menu filter, verify that all the filters correctly filter data
* If the page contains a table, ensure clicking on a column properly sorts the contents

[2019-11-26 18:17] johnsaigle commented on #5777
I think we could maybe create a page in the new wiki that is a "Release Testing Guide" that says something like

[2019-11-26 18:19] driusan commented on #5708
PR merged

[2019-11-26 18:19] #5708 closed

[2019-11-26 18:21] #5749 closed

[2019-11-26 18:23] driusan commented on #5695
PR merged

[2019-11-26 18:23] #5695 closed

[2019-11-26 18:28] johnsaigle commented on #5759
The result of the discussion is to add an `Other` option to the enum in the `Candidate` table.

[2019-11-26 18:43] Jkat opened #5784 "[Help Editor] parent and subtopics?"
Do the concepts of `parent` and `subtopic` still apply? Since modules are taking markdowns and the Help Editor is only for instruments now - there is no notion of `parent` nor `subtopic` for instruments.

[2019-11-26 18:50] driusan commented on #5784
No, I don't think they have any relevance any more (if they ever did)

[2019-11-26 18:53] driusan commented on #5710
I don't think this is beginner friendly.. you would need to verify that there's no outstanding references to it and nothing unexpected broke.

[2019-11-26 19:07] #5709 closed

[2019-11-26 19:46] SantiagoTG opened #5786 "[BVL Feedback] Clear submission message for new threads"
After entering a new thread and saving it, a "The new thread has been submitted!" message appears in the text-box for new threads. If someone wants to submit a new thread, they need to clear the text from the text-box. It would be preferable to either have the "successful message" appear elsewhere, or to have the text-box clear if clicked upon. This will avoid the accidental thread starting with t

[2019-11-26 19:57] jesscall opened #5787 "[document_repository] Error when clicking on the 'Edit' Breadcrumb"
Error when clicking on the 'Edit' breadcrumb in document repository.

![image](https://user-images.githubusercontent.com/34260251/69667569-3c203200-105c-11ea-9b58-fbfbe549b363.png)

[2019-11-26 21:07] johnsaigle commented on #5756
it seems that this isn't much of an issue. The only occurrences are in `tools/` scripts which are not exposed to the front-end as well as some instances in the statistics module which are used to populate columns based on instrument names.

Instruments can only be installed by admins so there is no feasible path for an average user to exploit this.

[2019-11-26 21:07] #5756 closed

[2019-11-26 21:32] nicolasbrossard opened #5791 "[Candidate Parameters] Cannot load candidate parameters"
When a user only has the `candidate_parameter_view` permission and he/she attempts to access the candidate parameters of a candidate, an error page is shown (text displayed: `An error occurred loading the form`).

[2019-11-26 21:33] driusan commented on #5787
PR merged

[2019-11-26 21:33] #5787 closed

[2019-11-26 21:37] nicolasbrossard commented on #5791
Fixed by #5792

[2019-11-27 11:49] ridz1208 opened #5793 "[Imaging_qc] Does not load"
The imaging quality control module is not loading on test due to discrepancies between the mri_parameter_form scan done columns and the scan types stored in the database.

This is a constant issue that has been popping up for imaging_qc and statistics for the past couple years.

[2019-11-27 11:50] ridz1208 commented on #5793
@cmadjar I think we should discuss this one once and for all

[2019-11-27 14:50] #5771 closed

[2019-11-27 14:51] #5791 closed

[2019-11-27 14:53] driusan commented on #5736
merged

[2019-11-27 14:53] #5736 closed

[2019-11-27 15:02] johnsaigle commented on #5793
Is this the same as https://github.com/aces/Loris/issues/5325?

There'a some background discussion there. My understanding was that it wasn't possible to provide a standard mri_parameter_form in Raisinbread because it's different for every study

[2019-11-27 15:06] xlecours opened #5794 "[Issue Tracker] Raisinbread issues"
The issues that are closed can't be changed back to an other status. The POST request to `https://test-loris-dev.loris.ca/issue_tracker/ajax/EditIssue.php?action=edit` is responded with a 500.
The php error log on the test server should have more info about the cause of the error.

[2019-11-27 15:18] #5643 closed

[2019-11-27 15:20] #5725 closed

[2019-11-27 15:21] #5778 closed

[2019-11-27 15:47] ridz1208 commented on #5793
@johnsaigle the other ticket is to make the error message better in the event that a project has a badly configured mri_parameter_form

this is more to fix the raisinbread MPF to work with stats in imaging _qc

No we cant have a standard MPF but within a single project like Raisinbread, we should have the MPF work with both the stats module and the imaging_qc

[2019-11-27 15:48] ridz1208 commented on #5794
why is this tagged as an RB issue not a bug ?

[2019-11-27 15:53] xlecours commented on #5794
Because it's working on my VM without any extra care given to the database updates

[2019-11-27 16:01] johnsaigle commented on #5706
This setting seems to be used in the NDB_Menu_Filter.class.inc file but doesn't correspond to the number of rows in some tables. My feeling is that it is still used for Smarty but not React.

Maybe someone else can clarify this?

For now I'll leave it as-is.

[2019-11-27 16:02] driusan commented on #5701
PR merged

[2019-11-27 16:02] #5701 closed

[2019-11-27 16:02] ridz1208 commented on #5794
@xlecours can you detail how to reproduce ?
which issue did you click on ?

[2019-11-27 16:36] johnsaigle commented on #3233
I think this is now resolved.

Example:

Select "Visit_label" in dropdown.
The instrument dropdown now contains only instruments at that site.

Example 2:
Select a PSCID
The Visit_label dropdown contains only visits that candidate has timepoints for.

<img width="688" alt="Screen Shot 2019-11-27 at 11 35 37" src="https://user-images.githubusercontent.com/4022790/69742058-223d2880-110a-11ea-8d75-78

[2019-11-27 16:36] #3233 closed

[2019-11-27 16:37] johnsaigle commented on #3127
@xlecours Is this fixed in the API now?

[2019-11-27 16:39] johnsaigle commented on #3844
@xlecours @dyt811 After 22.0-release comes out (should be very soon), can you revisit this issue and see whether the inconsistencies are still present with the latest API?

[2019-11-27 16:43] johnsaigle commented on #4351
@PapillonMcGill is this still an issue? I'm not able to reproduce. No issues appear in the error log when I click menu items.

[2019-11-27 16:43] johnsaigle commented on #4327
@dyt811 Can you provide some more information here?

[2019-11-27 17:23] johnsaigle commented on #5092
Closing because this is a "won't fix" issue. Instead, this should be documented as not being supported/recommended. I've opened a ticket for this.

[2019-11-27 17:23] #5092 closed

[2019-11-27 17:24] johnsaigle commented on #5084
@maltheism @zaliqarosli I think this is related to your discussion in #5758

[2019-11-27 17:28] #4892 closed

[2019-11-27 17:30] johnsaigle commented on #4848
@ridz1208 Is this a Raisinbread issue?

[2019-11-27 17:31] johnsaigle commented on #4824
@maltheism @PapillonMcGill Is this still a problem after the recent updates to the install script and CentOS documentation?

[2019-11-27 17:32] johnsaigle commented on #4818
@maltheism Tagging you since you're doing some issue tracker refactoring. This seems like it shouldn't be too difficult to fix.

[2019-11-27 17:33] johnsaigle commented on #5486
Duplicate #4604

[2019-11-27 17:38] johnsaigle commented on #4558
This seems like a Test VM issue. Now that Raisinbread contains MRI files to be downloaded the test VM seems to download these files without issue.

This issue could still occur if a file is deleted from the back-end without the DB table being updated. In this case a decorated 404 page should be displayed.

[2019-11-27 17:55] xlecours commented on #5794
1. Go to https://test-loris-dev.loris.ca/issue_tracker/issue/14 as a user with both `Can add a new issue, edit own issue, comment on all` and `Can re-assign issues, mark issues as closed, comment on all, edit issues.` and with Montreal as its only site.
Change the the issue status to something else than Closed.
Nothing happen; network log shows a 500 for the POST request.

[2019-11-27 18:12] xlecours commented on #5794
More details:
[code]

[2019-11-27 18:20] johnsaigle commented on #4558
I can't replicate test this on my VM.

The files are stored on a read-only filesystem and I don't believe my user account has permission to change this.

[2019-11-27 18:30] johnsaigle opened #5797 "What is the Visit_Windows table for?"
I came across the Visit_Windows table and it's entirely empty in Raisinbread except for a list of Visit_labels.

Since these Visit Labels exist in other tables it seems like this isn't used or else is incomplete on Raisinbread.

[2019-11-27 18:31] johnsaigle commented on #5797
git grep -n "Visit_Windows" -- "*.php"
[code]

git grep -n "Visit_Windows" -- "*.inc"
[code]

It seems that this is only use in one library and no modules.

[2019-11-27 18:42] leighevans opened #5799 "[access_profile] UI issue on 21.0 in access profile table"
It seems that when a candidate doesn't have any timepoints, all the columns in the access profile table get moved over.
![Screen Shot 2019-11-27 at 1 40 55 PM](https://user-images.githubusercontent.com/32552953/69750825-b368cb00-111b-11ea-9a95-da2f6a40dbb3.png)

[2019-11-27 19:06] ridz1208 opened #5800 "[new_profile] Pressing create multiple time creates multiple candidates "silently""
This issue is on 21.0 as well and should be resolved there

[2019-11-27 19:14] nicolasbrossard opened #5801 "[Candidate parameters] Cannot save consent to study status"
On the test VM, I accessed a candidate for which consent information was never provided. I select 'Yes' to consent to the Study and enter a valid date. When I click `Update`, I get an error popup that says `Update failed`. I see in the server's error log a coding bug:

[code]

[2019-11-27 19:51] nicolasbrossard commented on #5801
Fixed by #5802

[2019-11-27 20:18] cmadjar commented on #4558
@johnsaigle I guess if you change the path in the config module to a different path than /data-raisinbread/ for the image path, that should replicate the tarchive files not being found. A bit hacky but as long as it works.

[2019-11-27 20:31] johnsaigle commented on #4558
True, I'll try that

[2019-11-27 20:57] #5794 closed

[2019-11-28 14:19] PapillonMcGill commented on #4824
@johnsaigle Yes, the install script still try to use sudo on RedHat based distro. Even in 22.0-release. Although the READMECentOS7.md file describe the step that need to be done and that the user doing it (lorisadmin) should have `sudo` permission, by default the install.sh script will fail. It is even not mentionned which sudo permission the user need.
Remember by default, no single user have sud

[2019-11-28 14:25] PapillonMcGill commented on #4351
@johnsaigle Not with v21.0.3-256-gea79c06 at least.

[2019-11-28 15:12] #5801 closed

[2019-11-28 15:14] #5799 closed

[2019-11-28 15:22] driusan commented on #4351
sounds apache configuration related, not LORIS related.

[2019-11-28 16:46] christinerogers commented on #5727
#5745 is merged.  closing this issue.

[2019-11-28 16:46] #5727 closed

[2019-11-28 16:47] christinerogers commented on #5730
#5747 is merged.  Closing this issue 🎉

[2019-11-28 16:47] #5730 closed

[2019-11-28 16:48] christinerogers commented on #5728
#5744 is merged.  closing this issue.

[2019-11-28 16:48] #5728 closed

[2019-11-28 16:49] christinerogers commented on #5732
#5744 is merged.  closing this issue 👍

[2019-11-28 16:49] #5732 closed

[2019-11-28 16:57] christinerogers commented on #5784
I have a vague memory that `subtopic` used to populate links "Here's a related topic"

[2019-11-28 16:59] christinerogers commented on #5729
closing because PR is sent and this page needs Help... in more than one way.
Either this will get merged or shelved (#5776).

[2019-11-28 16:59] #5729 closed

[2019-11-28 16:59] #4351 closed

[2019-11-28 17:16] #5754 closed

[2019-11-28 18:12] maltheism opened #5806 "[DQT] Manage Saved Queries Tab broken"
There is a bug when you click on the "Manage Saved Queries" tab, then click on other tabs and try to click the Managed Saved Queries tab. The bug is that you can't view the Managed Saved Queries tab content again.

[2019-11-28 18:28] ridz1208 commented on #5800
the changes in this PR were undone at some point
https://github.com/aces/Loris/pull/4364

[2019-11-29 00:06] christinerogers commented on #5576
👍  Closing this ticket : All PRs sent and merged/approved. 💯
* Only 1 left to merge #5746
What is not done will be spun off into a separate Issue.

Brava 🎉 @knoll-alex !  Thanks for joining us for Google Season of Docs!

[2019-11-29 00:06] #5576 closed

[2019-11-29 14:26] #5800 closed

[2019-11-29 14:28] driusan commented on #5700
Should be fixed by #5712

[2019-11-29 14:28] #5700 closed

[2019-11-29 15:51] ridz1208 commented on #5715
The `mri_parameter_form` is considered an instrument and it influences these numbers. each scantype should have an associated `..._Scan_Done` column which is the case for RB (otherwise you get an error) but unfortunately there is less than 10 completed entries for that instrument and most are either NULL or NO.

It's a dataset issue which might be resolved by altering queries as well but that I wi

[2019-11-29 19:16] #5019 closed

[2019-11-29 21:20] #5086 closed

[2019-11-29 21:20] #4743 closed

[2019-11-29 21:20] #5806 closed

[2019-12-02 16:22] christinerogers commented on #5706
Re removing the Issue tracker setting -- Where/when was this feature discussed/decided as no longer relevant? @johnsaigle
The intention was to let this be the default, but allow links to outside issue trackers.
(linked) from the Imaging Browser : View Session page.

[2019-12-02 16:39] johnsaigle commented on #5706
I didn't know the context was to link out to other issue trackers.

My understanding of this setting was that it was leftover from the Mantis days. Maybe we could discuss it in a LORIS meeting?

[2019-12-02 21:04] zaliqarosli commented on #5776
i commented on the PR that was issued

https://github.com/aces/Loris/pull/5746#issuecomment-560578335

[2019-12-02 21:44] johnsaigle commented on #5776
_Copying the comment referenced in the above post ⬆️ below. I think it'll be a bit easier to carry on the discussion here._

---

this is how editing help content works:

This is from the description of PR #3558. This was how the code worked from even before I made changes to the module. This PR #3345 removed the projectContent column of the help table.

Whilst the Markdown help file is favoured o

[2019-12-02 21:55] johnsaigle commented on #5776
Answering questions based on what my understanding is (please let me know if I've misunderstood any part):

I don't think it's possible without back-end access.
You would need to either:
1. Create a new markdown file under `projects/modules/$custom_module/help/$custom_module.md, OR
2. Create an entry in the `help` table.

both of which require back-end access.

A developer could create an entry in

[2019-12-03 00:31] christinerogers commented on #5776
Hi John, my recollection is that when the Great Markdownization happened, the idea was projects could maintain their custom help/markdown, and as Rida suggested last Tues, this is a reasonable feature to support, though they'll have to deal with the pain of maintenance.
You mention, for custom modules --

? Does this actually load, currently ?

[2019-12-03 16:24] johnsaigle opened #5818 "[Raisinbread] Visit_Windows table should be populated"
The table has no data on Raisinbread so whatever features this table supports are not easily testable.

[2019-12-03 16:24] #5797 closed

[2019-12-03 16:50] johnsaigle opened #5819 "[Wiki] Explain the test suite for developers"
Some brief words and links to phan, phpmd, phpcs, and so on.

[2019-12-03 17:30] driusan commented on #5651
phan seems to be wrong about the `password_hash`. In all the cases, the second argument being passed on those lines is the `PASSWORD_DEFAULT` constant.

[2019-12-03 17:32] johnsaigle commented on #5651
Fair enough. We should re-evaluate these bugs after TravisCI updates to PHP 7.4 instead of the snapshot.

Also phan should be updated in case this is a bug on their side. I have a PR doing this here: https://github.com/aces/Loris/pull/5762

Once these two things are updated we can see whether the error still appears and go from there.

[2019-12-03 17:51] xlecours commented on #5651
Maybe we should explicitely use `PASSWORD_BCRYPT` instead of `PASSWORD_DEFAULT`

from https://www.php.net/manual/en/password.constants.php

[2019-12-03 18:01] johnsaigle commented on #5651
https://github.com/aces/Loris/blob/4155ea37030eecc913701b1aebd81e0798916dbb/SQL/0000-00-00-schema.sql#L95

If we're going to require a specific password algorithm i think we should do more research into possible advantages/disadvantages there are to the different algorithms.

[2019-12-03 18:37] driusan commented on #5651
We should keep using `PASSWORD_DEFAULT`, as the point of the API is that it can upgrade itself over time. It's a bug with phan (or, depending on your point of view, with php changing the type signature of the API with 7.4...) PHP seems to have changed the second argument from an int in 7.3 to a nullable string in 7.4 (which shouldn't make a difference if you're using the constants, as you should b

[2019-12-03 18:48] johnsaigle commented on #5651
Maybe until that's fixed we should add phan suppressions for those lines.

[2019-12-03 19:10] christinerogers opened #5822 "[IssueTracker] Add Help text for subpages"
Commit Help markdowns for 2 subpages in the Issue Tracker which never had any:
- [ ] New Issue: https://demo.loris.ca/issue_tracker/issue/new#
- [ ] View/Edit issue: https://demo.loris.ca/issue_tracker/issue/27

The Help text for these should be reasonably short and sweet.
Also to do:
- [ ] Update Issue Tracker main page help markdown -- some content there should be moved to the subpage Help, e.g.

[2019-12-03 19:14] christinerogers opened #5823 "[NextStage] Add Help"
_low priority since ideally we're removing this module. Still a gap in the docs tho._

To do: add Help text

[2019-12-04 15:44] #5626 closed

[2019-12-04 15:46] driusan commented on #5651
I don't think there's any reason to suppress them, it's already been fixed. We can wait until the fix makes it into a release. (The `NEWS.md` file in phan suggests they happen often enough that it's not much of a burden.)

[2019-12-04 16:12] #5759 closed

[2019-12-04 20:39] christinerogers opened #5832 "[Config] Subproject recruitment target can be larger than its Project target"
The Config module should probably pop up a warning, e.g. `Your Subproject recruitment target is greater than the Project recruitment target` -- if not enforce a relationship.

(See `Staler` (SubprojectID 1) on test-loris-dev today, tho not RB --  has Recruitment target 1000000000)

[2019-12-05 16:23] driusan opened #5834 "[Survey Module] Survey module requires user_account permission"
The survey_accounts requires the user_accounts permission. This doesn't make any sense. Either data_entry or a new permission would be more appropriate.

[2019-12-05 21:16] #5710 closed

[2019-12-06 18:40] #3313 closed

[2019-12-06 21:12] johnsaigle opened #5842 "[Data Release] File upload modal overflows for long filenames"
Example 1:
<img width="742" alt="Screen Shot 2019-12-06 at 16 11 31" src="https://user-images.githubusercontent.com/4022790/70356787-32a87e00-1843-11ea-92a9-98e774d178b9.png">

Example 2:
<img width="604" alt="Screen Shot 2019-12-06 at 16 13 07" src="https://user-images.githubusercontent.com/4022790/70356840-579cf100-1843-11ea-8a99-68b6144f7106.png">

It would be better if after a certain length t

[2019-12-06 21:16] johnsaigle opened #5843 "[Data Release] File upload fails silently for large files"
Back-end log:

[Fri Dec 06 16:10:48.274852 2019] [php7:notice] [pid 28727] [client 192.168.122.1:60390] PHP Notice:  Undefined index: action in /var/www/loris/modules/data_release/ajax/FileUpload.php on line 18, referer: https://jsaigle-dev.loris.ca/data_release/
[Fri Dec 06 16:10:48.724921 2019] [php7:notice] [pid 24309] [client 192.168.122.1:60392] PHP Notice:  Trying to get property 'page' of n

[2019-12-06 22:17] johnsaigle commented on #5777
Sadly I messed up a rebase and destroyed the work I did on creating a release test guide... I'll redo it at some point down the line but I can't bring myself to retype the whole thing now.

[2019-12-09 16:28] johnsaigle opened #5845 "Document required composer version"
We should be explicit about what version of composer is required for LORIS< similar to how we specify nodejs >= v8.0.0.

Running `composer -v` gives me version `Composer version 1.7.2 2018-08-16 16:57:12` on my VM. This seems to work fine.

[2019-12-09 20:54] johnsaigle commented on #5479
This module has been removed by #5824

[2019-12-09 20:54] #5479 closed

[2019-12-09 21:10] johnsaigle opened #5849 "Document how to handle larger file uploads"
We could create a brief page in the wiki describing how to configure PHP for larger files, i.e. setting values in the php.in file.

Currently this is documented a few times over in several of the modules that have file uploading features. it would be good to instead centralize this in one place and link to it if necessary.

[2019-12-09 21:23] christinerogers commented on #5849
Thanks for opening this separate issue -- Could you link this to the ticket/PR where i suggested this?

[2019-12-09 21:25] johnsaigle commented on #5849
#5827

[2019-12-10 19:35] #5782 closed

[2019-12-10 20:09] christinerogers commented on #5337
* would also be good to have a zenodo DOI for this project -- like a universal techy doi that would also register Loris in this index of software and data projects.  (like NITRC but more broader and meaningful)

* not unrelated to #3024  : machine-readable description of this software-research-project-application-website
    * notes from @xavier today: some amendments though:

[2019-12-10 21:14] kchatpar opened #5850 "[Dashboard] Display all charts by default in the recruitment card in the dashboard"
In the recruitment card on the dashboard make all charts displayed instead of just the bar chart and having a view button which lets you expand to other charts.

[2019-12-12 17:33] thomasbeaudry commented on #5845
i had to use the -V flag.   I have;    composer version 1.4.2

[2019-12-13 16:27] driusan commented on #5698
PR was merged 23 days ago.

[2019-12-13 16:27] #5698 closed

[2019-12-16 14:14] christinerogers opened #5856 "(core) update Breadcrumbs to display long Module name"
Breadcrumbs also should be updated to get and display this LongName for each module. 2 reasons:
* to match the module names in the Menus (since #5839)
* currently some breadcrumb module names are wonky, e.g. capitalization in `Mri violations` http://demo.loris.ca/mri_violations/

Made possible by Dave's recent PR #5839 to add human-friendly Module names :

_Originally posted by @christinerogers in

[2019-12-16 15:39] johnsaigle opened #5857 "Document how to run integration tests locally"
**Describe the bug**
There isn't a document (that I know of) describing how to setup integration tests locally.

**To Reproduce**
Steps to reproduce the behaviour (attach screenshots if applicable):
1. On a development instance of LORIS, run `npm run tests:integration`
2. You'll probably get an error.
3. Search the repo for help.
4. I don't think you'll find any.

**What did you expect to happen?*

[2019-12-16 15:40] kchatpar commented on #5768
@ridz1208 said to close the issue and there's no current solution

[2019-12-16 16:56] ridz1208 commented on #5857
@johnsaigle does github have a bump feature ?

[2019-12-16 16:58] ridz1208 commented on #5768
@nicolasbrossard I did say that !!

however while re-reading the issue, the last part might be an actual bug. the backend table should show the inactive flag.

@kchatpar please investigate that part

[2019-12-16 17:00] johnsaigle commented on #5857
🤷‍♂

[2019-12-16 17:12] maltheism commented on #5857
@johnsaigle I think it's a great idea to have a guide on everything. I think an example of how to best approach a single module of LORIS for running tests after development of the module would be amazingly useful. So we don't have to run every test before getting to the tests that we want to see work or not.

Other thoughts: My experience with trying the `npm run tests:integration` command (in the

[2019-12-16 17:12] johnsaigle commented on #5857
To clarify there is actually some documentation in `test/README.md`. It explains what command to run, how to install Docker, etc.

This ticket was created in response to Dave's comment asking how to debug a Travis report like this:

Selenium is alive
PHPUnit 7.0.0 by Sebastian Bergmann and contributors.
Runtime:       PHP 7.2.25
Configuration: /app/test/phpunit.xml
................................

[2019-12-16 17:14] johnsaigle commented on #5857
@maltheism I just wrote an automated testing guide #5859. Hopefully that will help. Between that document and also the CONTRIBUTING.md document I think that should give a rough idea on approaching testing on a more general level.

I also think there's a document on "how to create a module" buried in the Wiki somewhere. however I think it was created for LORIS v 14 or 15 so it would need updating.

[2019-12-16 17:15] johnsaigle commented on #5857
I think it'll always be important to run every test. Generally speaking anyway. A lot of things in LORIS aren't all that "modular" and so changing something in one place can affect other parts of the code.

[2019-12-16 17:19] maltheism commented on #5857
I got this to work one day after asking @kongtiaowang some questions.
My notes were to launch Selenium Server with doing this:
[code]
Start tests:
`npm run tests:integration`
View in VNC Viewer:
`127.0.0.1`
Password:
`secret`
Then I could see the browser performing all the tests (one by one) in realtime.

I mean like instead of wasting 15 minutes or however long it takes for the tests to get to th

[2019-12-16 17:22] johnsaigle commented on #5161
@kchatpar I'm going to close this because the issue hasn't been very active for a while.

It looks to me like the API documentation has several examples using `GET` to pull various data from LORIS.

POST is necessary to authenticate to LORIS even in the case of "open" datasets from my experience.

If I've misunderstood or if you have further information about this, please feel free to re-open the

[2019-12-16 17:22] #5161 closed

[2019-12-16 17:33] johnsaigle commented on #5857
Would you mind updating `test/README.md` to include that information?

That's an interesting idea. It may be possible if you look into the `phpunit` command flags.

`npm run tests:integration` is an alias and just runs `test/dockerized-integration-tests.sh`. This in turn runs the command:

`docker-compose run -T --rm ${CONTAINER} vendor/bin/phpunit --configuration test/phpunit.xml --testsuite Lori

[2019-12-16 18:54] johnsaigle commented on #5857
@maltheism I also found this but it seems out of date. https://github.com/aces/Loris/wiki/LORIS-Module-Testing

[2019-12-16 19:01] maltheism commented on #5857
@johnsaigle I recall viewing that guide (many months ago) when I was trying to get the VNC Viewer to display the test running. I'll try to replicate everything with what the guide explains and see whats outdated.

[2019-12-16 19:03] johnsaigle commented on #5857
I think almost all of it is outdated. We're using Docker to set up most of what it's describing now.

It also seems to have two concerns going on. "Creating tests for a new module" and "Installing the integration test suite". I think these should be separate files.

[2019-12-16 19:13] #5845 closed

[2019-12-17 16:57] johnsaigle opened #5863 "Introduce 'First-Timers Only' label"
**Is your feature request related to an existing module?**
Nope!

**Describe the solution you'd like**
I'm echoing @christinerogers's suggestion to rename Beginner Friendly to "First-Timers Only". I believe this is more-or-less how we implicitly use this label anyway.

**Additional context**
It would be an improvement in helping new developers get started with LORIS. It signals to new developers t

[2019-12-17 17:00] johnsaigle opened #5864 "Create Code of Conduct document"
**Is your feature request related to an existing module?**
Nope!

**Describe the solution you'd like**
@christinerogers suggested adding a Code of Conduct document declaring the values of the project. See CBRAIN as an example: https://github.com/aces/cbrain/blob/master/.github/CODE_OF_CONDUCT.md. We could even just copy this file.

[2019-12-17 17:20] gdevenyi opened #5866 "Speed control for timeseries display"
For timeseries data, a control which adjust the display speed of the volume would be helpful for viewing both faster and slower than realtime.

[2019-12-17 17:25] gdevenyi opened #5867 "Block navigation away from page if forms modified and not saved"
Right now, its possible to go through the entire QC page and set things and then navigate away from the page before saving. Javascript should be added to prevent this for any pages with more the NNN (to be determined) fields to prevent input data loss.

[2019-12-17 17:26] gdevenyi opened #5868 "Add QC interface to brain browser interface"
Right now, volume quality control is all done on one page, which does not have embedded navigation of the brain volumes.

If the QC interface were also added to the brain browser interface (along with a "save and next" button), this would greatly streamline QC, one could step through all images doing QC with proper interactivity.

[2019-12-17 17:30] gdevenyi opened #5869 "Allow quality control (QC) to be more granular than pass-fail"
For some projects we have defined more granular quality control due to the wide range of quality:
https://github.com/CoBrALab/documentation/wiki/MAGeT-Brain-Quality-Control-(QC)-Guide
https://github.com/CoBrALab/documentation/wiki/Motion-Quality-Control-Manual

It would be nice if LORIS would allow numeric ordered QC for as a configuration.

[2019-12-17 17:30] christinerogers commented on #5863
Per : https://www.firsttimersonly.com/
It's important to note that it's not the same as `Beginner-friendly` -- so if we do rename the label we'd want to carefully revisit everything flagged with this label.
For that reason, I'd suggest a new label, and starting small on 1-2 really well-documented issues (why? [see the link](https://www.firsttimersonly.com/))

[2019-12-17 18:07] #5774 closed

[2019-12-17 18:13] johnsaigle commented on #5863
That's for providing the context that I missed before.

Maybe we could introduce "First Timers Only" and apply it only to issues that and very small and very well-documented. At the same time, we can gradually phase out "Beginner Friendly" (because it will probably be redundant) and provide additional instructions on those issues that are marked as Beginner Friendly.

[2019-12-17 18:20] johnsaigle commented on #5867
Duplicate of #5100

[2019-12-17 18:24] johnsaigle commented on #5776
I'm not sure. I don't really have any experience with module overrides, though my understanding is that anything under that path should be loaded in place of the default. Maybe a project maintainer could provide more context.

[2019-12-17 19:14] johnsaigle commented on #4065
I'm going to close this ticket because it's not very specific. We do need to update tests for new React modules but there is no list of tasks for us to complete.

Travis will fail anything with bad integration tests so I don't think we need to worry about not having tests.

[2019-12-17 19:14] #4065 closed

[2019-12-17 19:16] johnsaigle commented on #4086
I'm going to close this because I can't really remember what I was talking about....

At the same time I think this has probably been addressed in the last few major releases as our Reactifcation process has progressed.

If there is an issue with modules not properly serving 500 errors we should open individual tickets for this.

[2019-12-17 19:16] #4086 closed

[2019-12-17 19:16] #5867 closed

[2019-12-17 19:18] johnsaigle commented on #3844
Closing this because it's very old, has not received feedback, and because the API has been completely reworked since then.

If this continues to be an issue please feel free to re-open this issue.

[2019-12-17 19:18] #3844 closed

[2019-12-17 19:19] johnsaigle commented on #3314
Closing this because we have separate tickets for the reaming features:

#5761 front-end strength estimator.

#5293 improve unicode support.

[2019-12-17 19:19] #3314 closed

[2019-12-17 19:20] johnsaigle commented on #4030
This is actually out of date and we have a better way to do this now. The Factory singleton should be used to create these other singletons. See #4989.

[2019-12-17 19:20] #4030 closed

[2019-12-17 19:22] johnsaigle commented on #4290
Is anything happening with this?

[2019-12-17 19:25] johnsaigle commented on #4271
Should be resolved by #5396

[2019-12-17 19:30] johnsaigle commented on #4196
ReadTheDocs is now set up and can be viewed at https://acesloris.readthedocs.io/en/latest/.

We are still in the process of updating existing, archived Wiki files to the repository.

[2019-12-17 19:30] #4182 closed

[2019-12-17 19:32] johnsaigle commented on #4172
I feel confident for the most part that this is covered by what I've written in #5253.

[2019-12-17 20:06] #5392 closed

[2019-12-17 20:16] johnsaigle opened #5873 "Create PHP equivalent to os.path.join (python) as Utility function"
We should create a function to properly build and resolve paths in LORIS.

The idea is to model our function off of e.g. os.path.join in python. See this [blog post](https://www.geeksforgeeks.org/python-os-path-join-method/) for intended behaviour.

This will also make it easier to verify that paths to directories end with a forward slash.

The function should be unit tested.

---

_Originally pos

[2019-12-17 20:59] johnsaigle commented on #5033
Could this be addressed by using the Site filter in the module?

[2019-12-17 21:13] #5357 closed

[2019-12-17 21:21] johnsaigle commented on #5109
This may be good idea to add to the issue template, maybe even instead of the install READMEs.

[2019-12-17 21:22] johnsaigle commented on #5104
@LeighMac I'm going to close this issue because I'm not aware of any broken modules. If I've made an error please re-open this issue and let us know how the problem occurs.

[2019-12-17 21:22] #5104 closed

[2019-12-17 21:26] johnsaigle commented on #5034
@cmadjar Any update on this?

[2019-12-17 21:29] johnsaigle commented on #5027
What error do you get?

[2019-12-17 21:37] johnsaigle commented on #4995
All points resolved by #5874 except for GitHub wiki files.

[2019-12-17 21:50] johnsaigle commented on #4451
Duplicate of #5733. I'm going to close this because the other PR has more attention, even though this one was issued first.

[2019-12-17 21:50] #4451 closed

[2019-12-17 22:52] johnsaigle opened #5876 "Remove references to Reliability module from Raisinbread"
**Describe the bug**
Reliability doesn't exist anymore but its data is still present in Raisinbread

**To Reproduce**
Steps to reproduce the behavior (attach screenshots if applicable):
<img width="720" alt="Screen Shot 2019-12-17 at 17 50 44" src="https://user-images.githubusercontent.com/4022790/71040957-d886a300-20f5-11ea-8b2f-8472136ddb60.png">

**What did you expect to happen?**
Reliability d

[2019-12-17 23:03] johnsaigle commented on #5103
Much of the information about structure can come from the README in modules:

https://github.com/aces/Loris/blob/master/modules/README.md

[2019-12-17 23:16] coreyAbout commented on #5775
I have followed up with Nicolas, and I have tried it on my VM.
check git: HEAD detached at aces/22.0-release
Created and installed 6 test instruments,
change IsDirectEntry to 1

+----+--------------------+--------------------+-----------+---------------+
| ID | Test_name          | Full_name          | Sub_group | IsDirectEntry |
+----+--------------------+--------------------+-----------+--------

[2019-12-18 14:22] ridz1208 commented on #4290
@johnsaigle not that I know of

@driusan can I close ?

[2019-12-18 14:35] driusan commented on #4290
Whether or not this task is being worked on it's still an issue that needs to be done. The survey "module" is not currently a module, it's ad-hoc php in the htdocs directory.

[2019-12-18 16:23] coreyAbout commented on #5027
@johnsaigle  the whole error log was in my first post above. `PHP Notice: Undefined index:`

[2019-12-18 16:25] johnsaigle commented on #5027
Sorry, my mistake

[2019-12-19 00:22] johnsaigle opened #5880 "Replace public LORIS database schema"
**Describe the bug**

This report came in on the mailing list.

**To Reproduce**
Visit the above link. There's no helpful information.

**What did you expect to happen?**
In this case, the relationship between instruments and the flag table should be made more clear.
In general, we should have a clear database schema.

[2019-12-20 17:34] #5062 closed

[2019-12-23 20:08] kongtiaowang opened #5885 "[acknowledgements] public facing link broken - 500 error"
Example public facing link:

https://<YOUR-BASE-STUDY-URL>/acknowledgements/acknowledgements.php?date=2017-11-17

error msg
[Mon Dec 23 14:59:38.240020 2019] [php7:notice] [pid 7451] [client 132.216.236.87:62741] Could not execute SELECT full_name, citation_name, title, affiliations, degrees, roles, start_date, end_date, present FROM acknowledgements\n    WHERE start_date <= :publication_date\n

[2020-01-06 14:56] driusan commented on #4753
The README also has incomplete sections that need to be fleshed out since #5827 was merged

[2020-01-06 17:46] #5651 closed

[2020-01-06 19:49] christinerogers opened #5893 "[Docs] Update docs Post 22 release"
[placeholder issue for documentation that should be fixed asap since the 22.0.0 release changes]

since https://github.com/aces/Loris/pull/5785 : `config.xml` now has a placeholder for a db `adminUser` credential (renamed from `quatuser`). Needs documentation, including:
* existing projects will need to update (This PR was supposed to be noted as a caveat for Existing Projects in the 22 release no

[2020-01-06 21:35] cmadjar commented on #5033
@johnsaigle yes, I guess we could use the site filter but a "View own site DICOM archive" permission still need to be added to the permissions unless I am missing something obvious... :S

[2020-01-06 21:36] cmadjar commented on #5034
not really actually :S...

[2020-01-07 16:49] johnsaigle commented on #4183
Closing in favour of GitHub Project https://github.com/aces/Loris/projects/20

[2020-01-07 16:49] #4183 closed

[2020-01-07 19:03] zaliqarosli commented on #4891
did we say that this is no longer an issue?

[2020-01-07 19:29] #5564 closed

[2020-01-07 19:30] johnsaigle commented on #5432
This ticket is probably too general to be useful. I think this should be more of a guiding principle that we incorporate during code review.

[2020-01-07 19:30] #5432 closed

[2020-01-07 19:41] johnsaigle commented on #4891
There is still no table for me on the candidate parameters page on `aces/master`

<img width="776" alt="Screen Shot 2020-01-07 at 14 40 46" src="https://user-images.githubusercontent.com/4022790/71923754-b8c62600-315b-11ea-888f-8e07d9169c69.png">

[2020-01-07 19:43] driusan commented on #4390
I hope you're not counting your own comment as activity, stalebot.

[2020-01-07 19:43] johnsaigle commented on #4138
@driusan This one has been untapped for almost a year, should we leave it up?

If so, we can add the `Bug` label so we don't have to fight stale bot.